Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix:
  records_management/views/inventory_item_location_transfer_views.xml
  records_management/views/key_restriction_checker_views.xml
Due: validate-xml-structure

fix:
  records_management/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/views/naid_compliance_views.xml
Due: validate-xml-structure

fix(naid): align certificates sublist with naid.certificate model and remove invalid fields
  records_management/views/naid_compliance_views.xml
Due: validate-xml-structure

feat(naid): add native certificate PDF download action and row button in compliance view
  records_management/models/naid_certificate.py
  records_management/views/naid_compliance_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(certificates): add portal routes for certificate detail view and secure PDF download
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_certificate_templates.xml
Due: check-odoo-syntax, validate-xml-structure

feat(validation): add nested sublist field validator for Odoo views
  development-tools/comprehensive_validator.py
  development-tools/validation-tools/nested_sublist_field_validator.py
  records_management/views/naid_compliance_views.xml
Due: validate-xml-structure

fix(manifest): correct filename for base rate views in manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

feat(base_rates): update base rate views to enhance field visibility and improve user interaction
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix(revenue_forecaster): correct XML decoration expressions by using &lt;/&gt; instead of double-escaped &amp;lt;/&amp;gt; to satisfy view AST validator
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix(rate_change_confirmation): align view and wizard to approved_by_id field; update invisibility and logs; keep validator green
  records_management/views/base_rate_views.xml
  records_management/wizards/rate_change_confirmation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/wizards/rate_change_confirmation_wizard.py
Due: check-odoo-syntax

fix:
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix:
  development-tools/comprehensive_validator.py
Due: none

fix:
  records_management/views/base_rate_views.xml
  records_management/views/customer_negotiated_rate_views.xml
Due: validate-xml-structure

feat: enhance comprehensive validator with action XML ID checks and menu validation
  development-tools/comprehensive_validator.py
  records_management/__manifest__.py
  records_management/views/bin_unlock_service_views.xml
  records_management/views/departmental_billing_menus.xml
  records_management/views/enhanced_features_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: add key restriction fields and compute methods for partner-level key issuance management
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: update bin unlock service views with enhanced fields and filters for improved service management
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

feat: update menu actions for document retrieval and service item configuration for consistency
  records_management/views/bin_unlock_service_views.xml
  records_management/views/document_retrieval_menus.xml
  records_management/views/records_retrieval_work_order_menus.xml
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

feat: add additional menus for service items and document retrieval to enhance navigation
  records_management/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

fix:
  records_management/models/res_partner.py
  records_management/security/ir.model.access.csv
  records_management/views/bin_unlock_service_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/key_restriction_management_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/wizards/key_restriction_checker.py
Due: check-odoo-syntax

fix:
  records_management/views/bin_key_views.xml
Due: validate-xml-structure

fix:
  records_management/__manifest__.py
  records_management/views/bin_key_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/views/records_retrieval_work_order_views.xml
Due: validate-xml-structure

fix(retrieval.work.order.views): replace deprecated attrs with readonly expression (Odoo 17+)
  records_management/views/records_retrieval_work_order_views.xml
Due: validate-xml-structure

fix: add a11y titles to FA icons in retrieval kanban; bind description report to ir.model (base.model_ir_model) and correct template fields
  records_management/report/description_reports.xml
  records_management/views/records_retrieval_work_order_views.xml
Due: validate-xml-structure

fix(demo): replace missing XMLID demo_container_type_standard_box with existing container_type_01_standard; expose post_init_hook at module root for manifest lookup
  records_management/__init__.py
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/intelligent_search_demo_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix(demo): alias XMLID demo_container_type_standard_box to container_type_01_standard via ir.model.data; update remaining references where feasible
  records_management/data/container_types_base_rates.xml
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix:
  records_management/data/container_types_base_rates.xml
  records_management/demo/customer_inventory_demo.xml
  records_management/post_init_hooks.py
Due: check-odoo-syntax, validate-xml-structure

fix(shredding.service): update model description and inheritance for FSM integration
  records_management_fsm/models/shredding_service.py
Due: check-odoo-syntax

fix:
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix:
  records_management/models/shredding_service.py
Due: check-odoo-syntax

feat(demo): add additional demo records for document types, retention policies, customers, storage locations, shredding services, and portal requests
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix:
  records_management_fsm/models/fsm_task_service_line.py
Due: check-odoo-syntax

fix:
  records_management/demo/model_records_demo.xml
  records_management_fsm/models/fsm_task.py
Due: check-odoo-syntax, validate-xml-structure
