Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Update token usage date retrieval to use fields.Datetime for consistency
  records_management/controllers/portal_access.py
  records_management/data/core_configurator_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Disable consolidated menu template due to XPath issues in Odoo 18
  records_management/__manifest__.py
  records_management/templates/portal_consolidated_menu.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance NAID Operator Certification Report layout with additional fields and sections
  records_management/report/naid_operator_certification_reports.xml
Due: validate-xml-structure

fix: Update view modes in RecordsLocation model for Odoo 18 compatibility
  records_management/demo/customer_inventory_demo.xml
  records_management/models/records_location.py
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance portal UI/UX with Grok design principles
  records_management/__manifest__.py
  records_management/static/src/js/portal/portal_interactive.js
  records_management/static/src/scss/records_management.scss
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary whitespace in portal_interactive.js for cleaner code
  records_management/static/src/js/portal/portal_interactive.js
Due: none

refactor: Remove unused filter and sorting options from portal containers list template
  records_management/templates/portal_containers_list.xml
Due: validate-xml-structure

feat: Add new card-based menu for customer portal on /my/home page
  records_management/__manifest__.py
  records_management/templates/portal_my_menu.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement user management features in department portal, including user creation, editing, and deactivation
  records_management/controllers/portal.py
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary whitespace for cleaner code in portal.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Correct XPath expression for Physical Inventory Section in portal_my_menu.xml
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

feat: Add Records Management section to portal home menu
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

feat: Add new JSON data files for update summary and views catalog
  ERRORS_35_36_SESSION_SUMMARY.md
  ERROR_34_FIX_SUMMARY.md
  ERROR_36_PLACEHOLDER_REMOVAL.md
  FIELD_VALIDATION_CHECKLIST.md
  GROK_OPTIMIZATION_GUIDE.md
  ODOO_SH_FIXES_20251102.md
  PHASE_12_VALIDATION_TOOLING_SUMMARY.md
  PHASE_1_PROGRESS_SUMMARY.md
  QUICK_REFERENCE_VIEWS_JS.txt
  README_SESSION_COMPLETE.md
  SESSION_COMPLETION_CHECKLIST.md
  SESSION_SUMMARY_ERROR34_FIXED.md
  VISUAL_STATUS_REPORT.md
  archived-docs/csv-data/All_views_exported_from_odoo.csv
  archived-docs/csv-data/loading_logs_for_grok.csv
  archived-docs/json-data/update_summary.json
  archived-docs/json-data/views_js_catalog.json
  archived-docs/python-scripts/add_critical_fields.py
  archived-docs/python-scripts/fix_security_level.py
  archived-docs/python-scripts/restore_valid_fields.py
  archived-docs/python-scripts/test_container_indexing.py
  archived-docs/python-scripts/validate_barcode_implementation.py
Due: check-odoo-syntax

Add portal templates for container movements, document creation, document details, file creation, and file details
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_container_movements.xml
  records_management/templates/portal_document_create.xml
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_file_create.xml
  records_management/templates/portal_file_detail.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary whitespace for cleaner code in portal templates
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_file_create.xml
  records_management/templates/portal_file_detail.xml
Due: validate-xml-structure

fix: Correct layout structure in portal_my_menu.xml by closing additional div tags
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

fix: Remove unnecessary whitespace in portal_my_menu.xml for cleaner code
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

feat: Add document management and service request routes for portal users
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Enhance portal menu with Records Management and Service Requests sections
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

refactor: Clean up portal_my_menu.xml by removing commented sections and unnecessary whitespace
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

feat: Add destruction and custody workflow routes for portal users
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Remove unnecessary whitespace and clean up docstring formatting in portal.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Add billing and reports routes for portal users
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Remove unnecessary whitespace in portal.py for cleaner code
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Enhance error handling in request operations with specific validation and access error logging
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Improve error logging format in request edit operation
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Update alert close button character for consistency in portal container detail
  records_management/templates/portal_container_detail.xml
Due: validate-xml-structure

fix: Update alert close button character for consistency in file creation and update messages
  records_management/templates/portal_file_detail.xml
Due: validate-xml-structure

feat: Add new portal templates for records management, eLearning, profile, compliance, and support
  records_management/__manifest__.py
  records_management/templates/portal_compliance_templates.xml
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_elearning_templates.xml
  records_management/templates/portal_profile_templates.xml
  records_management/templates/portal_records_templates.xml
  records_management/templates/portal_support_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary whitespace in Chain of Custody log template
  records_management/templates/portal_records_templates.xml
Due: validate-xml-structure

fix: Wrap container creation date in a span for consistent rendering
  records_management/templates/portal_containers_list.xml
Due: validate-xml-structure

feat: Add comprehensive sidebar navigation for records management portal
  records_management/__manifest__.py
  records_management/templates/portal_sidebar_menu.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove deprecated sidebar menu and consolidated menu templates; update portal menu for Odoo 18 compatibility
  records_management/__manifest__.py
  records_management/templates/portal_consolidated_menu.xml
  records_management/templates/portal_my_menu.xml
  records_management/templates/portal_sidebar_menu.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance portal menu with advanced inventory features, barcode operations, user management, and feedback options for improved navigation
  records_management/__manifest__.py
  records_management/templates/portal_my_menu.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Demo data errors - remove delete statement & recursive locations
  records_management/data/core_configurator_data.xml
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Disable duplicate portal home menu (portal_home_preconfigured)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Consolidate portal menus & add org diagram link
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

feat: Implement portal organization chart controller
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Convert diagram dict to object for QWeb template attribute access
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Fix Container→Files→Documents hierarchy
  records_management/models/records_department.py
  records_management/views/records_container_views.xml
  records_management/views/records_department_views.xml
Due: check-odoo-syntax, validate-xml-structure
