Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Enhance mobile templates and views for improved user experience
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/templates/portal_inventory_template.xml
  records_management/templates/portal_mobile_export.xml
  records_management/templates/portal_mobile_inventory_template.xml
  records_management/templates/portal_mobile_settings.xml
  records_management/templates/portal_mobile_template.xml
  records_management/templates/portal_work_order_templates.xml
  records_management/views/customer_inventory_report_wizard_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/mobile_dashboard_widget_views.xml
  records_management/views/mobile_photo_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove FSM automated actions data file to streamline records management
  records_management/__manifest__.py
  records_management/data/fsm_automated_actions_data.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor Many2many fields in RecordsDepartmentSharing model to include relation tables
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/records_department_sharing.py
Due: check-odoo-syntax

refactor: Remove run_cleanup.sh script to streamline project structure
  run_cleanup.sh
Due: none

fix:
  clean_invalid_models.py
  fix_model_ids.py
  records_management/security/ir.model.access.csv
  records_management/security/records_management_security.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove clean_invalid_models.py script to streamline project structure
  clean_invalid_models.py
Due: check-odoo-syntax

fix: Reorder model imports to resolve dependency issue with naid.compliance.checklist
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

Add views for Paper Model Bales and Shred Model Bins
  records_management/__manifest__.py
  records_management/data/ir_sequence_data.xml
  records_management/data/paper_shred_configurator_data.xml
  records_management/models/__init__.py
  records_management/models/paper_bale.py
  records_management/models/paper_model_bale.py
  records_management/models/rm_module_configurator.py
  records_management/models/shred_model_bin.py
  records_management/security/ir.model.access.csv
  records_management/security/missing_access_rules.csv
  records_management/views/paper_model_bale_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/shred_model_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Update menu item names for clarity in Records Management
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Resolve Odoo 18 deprecation warnings and constraint errors
  records_management/models/paper_model_bale.py
  records_management/models/shred_model_bin.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Update shred bin barcode constraints for new system
  records_management/models/shred_model_bin.py
Due: check-odoo-syntax

feat: Add script to clean ir.model.access.csv by removing non-existent models
  clean_csv_final.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

Remove missing access rules CSV file as it is no longer needed for access management.
  clean_csv_final.py
  records_management/security/ir.model.access.csv
  records_management/security/missing_access_rules.csv
Due: check-odoo-syntax

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

fix: Update access control CSV to include missing entries and correct formatting
  records_management/security/ir.model.access.csv
Due: none

fix: Update access control CSV for FSM to correct model references and permissions
  records_management/security/ir.model.access.csv
  records_management_fsm/security/ir.model.access.csv
Due: none

fix: Update access control CSV to correct model references and permissions
  records_management/security/ir.model.access.csv
Due: none

fix: Update access control CSV to correct model references for FSM and related services
  records_management/security/ir.model.access.csv
  records_management_fsm/security/ir.model.access.csv
Due: none

fix: Reformat access control CSV for improved readability and consistency
  records_management/security/ir.model.access.csv
Due: none

fix: change view types from 'tree' to 'list' for enhanced FSM integration and related views
  records_management_fsm/views/enhanced_fsm_integration_views.xml
  records_management_fsm/views/fsm_notification_manager_views.xml
  records_management_fsm/views/fsm_notification_views.xml
  records_management_fsm/views/fsm_reschedule_wizard_placeholder_views.xml
  records_management_fsm/views/fsm_reschedule_wizard_views.xml
  records_management_fsm/views/fsm_task_service_line_views.xml
Due: validate-xml-structure

fix: update view types from 'tree' to 'list' and adjust view_mode in FSM integration and task views
  records_management_fsm/views/fsm_task_service_line_views.xml
  records_management_fsm/views/fsm_task_views.xml
  records_management_fsm/views/mobile_fsm_integration_views.xml
Due: validate-xml-structure

fix: change view types from 'tree' to 'list' for various records management views
  records_management/views/records_billing_rate_views.xml
  records_management/views/records_container_log_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_location_inspection_line_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/reference_views.xml
  records_management/views/shredding_rate_views.xml
  records_management/views/stock_lot_views.xml
  records_management_fsm/views/fsm_reschedule_wizard_placeholder_views.xml
Due: validate-xml-structure

fix: change view types from 'tree' to 'list' in advanced billing line views
  records_management/views/advanced_billing_line_views.xml
Due: validate-xml-structure

fix: update menu item parent references from 'menu_records_config' to 'menu_records_configuration' in various XML files
  records_management/views/base_rates_views.xml
  records_management/views/billing_period_views.xml
  records_management/views/full_customization_name_view_form.xml
  records_management/views/full_customization_name_views.xml
  records_management/views/pickup_location_view_forms.xml
  records_management/views/records_config_settings_views.xml
  records_management/views/records_request_type_views.xml
  records_management/views/records_series_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: add 'records_management_menus.xml' to the manifest file
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: add new records container views to the manifest file
  records_management/__manifest__.py
Due: check-odoo-syntax

Refactor and enhance various models and configurations
  .vscode/settings.json
  mypy.ini
  records_management/models/customer_billing_profile.py
  records_management/models/customer_inventory_report.py
  records_management/models/customer_negotiated_rate.py
  records_management/models/customer_portal_diagram.py
  records_management/models/partner_bin_key.py
  records_management/models/payment_split_line.py
  records_management/models/records_container.py
  records_management/models/records_document.py
  records_management/models/shred_bin.py
Due: check-odoo-syntax

Refactor advanced billing models and views
  records_management/models/__init__.py
  records_management/models/account_move_line.py
  records_management/models/advanced_billing_contact.py
  records_management/models/advanced_billing_line.py
  records_management/models/advanced_billing_profile.py
  records_management/models/advanced_billing_service_line.py
  records_management/models/advanced_billing_storage_line.py
  records_management/models/customer_negotiated_rate.py
  records_management/models/document_retrieval_item.py
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/advanced_billing_line_views.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/advanced_billing_service_line_views.xml
  records_management/views/advanced_billing_storage_line_views.xml
  records_management/views/base_rates_views.xml
  records_management/views/billing_period_views.xml
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: update advanced billing model references and remove unused model
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/advanced_billing.py
  records_management/models/advanced_billing_profile.py
Due: check-odoo-syntax, check-model-imports

Refactor billing configuration references and optimize barcode validation logic
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/account_move_line.py
  records_management/models/advanced_billing_line.py
  records_management/models/barcode_product.py
Due: check-odoo-syntax

feat: add access rights for new records and audit log models
  records_management/security/ir.model.access.csv
Due: none

feat: add Destruction Certificate model for managing destruction documentation
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/__init__.py
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax, check-model-imports

refactor: change tree views to list views for advanced billing and FSM task
  records_management/views/advanced_billing_line_views.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management_fsm/views/fsm_task_views.xml
Due: validate-xml-structure

refactor: remove advanced billing model references and add records billing views
  records_management/data/model_external_ids.xml
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_views.xml
  records_management/views/records_billing_views.xml
Due: validate-xml-structure

feat: Enhance Records Management with Destruction Certificates and Portal Requests
  records_management/security/ir.model.access.csv
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_audit_log_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/portal_request_views_new.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

fix:
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/security/ir.model.access.csv
Due: none

refactor: update parent menu references for billing views
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/advanced_billing_line_views.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/records_billing_views.xml
Due: validate-xml-structure
