Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Resolve model inheritance dependency order
  .pre-commit-config.yaml
  clean_security_csv.py
  setup_environment.sh
  validate_environment.sh
Due: check-odoo-syntax

feat: Complete TODO implementation with functional workflow automation
  records_management/__manifest__.py
  records_management/models/customer_inventory_report.py
  records_management/models/document_search_attempt.py
  records_management/models/maintenance_equipment.py
  records_management/models/records_billing_config.py
  records_management/report/records_billing_config_reports.xml
  records_management/reports/document_search_attempt_report.xml
  records_management/reports/report_records_management_report_customer_inventory_report.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Enhanced VS Code git integration settings
  .vscode/settings.json
Due: none

fix: Critical model import order and VS Code settings
  .vscode/extensions.json
  .vscode/settings.json
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

test: VS Code source control integration test
  .vscode/settings.json
Due: none

chore: Remove test comment from VS Code settings
  .vscode/settings.json
Due: none

fix: Remove non-existent model imports (container_attachment, container_batch_management)
  records_management/controllers/portal.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Update dashboard data retrieval and filter by user partner; refine model import order
  records_management/controllers/portal.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix:
  records_management/models/shredding_service_bin.py
Due: check-odoo-syntax

fix: Rename fields for consistency and improve error handling in FSM order model; update widget group relation name
  records_management/models/fsm_order.py
  records_management/models/mobile_dashboard_widget.py
  records_management/models/mobile_dashboard_widget_category.py
Due: check-odoo-syntax

fix: Update container type handling in BarcodeProduct model; improve container type ID retrieval logic
  records_management/models/account_move_line.py
  records_management/models/barcode_product.py
Due: check-odoo-syntax

fix: Add security file for records management; ensure proper access control
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(security): Correct model references in ir.model.access.csv and records_management_security.xml
  .vscode/settings.json
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/missing_models.py
  records_management/security/ir.model.access.csv
  records_management/security/records_management_security.xml
Due: check-odoo-syntax, validate-xml-structure

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

Remove redundant closing tags in mobile_dashboard_widget_views.xml
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/missing_models.py
  records_management/security/ir.model.access.csv
  records_management/views/mobile_dashboard_widget_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add type ignore comments to suppress mypy errors in portal.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Update rule IDs for consistency in portal_request_security.xml
  records_management/security/portal_request_security.xml
Due: validate-xml-structure

feat: Add scripts to clean up ir.model.access.csv
  .vscode/tasks.json
  clean_csv_final.py
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/security/ir.model.access.csv
  run_cleanup.py
  run_cleanup.sh
  simple_clean.py
Due: check-odoo-syntax

feat: Enhance records management module with new features and improvements
  clean_csv_final.py
  records_management/models/account_move_line.py
  records_management/models/advanced_billing_contact.py
  records_management/models/advanced_billing_line.py
  records_management/models/advanced_billing_profile.py
  records_management/models/barcode_product.py
  records_management/models/records_bulk_user_import.py
  records_management/models/records_document.py
  records_management/models/rm_module_configurator.py
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/records_bulk_user_import_views.xml
  run_cleanup.py
  simple_clean.py
Due: check-odoo-syntax, validate-xml-structure

fix: Standardize quotation marks in billing report data generation
  records_management/models/account_move_line.py
Due: check-odoo-syntax

fix:
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/validate_security.py
  records_management/models/__init__.py
  records_management/models/records_billing.py
  records_management/models/records_billing_line.py
  records_management/models/records_bulk_user_import.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

feat: Implement Records Billing Line model with pricing and tax calculations
  records_management/models/records_billing_line.py
Due: check-odoo-syntax

fix:
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix:
  records_management/models/__init__.py
  records_management/models/records_billing.py
  records_management/models/records_billing_line.py
Due: check-odoo-syntax, check-model-imports

refactor: Simplify field definitions and improve default value handling in RecordsBilling model
  records_management/models/records_billing.py
Due: check-odoo-syntax

fix:
  records_management/security/naid_security.xml
Due: validate-xml-structure

fix:
  records_management/models/mobile_dashboard_widget_category.py
Due: check-odoo-syntax

fix:
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
  records_management/views/records_billing_rate_views.xml
Due: check-odoo-syntax, validate-xml-structure

Implement code changes to enhance functionality and improve performance
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/validate_models.py
  records_management/security/ir.model.access.csv
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  development-tools/analysis-reports/enhanced_analysis_results.json
Due: none

feat: Update billing configuration references in models
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/discount_rule.py
  records_management/models/records_usage_tracking.py
  records_management/models/revenue_analytic.py
Due: check-odoo-syntax

fix:
  records_management/security/ir.model.access.csv
Due: none

fix: Remove unused access rights for description and display name models
  records_management/security/ir.model.access.csv
Due: none

Add access rights for description and display name models
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/security/ir.model.access.csv
Due: none

feat: Add FSM Reschedule Wizard for task rescheduling with notifications
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/cross_department_sharing.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/records_department_sharing.py
  records_management/models/system_diagram_data.py
  records_management/security/ir.model.access.csv
  records_management/static/src/js/system_flowchart_view.js
  records_management/views/fsm_task_views.xml
  records_management_fsm/__manifest__.py
  records_management_fsm/models/__init__.py
  records_management_fsm/models/enhanced_fsm_integration.py
  records_management_fsm/models/fsm_notification.py
  records_management_fsm/models/fsm_notification_manager.py
  records_management_fsm/models/fsm_order.py
  records_management_fsm/models/fsm_reschedule_wizard.py
  records_management_fsm/models/mobile_fsm_integration.py
  records_management_fsm/security/ir.model.access.csv
  records_management_fsm/views/enhanced_fsm_integration_views.xml
  records_management_fsm/views/fleet_fsm_integration_menus.xml
  records_management_fsm/views/fsm_notification_manager_views.xml
  records_management_fsm/views/fsm_notification_views.xml
  records_management_fsm/views/fsm_reschedule_wizard_placeholder_views.xml
  records_management_fsm/views/fsm_reschedule_wizard_views.xml
  records_management_fsm/views/fsm_task_service_line_views.xml
  records_management_fsm/views/fsm_task_views.xml
  records_management_fsm/views/mobile_fsm_integration_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Update selection fields for consistency in shredding and certification models
  records_management/models/naid_operator_certification.py
  records_management/models/shredding_certificate.py
  records_management/models/shredding_service.py
  records_management/models/shredding_team.py
  records_management_fsm/models/fsm_order.py
  records_management_fsm/models/fsm_task.py
Due: check-odoo-syntax

feat: Move FSM model definitions to records_management_fsm module and update references
  records_management/data/fsm_automated_actions_data.xml
  records_management/data/fsm_data.xml
  records_management/data/model_external_ids.xml
  records_management_fsm/__manifest__.py
  records_management_fsm/data/fsm_model_external_ids.xml
  records_management_fsm/data/fsm_model_external_ids_data.xml
Due: check-odoo-syntax, validate-xml-structure
