Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Replace dict() with literal syntax for improved readability in portal templates
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_reports.xml
  records_management/templates/portal_shredding_bins.xml
Due: validate-xml-structure

feat: Add Kanban view support and styling for customer portal
  records_management/__manifest__.py
  records_management/static/src/css/portal_kanban.css
  records_management/static/src/js/portal_kanban.js
  records_management/templates/portal_certificates.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_documents.xml
  records_management/templates/portal_kanban_components.xml
  records_management/templates/portal_requests_template.xml
  records_management/templates/portal_shredding_bins.xml
  records_management/views/dispatch_center_menus.xml
  records_management/views/service_attachment_views.xml
  records_management/views/unified_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Records Management Sale Order and Work Order Integration
  records_management/__manifest__.py
  records_management/data/core_configurator_data.xml
  records_management/data/rm_service_products.xml
  records_management/models/__init__.py
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/rm_module_configurator.py
  records_management/models/rm_sale_order.py
  records_management/models/rm_sale_order_line.py
  records_management/models/work_order_retrieval.py
  records_management/security/ir.model.access.csv
  records_management/views/rm_sale_order_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/work_order_wizard.py
  records_management/wizards/work_order_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove security rules for deleted rm.work.order.quick model
  records_management/security/ir.model.access.csv
Due: none

feat: Add discount field to work orders for technician adjustments
  records_management/models/work_order_invoice_mixin.py
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Default portal views to list mode for better mobile experience
  records_management/templates/portal_coordinators_template.xml
Due: validate-xml-structure

fix: Correct field names in rm_sale_order_views.xml
  records_management/views/rm_sale_order_views.xml
Due: validate-xml-structure

fix: Replace embedded tree views with many2many_tags widget in wizard
  records_management/wizards/work_order_wizard_views.xml
Due: validate-xml-structure

fix: Move view toggle script into main coordinator template
  records_management/templates/portal_coordinators_template.xml
Due: validate-xml-structure

fix: Make shredding.service.bin fields editable and add ownership tracking
  records_management/models/shredding_service_bin.py
  records_management/views/shredding_service_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bin migration wizard to consolidate bin models
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
  records_management/wizards/__init__.py
  records_management/wizards/bin_migration_wizard.py
  records_management/wizards/bin_migration_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bin size → product → billing integration
  records_management/models/customer_negotiated_rate.py
  records_management/models/shredding_service_bin.py
  records_management/models/work_order_shredding.py
  records_management/views/customer_negotiated_rate_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add default shredding bin products with auto-select by size
  records_management/__manifest__.py
  records_management/data/shredding_bin_products_data.xml
  records_management/models/shredding_service_bin.py
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance quote generation with shredding service and pricing details
  records_management/controllers/portal.py
  records_management/templates/my_portal_inventory.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add shredding bin products and quote detail template for customer portal
  records_management/controllers/portal.py
  records_management/data/products_data.xml
  records_management/templates/my_portal_inventory.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Update pricing and add new fees for container destruction and perm-out services
  records_management/data/products_data.xml
  records_management/models/records_container.py
Due: check-odoo-syntax, validate-xml-structure

feat: Simplify service types and add per-scan line item billing
  records_management/models/__init__.py
  records_management/models/recurring_work_order_schedule.py
  records_management/models/work_order_line.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management/security/ir.model.access.csv
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Remove legacy work order models (container.destruction.work.order, records.retrieval.work.order)
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/controllers/work_order_portal.py
  records_management/data/container_bulk_actions.xml
  records_management/models/__init__.py
  records_management/models/custody_transfer_event.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/mobile_photo.py
  records_management/models/records_container.py
  records_management/models/recurring_work_order_schedule.py
  records_management/models/rm_sale_order.py
  records_management/models/shredding_certificate.py
  records_management/models/shredding_hard_drive.py
  records_management/models/unified_work_order.py
  records_management/security/ir.model.access.csv
  records_management/security/work_order_portal_rules.xml
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/views/dispatch_center_menus.xml
  records_management/views/hard_drive_scan_wizard_views.xml
  records_management/views/rm_barcode_operations_views.xml
  records_management/views/work_order_dashboard_views.xml
  records_management/wizards/add_to_work_order_wizard.py
  records_management/wizards/work_order_creation_wizard.py
  records_management/wizards/work_order_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Update FSM task and sale order to use new work order models
  records_management/models/rm_sale_order.py
  records_management_fsm/models/fsm_task.py
Due: check-odoo-syntax

feat: Remove shred.bin model, implement fill-level weight calculations
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/controllers/portal_calendar.py
  records_management/data/missing_sequences_data.xml
  records_management/models/__init__.py
  records_management/models/barcode_product.py
  records_management/models/bin_key.py
  records_management/models/bin_key_unlock_service.py
  records_management/models/bin_unlock_service.py
  records_management/models/project_task.py
  records_management/models/shred_bin.py
  records_management/models/shredding_service_bin.py
  records_management/models/shredding_service_event.py
  records_management/report/shred_bin_reports.xml
  records_management/security/ir.model.access.csv
  records_management/views/records_management_menus.xml
  records_management/views/shred_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/shredding_service_event_views.xml
  records_management/wizards/bin_migration_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Add fill level to TIP/SWAP wizard, portal recycling stats card
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/shredding_service_event.py
  records_management/models/work_order_shredding.py
  records_management/templates/portal_recycling_stats.xml
  records_management/wizards/work_order_bin_service_wizard.py
  records_management/wizards/work_order_bin_service_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove invalid destruction_work_orders action, add title to icon
  records_management/views/rm_sale_order_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Remove duplicate retrieval_work_order_wo_id from FSM view
  records_management_fsm/views/fsm_task_views.xml
Due: validate-xml-structure

fix: Remove fa icon from help text to avoid accessibility warnings
  records_management/views/pickup_location_views.xml
Due: validate-xml-structure

refactor: Consolidate bin models into shredding.service.bin
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/shredding_service_bin.py
  records_management/security/ir.model.access.csv
  records_management/views/records_management_menus.xml
  records_management/views/shredding_service_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Enhance Load Manifest Report and Bale Weighing Wizard
  records_management/__manifest__.py
  records_management/models/paper_bale.py
  records_management/models/paper_bale_load.py
  records_management/report/bale_tag_reports.xml
  records_management/report/load_report_templates.xml
  records_management/security/ir.model.access.csv
  records_management/views/bale_weighing_wizard_views.xml
  records_management/views/load_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/bale_weighing_wizard.py
  records_management/wizards/bale_weighing_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Bale weighing wizard - add missing fields and fix alert role
  records_management/wizards/bale_weighing_wizard.py
  records_management/wizards/bale_weighing_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Paper bale workflow with payment tracking
  records_management/models/account_move.py
  records_management/models/paper_bale.py
  records_management/models/paper_bale_load.py
  records_management/views/paper_bale_views.xml
  records_management/wizards/bale_weighing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update demo data with valid paper.bale states
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Correct location_id comodel from records.location to stock.location
  records_management/wizards/bale_weighing_wizard.py
Due: check-odoo-syntax
