Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: revamp Paper Load Truck widget with new SVG graphics and enhanced load visualization
  records_management/static/src/js/paper_load_truck_widget.js
Due: none

feat: add ir_rule model to manage record access permissions for admin users
  records_management/models/__init__.py
  records_management/models/ir_rule.py
Due: check-odoo-syntax, check-model-imports

feat: enhance admin group assignment and align portal user profiles during creation
  records_management/models/res_users.py
Due: check-odoo-syntax

feat: improve validation for portal user profiles and partner assignments
  records_management/models/res_users.py
Due: check-odoo-syntax

feat: update portal user instructions and enhance partner_id field attributes for better clarity and usability
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

feat: streamline Records Management profile integration and enhance portal user instructions
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

feat: add portal feature pack configuration and update portal home template for enhanced user experience
  records_management/models/rm_module_configurator.py
  records_management/templates/portal_home_preconfigured.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: add core and portal configurator data for enhanced Records Management features
  records_management/__manifest__.py
  records_management/data/core_configurator_data.xml
  records_management/data/portal_configurator_data.xml
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: update portal menu configurations to remove parent menu dependencies and add backend menu activation
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: implement TSheets synchronization module with configuration, mapping, and cron job support
  qb_tsheet_sync/__init__.py
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/data/ir_cron.xml
  qb_tsheet_sync/models/__init__.py
  qb_tsheet_sync/models/analytic_line.py
  qb_tsheet_sync/models/tsheet_employee_map.py
  qb_tsheet_sync/models/tsheet_sync_config.py
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/security/ir.model.access.csv
  qb_tsheet_sync/security/qb_tsheet_sync_groups.xml
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: revert version number to 18.0.1.0.0 in TSheets synchronization module
  qb_tsheet_sync/__manifest__.py
Due: check-odoo-syntax

feat: update TSheets sync groups to use correct category reference
  qb_tsheet_sync/security/qb_tsheet_sync_groups.xml
Due: validate-xml-structure

fix: update TSheets synchronization view from tree to list format
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: update employee mapping view from tree to list format
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: remove unnecessary context from employee mapping field in TSheets sync configuration
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: update menuitem structure for TSheets Sync to include optional parent reference
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: update employee mapping view from tree to list format
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
Due: validate-xml-structure

fix: update menuitem parent reference for TSheets Sync configuration
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: add access rights for records and HR mappings in TSheets sync configuration
  qb_tsheet_sync/security/ir.model.access.csv
Due: none

fix: update sequence for TSheets Sync menuitem and remove parent reference
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

feat: implement post-install hook to grant TSheets access to Records Management users
  qb_tsheet_sync/__init__.py
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/data/ir_cron.xml
  qb_tsheet_sync/hooks.py
  qb_tsheet_sync/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure

fix: remove unnecessary 'doall' field from TSheets synchronization cron job
  qb_tsheet_sync/data/ir_cron.xml
Due: validate-xml-structure

fix: update menuitem sequence and add web icon for TSheets Sync configuration
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: relocate TSheets Configuration menuitem under Timesheets menu
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: validate-xml-structure

fix: update API token field label and add setup instructions in the form view
  qb_tsheet_sync/models/tsheet_sync_config.py
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: relocate TSheets Employee Mapping menuitem under Timesheets > Configuration menu
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
Due: validate-xml-structure

feat: add TSheets sync wizard with configuration and sync functionality
  qb_tsheet_sync/__init__.py
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/security/ir.model.access.csv
  qb_tsheet_sync/wizards/__init__.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: add TSheets sync log model, views, and access rights
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/models/__init__.py
  qb_tsheet_sync/models/tsheet_sync_log.py
  qb_tsheet_sync/security/ir.model.access.csv
  qb_tsheet_sync/views/tsheet_sync_log_views.xml
  qb_tsheet_sync/wizards/tsheet_sync_wizard.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: update author name in manifest and enhance manual_sync method to accept date range
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

feat: enhance manual sync method to include force resync option and update wizard view to support it
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: update alert roles in TSheets sync wizard for better accessibility
  qb_tsheet_sync/models/tsheet_sync_config.py
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(qb_tsheet_sync): prevent wizard auto-popup with binding cleanup hook
  qb_tsheet_sync/hooks.py
Due: check-odoo-syntax

fix: improve post-install hook documentation and cleanup action bindings to prevent wizard auto-popup
  qb_tsheet_sync/hooks.py
Due: check-odoo-syntax

fix(qb_tsheet_sync): Add Records Management access + proper menu structure
  qb_tsheet_sync/security/ir.model.access.csv
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
  qb_tsheet_sync/views/tsheet_sync_log_views.xml
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: validate-xml-structure

fix(qb_tsheet_sync): Create dedicated TSheets Sync submenu
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
  qb_tsheet_sync/views/tsheet_sync_log_views.xml
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
Due: validate-xml-structure

feat(qb_tsheet_sync): Add TSheets timesheets visibility
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(qb_tsheet_sync): Add time format columns and binding cleanup
  qb_tsheet_sync/models/analytic_line.py
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(qb_tsheet_sync): Add employee notes field from TSheets
  qb_tsheet_sync/models/analytic_line.py
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(qb_tsheet_sync): Fix XML syntax error in timesheet views
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: validate-xml-structure
