Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix(qb_tsheet_sync): Properly handle separate break entries as negative time
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(qb_tsheet_sync): Enhance break detection using TSheets 'Lunch Break' job code
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

fix(qb_tsheet_sync): Use actual TSheets date field instead of sync date
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

fix(qb_tsheet_sync): Remove negative break logic, sync clock times as-is
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

fix(qb_tsheet_sync): Make Clock In/Out columns visible by default
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: validate-xml-structure

fix(qb_tsheet_sync): Hide clock in/out columns, show job code instead
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: validate-xml-structure

feat(qb_tsheet_sync): Add hr.attendance integration for clock in/out tracking
  qb_tsheet_sync/__manifest__.py
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/views/hr_attendance_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor(qb_tsheet_sync): Remove clock in/out fields and integrate hr.attendance for time tracking
  qb_tsheet_sync/models/analytic_line.py
  qb_tsheet_sync/models/tsheet_sync_service.py
  qb_tsheet_sync/views/timesheet_extension_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor(qb_tsheet_sync): Remove TSheets attendance list view to streamline integration
  qb_tsheet_sync/views/hr_attendance_views.xml
Due: validate-xml-structure

fix(qb_tsheet_sync): Correct parent menu item for Clock In/Out Times
  qb_tsheet_sync/views/hr_attendance_views.xml
Due: validate-xml-structure

feat(qb_tsheet_sync): Add logging for attendance creation and updates in TSheets sync
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

feat(qb_tsheet_sync): Integrate hr.attendance linking in timesheet entries and remove redundant attendance computation
  qb_tsheet_sync/models/analytic_line.py
  qb_tsheet_sync/models/tsheet_sync_service.py
Due: check-odoo-syntax

feat: Add Container Quick Add Wizard and consolidate menus
  records_management/__manifest__.py
  records_management/views/base_rate_views.xml
  records_management/views/billing_period_views.xml
  records_management/views/container_quick_add_wizard_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/document_retrieval_menus.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update action reference for Quick Add Container menu and remove duplicate menu definition
  records_management/views/container_quick_add_wizard_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add website portal menus to manifest and update menu item names for consistency
  records_management/__manifest__.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add portal website menus to manifest and update storage boxes menu action reference
  records_management/__manifest__.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Update portal menu specifications to use a simplified XML ID list and enhance visibility management
  records_management/__manifest__.py
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: Add records billing views to manifest and remove duplicate reference
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Update billing line fields in records billing view for improved detail
  records_management/views/records_billing_views.xml
Due: validate-xml-structure

feat: Add new views for barcode seasonal pricing, product templates, and transitory field configuration
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Update menu items for inventory and records management views with improved naming and access control
  records_management/views/barcode_seasonal_pricing_views.xml
  records_management/views/custody_transfer_event_views.xml
  records_management/views/inventory_adjustment_reason_views.xml
  records_management/views/inventory_item_profile_views.xml
  records_management/views/inventory_item_type_views.xml
  records_management/views/inventory_item_views.xml
Due: validate-xml-structure

fix: Correct XML structure by removing redundant data tags and maintaining backward-compatible aliases for demo data
  records_management/data/container_types_base_rates.xml
Due: validate-xml-structure

feat: Add missing <data> tags in XML files and remove empty lines for improved structure
  records_management/views/container_quick_add_wizard_views.xml
  records_management/views/portal_access_views.xml
  records_management/views/product_template_views.xml
  records_management/views/screenshots.txt
  records_management/views/shredding_inventory_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: Comment out unimplemented methods in product template views for clarity
  records_management/views/product_template_views.xml
Due: validate-xml-structure

fix: Comment out unimplemented fields and buttons in product template views for clarity
  records_management/views/product_template_views.xml
Due: validate-xml-structure

fix: Comment out unimplemented field 'can_be_expensed' in service settings for clarity
  records_management/views/product_template_views.xml
Due: validate-xml-structure

fix: Add missing <data> tags in report XML files for improved structure
  records_management/report/load_report_templates.xml
  records_management/report/service_item_templates.xml
Due: validate-xml-structure

fix: Add missing <data> tags in various XML templates for improved structure
  records_management/templates/portal_barcode_row.xml
  records_management/templates/portal_certificate_templates.xml
  records_management/templates/portal_certifications.xml
  records_management/templates/portal_document_bulk_upload.xml
  records_management/templates/portal_inventory_template.xml
  records_management/templates/portal_mobile_export.xml
  records_management/templates/portal_mobile_inventory_template.xml
  records_management/templates/portal_mobile_settings.xml
  records_management/templates/portal_mobile_template.xml
  records_management/templates/portal_work_order_templates.xml
Due: validate-xml-structure

fix: Update comments for clarity in XML files related to data loading and portal rules
  records_management/data/load_data.xml
  records_management/data/missing_sequences_data.xml
  records_management/security/portal_certificate_rules.xml
  records_management/security/portal_container_rules.xml
Due: validate-xml-structure

fix: Update comments for clarity in XML files related to portal document and financial rules
  records_management/security/portal_document_rules.xml
  records_management/security/portal_financial_rules.xml
  records_management/views/records_document_bulk_upload_wizard_views.xml
Due: validate-xml-structure

fix: Add <data> wrappers to final 27 XML files - Fixes 'Element odoo has extra content' error
  records_management/data/field_label_customization_batch4.xml
  records_management/data/field_label_customization_batch4_data.xml
  records_management/data/records_retrieval_order_cron.xml
  records_management/report/container_retrieval_work_order_reports.xml
  records_management/report/file_retrieval_work_order_item_reports.xml
  records_management/report/file_retrieval_work_order_reports.xml
  records_management/report/scan_retrieval_work_order_reports.xml
  records_management/report/unlock_service_history_reports.xml
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_access_templates.xml
  records_management/templates/portal_barcode_template.xml
  records_management/templates/portal_billing_template.xml
  records_management/templates/portal_centralized_docs.xml
  records_management/templates/portal_document_retrieval.xml
  records_management/templates/portal_feedback_template.xml
  records_management/templates/portal_home_preconfigured.xml
  records_management/templates/portal_invoice_template.xml
  records_management/templates/portal_organization_diagram.xml
  records_management/templates/portal_overview.xml
  records_management/templates/portal_quote_template.xml
  records_management/templates/portal_workflow_template.xml
Due: validate-xml-structure

fix: Add data wrapper to empty customer_negotiated_rates_views.xml - Final XML schema fix
  records_management/views/customer_negotiated_rates_views.xml
Due: validate-xml-structure

fix: Add <data> wrappers to FSM and QB TSheet Sync modules - Fixes 'Element odoo has extra content' error in ALL modules
  qb_tsheet_sync/data/ir_cron.xml
  qb_tsheet_sync/security/qb_tsheet_sync_groups.xml
  qb_tsheet_sync/views/hr_attendance_views.xml
  qb_tsheet_sync/views/timesheet_extension_views.xml
  qb_tsheet_sync/views/tsheet_employee_map_views.xml
  qb_tsheet_sync/views/tsheet_sync_config_views.xml
  qb_tsheet_sync/views/tsheet_sync_log_views.xml
  qb_tsheet_sync/wizards/tsheet_sync_wizard_views.xml
  records_management_fsm/security/ir.model.access_security.xml
Due: validate-xml-structure

fix: Remove unnecessary whitespace in transitory_field_config_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

chore: Force fresh deployment - all 582 XML files validated locally
  .deployment-trigger
Due: none

fix: Remove blank line between <data> and first record in barcode_seasonal_pricing_views.xml
  records_management/views/barcode_seasonal_pricing_views.xml
Due: validate-xml-structure

fix: Remove blank line in manifest data section that was stopping file loading
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove blank line before closing </data> tag in transitory_field_config_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

fix: Enhance transitory field configuration form with additional fields and layout improvements
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure
