Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Update security file loading order for proper access control
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Move Records Container action definition to the top for proper loading order
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix:
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add Records Technician group and update menu item access for improved role management
  records_management/security/records_management_security.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix:
  records_management/models/__init__.py
  records_management/models/advanced_billing_profile.py
  records_management/models/barcode_product.py
  records_management/models/base_rate.py
  records_management/models/customer_feedback.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/models/revenue_forecaster.py
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_line_form_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Correct import order for revenue forecast models
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Add missing revenue forecast view files to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add missing comodel_name parameters to forecast relationship fields
  records_management/models/revenue_forecast.py
  records_management/models/revenue_forecast_line.py
Due: check-odoo-syntax

refactor: Reorganize import statements and remove unused files in records_management module
  records_management/models/__init__.py
  records_management/report/__init__.py
  records_management/templates/__init__.py
  records_management/tests/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Add missing _depends attribute for revenue forecast model
  records_management/models/revenue_forecast.py
Due: check-odoo-syntax

fix(orm): Add explicit field dependency to resolve loading order issue
  records_management/models/revenue_forecast.py
Due: check-odoo-syntax

fix(core): Add missing security rules and manifest entries for new models
  records_management/security/ir.model.access.csv
Due: none

fix(security): Add missing access rules for revenue forecast models
  records_management/security/ir.model.access.csv
Due: none

fix: Ensure single record operation in action_cancel method
  records_management/models/revenue_forecast.py
Due: check-odoo-syntax

fix(security): Remove obsolete access rules for revenue forecast models
  records_management/security/ir.model.access.csv
Due: none

fix(security): Update access rules for revenue forecast models
  records_management/models/revenue_forecast.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

refactor: Clean up unnecessary dependency declaration in RevenueForecast model
  records_management/models/revenue_forecast.py
Due: check-odoo-syntax

feat(security): Add access rules for revenue forecaster line model and fix model name references
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/revenue_forecaster.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix(linting): Update pylint and VSCode settings to disable additional import and translation warnings
  .pylintrc
  .vscode/settings.json
  pyrightconfig.json
Due: none

fix(linting): Update pylint and VSCode settings to disable additional translation warnings
  .pylintrc
  .vscode/settings.json
  records_management/models/barcode_product.py
Due: check-odoo-syntax

fix(linting): Update pylint and VSCode settings to disable additional translation warnings and improve linting configurations
  .pylintrc
  .vscode/settings.json
  records_management/models/barcode_product.py
Due: check-odoo-syntax

fix: Update language server to Jedi and modify invoice line description formatting
  .vscode/settings.json
  records_management/models/account_move_line.py
  records_management/views/advanced_billing_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update XML view IDs for key restrictions and improve string formatting in FSM reschedule wizard
  records_management/views/advanced_billing_line_form_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/wizards/fsm_reschedule_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update string formatting in various models to use proper argument passing for translations
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/models/account_move_line.py
  records_management/models/base_rate.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/models/records_container_type_converter.py
  records_management/models/records_document.py
  records_management/models/retrieval_metric.py
  records_management/models/route_optimizer.py
  records_management/models/workflow_visualization_manager.py
  records_management/wizards/fsm_reschedule_wizard.py
  records_management_fsm/models/enhanced_fsm_integration.py
  records_management_fsm/models/mobile_fsm_integration.py
Due: check-odoo-syntax

fix: Update view types and improve field definitions across various XML files
  records_management/views/document_retrieval_team_views.xml
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/stock_move_sms_validation_view_form.xml
  records_management/views/stock_move_sms_validation_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: Correct string formatting in GPS location update and error messages; rename integration creation method
  records_management_fsm/models/enhanced_fsm_integration.py
Due: check-odoo-syntax

fix: Update string formatting for better translation compatibility and reorder XML view definitions for consistency
  records_management/models/base_rate.py
  records_management/models/maintenance_equipment.py
  records_management/models/records_document.py
  records_management/views/base_rates_views.xml
  records_management/views/bin_barcode_inventory_views.xml
  records_management/views/bin_unlock_service_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Improve docstring clarity, enhance security in manifest evaluation, and update import order in revenue forecast model
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/__init__.py
  records_management/models/revenue_forecast.py
Due: check-odoo-syntax, check-model-imports

fix: Add mail.thread and mail.activity.mixin inheritance to various models for improved messaging and activity tracking
  records_management/models/__init__.py
  records_management/models/billing_period.py
  records_management/models/container_retrieval_item.py
  records_management/models/customer_billing_profile.py
  records_management/models/inventory_item_type.py
  records_management/models/location_group.py
  records_management/models/naid_custody.py
  records_management/models/portal_request_line.py
  records_management/models/records_audit_log.py
  records_management/models/records_category.py
  records_management/models/records_description.py
  records_management/models/records_request_line.py
Due: check-odoo-syntax, check-model-imports

fix: Add mail.thread and mail.activity.mixin inheritance to multiple models for enhanced messaging and activity tracking
  records_management/models/customer_inventory_report.py
  records_management/models/customer_negotiated_rates.py
  records_management/models/display_name.py
  records_management/models/field_label_customization.py
  records_management/models/inventory_item_destruction_line.py
  records_management/models/inventory_item_profile.py
  records_management/models/inventory_item_retrieval_line.py
  records_management/models/naid_audit_requirement.py
  records_management/models/naid_certificate_item.py
  records_management/models/records_container_content_line.py
  records_management/models/records_container_line.py
  records_management/models/records_container_transfer_line.py
Due: check-odoo-syntax

fix: Add mail.thread and mail.activity.mixin inheritance to multiple models for enhanced messaging and activity tracking
  records_management/models/naid_certification_level.py
  records_management/models/naidaudit_requirement.py
  records_management/models/pickup_request_item.py
  records_management/models/records_approval_workflow_line.py
  records_management/models/records_department_billing_approval.py
  records_management/models/records_tag_category.py
Due: check-odoo-syntax

feat: Add Destruction Event and NAID Operator Certification Management
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/data/naid_training_demo_data.xml
  records_management/data/scheduled_actions_data.xml
  records_management/models/__init__.py
  records_management/models/advanced_billing_line.py
  records_management/models/bin_key_history.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/destruction_event.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_compliance_checklist_item.py
  records_management/models/naid_equipment_standard.py
  records_management/models/naid_operator_certification.py
  records_management/models/naid_training_requirement.py
  records_management/models/naidoperator_certification.py
  records_management/models/naidtraining_schedule.py
  records_management/models/payment_split_line.py
  records_management/models/pickup_request_line.py
  records_management/models/portal_request_line.py
  records_management/models/records_location_report_wizard.py
  records_management/models/shredding_picklist_item.py
  records_management/models/signed_document_audit.py
  records_management/models/stock_lot_attribute_option.py
  records_management/models/stock_lot_attribute_value.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_certifications.xml
  records_management/views/destruction_event_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/portal_templates.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Implement NAID Audit Requirements and Verification Wizard
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/__init__.py
  records_management/models/naid_audit_requirement.py
  records_management/models/naid_audit_verification_wizard.py
  records_management/models/naidaudit_requirement.py
  records_management/models/naidoperator_certification.py
  records_management/security/ir.model.access.csv
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_audit_verification_wizard_views.xml
  records_management/views/portal_technician_certifications.xml
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix:
  records_management/models/__init__.py
  records_management/models/shredding_picklist_item.py
Due: check-odoo-syntax, check-model-imports

feat: Enhance NAID Compliance Checklist with equipment, task, visitor, and location integrations
  records_management/models/naid_compliance_checklist_item.py
  records_management/models/naid_equipment_standard.py
  records_management/models/rm_module_configurator.py
  records_management/security/ir.model.access.csv
  records_management/views/naid_compliance_checklist_item_views.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor NAID Audit Requirement Model and Remove Deprecated File
  records_management/models/naid_audit_requirement.py
  records_management/models/rate_change_confirmation_wizard.py
Due: check-odoo-syntax

fix:
  records_management/models/__init__.py
  records_management/models/naid_audit_log.py
  records_management/models/naid_custody_event.py
  records_management/models/naid_operator_certification.py
  records_management/models/naid_training_schedule.py
Due: check-odoo-syntax, check-model-imports

fix:
  development-tools/validate_api_depends.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports
