Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: Enhanced portal user management with research-backed improvements
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

feat: Implement comprehensive admin super access - complete menu and wizard visibility
  records_management/__manifest__.py
  records_management/security/admin_portal_access.xml
  records_management/security/admin_wizard_access.csv
  records_management/views/admin_super_access.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove portal group inheritance from admin users - violates user type constraints
  .vscode/settings.json
  records_management/__manifest__.py
  records_management/security/admin_portal_access.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct admin_wizard_access.csv format - add header row and remove comments
  records_management/security/admin_wizard_access.csv
Due: none

fix: Consolidate admin wizard access rules into main ir.model.access.csv
  records_management/__manifest__.py
  records_management/security/admin_wizard_access.csv
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Remove non-existent wizard model references from access CSV
  records_management/security/ir.model.access.csv
Due: none

fix: Remove 21 duplicate access rule IDs from CSV
  records_management/security/ir.model.access.csv
Due: none

fix: Remove broken admin_super_access.xml causing menu errors
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv.with_duplicates
  records_management/views/admin_super_access.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace mode='tree' with mode='list' in all One2many/Many2many fields for Odoo 18/19 compatibility
  records_management/security/ir.model.access.csv.with_duplicates
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/load_views.xml
  records_management/views/maintenance_equipment_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retrieval_order_views.xml
Due: validate-xml-structure

docs: Add comprehensive views and JavaScript files documentation
  QUICK_REFERENCE_VIEWS_JS.txt
  VIEWS_AND_JS_FILES_OUTLINE.txt
Due: none

chore: Remove outdated documentation for views and JavaScript files
  VIEWS_AND_JS_FILES_OUTLINE.txt
Due: none

feat(menus): Reorganize menu structure into 5 main menus
  records_management/screenshots.jpeg
  records_management/views/departmental_billing_menus.xml
  records_management/views/document_retrieval_menus.xml
  records_management/views/enhanced_features_menus.xml
  records_management/views/photo_menus.xml
  records_management/views/portal_feedback_menus.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
  records_management/views/records_retrieval_work_order_menus.xml
  records_management/views/screenshots.txt
Due: validate-xml-structure

fix(manifest): Add missing customer_inventory_views.xml to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(menus): Fix all menu parent ID references to match root menu definitions
  records_management/views/departmental_billing_menus.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_retention_policy_version_views.xml
Due: validate-xml-structure

fix(menus): Remove duplicate retention policy menu and fix action reference
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Remove 6 duplicate top-level menu definitions overriding organized structure
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Clear conflicting value fields in temp inventory retention config
  records_management/data/temp_inventory_configurator_data.xml
Due: validate-xml-structure

fix: Remove 4 additional top-level menus visible in screenshots
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/paper_load_shipment_views.xml
  records_management/views/records_request_line_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Remove ALL remaining top-level menus (12 more files)
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/key_restriction_checker_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_category_views.xml
  records_management/views/shredding_inventory_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: Portal controller field errors - work orders and coordinators
  records_management/controllers/work_order_portal.py
Due: check-odoo-syntax

fix: Restore commented-out menus - reparent instead of remove
  records_management/views/customer_feedback_views.xml
  records_management/views/portal_request_views.xml
Due: validate-xml-structure

fix(menus): Remove all Font Awesome icon HTML from Service Items menu names
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

fix(department): Add explicit view references to action_view_containers
  records_management/models/records_department.py
Due: check-odoo-syntax

fix(screenshots): Remove obsolete screenshots file
  records_management/views/screenshots.txt
Due: none

feat: Add contextual help messages to critical views (3/60 complete)
  records_management/views/records_management_menus.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

feat: Add contextual help to master data configuration views (6/60 complete)
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

feat: Add contextual help to billing and configuration views (12/60 complete)
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/base_rates_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_billing_views.xml
  records_management/views/records_category_views.xml
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

feat: Add contextual help to configuration and operational views (15/60 complete)
  records_management/views/pickup_request_views.xml
  records_management/views/records_container_type_views.xml
  records_management/views/shredding_service_views.xml
Due: validate-xml-structure

fix: Replace &nbsp; with &#160; in records_location_views.xml to resolve XML parsing error
  records_management/screenshots.jpeg
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: escape XML special characters in contextual help text
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: add contextual help for destruction and NAID compliance (5 files)
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_audit_log_views.xml
  records_management/views/naid_certificate_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/records_destruction_views.xml
Due: validate-xml-structure

feat: add contextual help for custody and retrieval workflows (4 files)
  records_management/views/chain_of_custody_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_request_views.xml
  records_management/views/records_retrieval_order_views.xml
Due: validate-xml-structure

feat: add contextual help for inventory and feedback systems (2 files)
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_inventory_views.xml
Due: validate-xml-structure

feat: add contextual help for route planning and coordination workflows (4 files - 30/60 = 50%)
  records_management/views/document_retrieval_item_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/route_optimizer_views.xml
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

feat: add contextual help for specialized work order types (4 files - 34/60 = 57%)
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

feat: add contextual help for recycling workflow and tracking systems (8 files - 42/60 = 70%)
  records_management/views/barcode_storage_box_views.xml
  records_management/views/paper_bale_inspection_views.xml
  records_management/views/paper_bale_movement_views.xml
  records_management/views/paper_bale_recycling_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/paper_load_shipment_views.xml
  records_management/views/records_audit_log_views.xml
  records_management/views/shredding_hard_drive_views.xml
Due: validate-xml-structure

feat: add contextual help for barcode systems and team management (6 files - 48/60 = 80%)
  records_management/views/barcode_generation_history_views.xml
  records_management/views/barcode_pricing_tier_views.xml
  records_management/views/barcode_product_views.xml
  records_management/views/bin_barcode_inventory_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/shredding_team_views.xml
Due: validate-xml-structure

feat: add contextual help for core operational views (12 files - 58/60 = 97%)
  records_management/views/billing_period_views.xml
  records_management/views/container_retrieval_views.xml
  records_management/views/destruction_event_views.xml
  records_management/views/inventory_item_views.xml
  records_management/views/naid_performance_history_views.xml
  records_management/views/paper_bale_line_views.xml
  records_management/views/pickup_location_views.xml
  records_management/views/portal_feedback_action_views.xml
  records_management/views/records_center_location_views.xml
  records_management/views/records_storage_box_views.xml
  records_management/views/shredding_inventory_batch_views.xml
  records_management/views/shredding_inventory_views.xml
Due: validate-xml-structure

feat: add contextual help for final operational views (2 files - 60/60 = 100% COMPLETE ✅)
  records_management/views/records_container_movement_views.xml
  records_management/views/work_order_dashboard_views.xml
Due: validate-xml-structure

fix: replace invalid XML entity &rarr; with Unicode → character
  records_management/views/document_retrieval_item_views.xml
  records_management/views/portal_request_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
