Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Correct usage of _read_group in ResPartner model for key data aggregation
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add missing ir.sequence definitions to prevent registry load failures
  records_management/__manifest__.py
  records_management/data/missing_sequences_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct aggregate specification in unlock service history read_group query
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Refactor button box and status badges in Mobile Bin Key Wizard view for improved layout
  records_management/views/mobile_bin_key_wizard_views.xml
Due: validate-xml-structure

feat: Add action handlers for viewing bin keys and unlock services in ResPartner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Improve translation string formatting and optimize onchange methods in various models
  records_management/models/bin_key_unlock_service.py
  records_management/models/res_partner.py
  records_management/models/res_partner_key_restriction.py
  records_management/wizards/bin_issue_report_wizard.py
  records_management/wizards/mobile_bin_key_wizard.py
  records_management_fsm/models/fsm_order.py
Due: check-odoo-syntax

feat: Add placeholder actions for certificate revocation, quality inspection, load preparation, and billing configuration
  records_management/models/destruction_certificate.py
  records_management/models/paper_bale.py
  records_management/models/paper_load_shipment.py
  records_management/models/records_billing_config.py
  records_management/wizards/bin_issue_report_wizard.py
Due: check-odoo-syntax

fix: Update alert formatting in Mobile Bin Key Wizard for improved accessibility and clarity
  records_management/views/mobile_bin_key_wizard_views.xml
Due: validate-xml-structure

feat: Add action for issuing new bin key with stub implementation in ResPartner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add actions for viewing, returning, and reporting lost bin keys in ResPartner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add placeholder actions for viewing access and service history in BinKeyUnlockService and BinUnlockService models
  records_management/models/bin_key_unlock_service.py
  records_management/models/bin_unlock_service.py
  records_management/models/mobile_bin_key_wizard.py
  records_management/models/partner_bin_key.py
Due: check-odoo-syntax

feat: Introduce view support fields in BinKeyHistory and enhance message formatting in MobileBinKeyWizard
  records_management/models/bin_key_history.py
  records_management/models/mobile_bin_key_wizard.py
Due: check-odoo-syntax

feat: Enhance action type handling in MobileBinKeyWizard with new logic and improved message formatting
  records_management/models/mobile_bin_key_wizard.py
Due: check-odoo-syntax

feat: Add service_number field to BinUnlockService and UnlockServiceHistory models, and implement placeholder for certifications_company_count in ResPartnerCertificationStats
  records_management/models/__init__.py
  records_management/models/bin_unlock_service.py
  records_management/models/res_partner_certification_stats.py
  records_management/models/unlock_service_history.py
Due: check-odoo-syntax, check-model-imports

feat: Merge unlock service history into bin unlock service model and update related references
  records_management/data/missing_sequences_data.xml
  records_management/models/__init__.py
  records_management/models/bin_key_unlock_service.py
  records_management/models/bin_unlock_service.py
  records_management/models/res_partner.py
  records_management/models/res_partner_certification_stats.py
  records_management/models/unlock_service_history.py
  records_management/models/unlock_service_part.py
  records_management/security/ir.model.access.csv
  records_management/wizards/__init__.py
  records_management/wizards/unlock_service_reschedule_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Remove legacy unlock.service.history model, sequences, reports, and views after merge into bin.key.unlock.service
  records_management/data/missing_sequences_data.xml
  records_management/models/__init__.py
  records_management/models/bin_key_unlock_service.py
  records_management/models/unlock_service_history.py
  records_management/report/unlock_service_history_reports.xml
  records_management/views/unlock_service_history_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Add NAID Compliance Checklist model with fields and relationships
  records_management/models/__init__.py
  records_management/models/naid_compliance_checklist.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

feat: Improve message formatting in BinUnlockService for scheduling and notifications
  records_management/models/bin_unlock_service.py
Due: check-odoo-syntax

feat: Refactor BinUnlockService model by removing unused comments and improving message formatting
  records_management/models/bin_unlock_service.py
Due: check-odoo-syntax

feat: Add NAID Performance History model with fields, methods, and compliance integration
  records_management/models/__init__.py
  records_management/models/naid_performance_history.py
Due: check-odoo-syntax, check-model-imports

feat: Update __init__.py to reorganize imports and include missing modules
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

feat: Remove .pylintrc and pyrightconfig.json for cleaner configuration management
  .pylintrc
  pyproject.toml
  pyrightconfig.json
Due: none

feat: Add default profile setting to VSCode configuration
  .vscode/settings.json
Due: none

feat: Reorganize imports in __init__.py for improved clarity and load order
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

feat: Reorganize model imports in __init__.py for improved load order and clarity
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

feat: Rename import for NAID compliance checklist to match file name
  records_management/models/__init__.py
  records_management/models/naid_compliance_checklist.py
Due: check-odoo-syntax, check-model-imports

feat: Update NAID compliance checklist access rights and add stock move SMS validation permissions
  records_management/security/ir.model.access.csv
Due: none

fix: Update unlock service cost field reference in ResPartner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Update unlock service history cost field reference to total_cost in ResPartner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add mobile_bin_key_wizard import to __init__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Refactor Mobile Bin Key Wizard view for improved readability and consistency
  records_management/views/mobile_bin_key_wizard_views.xml
Due: validate-xml-structure

feat: Enhance paper bale inspection wizard views for improved structure and usability
  records_management/views/paper_bale_inspection_wizard_views.xml
Due: validate-xml-structure

feat: Add Paper Bale Weigh Wizard for weighing and updating bale weight information
  records_management/models/paper_bale_weigh_wizard.py
Due: check-odoo-syntax

feat: Add Paper Bale Weigh Wizard with access rights and view definitions
  records_management/models/__init__.py
  records_management/models/paper_bale_weigh_wizard.py
  records_management/security/ir.model.access.csv
  records_management/views/paper_bale_weigh_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Final resolution of OWL directive errors and CSV duplicates
  records_management/security/ir.model.access.csv
  records_management/views/permanent_flag_wizard_views.xml
  records_management/wizards/permanent_flag_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Correct field references in permanent flag wizard view
  records_management/views/permanent_flag_wizard_views.xml
Due: validate-xml-structure

fix: Resolve wizard model conflict - Remove duplicate records_permanent_flag_wizard import
  records_management/wizards/__init__.py
Due: check-odoo-syntax

fix: Update security verification and correct field reference in Permanent Flag Wizard
  records_management/views/permanent_flag_wizard_views.xml
Due: validate-xml-structure

fix: Remove unused FSM Reschedule Wizard due to dependency on industry_fsm
  records_management/wizards/__init__.py
  records_management/wizards/fsm_reschedule_wizard.py
Due: check-odoo-syntax

fix: Update pickup schedule wizard views for improved field organization and labeling
  records_management/views/pickup_schedule_wizard_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
