Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Update retention policy views and add comprehensive field validation script
  records_management/views/records_retention_policy_version_views.xml
  records_management/views/records_retention_policy_views.xml
  validate_retention_policy_fields.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update fields in records retention policy tree view for accuracy
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Remove deprecated buttons and update action types in records retention policy views
  create_date,
  document_type_id,
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Refactor feedback state management to use statusbar widget and remove obsolete action methods
  records_management/models/portal_feedback.py
  records_management/views/portal_feedback_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update view modes and replace 'tree' with 'list' in records retention policy views
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Bump version to 18.0.12.0.5 to force module reload and clear cached views
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct tree view record definition for records retention policy
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Update records retention policy views to improve field definitions and UI consistency
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

feat: Add computed field for expiration status in records retention policy model
  records_management/models/records_retention_policy.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update field labels and visibility for records retention policy views
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

feat: Enhance RecordsRetentionPolicy model with additional computed fields and logging
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

fix: Remove invalid DEFAULT_CODE dependency from @api.depends decorator
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

feat: Add missing default_code field to records.retention.policy model
  records_management/models/records_retention_policy.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Completely rewrite records_retention_policy_views.xml with correct XML structure
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Correct menu parent reference in retention policy views
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

optimize: Consolidate excessive boolean flags into selection fields
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

fix: Add missing is_under_legal_hold computed field
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

feat: Add additional lifecycle and publication compatibility fields to RecordsRetentionPolicy model
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

feat: Add policy hierarchy validation and versioning model for retention policies
  records_management/models/records_retention_policy.py
Due: check-odoo-syntax

Refactor Records Retention Policy Model and Views
  .vscode/settings.json
  records_management/README.md
  records_management/models/records_retention_policy.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add migration helper script for deprecated retention policy boolean fields and implement tests for computed fields
  .editorconfig
  .vscode/settings.json
  development-tools/migration/migration_scan_retention_policy_booleans.py
  records_management/README.md
  records_management/tests/test_retention_policy_computed.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance Records Retention Policy views with new button permissions and pivot view for analysis
  records_management/static/src/scss/retention_policy.scss
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

feat: Update Records Retention Policy views and model to enhance validation and remove redundant fields
  records_management/__manifest__.py
  records_management/models/records_retention_policy.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

chore: Remove obsolete configuration and workflow guide files from the project
  .vscode/cybrosys-assista-status.md
  .vscode/dual-ai-workflow-guide.md
  .vscode/extensions.json
  .vscode/settings.json
  create_date,
  document_type_id,
Due: none

feat: Add various scripts for XML validation and duplicate access rule analysis, relocated from root directory
  workspace-admin/root_legacy_scripts/advanced_duplicate_finder.py
  workspace-admin/root_legacy_scripts/analyze_actual_field_mismatches.py
  workspace-admin/root_legacy_scripts/categorize_missing_models.py
  workspace-admin/root_legacy_scripts/comprehensive_xml_validator.py
  workspace-admin/root_legacy_scripts/enhanced_model_validator.py
  workspace-admin/root_legacy_scripts/find_duplicate_access_rules.py
  workspace-admin/root_legacy_scripts/find_missing_models.py
  workspace-admin/root_legacy_scripts/fix_access_duplicates.py
  workspace-admin/root_legacy_scripts/fix_xml_formatting_overrides.py
  workspace-admin/root_legacy_scripts/format_critical_xml.py
  workspace-admin/root_legacy_scripts/format_xml_files.py
  workspace-admin/root_legacy_scripts/quick_xml_validator.py
  workspace-admin/root_legacy_scripts/temp_template.xml
  workspace-admin/root_legacy_scripts/test_retention_minimal.xml
  workspace-admin/root_legacy_scripts/test_rulers.py
  workspace-admin/root_legacy_scripts/test_rulers.xml
  workspace-admin/root_legacy_scripts/validate_odoo_xml_schema.py
  workspace-admin/root_legacy_scripts/validate_retention_policy_fields.py
  workspace-admin/root_legacy_scripts/xml_validator.py
Due: check-odoo-syntax, validate-xml-structure

feat: Update button visibility logic in Records Retention Policy form to use Odoo 17+ modifiers
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

chore: Update Python linting and formatting settings in VSCode configuration
  .vscode/settings.json
Due: none

feat: Update kanban template name and replace deprecated 'priority' field with 'sequence' for Odoo 18 compliance
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

feat: Implement Enhanced Action Validator for Odoo 18 to validate and fix invalid fields in ir.actions.act_window definitions
  enhanced_action_validator.py
  records_management/views/records_retention_policy_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add manual SLA escalation action and update button in Records Retrieval Order view
  records_management/models/records_retrieval_order.py
  records_management/views/records_retrieval_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Rename 'state' field to 'status' in retrieval order views for consistency
  records_management/views/records_retrieval_order_views.xml
Due: validate-xml-structure

feat: Enhance Hard Drive Scan Wizard with two-step verification and manager bypass options; update related views and validation logic
  comprehensive_action_validator.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/records_retrieval_order_line.py
  records_management/models/shredding_certificate.py
  records_management/views/hard_drive_scan_wizard_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/shredding_hard_drive_views.xml
  validate_specific_files.py
Due: check-odoo-syntax, validate-xml-structure

fix: Clean up whitespace and formatting in Hard Drive Scan Wizard model
  records_management/models/hard_drive_scan_wizard.py
Due: check-odoo-syntax

fix: Update button visibility and clean up formatting in Hard Drive Scan Wizard view
  records_management/views/hard_drive_scan_wizard_views.xml
Due: validate-xml-structure

fix: Improve accessibility by adding role attributes to alert divs in Hard Drive Scan Wizard view
  records_management/views/hard_drive_scan_wizard_views.xml
  records_management/views/records_storage_department_user_views.xml
Due: validate-xml-structure

feat: Add business fields, permissions, and history tracking to Records Storage Department User model
  records_management/models/records_storage_department_user.py
  records_management/security/ir.model.access.csv
  records_management/views/records_storage_department_user_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove unused reference views from the manifest and delete associated XML file
  records_management/__manifest__.py
  records_management/views/reference_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Rename field 'state' to 'status' in revenue forecast and shred model bin views
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/shred_model_bin_views.xml
Due: validate-xml-structure

fix: correct remaining 'state' field reference to 'status' in revenue forecast line list view
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
