Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

Refactor portal request views and enhance menu structure
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/system_flowchart_wizard.py
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/advanced_billing_line_views.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/portal_request_views_new.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_storage_box_views.xml
  records_management/views/res_partner_views.xml
  records_management/views/survey_user_input_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: update view names for workflow visualization manager
  records_management/views/records_location_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: validate-xml-structure

refactor: rename fields and views for advanced billing line for consistency
  pyrightconfig.json
  records_management/models/advanced_billing_line.py
  records_management/security/ir.model.access.csv
  records_management/views/advanced_billing_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing work_order_retrieval model import to models/__init__.py
  records_management/models/__init__.py
  stubs/__init__.pyi
  stubs/odoo.pyi
Due: check-odoo-syntax, check-model-imports

refactor: remove bulk fix script for view type errors in Records Management module
  fix_view_types_bulk.py
Due: check-odoo-syntax

Add complete external ID definitions for Records Management models
  development-tools/generate_complete_model_external_ids.py
  records_management/__manifest__.py
  records_management/data/model_external_ids_data.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor portal request views and enhance navigation
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/portal_request_views_new.xml
  records_management/views/records_container_transfer_line_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_storage_box_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/shredding_service_event_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

refactor: update view types and improve field definitions in flowchart wizard and shred bin views
  records_management/views/base_rate_views.xml
  records_management/views/shred_bin_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

refactor: resolve type mismatches and improve container handling in AccountMoveLine model
  records_management/models/account_move_line.py
Due: check-odoo-syntax

refactor: update view names for proper inheritance and enhance readability in various XML files
  records_management/views/bin_unlock_service_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

refactor: improve container handling and streamline service line naming in AccountMoveLine model
  records_management/models/account_move_line.py
Due: check-odoo-syntax

refactor: add billing profile field to AdvancedBillingLine model for improved billing management
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/advanced_billing_line.py
Due: check-odoo-syntax

Add access rights for new models in records management
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/security/ir.model.access.csv
Due: none

Add external ID definitions and access rights for x_model_external_ids_data
  records_management/__manifest__.py
  records_management/data/x_model_external_ids_data.xml
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure

refactor: remove unused generated model and clean up external ID references
  development-tools/generate_complete_model_external_ids.py
  records_management/__manifest__.py
  records_management/data/x_model_external_ids_data.xml
  records_management/models/__init__.py
  records_management/models/destruction_certificate.py
  records_management/models/generated_model.py
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: remove access rights for x_model_external_ids_data from user and manager roles
  records_management/security/ir.model.access.csv
Due: none

refactor: update parent menu references for billing views to include records_management
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/advanced_billing_line_views.xml
  records_management/views/advanced_billing_profile_views.xml
Due: validate-xml-structure

refactor: update parent menu references for billing views to use fully qualified names
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

refactor: reorganize view references in __manifest__.py to streamline records management
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: reorganize view references in __manifest__.py for improved loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: add missing critical views to __manifest__.py for comprehensive records management
  records_management/__manifest__.py
Due: check-odoo-syntax

Refactor code structure for improved readability and maintainability
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/__manifest__.py
  records_management/controllers/field_label_portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Add records_department_sharing model and related access rights
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/__init__.py
  records_management/models/missing_models.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

Add script to clean duplicate entries from ir.model.access.csv
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/clean_csv_duplicates.py
  development-tools/validate_models.py
  records_management/models/records_document.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix:
  records_management/security/ir.model.access.csv
Due: none

fix:
  records_management/models/hr_employee.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Remove redundant _name attribute from maintenance team and document retrieval models
  records_management/models/document_retrieval_equipment.py
  records_management/models/document_retrieval_team.py
  records_management/models/maintenance_team.py
Due: check-odoo-syntax

feat: Add retrieval work order model, views, and menu integration
  records_management/models/__init__.py
  records_management/models/customer_inventory_report.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/rm_module_configurator.py
  records_management/security/ir.model.access.csv
  records_management/views/records_retrieval_work_order_menus.xml
  records_management/views/records_retrieval_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Correct model names in ir.model.access.csv for transitory items and advanced billing
  records_management/security/ir.model.access.csv
Due: none

fix: Update VSCode settings to disable additional Odoo warnings and enhance integration
  .vscode/settings.json
Due: none

fix: Enhance audit log creation and container ID handling in account.move.line model
  records_management/models/account_move_line.py
Due: check-odoo-syntax

fix:
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/account_move_line.py
  records_management/views/advanced_billing_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update system flowchart wizard view layout and improve focus target visibility
  records_management/models/account_move_line.py
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat: Add total scan size computation and visibility toggle for digital scans
  records_management/models/records_document.py
  records_management/models/rm_module_configurator.py
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update movement history fields and correct view references in tag views
  records_management/views/records_container_views.xml
  records_management/views/records_tag_views.xml
Due: validate-xml-structure

fix: Correct view types for billing config, bulk user import, category, and config settings
  records_management/views/records_billing_config_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_category_views.xml
  records_management/views/records_config_settings_views.xml
Due: validate-xml-structure

fix: Update view types from 'list' to 'tree' for various records views
  records_management/views/records_billing_views.xml
  records_management/views/records_config_setting_views.xml
  records_management/views/records_container_log_views.xml
  records_management/views/records_container_transfer_views.xml
  records_management/views/records_container_type_converter_wizard_views.xml
  records_management/views/records_container_type_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_request_views.xml
Due: validate-xml-structure
