Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Error 109 - Remove invalid portal.portal_menu parent reference (non-existent in Odoo 18)
  records_management/views/shred_bin_views.xml
Due: validate-xml-structure

fix: Error 110 - Rewrite shredding inventory form with actual model fields and methods
  records_management/views/shredding_inventory_views.xml
Due: validate-xml-structure

fix: Error 111 - Fix shredding picklist item views field names and state values
  records_management/views/shredding_inventory_views.xml
Due: validate-xml-structure

fix: Error 112 - Rewrite stock move SMS validation views with actual model fields
  records_management/views/stock_move_sms_validation_views.xml
Due: validate-xml-structure

fix: Error 113 - Remove non-existent container fields (cubic_feet, monthly_rate_effective)
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Error 114 - Add missing access rules for retrieval.item.line model (user + manager)
  records_management/security/ir.model.access.csv
Due: none

fix: Error 115 - Remove non-existent location_type field from demo data, use usage field instead
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Error 116 - Remove NAID settings from General Settings, move to RM Module Configurator to unblock database settings access
  records_management/views/res_config_settings_views.xml
Due: validate-xml-structure

fix: Error 117 - Replace invalid security_level values in demo data with valid selections (internal, restricted, confidential, public)
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Error 117 - Remove invalid '*** End Patch' syntax from setup.py
  records_management_fsm/models/setup.py
Due: check-odoo-syntax

fix: Error 118 - Cache invalidation marker to force Odoo.sh rebuild (sync setup.py fix)
  records_management_fsm/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Error 118 - Bump FSM module version (18.0.1.0.0 → 18.0.1.0.1) to force Odoo.sh cache invalidation
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix: Error 118 - Bump Records Management version (18.0.1.0.1 → 18.0.1.0.2) to force complete cache invalidation
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: NAID audit settings disabled by default for database rebuild
  records_management/data/naid_configurator_data.xml
Due: validate-xml-structure

fix: Errors 119-120 - Fix demo data field values and FSM function call
  records_management/demo/customer_inventory_demo.xml
  records_management_fsm/data/fleet_fsm_action_bridge.xml
Due: validate-xml-structure

fix: Error 121 - Aggressive cache invalidation for FSM fleet function
  records_management_fsm/__manifest__.py
  records_management_fsm/data/fleet_fsm_action_bridge.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update setup.py docstring to clarify cache invalidation and deployment details
  records_management_fsm/models/setup.py
Due: check-odoo-syntax

fix: Error 122 - Complete module cache invalidation on Odoo.sh
  records_management/__manifest__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Error 123 - Add missing NAID configurator data to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Error 124 - Add hr_timesheet compatibility patch for Odoo 18.0 API
  records_management/models/__init__.py
  records_management/models/hr_timesheet_compat.py
Due: check-odoo-syntax, check-model-imports

fix: Error 125 - Fix security_level demo data field values
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/intelligent_search_demo_data.xml
Due: validate-xml-structure

fix: System diagram JavaScript loading and view definition issues
  records_management/models/system_diagram_data.py
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Odoo 18.0 view type compatibility - use 'list' in XML architecture
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: Remove form_view_initial_mode context parameters to resolve CodeEditor component errors
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: Correct method name from invalidate_cache to _invalidate_cache in action_regenerate_diagram
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

fix: Add default parameter handling to container methods that take arguments
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Update QWeb template loop syntax for Odoo 18.0 compatibility
  records_management/report/document_temp_barcode_reports.xml
Due: validate-xml-structure

fix: Add defensive JavaScript null checks and include missing portal_containers_list.xml in manifest
  records_management/static/src/js/portal/portal_dashboard_bootstrap.js
  records_management/static/src/js/portal/portal_inventory_search.js
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/static/src/js/portal/portal_tour.js
Due: none

fix: Update template list in __manifest__.py for improved portal functionality
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add all missing report files to manifest and fix XPath syntax error
  records_management/__manifest__.py
  records_management/templates/portal_access_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update manifest and report definitions for advanced billing integration
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/report/advanced_billing_reports.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Update manifest and data files for compliance audits and reorganize model imports
  records_management/__manifest__.py
  records_management/data/naid_compliance_data.xml
  records_management/models/__init__.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: resolve PostgreSQL res_partner_check_name constraint violation
  records_management/data/naid_training_demo_data.xml
Due: validate-xml-structure

fix: enhance validation for empty 'arch' definitions in XML views
  development-tools/xml_schema_validator.py
Due: none

fix: resolve model inheritance inconsistency in NAID operator certification
  records_management/data/naid_training_demo_data.xml
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax, validate-xml-structure

fix: XML schema validation error in portal mail templates
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure

fix: XML schema validation for portal mail templates
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure

fix: XML schema compliance - correct noupdate attribute structure in portal_mail_templates_data.xml
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure

fix: remove ir.model records from portal_mail_templates_data.xml to resolve RelaxNG validation
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure

fix: remove data wrapper from portal_mail_templates_data.xml for RelaxNG compliance
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure
