Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix(model): Add init() safety net for department user fields
  records_management/models/records_storage_department_user.py
Due: check-odoo-syntax

feat(barcode): Implement container, file, and temp barcode generation routes and UI interactions
  records_management/controllers/portal.py
  records_management/static/src/js/portal/portal_barcode_management.js
Due: check-odoo-syntax

feat(document-retrieval): Add document retrieval request form and pricing calculation
  records_management/controllers/portal.py
  records_management/models/portal_request.py
  records_management/templates/portal_document_retrieval.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: reorganize portal JS files into dedicated portal/ subfolder
  records_management/__manifest__.py
  records_management/static/src/js/portal/customer_portal_diagram.js
  records_management/static/src/js/portal/customer_portal_diagram_view.js
  records_management/static/src/js/portal/portal_accessibility.js
  records_management/static/src/js/portal/portal_dashboard_bootstrap.js
  records_management/static/src/js/portal/portal_docs.js
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_inventory_search.js
  records_management/static/src/js/portal/portal_quote_generator.js
  records_management/static/src/js/portal/portal_search.js
  records_management/static/src/js/portal/portal_signature.js
  records_management/static/src/js/portal/portal_tour.js
  records_management/static/src/js/portal/portal_user_import.js
  records_management/static/src/js/portal_organization_diagram.js
Due: check-odoo-syntax

feat: add comprehensive training courses for records management
  records_management/__manifest__.py
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_data.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove duplicate access rules in ir.model.access.csv
  records_management/security/ir.model.access.csv
Due: none

chore: remove obsolete website2_menu_export.csv file
  website2_menu_export.csv
Due: none

fix: Remove circular inheritance in portal.request model
  records_management/models/portal_request.py
Due: check-odoo-syntax

fix: Escape ampersands in training course XML data to resolve module loading errors
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_data.xml
Due: validate-xml-structure

fix: Remove extra content after XML closing tags in training course data files
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_data.xml
Due: validate-xml-structure

Add portal templates for records management features
  records_management/__manifest__.py
  records_management/templates/portal_certificates.xml
  records_management/templates/portal_containers.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_dashboards.xml
  records_management/templates/portal_documents.xml
  records_management/templates/portal_errors.xml
  records_management/templates/portal_feedback.xml
  records_management/templates/portal_locations.xml
  records_management/templates/portal_missing_templates.xml
  records_management/templates/portal_reports.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance records management with hierarchical ownership and demo data for portal feedback and work orders
  records_management/controllers/portal.py
  records_management/data/training_courses_data.xml
  records_management/demo/advanced_billing_demo.xml
  records_management/demo/enhanced_ownership_demo.xml
  records_management/demo/intelligent_search_demo_data.xml
  records_management/demo/naid_demo_certificates.xml
  records_management/demo/portal_feedback_demo.xml
  records_management/demo/work_orders_demo.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add auto-sync workflow and script for main to Enterprise branch
  .github/workflows/sync-main-to-enterprise.yml
  .vscode/tasks.json
  scripts/sync-main-to-enterprise.sh
Due: none

fix: Remove unnecessary closing tags and file path parameters from training course XML files
  records_management/data/training_courses_data.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

feat: Add training category group and update references in training course XML
  records_management/data/training_courses_data.xml
Due: validate-xml-structure

fix: Remove completion time fields from training course records
  records_management/data/training_courses_data.xml
Due: validate-xml-structure

feat: Update slide types from document to infographic in training course XML files
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

feat: Change slide type from infographic to presentation and update completion times in training course XML files
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

feat: Update slide type from presentation to webpage in training course XML files
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: Temporarily comment out training course data files to isolate other loading errors
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Temporarily comment out department user assignment tree view to resolve field validation error
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix: Temporarily comment out partner form department users view to resolve field validation error
  records_management/views/res_partner_views.xml
Due: validate-xml-structure

fix: Fix XML comment syntax error (double hyphen not allowed in XML comments)
  records_management/views/res_partner_views.xml
Due: validate-xml-structure

fix: Add missing action_container_retrieval action for Container Retrieval Requests menu
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Add missing action_records_retrieval_order action for File Retrieval Requests menu
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Add missing action_paper_load_shipment action for Load Shipments menu
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add new actions for Paper Model Bales, Work Order Coordinators, Workflow Visualizations, and more in Records Management
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add Storage Reports and Compliance Reports actions with detailed help descriptions
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Remove duplicate paper recycling dashboard menuitem causing loading failure
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Resolve menu loading failures by fixing loading order and removing duplicates
  records_management/__manifest__.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Move billing_period_views.xml to load before menus to resolve billing_period_action reference error
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Comprehensive menu loading order fix - moved all action definitions before menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move menus to END of manifest loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Reorganize manifest loading - move ALL 74 menu-containing files to end
  records_management/__manifest__.py
Due: check-odoo-syntax

chore: Remove branch sync scripts - consolidating to main only
  scripts/sync-main-to-enterprise.sh
  scripts/sync-to-staging.sh
  scripts/sync_both_branches.sh
Due: none

fix: Add records_management module prefix to ALL parent menu references
  records_management/views/barcode_menus.xml
  records_management/views/bin_barcode_inventory_views.xml
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/chain_of_custody_event_views.xml
  records_management/views/container_access_photo_views.xml
  records_management/views/custody_transfer_event_views.xml
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/departmental_billing_menus.xml
  records_management/views/document_retrieval_menus.xml
  records_management/views/document_search_attempt_views.xml
  records_management/views/inventory_adjustment_reason_views.xml
  records_management/views/inventory_item_profile_views.xml
  records_management/views/inventory_item_type_views.xml
  records_management/views/inventory_item_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/paper_load_shipment_views.xml
  records_management/views/photo_menus.xml
  records_management/views/portal_feedback_menus.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_container_type_converter_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
  records_management/views/records_request_line_views.xml
  records_management/views/records_request_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/records_retrieval_work_order_menus.xml
  records_management/views/records_work_vehicle_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/shred_bin_views.xml
  records_management/views/shredding_inventory_views.xml
  records_management/views/stock_move_sms_validation_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Remove 14 duplicate file entries from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add module prefix to menu_master_data and related menu references in records_management_menus.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Move records_management_menus.xml to load immediately after root menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move records_management_menus.xml back to end of manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
