Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Additional QWeb t-field fixes in portal templates
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_missing_templates.xml
Due: validate-xml-structure

feat: Unified bulk upload system for Containers, Files, and Documents
  records_management/controllers/portal_document_bulk_upload.py
  records_management/templates/portal_documents.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary newline in bulk upload response headers
  records_management/controllers/portal_document_bulk_upload.py
Due: check-odoo-syntax

fix: Add portal request creation template and bulk container selection/export
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_request_create.xml
Due: validate-xml-structure

feat: Add intelligent file search request system with container matching
  records_management/controllers/portal.py
  records_management/models/portal_request.py
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_file_search_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add instant search with chunked loading and real-time notifications
  records_management/controllers/portal.py
  records_management/models/portal_request.py
  records_management/models/records_container.py
  records_management/templates/portal_file_search_create.xml
  records_management/templates/portal_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove escaped quotes causing SyntaxError in portal.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Replace non-existent container_number with name (Box Number) field
  records_management/controllers/portal.py
  records_management/templates/portal_container_movements.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_document_create.xml
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_file_create.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Customer Staging Locations - Virtual location system for pre-pickup organization
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/__init__.py
  records_management/models/customer_staging_location.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_request_create.xml
  records_management/templates/portal_staging_location_forms.xml
  records_management/templates/portal_staging_locations.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove unnecessary blank lines in customer_staging_location.py
  records_management/models/customer_staging_location.py
Due: check-odoo-syntax

fix: Portal inventory template expecting dict not record object
  records_management/templates/my_portal_inventory.xml
Due: validate-xml-structure

fix: Critical error fixes for portal and admin functions
  ERROR_LOGS_11_20_2025
  records_management/models/customer_staging_location.py
  records_management/models/naid_audit_log.py
  records_management/templates/portal_errors.xml
  records_management/views/portal_error.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add full CRUD for customer staging locations in portal
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_staging_location_edit.xml
  records_management/templates/portal_staging_location_forms.xml
  records_management/templates/portal_staging_locations.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal location field error + deprecated message_post_with_view + audit log action types + auto-create draft staging locations
  ERROR_LOGS_11_20_2025
  records_management/controllers/portal.py
  records_management/models/naid_audit_log.py
  records_management/models/records_document.py
  records_management/models/records_file.py
Due: check-odoo-syntax

feat: Enhance portal functionality with destruction certificates, training materials, and access control updates
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_certifications.xml
  records_management/templates/portal_destruction_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Update portal access control for NAID audit logs and certificates
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Correct wording in portal document deletion comment for clarity
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Update comments for clarity in portal certifications and organization chart
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Remove redundant closing div tags in portal certifications template
  records_management/templates/portal_certifications.xml
Due: validate-xml-structure

feat: Enhance portal access by adding user permissions for base rates and customer negotiated rates
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Implement dynamic item management in document retrieval form with updated pricing calculator
  records_management/templates/portal_document_retrieval.xml
Due: validate-xml-structure

fix: Add 'is_published' field to slides for better publication management
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

feat: Add base.group_system (admin) access to all Records Management and FSM models
  records_management/security/ir.model.access.csv
  records_management_fsm/security/ir.model.access.csv
Due: none

feat: Add legal citation management models and views
  records_management/__manifest__.py
  records_management/data/legal_citations_data.xml
  records_management/data/training_courses_legal_citations.xml
  records_management/models/__init__.py
  records_management/models/legal_citation.py
  records_management/models/legal_citation_type.py
  records_management/models/record_disposition.py
  records_management/models/record_series.py
  records_management/models/records_container.py
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/security/ir.model.access.csv
  records_management/views/legal_citation_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Update legal citation links and access permissions for record series
  records_management/data/legal_citations_data.xml
  records_management/security/ir.model.access.csv
Due: validate-xml-structure

fix: Resolve deployment errors - Many2many syntax, CSV duplicates, quality module dependency, record series update
  records_management/data/legal_citations_data.xml
  records_management/models/naid_audit_requirement.py
  records_management/views/naid_audit_requirement_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Disable intelligent_search_demo_data.xml - references non-existent partners
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Replace tree view type with list for Odoo 18/19 compatibility
  records_management/views/legal_citation_views.xml
Due: validate-xml-structure

fix: Correct parent menu ID to menu_records_configuration
  records_management/views/legal_citation_views.xml
Due: validate-xml-structure

fix: Move legal_citation_views.xml to load after root menus to resolve menu dependency
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Replace deprecated attrs with invisible attribute for Odoo 17+ compatibility
  records_management/views/naid_audit_requirement_views.xml
Due: validate-xml-structure

fix: Replace field_ids with actual system.diagram.data fields in report template
  records_management/report/system_diagram_data_reports.xml
Due: validate-xml-structure

fix: Add newline at end of system_diagram_data_reports.xml for proper formatting
  records_management/report/system_diagram_data_reports.xml
Due: validate-xml-structure

refactor: Remove all references to 'O'Neil Stratus' from codebase
  records_management/data/legal_citations_data.xml
  records_management/data/training_courses_legal_citations.xml
  records_management/models/legal_citation.py
  records_management/models/legal_citation_type.py
  records_management/models/record_disposition.py
  records_management/models/record_series.py
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary blank lines in XML and Python files for cleaner code
  records_management/data/legal_citations_data.xml
  records_management/models/legal_citation.py
  records_management/models/legal_citation_type.py
  records_management/models/record_disposition.py
  records_management/models/record_series.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add professional ZPL barcode label printing with Labelary API
  records_management/models/__init__.py
  records_management/models/records_container.py
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax, check-model-imports

feat: Enhanced barcode label printing with reprint control and tracking
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/barcode_batch_print.py
  records_management/models/records_container.py
  records_management/models/records_file.py
  records_management/models/zpl_label_generator.py
  records_management/security/ir.model.access.csv
  records_management/views/barcode_label_wizards_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_file_views.xml
  records_management/views/records_management_menus.xml
  records_management/wizards/__init__.py
  records_management/wizards/barcode_preprint_wizard.py
  records_management/wizards/barcode_reprint_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Change tree views to list views for barcode preprint and batch print history
  records_management/views/barcode_label_wizards_views.xml
Due: validate-xml-structure

fix: Add missing except block to action_print_batch_labels try statement
  records_management/models/records_container.py
Due: check-odoo-syntax
