Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Update product type field references to align with Odoo 18.0 standards
  records_management/models/pos_config.py
  records_management/models/product_template.py
  records_management/models/records_container.py
  records_management/models/temp_inventory_movement.py
  records_management/models/unlock_service_part.py
  records_management/views/product_template_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update product type field references to align with Odoo standards
  records_management/models/pos_config.py
  records_management/models/product_template.py
  records_management/models/temp_inventory_movement.py
  records_management/models/unlock_service_part.py
  records_management/views/product_template_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance stock movement tracking for records containers
  records_management/controllers/portal.py
  records_management/models/__init__.py
  records_management/models/records_container.py
  records_management/models/records_stock_movement.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

fix: Resolve model inheritance dependency issue - Move records_stock_movement before records_container
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

feat: Implement permission checks for pickup and destruction requests in portal
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Update readonly group references to include employee designation
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Update menu item access to include admin group for enhanced permissions
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/enhanced_features_menus.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

feat: Enhance file management in container records with add/remove actions and file folder views
  records_management/controllers/portal.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add stock owner field and compute logic to RecordsFile and RecordsDocument models with updated views
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add stock owner field and grouping filter to records document views
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: Implement document upload wizard for bulk document uploads to file folders
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/records_container.py
  records_management/models/records_file.py
  records_management/report/records_category_reports.xml
  records_management/templates/portal_containers_list.xml
  records_management/views/document_upload_wizard_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_file_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/document_upload_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add container indexing wizard for unified indexing and file addition workflow
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/views/container_indexing_wizard_views.xml
  records_management/views/records_container_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Update container indexing wizard to unify indexing and file addition process
  records_management/views/container_indexing_wizard_views.xml
  records_management/views/records_container_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance container indexing wizard with file tree view and detailed file entry fields
  records_management/views/container_indexing_wizard_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Revamp container indexing workflow to create complete manifest with barcode tracking
  records_management/models/records_container.py
  records_management/views/container_indexing_wizard_views.xml
  records_management/views/records_container_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update deprecated <tree> tags to <list> for Odoo 18.0 compatibility
  records_management/views/container_indexing_wizard_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_file_views.xml
  records_management/views/res_partner_views.xml
Due: validate-xml-structure

fix: Resolve Container Indexing wizard deployment errors
  records_management/views/container_indexing_wizard_views.xml
Due: validate-xml-structure

feat: Improve Container Indexing Service workflow functionality
  records_management/views/container_indexing_wizard_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add temp_barcode field and improve file visibility in containers
  records_management/models/records_file.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing received_date field to records.file model
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Resolve 'Add Another File' button error and clarify workflow
  records_management/views/container_indexing_wizard_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve 'Add Individual Files' error and improve Container Indexing workflow
  records_management/models/records_container.py
  records_management/views/container_indexing_wizard_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Add comprehensive debugging to Container Indexing Service file creation
  records_management/security/ir.model.access.csv
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax

fix: Enhanced debugging for Container Indexing Service file persistence
  records_management/wizards/container_indexing_wizard.py
  test_container_indexing.py
Due: check-odoo-syntax

fix: Odoo 18.0 compatibility - product_type→detailed_type, container_id→container_ids, __getattr__ AttributeError handling
  records_management/models/recent_window_mixin.py
  records_management/models/records_container.py
Due: check-odoo-syntax

cleanup: Remove debug logging from Container Indexing Service after fixing transaction rollback issues
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax

feat: Implement barcode-driven container activation workflow
  records_management/models/records_container.py
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax

fix: Prevent state conflicts in barcode-driven activation
  records_management/models/records_container.py
Due: check-odoo-syntax

Revert "fix: Prevent state conflicts in barcode-driven activation"
  records_management/models/records_container.py
Due: check-odoo-syntax

Revert "feat: Implement barcode-driven container activation workflow"
  records_management/models/records_container.py
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax

fix: Odoo 18.0 product field compatibility - type → detailed_type
  records_management/models/records_file.py
  records_management/tests/test_records_management.py
Due: check-odoo-syntax

fix: Version-agnostic product field compatibility (Odoo 17.0 ↔ 18.0)
  records_management/models/records_container.py
  records_management/models/records_file.py
  records_management/tests/test_records_management.py
Due: check-odoo-syntax

fix: Enable course content loading by removing noupdate=1 from training courses
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_data.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: Correct security_level values in demo data from 'internal' to '1'
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Correct security_level values for records.location from '1' to 'internal'
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

feat: Add Grok 4 custom agent for Odoo 18.0 development
  .github/agents/grok4-odoo-expert.agent.md
Due: none

refactor: Rename and update custom agent to work with GitHub Copilot
  .github/agents/odoo-expert.agent.md
Due: none

feat: Add direct Grok-4 API integration for Odoo development
  .github/agents/README.md
  .github/agents/grok-helper.py
  .vscode/tasks.json
Due: check-odoo-syntax

feat: Add comprehensive eLearning courses for Records Management
  records_management/__manifest__.py
  records_management/data/training_courses_billing_flowchart.xml
  records_management/data/training_courses_billing_models.xml
  records_management/data/training_courses_complete_user_guide.xml
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
