Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix(views): remove or justify always-invisible fields to satisfy test_views
  records_management/views/account_move_line_views.xml
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/key_restriction_checker_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/payment_split_line_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_container_type_converter_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/service_item_views.xml
  records_management/views/shred_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/shredding_service_event_views.xml
Due: validate-xml-structure

fix:
  development-tools/comprehensive_validator.py
Due: none

fix:
  records_management/models/res_partner.py
  records_management/views/bin_unlock_service_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(recent-filters): introduce recency mixin and refactor document, custody, audit log time filters; modernize destruction decorations
  records_management/models/__init__.py
  records_management/models/naid_audit_log_recent.py
  records_management/models/naid_custody_recent.py
  records_management/models/recent_window_mixin.py
  records_management/models/records_document_recent.py
  records_management/views/naid_audit_log_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix(recency-filters): add explicit pseudo boolean search fields for audit, custody, document recency filters
  records_management/models/naid_audit_log_recent.py
  records_management/models/naid_custody_recent.py
  records_management/models/records_document_recent.py
Due: check-odoo-syntax

refactor(views): remove always-invisible fields to satisfy view validation guidelines
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/service_item_views.xml
  records_management_fsm/views/fsm_task_service_line_views.xml
Due: validate-xml-structure

fix(configurator): allow numeric 0 parameter values (retention days) and add tests
  records_management/models/rm_module_configurator.py
  records_management/tests/test_configurator_numeric_zero.py
Due: check-odoo-syntax

perf(assets): split heavy vis-network flowchart assets into optional bundle to reduce base build time
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(security): add system read ACL + guard compute to prevent AccessError in admin click tests
  records_management/models/res_partner.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat(recency): add virtual recency flags and search helpers for recently created and modified records
  records_management/models/res_partner.py
  records_management/models/rm_module_configurator.py
  records_management/models/signed_document_audit.py
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(records): add virtual filters for recency and retention due dates in stock lot model
  records_management/models/records_container.py
  records_management/models/stock_lot.py
  records_management/views/stock_lot_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(records): update filters for storage and due dates in records container view
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat(records): add virtual fields for search optimization and refactor date filters in views
  records_management/models/portal_request.py
  records_management/models/records_billing_config.py
  records_management/models/records_storage_department_user.py
  records_management/views/portal_request_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_storage_department_user_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(records): refactor date domains with virtual fields for search optimization across multiple models
  records_management/models/maintenance_equipment.py
  records_management/models/naid_compliance.py
  records_management/models/pickup_route_stop.py
  records_management/models/records_billing_config.py
  records_management/models/scan_retrieval_item.py
  records_management/views/maintenance_equipment_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/scan_retrieval_item_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(scan_retrieval_item): include 'api' import for improved functionality
  records_management/models/scan_retrieval_item.py
Due: check-odoo-syntax

feat(scan_retrieval_item): update scan date references to use scan_completion_time for improved accuracy
  records_management/models/scan_retrieval_item.py
Due: check-odoo-syntax

fix(views): remove invalid view modes from window actions
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix(priority): add missing priority fields for PriorityField widget
  records_management/models/bin_key_unlock_service.py
  records_management/models/maintenance_team.py
  records_management/models/paper_bale_load.py
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(fleet): restrict work vehicles menu to fleet groups
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix(fsm-fleet): restrict fleet menus to fleet groups in FSM module
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

feat(security): implement 4-tier hierarchical delegation system for portal access
  records_management/security/ir.model.access.csv
  records_management/security/records_management_security.xml
  records_management/views/barcode_menus.xml
  records_management/views/full_customization_name_view_form.xml
  records_management/views/full_customization_name_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/stock_move_sms_validation_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

fix:
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix:
  records_management/data/paper_shred_configurator_data.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix:
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Implement modern Owl components for portal following Odoo 18 guidelines
  records_management/__manifest__.py
  records_management/static/src/portal_components/portal_components.css
  records_management/static/src/portal_components/portal_document_center.js
  records_management/static/src/portal_components/portal_document_center.xml
  records_management/static/src/portal_components/portal_search.js
  records_management/static/src/portal_components/portal_search.xml
  records_management/templates/portal_centralized_docs.xml
  records_management/templates/portal_overview.xml
Due: check-odoo-syntax, validate-xml-structure

feat(portal): add Owl inventory component with progressive enhancement and remove inline script
  records_management/static/src/portal_components/portal_inventory.js
  records_management/static/src/portal_components/portal_inventory.xml
  records_management/templates/my_portal_inventory.xml
Due: validate-xml-structure

refactor(portal): extract centralized docs inline script to module and data-attr hooks
  records_management/static/src/portal_components/portal_document_center_enhancements.js
  records_management/templates/portal_centralized_docs.xml
Due: validate-xml-structure

feat: Refactor document retrieval and barcode management
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/data/ir_sequence_data.xml
  records_management/models/__init__.py
  records_management/models/records_container.py
  records_management/models/records_container_assign_barcode_wizard.py
  records_management/security/ir.model.access.csv
  records_management/static/src/js/portal/portal_barcode_management.js
  records_management/static/src/js/portal/portal_document_retrieval.js
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/templates/portal_barcode_template.xml
  records_management/templates/portal_document_retrieval.xml
  records_management/views/records_container_assign_barcode_wizard_views.xml
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: modernize force_reassign field by replacing deprecated attrs with direct invisible expression
  records_management/views/records_container_assign_barcode_wizard_views.xml
Due: validate-xml-structure

feat: Add container barcode report and update NAID certificate report for improved translation and attachment handling
  records_management/__manifest__.py
  records_management/report/container_barcode_reports.xml
  records_management/report/naid_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct HTML entity encoding for barcode image URLs in container barcode report
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

feat: Implement portal barcode generation feature with JSON endpoint and UI integration
  records_management/README.md
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/portal_barcode.py
  records_management/data/portal_barcode_sequence.xml
  records_management/models/__init__.py
  records_management/models/portal_barcode.py
  records_management/security/ir.model.access.csv
  records_management/static/src/js/portal/portal_barcode_management.js
  records_management/templates/portal_barcode_row.xml
  records_management/tests/test_portal_barcode_generation.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Implement bulk document upload functionality with temporary barcode generation
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/portal_document_bulk_upload.py
  records_management/data/ir_sequence_data.xml
  records_management/models/records_document.py
  records_management/report/destruction_certificate_report.xml
  records_management/report/document_temp_barcode_reports.xml
  records_management/security/ir.model.access.csv
  records_management/static/src/js/portal_organization_diagram.js
  records_management/templates/portal_document_bulk_upload.xml
  records_management/templates/portal_organization_diagram.xml
  records_management/tests/test_document_temp_barcode_sequence.py
  records_management/tests/test_portal_bulk_upload_flow.py
  records_management/views/records_document_bulk_upload_views.xml
  records_management/views/records_document_bulk_upload_wizard_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/records_document_bulk_upload_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Implement local-first strategy for visualization assets with CDN fallback
  records_management/README.md
  records_management/__manifest__.py
  records_management/static/src/js/visualization_dynamic_loader.js
  records_management/static/src/lib/vis/README.md
  records_management/static/src/lib/vis/vis-network.css
  records_management/static/src/lib/vis/vis-network.js
Due: check-odoo-syntax

fix: Change tree view to list view for bulk upload lines in XML
  records_management/views/records_document_bulk_upload_wizard_views.xml
Due: validate-xml-structure

fix(view): clear groups on inherited partner form extension (Odoo 18 constraint)
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

docs(handbook): add auto-generated handbook split files and update generator script
  .gitignore
  RECORDS_MANAGEMENT_HANDBOOK.md
  handbook/README.md
  handbook/access-rights-matrix.md
  handbook/custom-fields-reference.md
  handbook/menu-structure.md
  handbook/module-statistics.md
  handbook/views-and-templates-mapping.md
  scripts/update_handbook.py
  update_summary.json
Due: check-odoo-syntax

chore(gitignore): allow handbook and monolithic handbook tracking
  .gitignore
Due: none

docs(handbook): add menuitem parsing + printable edition and multi-module stats
  handbook/access-rights-matrix.md
  handbook/custom-fields-reference.md
  handbook/menu-structure.md
  handbook/module-statistics.md
  handbook/printable/records_management_handbook_printable.md
  handbook/views-and-templates-mapping.md
  scripts/update_handbook.py
  update_summary.json
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
