Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: add HTML sanitization for report page structure to ensure compliance with rendering tests
  records_management/models/__init__.py
  records_management/models/ir_actions_report_sanitizer.py
Due: check-odoo-syntax, check-model-imports

fix(report): align _render_qweb_html override with Odoo 18 signature and add compatibility wrapper
  records_management/models/ir_actions_report_sanitizer.py
Due: check-odoo-syntax

fix(web,meta): normalize meta tags (viewport/theme-color/color-scheme) and add lang attribute with safe idempotent injection
  records_management/views/accessibility_layout_overrides.xml
Due: validate-xml-structure

feat(ui): dynamic theme-color via configurator (rm_theme_color) with fallback to Odoo default
  records_management/models/rm_module_configurator.py
  records_management/views/accessibility_layout_overrides.xml
  records_management/views/website_accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

fix(ui): make xpath removals tolerant by eliminating brittle replace expressions
  records_management/views/accessibility_layout_overrides.xml
Due: validate-xml-structure

fix(manifest): add license field to manifest for clarity
  addons/multi_branch/__manifest__.py
Due: check-odoo-syntax

fix(reports): preserve bytes contract in sanitizer to prevent PDF base64 encoding error
  records_management/models/ir_actions_report_sanitizer.py
Due: check-odoo-syntax

fix:
  records_management/models/rm_module_configurator.py
  records_management/models/shredding_service.py
  records_management/tests/test_records_management.py
  records_management/views/accessibility_layout_overrides.xml
  records_management/views/records_management_menus.xml
  records_management/views/res_partner_key_restriction_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

fix:
  records_management/__manifest__.py
  records_management/views/accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/__manifest__.py
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix: resolve test failures - NAID audit log test compatibility and report template field correction
  records_management/models/naid_audit_log.py
  records_management/report/destruction_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: remove problematic accessibility override files unrelated to records management
  records_management/__manifest__.py
  records_management/static/src/scss/accessibility_fallbacks.scss
  records_management/views/accessibility_layout_overrides.xml
  records_management/views/website_accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: remove duplicate and empty menu files
  records_management/views/records_management_base_menus.xml
  records_management/views/records_management_menu_roots.xml
Due: validate-xml-structure

fix: replace deprecated 'tree' view type with 'list' for Odoo 18 compatibility
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_version_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/res_partner_key_restriction_views.xml
  records_management/views/survey_feedback_theme_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: validate-xml-structure

fix: update view IDs and names from 'tree' to 'list' for consistency across records management views
  records_management/views/container_retrieval_views.xml
  records_management/views/custody_transfer_event_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/inventory_item_location_transfer_views.xml
  records_management/views/maintenance_team_views.xml
  records_management/views/naid_operator_certification_views.xml
  records_management/views/paper_bale_line_views.xml
  records_management/views/payment_split_views.xml
  records_management/views/pickup_location_views.xml
  records_management/views/records_center_location_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_digital_scan_views.xml
  records_management/views/records_management_bale_views.xml
  records_management/views/records_retention_policy_version_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/res_partner_key_restriction_views.xml
  records_management/views/scan_digital_asset_views.xml
  records_management/views/shredding_inventory_batch_views.xml
  records_management/views/signed_document_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management_fsm/static/src/xml/fleet_fsm_dashboard.xml
Due: validate-xml-structure

fix: Complete tree→list view migration for Odoo 18 compatibility
  records_management/static/src/js/customer_portal_diagram_view.js
  records_management/static/src/js/intelligent_search.js
  records_management/static/src/js/system_flowchart_view.js
  records_management/views/container_retrieval_views.xml
  records_management/views/customer_inventory_report_line_views.xml
  records_management/views/customer_negotiated_rate_views.xml
  records_management/views/full_customization_name_views.xml
  records_management/views/inventory_item_retrieval_views.xml
  records_management/views/invoice_generation_log_views.xml
  records_management/views/load_views.xml
  records_management/views/media_type_views.xml
  records_management/views/naid_certificate_item_views.xml
  records_management/views/naid_custody_event_views.xml
  records_management/views/naid_performance_history_views.xml
  records_management/views/portal_feedback_resolution_views.xml
  records_management/views/records_category_views.xml
  records_management/views/records_container_log_views.xml
  records_management/views/records_deletion_request_enhanced_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/records_security_audit_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/retrieval_item_base_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/temp_inventory_reject_wizard_views.xml
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

chore: Move legacy_rm files to archive directory
  legacy_rm/container_retrieval_work_order.py
  legacy_rm/file_retrieval_work_order.py
  legacy_rm/file_retrieval_work_order_item.py
  legacy_rm/scan_retrieval_work_order.py
  legacy_rm/work_order_coordinator_actions.py
Due: check-odoo-syntax

fix: Bump version to 18.0.0.3 and update asset rendering methods for compatibility
  records_management/__manifest__.py
  records_management/static/src/js/intelligent_search.js
  records_management/static/src/js/system_flowchart_view.js
Due: check-odoo-syntax

fix: Correct manifest syntax by removing extraneous braces
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Resolve web.WebClient template error and QWeb field issues
  records_management/models/maintenance_equipment.py
  records_management/models/shredding_service.py
  records_management/views/full_customization_name_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing signature fields to shredding.service model
  records_management/models/shredding_service.py
Due: check-odoo-syntax

fix: Allow access log deletion during tests and module initialization
  records_management/models/records_access_log.py
Due: check-odoo-syntax

fix: Resolve JavaScript module loading errors and missing model fields
  records_management/static/src/js/customer_portal_diagram.js
  records_management/static/src/js/intelligent_search.js
  records_management/static/src/js/system_flowchart_view.js
Due: none

feat: Add signature fields to shredding service form view
  records_management/views/shredding_service_views.xml
Due: validate-xml-structure

docs: Document test environment DOM complexity limitation
  TEST_ENVIRONMENT_NOTES.md
Due: none

docs: Update validation notes in test environment documentation
  TEST_ENVIRONMENT_NOTES.md
Due: none

fix: Correct tree view definition for res.partner.key.restriction
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

fix: Resolve multiple test environment errors
  records_management/models/records_access_log.py
  records_management/models/shredding_service.py
  records_management/report/destruction_certificate_reports.xml
  records_management/static/src/js/intelligent_search.js
  records_management/static/tests/tours/records_management_basic_tour.js
  records_management/views/shredding_service_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update .gitignore to refine backup and documentation exclusions
  .gitignore
Due: none

fix: Change tree view to list view for res.partner.key.restriction and update view mode
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

feat: Add destruction certificate report model and enhance unlink method for test context
  records_management/models/__init__.py
  records_management/models/destruction_certificate_report.py
  records_management/models/records_access_log.py
  records_management/models/res_partner.py
  records_management/report/destruction_certificate_reports.xml
  records_management/static/src/js/intelligent_search.js
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix(destruction.certificate): resolve PostgreSQL table name length limits
  records_management/models/destruction_certificate_report.py
  records_management/report/destruction_certificate_report.xml
  records_management/report/destruction_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Improve formatting and structure of destruction certificate report template
  records_management/report/destruction_certificate_report.xml
Due: validate-xml-structure

fix(destruction.certificate): resolve template ID consistency and remove duplicates
  records_management/report/destruction_certificate_report.xml
  records_management/report/destruction_certificate_reports.xml
  records_management/static/src/js/intelligent_search.js
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure
