Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: Add calendar views for container destruction and storage schedules
  records_management/__manifest__.py
  records_management/views/records_container_calendar_view.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add team member management to customer portal
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_add_team_member.xml
  records_management/templates/portal_organization_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Improve data file configuration and update policies
  records_management/data/base_rates_container_access_data.xml
  records_management/data/container_types_base_rates.xml
  records_management/data/document_retrieval_rates_data.xml
  records_management/data/load_data.xml
  records_management/data/naid_compliance_data.xml
  records_management/data/paper_products_data.xml
  records_management/data/portal_configurator_data.xml
Due: validate-xml-structure

feat: Implement Grok 2025 security best practices
  records_management/models/res_partner.py
  records_management/security/ir.model.access.csv
  records_management/security/portal_certificate_rules.xml
  records_management/security/portal_container_rules.xml
  records_management/security/portal_document_rules.xml
  records_management/security/portal_financial_rules.xml
  records_management/security/portal_temp_inventory_rules.xml
  records_management/security/records_management_security.xml
Due: check-odoo-syntax, validate-xml-structure

perf: Implement Grok wizard performance optimizations
  records_management/wizards/batch_barcode_operations.py
  records_management/wizards/key_restriction_checker.py
  records_management/wizards/rate_change_confirmation_wizard.py
  records_management/wizards/records_container_type_converter.py
  records_management/wizards/records_document_bulk_upload_wizard.py
Due: check-odoo-syntax

perf: Optimize portal diagram performance and documentation
  records_management/static/src/js/portal/customer_portal_diagram.js
  records_management/static/src/js/portal/customer_portal_diagram_view.js
  records_management/static/src/js/portal/portal_organization_diagram.js
Due: none

feat: Enhance barcode management logic with performance optimizations and improved error handling
  records_management/static/src/js/portal/portal_barcode_management.js
Due: none

fix: Clean up whitespace and improve code readability in portal user import and customer portal diagram view
  records_management/static/src/js/portal/customer_portal_diagram_view.js
  records_management/static/src/js/portal/portal_user_import.js
Due: none

feat: Add mobile responsive tables, AJAX pagination, and export to portal inventory
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_inventory_search.js
Due: none

fix: Clean up whitespace and improve code readability in portal inventory highlights
  records_management/static/src/js/portal/portal_inventory_highlights.js
Due: none

refactor: Apply cleaner jQuery patterns to inventory highlights
  records_management/static/src/js/portal/portal_inventory_highlights.js
Due: none

fix: Remove unnecessary whitespace in checkbox state handling
  records_management/static/src/js/portal/portal_inventory_highlights.js
Due: none

fix: Remove unused 'subscription' module from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Comment out optional enterprise modules in manifest for clarity
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Remove legacy storage location menu item for cleaner navigation
  records_management/models/records_location.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace remaining double-quoted "records.location" references
  records_management/controllers/portal.py
  records_management/models/account_move_line.py
  records_management/models/barcode_product.py
  records_management/models/chain_of_custody.py
  records_management/models/container_access_activity.py
  records_management/models/destruction_certificate.py
  records_management/models/mobile_dashboard_widget.py
  records_management/models/paper_model_bale.py
  records_management/models/records_management_dashboard.py
  records_management/models/shred_model_bin.py
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

fix: Update all XML references from records.location to stock.location
  records_management/data/core_records_data.xml
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/model_records_demo.xml
  records_management/report/location_reports.xml
  records_management/report/records_location_reports.xml
  records_management/security/intelligent_search_security.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Add missing newline at end of records_location_reports.xml
  records_management/report/records_location_reports.xml
Due: validate-xml-structure

fix: Remove duplicate stock.location security entries from CSV
  records_management/security/ir.model.access.csv
Due: none

fix: Change website menu parent from mega menu to portal menu
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

fix: Remove invalid portal menu parent reference
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

fix: Remove mega menu parent from portal hub menu
  records_management/data/website_pages.xml
Due: validate-xml-structure

fix: Update test files to use stock.location instead of records.location
  records_management/tests/test_records_location.py
  records_management/tests/test_records_management.py
Due: check-odoo-syntax

fix: Remove invalid code field from stock.location demo records
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Remove invalid description field from stock.location demo records
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Remove all invalid fields from stock.location demo records
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

feat: Add barcode and comment fields to preserve location data
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Update location views to use correct stock.location fields
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Resolve duplicate SECURE-VAULT barcode in demo data
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Remove chatter fields and add container_ids to stock.location
  records_management/models/stock_location.py
  records_management/views/records_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct field name in destruction calendar view
  records_management/views/records_container_calendar_view.xml
Due: validate-xml-structure

fix: Move calendar menuitem to records_management_menus.xml to fix loading order
  records_management/views/records_container_calendar_view.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Only validate state transition when state actually changes
  records_management/models/records_document_type.py
Due: check-odoo-syntax

fix: Correct field names in portal_container_detail template
  records_management/templates/portal_container_detail.xml
Due: validate-xml-structure

fix: Align portal container fields with backend model
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_inventory_detail.xml
Due: validate-xml-structure

feat: Align portal views with backend - complete field transparency
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_shredding_bins.xml
Due: validate-xml-structure

fix: Remove extra whitespace in shredding bin detail header
  records_management/templates/portal_shredding_bins.xml
Due: validate-xml-structure

feat: Portal create forms now match backend field completeness
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_document_create.xml
  records_management/templates/portal_file_create.xml
Due: validate-xml-structure

fix: Replace invalid t-field with t-esc on td elements in portal templates
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_missing_templates.xml
  records_management/templates/portal_template_aliases.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
