Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Move records_management_menus.xml to line 73 (right after root menus) so all views can reference parent menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move records_management_menus.xml back to line 341 (AFTER all view files that define actions)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move 16 parent menus to root_menus.xml to load EARLY - allows child menus to reference them immediately
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

fix: Restructure manifest.py to match proven working layout
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move menu_chain_custody to root_menus.xml (load early for custody_transfer_event_views.xml child reference)
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

docs: Organize info files with datetime suffix, archive outdated files, establish development policy
  DELETE_STUDIO_CUSTOMIZATIONS_GUIDE.md
  DEVELOPMENT_WORKFLOW.md
  PORTAL_SERVICE_ORDERING_SUMMARY.md
  PRIORITY_1_TESTING_CHECKLIST.md
  PRIORITY_1_UI_UPDATES.md
  URGENT_MODULE_UPGRADE_FIX.md
  organize_infodocs.sh
Due: none

fix: Extract action_chain_of_custody to early-loading file to fix menu reference error
  .deployment-trigger
  records_management/__manifest__.py
  records_management/views/chain_of_custody_actions.xml
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Split action definitions to avoid circular dependencies
  records_management/views/chain_of_custody_actions.xml
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Revert to proven loading pattern - consolidate actions with views, menus load last
  records_management/__manifest__.py
  records_management/views/chain_of_custody_actions.xml
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Move wizard views with menuitems to load after root menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Reorganize manifest to fix cascading menuitem loading order errors
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Update loading order of views and menus to ensure proper hierarchy and references
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove duplicate view imports and correct menu parent references
  records_management/__manifest__.py
  records_management/views/records_management_root_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Move views with menuitems to load AFTER root_menus are defined
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Move all remaining view files with menuitems to load after root_menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct XPath in res_users view inheritance to use more robust selector
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Add all 6 missing advanced_billing view files to manifest with correct ordering
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add all 7 missing barcode view files to manifest with correct ordering
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct XML structure in barcode_product_views.xml
  records_management/views/barcode_product_views.xml
Due: validate-xml-structure

fix: Simplify action_barcode_product name field by removing unnecessary HTML tags
  records_management/views/barcode_product_views.xml
Due: validate-xml-structure

feat: Integrate jingtrang XML validation into comprehensive validator
  development-tools/comprehensive_validator.py
Due: none

fix: PHASE 12 - Fix barcode_product view field reference and accessibility
  records_management/views/barcode_product_views.xml
Due: validate-xml-structure

fix: Update comprehensive validator to enhance XML validation and error reporting
  development-tools/comprehensive_validator.py
Due: none

fix: PHASE 12 - Fix barcode_product view field reference (suitable_document_types)
  development-tools/comprehensive_validator.py
  records_management/views/barcode_product_views.xml
Due: validate-xml-structure

feat: Add validation infrastructure (xml_schema_validator, field_reference_validator)
  development-tools/field_reference_validator.py
  development-tools/xml_schema_validator.py
Due: none

docs: Phase 12 complete - Validation tooling infrastructure summary
  PHASE_12_VALIDATION_TOOLING_SUMMARY.md
Due: none

fix: PHASE 13 - Add missing records_tag_views.xml to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - Add missing records_tag_category_views.xml to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - Add missing product_template_views.xml to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - Add missing rm_module_configurator_views.xml to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - BULK ADD all 155 missing view files to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - Move rm_module_configurator_views.xml to correct loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: PHASE 13 - Reorganize view file loading order and add missing views to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Reorganize manifest for correct loading order + remove non-existent account views
  records_management/__manifest__.py
  records_management/views/account_move_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove ALL non-existent account views from account_move_line_views.xml
  records_management/views/account_move_line_views.xml
Due: validate-xml-structure

fix: Fix bin_key_history_views.xml to use actual model fields
  records_management/views/bin_key_history_views.xml
Due: validate-xml-structure

fix: Fix description_views.xml to reference correct model name
  records_management/views/description_views.xml
Due: validate-xml-structure

feat: Add DEBUG_MODE support to post-build hook for enhanced logging
  hooks/post-build
Due: none

fix: Fix font awesome icon accessibility + description field name
  records_management/views/bin_key_history_views.xml
  records_management/views/description_views.xml
Due: validate-xml-structure

fix: Change //tree to //list in document_retrieval_team_views.xml
  records_management/views/document_retrieval_team_views.xml
Due: validate-xml-structure
