Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Change address to full_address in document_retrieval_team_views.xml
  records_management/views/document_retrieval_team_views.xml
Due: validate-xml-structure

fix: Remove non-existent full_address field from service_locations
  records_management/views/document_retrieval_team_views.xml
Due: validate-xml-structure

fix: Remove non-existent group_by xpath from hr_employee_views
  records_management/views/hr_employee_views.xml
Due: validate-xml-structure

fix: Remove non-existent kanban view from hr_employee_views
  records_management/views/hr_employee_views.xml
Due: validate-xml-structure

fix: Remove non-existent calendar view from hr_employee_views
  records_management/views/hr_employee_views.xml
Due: validate-xml-structure

fix: Change state to status in key_inventory_views
  records_management/views/key_inventory_views.xml
Due: validate-xml-structure

fix: Remove icon element from action name field in load_views.xml
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Replace non-existent fields in load_views.xml kanban
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Replace non-existent button actions and fields in load_views.xml
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Remove non-existent action_view_bales stat button from load form
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Replace bale_ids with paper_bale_ids and remove non-existent form pages
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Replace non-existent fields in nested paper.bale list/kanban views
  records_management/views/load_views.xml
Due: validate-xml-structure

fix: Disable non-existent maintenance equipment view inheritances
  records_management/views/maintenance_equipment_views.xml
Due: validate-xml-structure

fix: Implement proper maintenance.team view inheritances with actual fields
  records_management/views/maintenance_team_views.xml
Due: validate-xml-structure

fix: Implement proper maintenance.request and maintenance.equipment view inheritances
  records_management/views/maintenance_equipment_views.xml
  records_management/views/maintenance_request_views.xml
Due: validate-xml-structure

fix: Correct parent view references in all maintenance view inheritances
  records_management/views/maintenance_equipment_views.xml
  records_management/views/maintenance_request_views.xml
  records_management/views/maintenance_team_views.xml
Due: validate-xml-structure

fix: Update maintenance equipment and request views to remove inheritance references and improve structure
  records_management/views/maintenance_equipment_views.xml
  records_management/views/maintenance_request_views.xml
Due: validate-xml-structure

fix: Replace deprecated 'tree' view type with 'list' in maintenance views
  records_management/views/maintenance_equipment_views.xml
  records_management/views/maintenance_request_views.xml
Due: validate-xml-structure

fix: Update kanban views to Odoo 18.0+ standards
  records_management/views/maintenance_equipment_views.xml
  records_management/views/maintenance_request_views.xml
Due: validate-xml-structure

fix: Fix XML tag mismatch in maintenance_equipment_views.xml
  records_management/views/maintenance_equipment_views.xml
Due: validate-xml-structure

fix: Remove non-existent 'category' field from maintenance_equipment views
  records_management/views/maintenance_equipment_views.xml
Due: validate-xml-structure

fix: Replace non-existent 'state' field in nested shredding_service_ids list
  records_management/views/maintenance_equipment_views.xml
Due: validate-xml-structure

fix: Convert maintenance_equipment graph and pivot views from inheritance to standalone
  records_management/views/maintenance_equipment_views.xml
Due: validate-xml-structure

fix: Disable all maintenance.team view inheritances with non-existent parents
  records_management/views/maintenance_team_views.xml
Due: validate-xml-structure

fix: Correct mobile.photo view field references to match actual model definition
  records_management/views/mobile_photo_views.xml
Due: validate-xml-structure

docs: Add field validation checklist and Error 34 fix summary
  ERROR_34_FIX_SUMMARY.md
  FIELD_VALIDATION_CHECKLIST.md
Due: none

docs: Phase 1 progress summary - Error 34 fixed + validation established
  PHASE_1_PROGRESS_SUMMARY.md
Due: none

docs: Final session summary - Error 34 fixed, Phase 1 ready
  SESSION_SUMMARY_ERROR34_FIXED.md
Due: none

docs: Visual status report with comprehensive metrics
  VISUAL_STATUS_REPORT.md
Due: none

docs: Session index and navigation guide
  README_SESSION_COMPLETE.md
Due: none

docs: Add session completion checklist - All objectives achieved
  SESSION_COMPLETION_CHECKLIST.md
Due: none

fix: Correct naid_operator_certification views - replace 'state' with 'status' field
  records_management/views/naid_operator_certification_views.xml
Due: validate-xml-structure

fix: Remove placeholder name_views.xml template - no corresponding 'name' model exists
  records_management/views/name_views.xml
Due: validate-xml-structure

docs: Add ERROR 36 summary - Placeholder template removal
  ERROR_36_PLACEHOLDER_REMOVAL.md
Due: none

docs: Add comprehensive Errors 35-36 session summary
  ERRORS_35_36_SESSION_SUMMARY.md
Due: none

fix: Remove name_views.xml reference from manifest - file already deleted
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove trailing whitespace from session summary document
  ERRORS_35_36_SESSION_SUMMARY.md
Due: none

fix: Correct action reference in partner form button (action_partner_negotiated_rates → action_customer_negotiated_rate)
  records_management/views/partner_rate_management_extension.xml
Due: validate-xml-structure

fix: Remove button with non-existent field (negotiated_rates_count) from partner form
  records_management/views/partner_rate_management_extension.xml
Due: validate-xml-structure

fix: Add negotiated_rates_count computed field to res.partner and restore button
  records_management/models/res_partner.py
  records_management/views/partner_rate_management_extension.xml
Due: check-odoo-syntax, validate-xml-structure
