Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

docs(handbook): add Quick Start Guide and embed in printable edition
  RECORDS_MANAGEMENT_HANDBOOK.md
  handbook/printable/records_management_handbook_printable.md
  handbook/quick-start-guide.md
  scripts/update_handbook.py
Due: check-odoo-syntax

fix(xml): correct inheritance references for bulk upload and temp barcode views
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

fix(views): correct bulk upload inherit targets and add <data> wrapper for wizard views
  records_management/views/records_document_bulk_upload_wizard_views.xml
Due: validate-xml-structure

fix(views): add module prefix to temp barcode report action references
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

fix(manifest): ensure report actions load before views that reference them
  records_management/__manifest__.py
Due: check-odoo-syntax

temp: disable temp barcode buttons to test module loading
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

fix(reports): convert temp barcode report to proper ir.actions.report structure
  records_management/report/document_temp_barcode_reports.xml
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

fix(views): remove temp barcode buttons entirely to isolate bulk upload functionality
  records_management/__manifest__.py
  records_management/views/records_document_bulk_upload_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Restore temp barcode functionality with fixed XPath expressions
  records_management/__manifest__.py
  records_management/views/records_document_bulk_upload_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace missing report files with correct existing file names
  records_management/__manifest__.py
Due: check-odoo-syntax

bump: version 18.0.0.4 - trigger deployment after fixing missing report files
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Escape ampersand in XML - resolve XMLSyntaxError in portal_document_bulk_upload.xml
  records_management/templates/portal_document_bulk_upload.xml
Due: validate-xml-structure

fix: Correct portal template structure - resolve portal.layout external ID error
  records_management/__manifest__.py
  records_management/templates/portal_document_bulk_upload.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve XML syntax errors in template files
  records_management/templates/portal_barcode_template.xml
  records_management/templates/portal_barcode_template_broken.xml
Due: validate-xml-structure

fix: Critical fix for temp barcode action reference and XML structure
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

feat: Bump version to 18.0.0.6 for critical external ID fixes
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Update pagination links to escape ampersands and improve XML structure for barcode templates
  records_management/static/src/portal_components/portal_inventory.xml
  records_management/templates/portal_barcode_template_broken.xml
  records_management/views/records_document_bulk_upload_views.xml
Due: validate-xml-structure

fix: Correct XML encoding and structure for portal barcode sequence; remove duplicate cron job definition
  records_management/data/portal_barcode_sequence.xml
  records_management/data/records_retrieval_order_cron.xml
Due: validate-xml-structure

fix: Correct version formatting in __manifest__.py for consistency
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(report): replace invalid t-translate directives with t-translation on NAID certificate report
  records_management/__manifest__.py
  records_management/report/naid_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Bump version to 18.0.0.8 and add portal work order record rules; refactor mobile bin key wizard method
  records_management/__manifest__.py
  records_management/controllers/work_order_portal.py
  records_management/security/ir.model.access.csv
  records_management/security/work_order_portal_rules.xml
  records_management/wizards/mobile_bin_key_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Bump version to 18.0.0.9 and add expanded portal record rules for containers, documents, financials, and certificates; introduce internal portal configurator group
  records_management/__manifest__.py
  records_management/security/portal_certificate_rules.xml
  records_management/security/portal_container_rules.xml
  records_management/security/portal_document_rules.xml
  records_management/security/portal_financial_rules.xml
  records_management/security/records_management_security.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add post-build hook for fast targeted upgrade of records_management modules; improve upgrade efficiency and safety
  hooks/post-build
  records_management/security/portal_financial_rules.xml
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix(security): Correct domain_force logic in destruction certificate portal rule for improved access control
  records_management/security/portal_certificate_rules.xml
Due: validate-xml-structure

feat: Implement management dashboard feature with metrics and reporting capabilities
  records_management/models/__init__.py
  records_management/models/records_management_dashboard.py
  records_management/models/rm_module_configurator.py
  records_management/report/__init__.py
  records_management/report/additional_reports.xml
  records_management/report/container_barcode_reports.xml
  records_management/report/management_dashboard_report.py
  records_management/security/ir.model.access.csv
  records_management/views/records_container_views.xml
  records_management/views/records_management_dashboard_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Correct HTML entity for ampersand in Reporting & Dashboards page title
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

refactor: Update view modes to 'list,form' in PaperBale model actions; enhance report template with additional fields and summaries
  records_management/models/paper_bale.py
  records_management/report/paper_bale_reports.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add access rights for records_container_admin to enhance security and management capabilities
  records_management/security/ir.model.access.csv
Due: none

feat: Add certificate issued field and computation to ShreddingService model; update access rights for internal users
  records_management/models/shredding_service.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Restore legacy tree view and update view mode for records container movement to ensure compatibility with automated tests
  records_management/views/records_container_movement_views.xml
Due: validate-xml-structure

fix: Update records container movement view to use list instead of tree for compatibility with Odoo 18
  records_management/views/records_container_movement_views.xml
Due: validate-xml-structure

feat: Add portal visibility control for work orders and update configurator for global toggle
  records_management/controllers/work_order_portal.py
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/records_retrieval_order.py
  records_management/models/rm_module_configurator.py
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement Records Profile selector for user role abstraction in res.users model
  records_management/README.md
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/res_users.py
  records_management/views/res_users_records_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

Add comprehensive documentation for Interactive System Flowchart features and usage
  handbook/RECORDS_MANAGEMENT_HANDBOOK.md
  handbook/documentation/SYSTEM_FLOWCHART_GUIDE.md
Due: none

fix: Optimize user group alignment logic and clean up XML view for partner visibility
  records_management/models/res_users.py
  records_management/views/res_users_records_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Optimize records statistics computation and adjust system flowchart parameters for compatibility
  records_management/models/res_partner.py
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct indentation in _apply_records_user_profile method for clarity
  records_management/models/res_users.py
Due: check-odoo-syntax

fix: Remove tracking from records_user_profile field to prevent warnings in non-mail.thread editions
  records_management/models/res_users.py
  records_management/views/res_users_records_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement singleton accessors in RmModuleConfigurator for core configuration management
  records_management/models/rm_module_configurator.py
  records_management/post_init_hooks.py
Due: check-odoo-syntax

fix: Correct XML structure in work_order_portal_rules.xml for proper data encapsulation
  records_management/security/work_order_portal_rules.xml
Due: validate-xml-structure
