Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Flatten portal menu structure to 2 levels (v18.0.1.0.19)
  records_management/__manifest__.py
  records_management/data/website_portal_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove groups_id from website.menu (v18.0.1.0.20)
  records_management/__manifest__.py
  records_management/data/website_portal_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add customer service calendar feature (v18.0.1.0.21)
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/portal_calendar.py
  records_management/data/website_pages.xml
  records_management/data/website_portal_menus.xml
  records_management/templates/portal_calendar_view.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Clean up whitespace in portal_calendar.py for better readability
  records_management/controllers/portal_calendar.py
Due: check-odoo-syntax

fix(portal): Organization diagram not rendering - fixed JavaScript initialization
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/static/src/js/portal/portal_organization_diagram.js
Due: check-odoo-syntax

fix(portal+backend): Fix ALL portal widgets and backend diagram views - same issue as organization chart
  records_management/__manifest__.py
  records_management/static/src/js/backend_only/customer_portal_diagram_view.js
  records_management/static/src/js/portal/portal_barcode_management.js
  records_management/static/src/js/portal/portal_document_retrieval.js
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_quote_generator.js
  records_management/static/src/js/portal/portal_signature.js
  records_management/static/src/js/portal/portal_user_import.js
Due: check-odoo-syntax

refactor: Clean up whitespace in portal_barcode_management.js for better readability
  records_management/static/src/js/portal/portal_barcode_management.js
Due: none

fix(controller): Advanced search template ID mismatch causing 500 error
  records_management/__manifest__.py
  records_management/controllers/advanced_search.py
Due: check-odoo-syntax

fix: Remove duplicate portal cards and barcode security violations (v18.0.1.0.25)
  records_management/templates/portal_my_menu.xml
Due: validate-xml-structure

chore: Bump version to v18.0.1.0.25
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct template ID for bulk upload (portal_document_bulk_upload)
  records_management/controllers/portal_document_bulk_upload.py
Due: check-odoo-syntax

fix: Load departments for bulk upload dropdown
  records_management/controllers/portal_document_bulk_upload.py
Due: check-odoo-syntax

fix: Portal template-controller field audit and fixes (v18.0.1.0.26)
  records_management/controllers/portal.py
  records_management/templates/portal_containers.xml
Due: check-odoo-syntax, validate-xml-structure

docs: Complete portal field audit summary and documentation
  PORTAL_AUDIT_COMPLETE_SUMMARY.md
  PORTAL_FIELD_AUDIT_FIXES.md
Due: none

fix: Convert field_label_customizer to vanilla JS (no publicWidget dependency)
  PORTAL_AUDIT_COMPLETE_SUMMARY.md
  PORTAL_FIELD_AUDIT_FIXES.md
  records_management/static/src/js/field_label_customizer.js
Due: none

fix: Temporarily disable publicWidget-dependent portal JS files
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Convert portal_barcode_management.js to vanilla JavaScript
  records_management/__manifest__.py
  records_management/static/src/js/portal/portal_barcode_management.js
Due: check-odoo-syntax

fix: Convert visualization_dynamic_loader.js to vanilla JavaScript
  records_management/__manifest__.py
  records_management/static/src/js/visualization_dynamic_loader.js
Due: check-odoo-syntax

fix: Convert portal_signature.js and portal_inventory_highlights.js to vanilla JavaScript
  records_management/__manifest__.py
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_inventory_highlights_OLD.js
  records_management/static/src/js/portal/portal_signature.js
  records_management/static/src/js/portal/portal_signature_OLD.js
Due: check-odoo-syntax

fix: Convert portal_organization_diagram.js to vanilla JavaScript - org chart now works
  records_management/static/src/js/portal/portal_organization_diagram_OLD.js
Due: none

fix: Disable 8 broken portal JS files to eliminate module loading errors
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Refactor diagram data preparation to use a dictionary for template access
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Organization chart double-encoding issue - remove json.dumps() in controller
  records_management/controllers/portal.py
Due: check-odoo-syntax

docs: Organization chart fix analysis + JavaScript conversion roadmap
  JAVASCRIPT_CONVERSION_QUEUE.md
  ORGANIZATION_CHART_FIX_SUMMARY.md
Due: none

docs: Module reinstall recovery guide - view not found after reinstall
  MODULE_REINSTALL_FIX.md
Due: none

fix: Organization chart template - use dict.get() for Python dictionary access
  records_management/templates/portal_organization_diagram.xml
Due: validate-xml-structure

docs: Complete portal errors guide - org chart fix + calendar/file search solutions
  PORTAL_ERRORS_COMPLETE_FIX.md
Due: none

fix: Change 'tree' to 'list' in Records Location action (Odoo 18 compatibility)
  records_management/views/records_location_views.xml
Due: validate-xml-structure

feat: Enable all newly installed Odoo modules in manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Remove unnecessary module dependencies from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add missing action_type field to NAID audit log in barcode return command
  records_management/models/barcode_standard_commands.py
Due: check-odoo-syntax

fix: Add missing action_type and name fields to all barcode audit logs (validate, discard, scan)
  records_management/models/barcode_standard_commands.py
Due: check-odoo-syntax

feat: Add NAID audit logging for file folder create, update, and delete operations
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Correct indentation in barcode_standard_commands.py
  records_management/models/barcode_standard_commands.py
Due: check-odoo-syntax

fix: Replace all 'tree' view_mode with 'list' for Odoo 18 compatibility in action_view_containers and action_view_documents methods
  records_management/models/account_move_line.py
  records_management/models/customer_staging_location.py
  records_management/models/product_container_type.py
  records_management/models/records_container_type.py
  records_management/models/records_inventory_dashboard.py
  records_management/models/records_location.py
  records_management/models/res_partner.py
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Change product type from 'product' to 'storable' for Odoo 18 compatibility
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
  records_management/models/records_inventory_dashboard.py
Due: check-odoo-syntax

fix: Container count now includes ALL containers (draft/temp/activated) not just quants
  records_management/models/records_container.py
  records_management/models/stock_location.py
Due: check-odoo-syntax

refactor: Simplify container/file states to PENDING/IN/OUT, link Archive to Destroyed
  records_management/models/records_container.py
  records_management/models/records_file.py
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Update portal controllers and templates for new state workflow
  records_management/controllers/portal.py
  records_management/templates/advanced_search_templates.xml
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_barcode_row.xml
  records_management/templates/portal_containers.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_inventory_detail.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_locations.xml
  records_management/templates/portal_missing_templates.xml
  records_management/templates/portal_staging_location_forms.xml
  records_management/templates/portal_work_order_templates.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor container and file state management; introduce 'perm_out' and 'destroyed' states
  records_management/demo/advanced_billing_demo.xml
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/enhanced_ownership_demo.xml
  records_management/demo/intelligent_search_demo_data.xml
  records_management/demo/model_records_demo.xml
  records_management/demo/naid_demo_certificates.xml
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
  records_management/models/records_file.py
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
