Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Correct model ID references for shredding hard drive and display name access records
  records_management/security/ir.model.access_security.xml
Due: validate-xml-structure

Refactor code structure for improved readability and maintainability
  development-tools/add_all_missing_security_rules.py
  development-tools/add_comprehensive_security_rules.py
  development-tools/add_missing_access_rules.py
  development-tools/add_missing_access_rules_final.py
  development-tools/add_missing_security_rules.py
  development-tools/add_remaining_security_rules.py
  development-tools/add_specific_missing_access_rules.py
  development-tools/clean_security_csv.py
  development-tools/fix_security_csv_model_references.py
  records_management/security/ir.model.access.csv
  records_management/security/ir.model.access_security.xml
Due: validate-xml-structure

fix: Update string formatting for improved readability in various controllers and wizards
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/controllers/work_order_portal.py
  records_management/wizards/fsm_reschedule_wizard.py
  records_management/wizards/records_permanent_flag_wizard.py
  records_management/wizards/shredding_bin_sequence_reset_wizard.py
  records_management/wizards/visitor_pos_wizard.py
Due: check-odoo-syntax

fix: Update linting configurations to suppress Odoo-specific false positives
  .pylintrc
  .vscode/settings.json
  pyproject.toml
Due: none

fix: Correct string formatting for logging messages in RecordsPermanentFlagWizard
  records_management/wizards/records_permanent_flag_wizard.py
Due: check-odoo-syntax

feat: Add development tools for model extraction and validation
  clean_security_csv.py
  development-tools/add_missing_access_rules.py
  development-tools/add_missing_security_rules_final.py
  development-tools/add_remaining_security_rules.py
  development-tools/add_valid_security_rules.py
  development-tools/clean_model_extraction.py
  development-tools/clean_security_csv.py
  development-tools/compare_models.py
  development-tools/debug_csv_extraction.py
  development-tools/debug_model_extraction.py
  development-tools/debug_python_extraction.py
  development-tools/find_missing_models.py
  development-tools/fix_access_csv.py
  development-tools/fix_csv_format.py
  development-tools/fix_csv_format_v2.py
  development-tools/fix_model_references.py
  development-tools/generate_missing_security_rules.py
  development-tools/remove_duplicates.py
  fix_model_references.py
  records_management/report/__init__.py
  records_management/report/description_report.xml
  records_management/report/document_search_attempt_report.xml
  records_management/report/naid_compliance_policy_report.xml
  records_management/report/report_records_management_report_customer_inventory_report.xml
  records_management/reports/__init__.py
Due: check-odoo-syntax, validate-xml-structure

Implement code changes to enhance functionality and improve performance
  records_management/__manifest__.py
  records_management/data/x_model_external_ids_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unused import of reports in module initialization
  records_management/__init__.py
Due: check-odoo-syntax

Implement feature X to enhance user experience and optimize performance
  records_management/data/x_model_external_ids_data.xml
Due: validate-xml-structure

fix: Correct indentation for model_id fields in access records
  records_management/data/x_model_external_ids_data.xml
Due: validate-xml-structure

Implement feature X to enhance user experience and fix bug Y in module Z
  records_management/data/x_model_external_ids_data.xml
Due: validate-xml-structure

fix: Correct model_id field format in ir.model.access records
  records_management/data/x_model_external_ids_data.xml
Due: validate-xml-structure

Refactor advanced billing line views and actions
  records_management/__manifest__.py
  records_management/data/x_model_external_ids_data.xml
  records_management/views/advanced_billing_line_actions_menus.xml
  records_management/views/advanced_billing_line_form_views.xml
  records_management/views/advanced_billing_line_search_views.xml
  records_management/views/advanced_billing_line_tree_views.xml
  records_management/views/advanced_billing_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

fix: Update __manifest__.py to include missing view files and reorder entries
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add script to analyze and reorder Odoo manifest loading order for actions and menus
  fix_manifest_order.py
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Update report file paths in __manifest__.py and add missing report entries
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Implement report manager to dynamically add reports to manifest
  development-tools/report_manager.py
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Remove unused report files and views to streamline the manifest
  development-tools/fix_manifest_order.py
  docs/STYLE_GUIDE.rst
  records_management/__manifest__.py
  records_management/report/prod_ext_reports.xml
  records_management/report/proj_task_ext_reports.xml
  records_management/views/prod_ext_views.xml
  records_management/views/proj_task_ext_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update report templates to use external layout for consistency
  records_management/report/account_move_line_reports.xml
  records_management/report/additional_reports.xml
Due: validate-xml-structure

refactor: Remove deprecated reports and update report model references
  records_management/__manifest__.py
  records_management/data/core_records_data.xml
  records_management/report/advanced_billing_reports.xml
  records_management/report/container_content_report.xml
  records_management/report/custom_box_volume_calculator_reports.xml
  records_management/report/records_billing_contact_role_report.xml
  records_management/wizards/__init__.py
  records_management/wizards/custom_box_volume_calculator.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Update bale label report model references for consistency
  records_management/report/bale_label_reports.xml
Due: validate-xml-structure

refactor: Update model references in report XML files for consistency
  development-tools/report_auditor.py
  extract_models.py
  fix_model_references.py
  records_management/report/records_config_setting_reports.xml
  records_management/report/records_container_type_converter_wizard_reports.xml
  records_management/report/records_management_bale_reports.xml
  records_management/report/survey_user_input_enhanced_reports.xml
  records_management/report/survey_user_input_reports.xml
  records_management/report/work_order_bin_assignment_wizard_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  development-tools/report_auditor.py
  development-tools/report_manager.py
  extract_models.py
  fix_manifest_order.py
  fix_model_references.py
  records_management/__manifest__.py
  records_management/data/core_records_data.xml
  records_management/models/prod_ext.py
  records_management/models/prod_ext_field.py
  records_management/models/proj_task_ext.py
  records_management/report/account_move_line_reports.xml
  records_management/report/additional_reports.xml
  records_management/report/advanced_billing_reports.xml
  records_management/report/bale_label_reports.xml
  records_management/report/container_content_report.xml
  records_management/report/records_config_setting_reports.xml
  records_management/report/records_container_type_converter_wizard_reports.xml
  records_management/report/records_management_bale_reports.xml
  records_management/report/survey_user_input_enhanced_reports.xml
  records_management/report/survey_user_input_reports.xml
  records_management/report/work_order_bin_assignment_wizard_reports.xml
  records_management/wizards/__init__.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Update model references in reports for consistency
  records_management/report/bin_key_management_reports.xml
  records_management/report/records_container_type_converter_wizard_reports.xml
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

refactor: Update string formatting to use new style for improved readability
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/controllers/work_order_portal.py
  records_management/models/account_move_line.py
  records_management/models/file_retrieval_work_order_item.py
  records_management/models/maintenance_equipment.py
  records_management/models/naid_certificate.py
  records_management/wizards/fsm_reschedule_wizard.py
  records_management/wizards/shredding_bin_sequence_reset_wizard.py
  records_management/wizards/visitor_pos_wizard.py
Due: check-odoo-syntax

refactor: Rename method to better reflect its purpose in preparing search inputs for work orders
  records_management/controllers/work_order_portal.py
Due: check-odoo-syntax

feat: Implement custom box volume calculator with UI views and pricing analysis
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/custom_box_volume_calculator.py
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix:
  check_corrupted_comments.py
Due: check-odoo-syntax

refactor: Simplify comment checking logic by removing redundant checks and focusing on tag counts
  check_corrupted_comments.py
Due: check-odoo-syntax

fix:
  records_management/views/records_container_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add comprehensive loading order analyzer for Records Management module
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/loading_order_analyzer.py
Due: none

feat: Add action definition for Storage Containers with detailed help text
  records_management/views/records_container_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Add NAID compliance reports and update inventory reports action in menu
  records_management/__manifest__.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Move Records Container action definition to menus for proper loading order
  records_management/views/records_container_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Update menu structure and add new service item analytics features
  records_management/__manifest__.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Reintroduce check for corrupted XML comments and update manifest loading order
  development-tools/check_corrupted_comments.py
  development-tools/extract_models.py
  development-tools/fix_manifest_order.py
  development-tools/fix_model_references.py
  extract_models.py
  fix_manifest_order.py
  fix_model_references.py
  records_management/__manifest__.py
Due: check-odoo-syntax
