Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: add action functionality fixer and advanced duplicate finder scripts
  development-tools/mass-fix-tools/action_functionality_fixer.py
  development-tools/validation-tools/advanced_duplicate_finder.py
Due: none

refactor: improve xml_issue_certificate method to handle various ID formats and enhance normalization
  records_management/demo/naid_demo_certificates.xml
  records_management/models/naid_certificate.py
Due: check-odoo-syntax, validate-xml-structure

chore(repo): organize root scripts/docs/tests into development-tools and admin-tools; keep Odoo.sh runtime clean
  admin-tools/scripts/fix_xml_formatting_overrides.py
  admin-tools/testing-workspace/temp_template.xml
  admin-tools/testing-workspace/test_retention_minimal.xml
  admin-tools/testing-workspace/test_rulers.py
  admin-tools/testing-workspace/test_rulers.xml
  development-tools/analysis-reports/categorize_missing_models.py
  development-tools/analysis-reports/find_missing_models.py
  development-tools/mass-fix-tools/fix_xml_declarations.py
  development-tools/mass-fix-tools/format_critical_xml.py
  development-tools/mass-fix-tools/format_xml_files.py
  development-tools/validation-tools/comprehensive_action_validator.py
  development-tools/validation-tools/comprehensive_xml_validator.py
  development-tools/validation-tools/enhanced_action_validator.py
  development-tools/validation-tools/enhanced_model_validator.py
  development-tools/validation-tools/find_duplicate_access_rules.py
  development-tools/validation-tools/fix_access_duplicates.py
  development-tools/validation-tools/quick_xml_validator.py
  development-tools/validation-tools/validate_odoo_xml_schema.py
  development-tools/validation-tools/validate_retention_policy_fields.py
  development-tools/validation-tools/validate_specific_files.py
  development-tools/validation-tools/xml_validator.py
Due: check-odoo-syntax

chore(version): bump manifests and JS headers to 18.0.0.1
  addons/multi_branch/__manifest__.py
  records_management/__manifest__.py
  records_management/static/src/js/customer_portal_diagram.js
  records_management/static/src/js/system_flowchart_view.js
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

chore: disable multi_branch stub (installable=False) to avoid discovery
  addons/multi_branch/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

fix(web): prevent white screen by scoping portal widgets to frontend and removing public.widget from backend bundle
  records_management/__manifest__.py
  records_management/static/src/js/intelligent_search.js
  records_management/static/src/js/portal_search.js
Due: check-odoo-syntax

fix:
  records_management/static/src/js/trailer_visualization.js
Due: none

fix(accessibility): enhance HTML lang attribute handling and add cross-browser fallbacks
  records_management/__manifest__.py
  records_management/static/src/scss/accessibility_fallbacks.scss
  records_management/views/accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/static/src/js/map_widget.js
  records_management/static/src/js/paper_load_progress_field.js
  records_management/static/src/xml/map_widget.xml
Due: validate-xml-structure

fix:
  records_management/views/accessibility_layout_overrides.xml
Due: validate-xml-structure

fix:
  records_management/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/views/customer_feedback_views.xml
Due: validate-xml-structure

fix:
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

refactor: improve Odoo compliance and enhance report layout for NAID certificates
  records_management/controllers/portal.py
  records_management/models/naid_certificate.py
  records_management/models/records_container.py
  records_management/models/shredding_service.py
  records_management/report/naid_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: sanitize report fields and improve error handling for legacy data types
  records_management/controllers/portal.py
  records_management/models/naid_certificate.py
  records_management/models/photo.py
  records_management/models/shredding_certificate.py
Due: check-odoo-syntax

fix: correct indentation in duplicate_photo method for proper functionality
  records_management/models/photo.py
Due: check-odoo-syntax

fix: correct string formatting in various models for proper message display
  records_management/models/container_access_activity.py
  records_management/models/full_customization_name.py
  records_management/models/naid_certificate.py
  records_management/models/photo.py
  records_management/models/records_access_log.py
  records_management/models/shredding_certificate.py
Due: check-odoo-syntax

refactor: replace deprecated name_get with computed display_name across multiple models for Odoo 18 compliance
  records_management/models/account_move_line.py
  records_management/models/base_rates.py
  records_management/models/chain_of_custody_event.py
  records_management/models/chain_of_custody_item.py
  records_management/models/container_access_activity.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/full_customization_name.py
  records_management/models/mobile_photo.py
  records_management/models/naid_custody.py
  records_management/models/photo.py
  records_management/models/pickup_location.py
  records_management/models/records_access_log.py
  records_management/models/shredding_certificate.py
  records_management/models/work_order_retrieval.py
Due: check-odoo-syntax

refactor: unify display name handling across models for Odoo 18 compliance and improve robustness against unsaved records
  records_management/__manifest__.py
  records_management/models/chain_of_custody_event.py
  records_management/models/chain_of_custody_item.py
  records_management/models/pickup_location.py
Due: check-odoo-syntax

fix: improve report field sanitation to handle legacy data types and ensure proper string formatting
  records_management/demo/naid_demo_certificates.xml
  records_management/models/naid_certificate.py
Due: check-odoo-syntax, validate-xml-structure

feat: add sanitation utility for NAID reports to handle legacy data corruption
  records_management/demo/naid_demo_certificates.xml
  records_management/models/naid_certificate.py
Due: check-odoo-syntax, validate-xml-structure

fix(naid.certificate): add xml_sanitize_naid_reports and demo pre-issue sanitation call
  .vscode/settings.json
Due: none

feat: add Fleet & FSM Integration Dashboard with initial metrics display
  records_management_fsm/__manifest__.py
  records_management_fsm/static/src/js/fleet_fsm_dashboard.js
  records_management_fsm/static/src/xml/fleet_fsm_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure

feat(fsm.dashboard,naid): add Fleet/FSM dashboard client action placeholder and global NAID report sanitation in post-init
  records_management/post_init_hooks.py
Due: check-odoo-syntax

feat: add accessibility layout compliance overrides for backend and website templates
  records_management/__manifest__.py
  records_management/models/naid_certificate.py
  records_management/views/accessibility_layout_overrides.xml
  records_management/views/website_accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

feat: improve accessibility by inserting modern meta tags idempotently in layout
  records_management/views/accessibility_layout_overrides.xml
Due: validate-xml-structure

feat: enhance accessibility by adding dynamic lang attribute and color-scheme meta tag in layout overrides
  records_management/views/accessibility_layout_overrides.xml
  records_management/views/website_accessibility_layout_overrides.xml
Due: validate-xml-structure

feat: enhance display name computation for pickup locations with stable fallbacks
  records_management/models/pickup_location.py
Due: check-odoo-syntax

feat: add basic navigation tour and integration tests for Records Management module
  records_management/__manifest__.py
  records_management/static/tests/tours/records_management_basic_tour.js
  records_management/tests/__init__.py
  records_management/tests/test_records_management_basic_tour.py
Due: check-odoo-syntax

feat: re-enable legacy AMD modules and add POS integration assets for customer history
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: re-enable previously disabled ESM modules in manifest; enhance report templates with improved structure and error handling; add report page wrapper audit script for diagnosing layout issues
  development-tools/analysis-reports/report_page_wrapper_audit.py
  records_management/__manifest__.py
  records_management/report/service_item_templates.xml
  records_management/report/visitor_reports.xml
Due: check-odoo-syntax, validate-xml-structure

feat: temporarily disable advanced ESM modules and corresponding templates in manifest due to dependency resolution issues in test environment
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: refactor account move line report template to preserve standard page structure and enhance data display
  records_management/report/account_move_line_reports.xml
Due: validate-xml-structure

feat: correct report rendering method signatures across multiple models to avoid list-as-report_ref bugs
  records_management/controllers/portal.py
  records_management/controllers/work_order_portal.py
  records_management/models/destruction_certificate.py
  records_management/models/naid_certificate.py
  records_management/models/project_task.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
