Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: reintroduce custody_event_ids for audit trail and duration computations
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

feat: reintroduce custody_event_ids and update document/container fields to many2many
  records_management/models/chain_of_custody.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: correct indentation in action methods for state management
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

feat: simplify chain of custody views and enhance action buttons for better usability
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: add guarded call for updating custody chain status to prevent errors during event creation
  records_management/models/chain_of_custody_event.py
Due: check-odoo-syntax

feat: simplify custody_event_ids field by removing inline tree/form to resolve parse validation issues
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: remove context from custody_event_ids field to prevent access rights inconsistency warning
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

feat: enhance destruction certificate views by adding new fields and improving button visibility
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

feat: enhance fleet vehicle views with records management integration and improved usability
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

feat: add event count button and update notification action in destruction certificate views
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

feat: add event count field and action for destruction events in certificate views
  records_management/models/destruction_certificate.py
  records_management/views/destruction_event_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: ensure destruction event action loads before certificate referencing it
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: add notification action for destruction certificates with chatter integration
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax

fix: update default formatter in VSCode settings and add CodeQL database update configuration
  .vscode/settings.json
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax

feat: update fleet vehicle views to use groups attribute for access control
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/file_retrieveal_work_order_item_py_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Resolve XML schema validation error in fleet_vehicle_enhanced_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Correct groups definition in inherited views for fleet vehicles
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Remove inline tree view causing field validation error
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Resolve context and accessibility issues in fleet vehicle view
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Simplify button visibility conditions in fleet vehicle views
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Enhance fleet vehicle views with improved tree, kanban, and search functionalities
  records_management/views/fleet_vehicle_enhanced_views.xml
Due: validate-xml-structure

fix: Replace fleet vehicle enhanced views with records work vehicle views for improved integration and functionality
  records_management/__manifest__.py
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/records_work_vehicle_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Simplify button visibility conditions and remove unused FSM tasks button in work vehicle views
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix: Update records work vehicle list view for improved usability and functionality
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix: Update records work vehicle list view fields for improved data representation and usability
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix: Rename kanban template to card and update menu parent for work vehicles
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix: Correct XML formatting for location group views by adding missing field tags
  records_management/views/location_group_views.xml
Due: validate-xml-structure

fix: Update maintenance, product, and project task views with placeholders and integration notes
  records_management/views/maintenance_request_views.xml
  records_management/views/product_product_views_fixed.xml
  records_management/views/project_task_views.xml
Due: validate-xml-structure

fix: Enhance NAID certificate views with additional fields and improved layout
  records_management/views/naid_certificate_views.xml
Due: validate-xml-structure

fix: Remove unused FSM Task button from NAID certificate form view
  records_management/views/naid_certificate_views.xml
Due: validate-xml-structure

fix: Update NAID certificate views to replace 'name' field with 'certificate_number' and remove unused fields
  records_management/views/naid_certificate_views.xml
Due: validate-xml-structure

fix: Revamp paper bale recycling views with updated fields, improved layout, and enhanced search functionality
  records_management/views/paper_bale_recycling_views.xml
Due: validate-xml-structure

fix: Remove non-existent paper.bale.source.document views and reports
  records_management/__manifest__.py
  records_management/report/paper_bale_source_document_reports.xml
  records_management/views/paper_bale_source_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Completely rewrite paper_bale_views.xml for Odoo 18.0 compliance
  records_management/views/paper_bale_views.xml
Due: validate-xml-structure

fix: Replace invalid quality_grade field with inspection_type in paper_bale_views.xml
  records_management/views/paper_bale_views.xml
Due: validate-xml-structure

fix: Completely rewrite paper_load_shipment_views.xml with correct model fields
  records_management/views/paper_load_shipment_views.xml
Due: validate-xml-structure

fix: critical menu reference errors - replace non-existent 'records_management_main_menu' with 'menu_records_management_root'
  records_management/views/paper_load_shipment_views.xml
  records_management/views/records_retrieval_work_order_menus.xml
Due: validate-xml-structure

fix: remove non-existent fields from paper_model_bale_views.xml
  records_management/views/paper_model_bale_views.xml
Due: validate-xml-structure

fix: Apply mass field validation fixes - 16 total fixes applied
  development-tools/apply_mass_fixes.py
  development-tools/mass_view_field_validator.py
  records_management/views/bin_key_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_inventory_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix: Revert incorrect field name changes in chain_of_custody_views.xml
  development-tools/apply_mass_fixes.py
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
