Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Update processing log resolution wizard views for improved field references and labeling
  records_management/views/processing_log_resolution_wizard_views.xml
Due: validate-xml-structure

fix: Update wizard views for improved field organization and labeling
  records_management/views/rate_change_confirmation_wizard_views.xml
  records_management/views/records_permanent_flag_wizard_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/temp_inventory_reject_wizard_views.xml
  records_management/views/wizard_template_views.xml
Due: validate-xml-structure

fix: Update visibility attributes for advance notice days and approval group in rate change confirmation wizard
  records_management/views/rate_change_confirmation_wizard_views.xml
Due: validate-xml-structure

fix: Update button visibility attributes in seasonal pricing and shredding bin barcode wizards
  records_management/views/barcode_seasonal_pricing_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
Due: validate-xml-structure

fix:
  records_management/views/records_location_report_wizard_views_new.xml
Due: validate-xml-structure

fix: Remove records location report wizard views
  records_management/views/records_location_report_wizard_views_new.xml
Due: validate-xml-structure

fix: Resolved ParseErrors - Added FontAwesome title attributes and corrected permanent flag wizard method
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/records_permanent_flag_wizard_views.xml
Due: validate-xml-structure

fix: Add missing import for records_permanent_flag_wizard.py
  records_management/wizards/__init__.py
  records_management/wizards/permanent_flag_wizard.py
Due: check-odoo-syntax

fix: Replace action_type with operation_type in permanent_flag_wizard_views.xml
  records_management/views/permanent_flag_wizard_views.xml
Due: validate-xml-structure

fix: Add access rights for user invitation wizard in ir.model.access.csv
  records_management/security/ir.model.access.csv
Due: none

fix: Update views for Key Restriction Checker and User Invitation Wizard to enhance UI and correct structure
  records_management/views/key_restriction_checker_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
Due: validate-xml-structure

fix: Add title attributes to buttons for improved accessibility and user experience across various views
  records_management/views/chain_of_custody_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

fix: Add title attributes to buttons for improved accessibility in various views
  records_management/views/bin_key_history_views.xml
  records_management/views/bin_key_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/load_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Rename view IDs from list to tree for consistency across various XML files
  records_management/views/advanced_billing_line_actions_menus.xml
  records_management/views/advanced_billing_line_tree_views.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/views/customer_negotiated_rate_views.xml
  records_management/views/destruction_event_views.xml
  records_management/views/file_retrieval_item_views.xml
  records_management/views/file_retrieveal_work_order_item_py_views.xml
  records_management/views/maintenance_request_views.xml
  records_management/views/maintenance_team_views.xml
  records_management/views/mobile_dashboard_widget_views.xml
  records_management/views/mobile_photo_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/product_product_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_container_transfer_line_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_service_type_views.xml
  records_management/views/records_survey_user_input_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
  records_management/views/report_window_actions_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/shredding_service_event_views.xml
Due: validate-xml-structure

fix: Resolve records_user_invitation_wizard ParseError
  records_management/views/records_user_invitation_wizard_views.xml
Due: validate-xml-structure

fix: Refactor XML structure for Work Order Coordinator views to enhance readability and maintainability
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

fix: Enhance model field collection to account for inheritance in OdooValidator
  development-tools/syntax-tools/find_syntax_errors.py
Due: none

fix: Enhance OdooValidator to handle module path as string and check for duplicate model definitions
  development-tools/syntax-tools/find_syntax_errors.py
Due: none

fix: Refactor method names in MobileBinKeyWizard and RecordsDocumentType for consistency with Odoo naming conventions
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/mobile_bin_key_wizard.py
  records_management/models/records_document_type.py
  records_management/wizards/user_management_wizards.py
Due: check-odoo-syntax

fix: Remove unused SystemFlowchartWizard model and enhance configuration validation in flowchart wizard
  records_management/models/__init__.py
  records_management/models/records_document_type.py
  records_management/models/system_flowchart_wizard.py
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax, check-model-imports

fix: Rename private methods to action methods for consistency in NAIDTrainingSchedule, RouteOptimizer, and SignedDocument models
  records_management/models/naid_training_schedule.py
  records_management/models/route_optimizer.py
  records_management/models/signed_document.py
Due: check-odoo-syntax

fix: Rename internal methods to action methods for consistency across RecordsBillingConfig, RmModuleConfigurator, ShreddingCertificate, and WorkflowVisualizationManager models
  records_management/models/records_billing_config.py
  records_management/models/rm_module_configurator.py
  records_management/models/shredding_certificate.py
  records_management/models/workflow_visualization_manager.py
Due: check-odoo-syntax

fix: Update model names and descriptions for consistency across various wizards and reports
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/records_document_type.py
  records_management/report/submodel_report.py
  records_management/security/ir.model.access.csv
  records_management/wizards/bin_issue_report_wizard.py
  records_management/wizards/mobile_bin_key_wizard.py
  records_management/wizards/records_permanent_flag_wizard.py
  records_management/wizards/user_management_wizards.py
Due: check-odoo-syntax

fix: Rename internal methods to action methods for consistency in MobileBinKeyWizard
  records_management/wizards/mobile_bin_key_wizard.py
Due: check-odoo-syntax

fix: Critical syntax error in shredding_certificate.py - restored corrupted import and action methods
  records_management/models/shredding_certificate.py
Due: check-odoo-syntax

fix: Resolve duplicate model conflicts using unique naming strategy
  records_management/models/__init__.py
  records_management/models/records_location_report_wizard.py
  records_management/security/ir.model.access.csv
  records_management/wizards/key_restriction_checker.py
  records_management/wizards/records_location_report_wizard.py
Due: check-odoo-syntax, check-model-imports

fix: Update views and security rules for renamed key.restriction.checker.wizard model - prevents database reload issues
  records_management/security/ir.model.access.csv
  records_management/views/bin_unlock_service_views.xml
  records_management/views/key_restriction_checker_views.xml
  records_management/views/missing_model_views.xml
Due: validate-xml-structure

fix: Correct key.restriction.checker wizard name and add missing security rules for both models
  records_management/security/ir.model.access.csv
  records_management/wizards/key_restriction_checker.py
Due: check-odoo-syntax

fix: Remove invalid inverse_name parameter from Many2many field
  records_management/models/records_bulk_user_import.py
Due: check-odoo-syntax

fix: Clean security access rules to prevent database loading errors
  records_management/security/ir.model.access.csv
Due: none

fix: Correct model reference in permanent flag wizard view
  records_management/views/permanent_flag_wizard_views.xml
Due: validate-xml-structure

fix: Correct location report wizard view field references
  records_management/views/records_location_report_wizard_views.xml
Due: validate-xml-structure

refactor: Remove unused wizards and clean up imports in records management
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/__init__.py
  records_management/models/location_report_wizard.py
  records_management/models/mobile_bin_key_wizard.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/wizards/__init__.py
  records_management/wizards/hard_drive_scan_wizard.py
  records_management/wizards/location_report_wizard.py
Due: check-odoo-syntax, check-model-imports

fix: Correct model references in records_location_report_wizard_views.xml
  records_management/views/records_location_report_wizard_views.xml
Due: validate-xml-structure

fix: Update location report wizard views to include relevant fields and improve layout
  records_management/views/location_report_wizard_views.xml
Due: validate-xml-structure

fix: Add partner_id field to Mobile Bin Key Wizard for customer selection
  records_management/wizards/mobile_bin_key_wizard.py
Due: check-odoo-syntax

fix: Update view IDs and names for consistency in key restriction checker and related models
  records_management/views/key_restriction_checker_views.xml
  records_management/views/missing_model_views.xml
Due: validate-xml-structure

Refactor XML views for improved clarity and functionality
  records_management/models/bin_unlock_service.py
  records_management/models/key_restriction_checker.py
  records_management/models/naid_training_schedule.py
  records_management/models/records_bulk_user_import.py
  records_management/models/records_document_type.py
  records_management/models/workflow_visualization_manager.py
  records_management/views/paper_bale_inspection_wizard_views.xml
  records_management/views/paper_bale_weigh_wizard_views.xml
  records_management/views/pickup_schedule_wizard_views.xml
  records_management/views/processing_log_resolution_wizard_views.xml
  records_management/views/rate_change_confirmation_wizard_views.xml
  records_management/views/records_document_flag_permanent_wizard_views.xml
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/records_permanent_flag_wizard_views.xml
  records_management/views/records_user_invitation_wizard_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/temp_inventory_reject_wizard_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_dashboard_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove access rights for key restriction checker from model access CSV
  records_management/security/ir.model.access.csv
Due: none

fix: Update model references and views for Paper Bale and Load management
  records_management/models/paper_bale.py
  records_management/models/paper_bale_load.py
  records_management/report/load_reports.xml
  records_management/security/ir.model.access.csv
  records_management/views/load_views.xml
  records_management/views/paper_bale_views.xml
Due: check-odoo-syntax, validate-xml-structure
