Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Remove redundant currency_id from mixin - inheriting models provide it
  records_management/models/work_order_invoice_mixin.py
Due: check-odoo-syntax

fix: Consolidate currency_id in mixin, remove duplicates from work orders
  records_management/models/work_order_invoice_mixin.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

fix: Only set invoiced state if model supports it
  records_management/models/work_order_invoice_mixin.py
Due: check-odoo-syntax

feat: Add monthly storage billing system with setup fees and minimum charge
  records_management/__manifest__.py
  records_management/models/account_move.py
  records_management/models/billing_period.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/views/billing_period_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/monthly_storage_billing_wizard.py
  records_management/wizards/monthly_storage_billing_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add customer billing mode toggle (immediate vs consolidated)
  records_management/__manifest__.py
  records_management/models/res_partner.py
  records_management/models/work_order_invoice_mixin.py
  records_management/views/partner_billing_mode_views.xml
  records_management/wizards/monthly_storage_billing_wizard.py
  records_management/wizards/monthly_storage_billing_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary blank lines in monthly storage billing wizard
  records_management/wizards/monthly_storage_billing_wizard.py
Due: check-odoo-syntax

fix: Set is_records_customer default to True
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Update billing mode view to use existing consolidated_billing field
  records_management/views/partner_billing_mode_views.xml
Due: validate-xml-structure

fix: Fix Base Service Rates form view to show all rate fields
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

refactor: Clean up and consolidate rate view files
  records_management/views/base_rate_views.xml
  records_management/views/base_rates_views.xml
Due: validate-xml-structure

fix: Remove non-existent action_view_containers_at_rate button
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix: Add missing action_rate_analysis_wizard referenced by menu
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix: Rename base_rates view IDs to avoid conflict with old base.rate views
  records_management/views/base_rates_views.xml
Due: validate-xml-structure

fix: Move wizard views AFTER root_menus to fix menu_records_billing dependency
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Smart department selection in pickup request portal
  records_management/controllers/main.py
  records_management/templates/portal_pickup_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Add reusable smart department helper for all portal forms
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_file_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Apply smart department selection to ALL portal forms
  records_management/controllers/portal.py
  records_management/templates/portal_add_team_member.xml
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_containers.xml
  records_management/templates/portal_document_create.xml
  records_management/templates/portal_document_detail.xml
  records_management/templates/portal_staging_location_forms.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Reset Billing Wizard for work orders
  records_management/__manifest__.py
  records_management/models/work_order_invoice_mixin.py
  records_management/security/ir.model.access.csv
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/reset_billing_wizard.py
  records_management/wizards/reset_billing_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Move signature_name field before signature widget to fix OWL error
  records_management/views/barcode_label_wizards_views.xml
  records_management/wizards/reset_billing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Sync file folder states when container state changes
  records_management/models/records_container.py
Due: check-odoo-syntax

refactor: Remove digital scan model and integrate attachment functionality into document model
  records_management/__manifest__.py
  records_management/data/missing_sequences_data.xml
  records_management/models/__init__.py
  records_management/models/records_digital_scan.py
  records_management/models/records_document.py
  records_management/report/records_digital_scan_reports.xml
  records_management/security/ir.model.access.csv
  records_management/views/records_digital_scan_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove remaining scan_count references in records.document model and views
  records_management/models/records_document.py
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove remaining records_digital_scan security entry
  records_management/security/ir.model.access.csv
Due: none

fix: Add File Folders menu pointing to records.file model
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Add missing field declarations in document kanban view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: Add temporary barcode fields and related views for container management
  records_management/models/container_content.py
  records_management/models/customer_inventory_line.py
  records_management/models/records_container_line.py
  records_management/views/customer_inventory_line_views.xml
  records_management/views/records_container_content_views.xml
  records_management/views/records_container_line_views.xml
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update view modes to 'list,form' and improve barcode/Qr code report actions
  records_management/models/records_file.py
  records_management/report/file_barcode_reports.xml
  records_management/wizards/document_upload_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Enhance barcode report layout and improve field definitions in RecordsDocument model
  records_management/models/records_document.py
  records_management/report/file_barcode_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Map event types to action types for NAID audit log entries
  records_management/models/records_document.py
Due: check-odoo-syntax

fix: Update view modes for attachments and add bulk upload action in RecordsDocument
  records_management/models/records_document.py
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove Field Labels button showing all system attachments
  records_management/models/records_document.py
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Centralized Photo & Attachment Hub with kanban, calendar, and enhanced search
  records_management/models/photo.py
  records_management/views/photo_menus.xml
  records_management/views/photo_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Service Job Photos Hub - distinct from customer inventory documents
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/photo.py
  records_management/templates/portal_service_photos.xml
  records_management/views/photo_menus.xml
  records_management/views/photo_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Service Attachment Hub with portal integration
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/__init__.py
  records_management/models/service_attachment.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_service_photos.xml
  records_management/views/photo_menus.xml
  records_management/views/photo_views.xml
  records_management/views/service_attachment_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove datas column from SQL view - use related field instead
  records_management/models/service_attachment.py
Due: check-odoo-syntax

fix: Remove res_name from SQL view - use related field instead
  records_management/models/service_attachment.py
Due: check-odoo-syntax

fix: Change view_mode='tree' to 'list' in FSM module for Odoo 18
  records_management_fsm/views/fleet_fsm_integration_menus.xml
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

feat: Add FSM integration to all work order types
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/work_order_retrieval.py
  records_management_fsm/models/fsm_task.py
Due: check-odoo-syntax

feat: Add FSM worksheet integration for all work order types
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management_fsm/__init__.py
  records_management_fsm/__manifest__.py
  records_management_fsm/models/fsm_task.py
  records_management_fsm/security/ir.model.access.csv
  records_management_fsm/views/fsm_task_views.xml
  records_management_fsm/views/fsm_worksheet_wizard_views.xml
  records_management_fsm/wizards/__init__.py
  records_management_fsm/wizards/fsm_worksheet_wizard.py
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
