Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Update icons and labels in kanban and tree views for better clarity
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Add titles to icons for improved accessibility in kanban and tree views
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Improve accessibility and clarity by adding titles to icons and updating menu actions
  records_management/__manifest__.py
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Add QR code generation for containers and update menu item parent references
  records_management/models/records_container.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor view IDs and names across multiple XML files for consistency and clarity
  records_management/models/records_document.py
  records_management/views/customer_negotiated_rate_views.xml
  records_management/views/file_retrieval_item_views.xml
  records_management/views/file_retrieval_work_order_item_views.xml
  records_management/views/file_retrieveal_work_order_item_py_views.xml
  records_management/views/maintenance_request_views.xml
  records_management/views/maintenance_team_views.xml
  records_management/views/mobile_photo_views.xml
  records_management/views/product_product_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_category_views.xml
  records_management/views/records_request_line_views.xml
  records_management/views/records_request_views.xml
  records_management/views/records_series_views.xml
  records_management/views/records_service_type_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unused external dependencies and implement native barcode and QR code generation
  records_management/__manifest__.py
  records_management/models/records_document.py
Due: check-odoo-syntax

fix: correct XML entity references in list and filter definitions for records view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: enhance Odoo module validation and improve XML template syntax
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/templates/portal_barcode_template.xml
  records_management/templates/portal_invoice_template.xml
  records_management/templates/portal_mobile_inventory_template.xml
  records_management/templates/portal_mobile_settings.xml
  records_management/templates/portal_mobile_template.xml
  records_management/templates/portal_organization_diagram.xml
  records_management/templates/portal_work_order_templates.xml
  records_management/templates/portal_workflow_template.xml
Due: validate-xml-structure

Refactor date filters to use context_today directly
  records_management/controllers/field_label_portal.py
  records_management/data/model_xml_ids.xml
  records_management/data/naid_compliance_data.xml
  records_management/models/records_document.py
  records_management/static/src/xml/intelligent_search_templates.xml
  records_management/views/base_rates_views.xml
  records_management/views/bin_key_history_views.xml
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/bin_key_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/container_access_photo_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/load_views.xml
  records_management/views/maintenance_equipment_views.xml
  records_management/views/naid_audit_log_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/paper_bale_recycling_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/paper_load_shipment_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/pos_config_views.xml
  records_management/views/prod_ext_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/shredding_service_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/view_records_billing_config_audit_menus.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: update action_confirm and action_assign methods for clarity and consistency
  records_management/models/work_order_retrieval.py
Due: check-odoo-syntax

fix: update field name for audit trail count in records document views
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: Add comprehensive script to generate missing security access rules
  development-tools/add_comprehensive_security_rules.py
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/wizards/bin_issue_report_wizard.py
Due: check-odoo-syntax

fix: streamline domain construction in various models for improved readability
  records_management/models/chain_of_custody.py
  records_management/models/portal_feedback_analytic.py
  records_management/models/records_access_log.py
  records_management/models/records_chain_of_custody.py
  records_management/models/records_container.py
  records_management/models/records_location_inspection.py
Due: check-odoo-syntax

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

Refactor code structure for improved readability and maintainability
  records_management/models/revenue_forecasting_reports.py
  records_management/models/shred_model_bin.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Add active field with tracking to multiple models for improved record management
  records_management/models/records_audit_log.py
  records_management/models/records_billing.py
  records_management/models/records_request.py
  records_management/models/records_request_line.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/records_security_audit.py
  records_management/models/records_storage_box.py
  records_management/models/records_tag_category.py
Due: check-odoo-syntax

feat: Enhance monetary fields with currency association across multiple models
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/base_rate.py
  records_management/models/bin_key.py
  records_management/models/container_retrieval.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/discount_rule.py
  records_management/models/document_retrieval_item.py
  records_management/models/invoice_generation_log.py
  records_management/models/product_container_type.py
  records_management/models/records_department_billing_contact.py
  records_management/models/unlock_service_part.py
  records_management/models/work_order_retrieval.py
Due: check-odoo-syntax

feat: Associate currency field with monetary values in PaperBaleRecycling model
  records_management/models/paper_bale_recycling.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

Add scripts for managing security access rules in Records Management module
  add_missing_security_rules_final.py
  add_remaining_security_rules.py
  clean_model_extraction.py
  compare_models.py
  debug_csv_extraction.py
  debug_model_extraction.py
  debug_python_extraction.py
  development-tools/add_all_missing_security_rules.py
  development-tools/add_remaining_security_rules.py
  development-tools/fix_csv_format_final.py
  fix_csv_format.py
  fix_csv_format_v2.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

refactor: Improve formatting and structure in various controllers and wizards
  records_management/controllers/field_label_portal.py
  records_management/controllers/work_order_portal.py
  records_management/wizards/custom_box_volume_calculator.py
  records_management/wizards/mobile_bin_key_wizard.py
  records_management/wizards/records_container_type_converter.py
Due: check-odoo-syntax

Add photo management views, description model, report, and menu structure
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/description.py
  records_management/models/photo.py
  records_management/models/records_description.py
  records_management/models/res_config_settings.py
  records_management/models/rm_module_configurator.py
  records_management/reports/description_report.xml
  records_management/security/ir.model.access.csv
  records_management/views/photo_menus.xml
  records_management/views/photo_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

Refactor code structure for improved readability and maintainability
  .vscode/settings.json
  records_management/models/account_move_line.py
  records_management/models/res_config_settings.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Correct loading order for security files to resolve External ID error
  records_management/__manifest__.py
Due: check-odoo-syntax

Add initial implementation of generate_missing_security_rules.py
  clean_security_csv.py
  generate_missing_security_rules.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Implement script to generate missing security access rules for Records Management module
  generate_missing_security_rules.py
Due: check-odoo-syntax

Add scripts for managing access rules and model imports in Records Management module
  add_missing_access_rules.py
  development-tools/add_missing_access_rules_final.py
  development-tools/syntax-tools/find_syntax_errors.py
  find_missing_models.py
  fix_access_csv.py
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

Implement code changes to enhance functionality and improve performance
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

Implement feature X to enhance user experience and fix bug Y in module Z
  records_management/security/ir.model.access.csv
Due: none

Implement code changes to enhance functionality and improve performance
  records_management/security/ir.model.access.csv
  records_management/security/ir.model.access_data.xml
Due: validate-xml-structure

Implement code changes to enhance functionality and improve performance
  records_management/security/ir.model.access_security.xml
  records_management/security/portal_request_security.xml
Due: validate-xml-structure

feat: Add scripts for managing access rules in ir.model.access.csv
  development-tools/add_missing_access_rules.py
  development-tools/add_specific_missing_access_rules.py
  development-tools/syntax-tools/find_syntax_errors.py
  fix_model_references.py
  records_management/security/ir.model.access.csv
  records_management/security/ir.model.access_security.xml
  remove_duplicates.py
Due: check-odoo-syntax, validate-xml-structure

fix: Correct XML structure by adjusting the placement of noupdate attribute
  records_management/security/ir.model.access_security.xml
Due: validate-xml-structure

feat: Add access control records for FSM task and notification models
  records_management/tests/test_records_management.py
  records_management_fsm/security/ir.model.access_security.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove duplicate test for utilization percentage in records management
  records_management/tests/test_records_management.py
Due: check-odoo-syntax

fix: Correct access control entries for shredding hard drive and display name
  records_management/security/ir.model.access.csv
Due: none

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
