Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Add missing fields and action_setup_field_labels method to transitory.field.config model
  records_management/models/transitory_field_config.py
Due: check-odoo-syntax

fix: Add missing fields and preset action methods to field.label.customization model
  records_management/models/field_label_customization.py
Due: check-odoo-syntax

fix: Change customer_id to partner_id in field.label.customization search view filters
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

fix: Add missing transitory field configuration fields and methods to res.partner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Remove transitory field configuration fields and methods from res.partner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Add transitory field configuration fields and methods to res.partner model
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Implement pre-init hooks for database schema synchronization in Records Management module
  records_management/__init__.py
  records_management/__manifest__.py
  records_management/pre_init_hooks.py
Due: check-odoo-syntax

fix: Remove unnecessary newline at the end of pre_init_hook function
  records_management/pre_init_hooks.py
Due: check-odoo-syntax

fix: Add migration script for transitory field configuration columns
  records_management/__manifest__.py
  records_management/migrations/18.0.1.0.1/pre-migration.py
Due: check-odoo-syntax

fix: Enhanced logging for pre-init hook and added SQL emergency patch
  records_management/migrations/18.0.1.0.1/end-migration.py
  records_management/pre_init_hooks.py
Due: check-odoo-syntax

docs: Add comprehensive migration troubleshooting guide and tools
  records_management/migrations/add_partner_columns.py
Due: check-odoo-syntax

feat: Add simplified SQL patch for Odoo.sh console compatibility
  records_management/migrations/SIMPLE_SQL_PATCH.sql
Due: none

docs: Add urgent module upgrade fix summary
  URGENT_MODULE_UPGRADE_FIX.md
Due: none

fix: Replace non-existent group_search_admin with group_records_admin
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

chore: Force Odoo.sh rebuild to pick up group_search_admin fix
  .gitignore
Due: none

fix: Replace menu_records_config with menu_records_configuration (correct menu ID)
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Multiple menu and accessibility issues
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/key_restriction_checker_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/product_template_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

fix: Replace menu_records_master_data with menu_master_data
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Duplicate Retention Policies menu and Service Items view error
  records_management/views/product_template_views.xml
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Change view_mode from 'tree' to 'list' in ir.actions.act_window.view
  records_management/views/product_template_views.xml
Due: validate-xml-structure

fix: Add missing access rules for container.quick.add.wizard and fix translation warning
  qb_tsheet_sync/models/tsheet_employee_map.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Change action view_mode from 'tree' to 'list' for Odoo 19 compatibility
  records_management/views/product_template_views.xml
Due: validate-xml-structure

fix: Correct field names in container quick add wizard
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax

docs: Clarify portal user access levels vs user types in UI
  records_management/models/res_users.py
  records_management/views/res_users_records_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Temporarily disable res.users view due to Studio customization conflict
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

revert: Re-enable res.users profile view - user will fix Studio conflict separately
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Rewrite res.users view inheritance to avoid XPath conflicts
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Simplify res.users form view by adding statusbar field and removing unnecessary elements
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Add onchange handler for records_user_profile to show immediate UI feedback
  records_management/models/res_users.py
Due: check-odoo-syntax

debug: Temporarily disable records_profile view to identify source of tab conflict
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Re-enable records_profile view after removing conflicting Studio customization
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

feat: Restore helpful Portal User Setup info box to user form
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Add stock and product access rules for portal users
  records_management/security/ir.model.access.csv
Due: none

fix: Container/document counts now include commercial partner hierarchy
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Allow portal company/dept admins to use contact records under companies
  records_management/models/res_users.py
Due: check-odoo-syntax

fix: Enable internal users to select any customer company when creating containers
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Implement dual location/inventory system for portal vs internal users
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enable internal users to create temp locations for customers + full portal isolation
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/models/temp_inventory.py
  records_management/security/ir.model.access.csv
  records_management/security/portal_temp_inventory_rules.xml
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct portal group name from group_portal_read_only to group_portal_readonly_employee
  records_management/security/ir.model.access.csv
  records_management/security/portal_temp_inventory_rules.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
