Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Add custom fields to stock location views and update existing field properties
  records_management/views/stock_location_views.xml
Due: validate-xml-structure

Revert "feat: Add custom fields to stock location views and update existing field properties"
  records_management/views/stock_location_views.xml
Due: validate-xml-structure

fix: Load wizard views before menus in 3d_warehouse manifest
  .vscode/settings.json
  records_management_3d_warehouse/__manifest__.py
Due: check-odoo-syntax

fix: Remove duplicate menu definitions across view files
  records_management/views/barcode_menus.xml
  records_management/views/paper_load_shipment_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

refactor: Remove unused full_customization_name model, fix XML issues
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/full_customization_name.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_file_search_create.xml
  records_management/views/barcode_menus.xml
  records_management/views/full_customization_name_view_form.xml
  records_management/views/full_customization_name_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Implement dynamic field label customization
  records_management/controllers/portal.py
  records_management/models/field_label_customization.py
  records_management/models/records_container.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_containers_list.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add permission traffic light indicators to portal
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_permission_indicator.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace 'Delete' with 'Request Destruction' in permissions
  records_management/controllers/portal.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_permission_indicator.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add 'Add File' button to portal container detail page
  records_management/controllers/portal.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_file_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add 'Add Container' and 'View All Files' buttons to portal
  records_management/controllers/portal.py
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bulk selection with Retrieval & Return to Warehouse actions
  records_management/controllers/portal.py
  records_management/templates/portal_bulk_actions.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

feat(portal): Add send_to_storage request type and pickup model enhancements
  records_management/controllers/portal.py
  records_management/models/pickup_request.py
  records_management/templates/portal_containers_list.xml
Due: check-odoo-syntax, validate-xml-structure

fix(pickup): Remove unnecessary line from validation logic
  records_management/models/pickup_request.py
Due: check-odoo-syntax

fix(portal): Remove invalid xpath in portal_permission_indicator template
  records_management/__manifest__.py
  records_management/static/src/css/portal_permission_indicator.css
  records_management/templates/portal_permission_indicator.xml
Due: check-odoo-syntax, validate-xml-structure

fix(portal): Remove invalid stock.location partner_id filter from portal routes
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix(portal): Fix chain.of.custody timestamp field and add missing permissions
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Add missing permissions to portal_my_container route
  records_management/controllers/portal.py
Due: check-odoo-syntax

refactor: Modernize XML files for Odoo 18.0+/19.0 compatibility
  records_management/report/barcode_reports.xml
  records_management/views/barcode_label_wizards_views.xml
  records_management/views/barcode_operation_buttons.xml
  records_management/views/barcode_product_views.xml
  records_management/views/barcode_standard_commands_buttons.xml
  records_management/views/container_indexing_wizard_views.xml
  records_management/views/legal_citation_views.xml
  records_management/views/records_container_calendar_view.xml
  records_management/views/records_saved_search_views.xml
  records_management/views/stock_location_views.xml
Due: validate-xml-structure

refactor: Modernize validator and fix legacy view_mode='tree' usage
  development-tools/comprehensive_validator.py
  records_management/views/barcode_label_wizards_views.xml
  records_management/views/billing_period_views.xml
  records_management/views/legal_citation_views.xml
  records_management/views/records_container_calendar_view.xml
  records_management/views/records_file_views.xml
Due: validate-xml-structure

feat: Modernize validator with dynamic field catalog integration
  development-tools/comprehensive_validator.py
Due: none

feat: Add ModelFieldCatalog for comprehensive field/model analysis
  development-tools/model_field_catalog.py
Due: none

fix: Improve validator catalog integration and field validation
  development-tools/comprehensive_validator.py
  development-tools/model_field_catalog.py
Due: none

refactor: Clean up whitespace in ModelFieldCatalog for improved readability
  development-tools/model_field_catalog.py
Due: none

chore: Clean up workspace - remove obsolete files and directories
  .odoo_ls
  .odoo_lsp
  JAVASCRIPT_CONVERSION_QUEUE.md
  MODULE_REINSTALL_FIX.md
  ORGANIZATION_CHART_FIX_SUMMARY.md
  PORTAL_AUDIT_COMPLETE_SUMMARY.md
  PORTAL_ERRORS_COMPLETE_FIX.md
  PORTAL_FIELD_AUDIT_FIXES.md
  SYSTEM_DIAGRAM_OWL_MIGRATION.md
  archived-docs/csv-data/All_views_exported_from_odoo.csv
  archived-docs/csv-data/loading_logs_for_grok.csv
  archived-docs/json-data/update_summary.json
  archived-docs/json-data/views_js_catalog.json
  archived-docs/python-scripts/add_critical_fields.py
  archived-docs/python-scripts/fix_security_level.py
  archived-docs/python-scripts/restore_valid_fields.py
  archived-docs/python-scripts/test_container_indexing.py
  archived-docs/python-scripts/validate_barcode_implementation.py
  development-tools/field_reference_validator.py
  development-tools/xml_schema_validator.py
  docs/BARCODE_INTEGRATION.md
  docs/DEPLOYMENT_SUMMARY_INTERACTIVE_FEATURES.md
  docs/PORTAL_INTERACTIVE_FEATURES.md
  force_upgrade.sh
  handbook/documentation/SYSTEM_FLOWCHART_GUIDE.md
  handbook/printable/records_management_handbook_printable.md
  load_demo_data.sh
  organize_infodocs.sh
  scripts/activate_draft_containers.py
  scripts/update_handbook.py
Due: check-odoo-syntax

fix: Correct model names in portal_hub route
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Organization diagram JSON encoding for vis-network
  records_management/controllers/portal.py
  records_management/templates/portal_organization_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add stored computed fields for partner stats (containers, files, documents, departments)
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Resolve log warnings and errors
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/models/rm_module_configurator.py
  records_management/templates/portal_organization_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve alert accessibility and duplicate label warnings
  records_management/models/res_partner.py
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add comprehensive Shredding & Destruction Portal Dashboard
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/destruction_portal.py
  records_management/controllers/main.py
  records_management/data/website_portal_menus.xml
  records_management/templates/portal_shredding_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Clean up whitespace in destruction portal controller and dashboard template
  records_management/controllers/destruction_portal.py
  records_management/templates/portal_shredding_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Integrate Shredding Dashboard with FSM tasks as scheduling backbone
  records_management/controllers/destruction_portal.py
  records_management/models/work_order_shredding.py
  records_management/templates/portal_shredding_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bin inventory tracking, maintenance integration, and movement history
  records_management/models/__init__.py
  records_management/models/maintenance_request.py
  records_management/models/shredding_bin_movement.py
  records_management/models/shredding_service_bin.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_shredding_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Resolve all Odoo log errors and warnings
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
  records_management/models/shredding_service_bin.py
  records_management/models/shredding_service_event.py
  records_management/models/work_order_shredding.py
  records_management/wizards/batch_barcode_operations.py
Due: check-odoo-syntax

fix: Split maintenance compute methods to fix store/compute_sudo inconsistency
  records_management/models/shredding_service_bin.py
Due: check-odoo-syntax

fix: Add missing next_service_date field to shredding.service.bin
  records_management/models/shredding_service_bin.py
Due: check-odoo-syntax

fix: Add theme-safe styling for all portal components
  records_management/static/src/portal_components/portal_components.css
  records_management/templates/portal_shredding_dashboard.xml
Due: validate-xml-structure

fix: Show all portal requests without restrictive filters
  records_management/views/portal_request_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Fix kanban view crash - missing display_name field declaration
  records_management/views/portal_request_views.xml
Due: validate-xml-structure

fix: Fix portal request report and add Hard Drive Scanner menu
  records_management/report/portal_request_reports.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure
