Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Complete field validation for remaining view files
  records_management/views/shredding_service_event_views.xml
Due: validate-xml-structure

fix: Resolve critical ParseError in shredding_service_bin_views.xml
  records_management/__manifest__.py
  records_management/views/shredding_service_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove deprecated attrs attribute for Odoo 18.0 compatibility
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Update validation scripts and enhance shredding service views with additional fields and tooltips
  .vscode/tasks.json
  records_management/views/shredding_service_bin_views.xml
  records_management/views/shredding_service_event_views.xml
Due: validate-xml-structure

fix: Add tooltips to icons in shredding service views and update button styles
  records_management/views/shredding_service_views.xml
Due: validate-xml-structure

fix: Enhance UI with tooltips for better accessibility and add total certificates field in shredding service
  records_management/models/shredding_service.py
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/records_work_vehicle_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/shred_bin_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add title attributes to all FontAwesome icons in records_billing_config_views.xml for accessibility compliance
  records_management/views/records_billing_config_views.xml
Due: validate-xml-structure

fix: Convert deprecated attrs attributes to Odoo 18.0 syntax in stock_lot_views.xml
  records_management/views/stock_lot_views.xml
Due: validate-xml-structure

fix: Convert all remaining deprecated attrs attributes to Odoo 18.0 syntax
  records_management/views/survey_feedback_theme_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: validate-xml-structure

fix: Convert all deprecated <tree> tags to <list> for Odoo 18.0 compatibility
  records_management/views/records_retention_policy_version_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/survey_feedback_theme_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: validate-xml-structure

fix: Fix XML schema validation error in temp_inventory_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Convert XML declaration quotes from single to double quotes
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Resolve XML schema validation errors in temp_inventory_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Enhance XML validation and access rules for temporary inventory views
  development-tools/comprehensive_validator.py
  records_management/security/additional_models_security.xml
  records_management/views/stock_lot_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

Refactor security groups and access rules in records_management_security.xml; update system flowchart templates for improved UI and functionality
  .vscode/settings.json
  records_management/security/portal_request_security.xml
  records_management/security/records_management_security.xml
  records_management/static/src/xml/system_flowchart_templates.xml
Due: validate-xml-structure

fix: Disable false 'deprecated syntax' warnings - preserve working XML syntax
  development-tools/comprehensive_validator.py
Due: none

fix: Remove duplicate content after </odoo> tag in stock_lot_views.xml
  records_management/views/stock_lot_views.xml
Due: validate-xml-structure

fix: Remove duplicate fields and ensure proper XML structure in various views
  records_management/views/chain_of_custody_views.xml
  records_management/views/naid_audit_verification_wizard_views.xml
  records_management/views/records_category_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Simplify visibility conditions for document buttons and groups in stock_lot_views.xml
  records_management/views/stock_lot_views.xml
Due: validate-xml-structure

fix: Add missing <data> tag in temp_inventory_views.xml for proper XML structure
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Implement inventory state management actions and update button visibility in views
  records_management/models/temp_inventory.py
  records_management/views/temp_inventory_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update inventory movement fields for improved data representation and structure
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

fix: Rename container_type field to container_type_name and add help text for clarity
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Enhance XML validation to accept <data> tags with or without attributes and update user_id field to user_ids for many2many relationship
  development-tools/comprehensive_validator.py
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

fix:
  records_management/models/workflow_visualization_manager.py
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/records_container_field_label_helper_views.xml
  records_management/views/records_retention_policy_version_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(workflow_visualization_manager): indent return inside _generate_process_flow to fix SyntaxError
  records_management/models/workflow_visualization_manager.py
Due: check-odoo-syntax

fix:
  records_management/models/records_billing_config_actions.py
Due: check-odoo-syntax

fix:
  records_management/models/records_billing_config.py
  records_management/views/records_billing_config_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/views/records_billing_config_views.xml
Due: validate-xml-structure

fix(portal): add missing action_feedback_responses for portal.feedback and add titles to FA icons in portal requests kanban to satisfy accessibility warnings
  records_management/views/portal_request_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix:
  records_management/views/portal_feedback_analytic_views.xml
Due: validate-xml-structure

fix:
  records_management/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management/views/inventory_item_views.xml
Due: validate-xml-structure

fix:
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: normalize XML indentation across multiple view files
  development-tools/cleanup/normalize_xml_indentation.py
  records_management/views/account_move_line_views.xml
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/base_rates_views.xml
  records_management/views/bin_barcode_inventory_views.xml
  records_management/views/container_access_activity_views.xml
  records_management/views/hard_drive_scan_wizard_views.xml
  records_management/views/inventory_item_location_transfer_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_config_settings_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_management_menu_roots.xml
  records_management/views/records_request_type_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
