Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Remove unnecessary whitespace in Camera Barcode Scanner Dialog component
  records_management/static/src/js/rm_camera_scanner.js
Due: none

feat: Integrate Scanbot SDK WASM engine for cross-browser barcode scanning
  records_management/static/src/js/rm_camera_scanner.js
Due: none

fix: Embedded scanner, single/continuous mode, lifecycle fixes
  records_management/static/src/css/rm_camera_scanner.css
  records_management/static/src/js/rm_camera_scanner.js
  records_management/static/src/xml/rm_camera_scanner.xml
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Upgrade to Scanbot SDK 7.1.1 and fix work_order_id kwargs error
  records_management/static/src/js/rm_camera_scanner.js
  records_management/static/src/xml/rm_camera_scanner.xml
Due: validate-xml-structure

fix: SDK loading, accessibility warnings, and stored related field issues
  records_management/models/container_access_work_order.py
  records_management/models/work_order_retrieval.py
  records_management/static/src/js/rm_camera_scanner.js
  records_management/views/service_attachment_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary whitespace in Scanbot SDK loading and scanning functions
  records_management/static/src/js/rm_camera_scanner.js
Due: none

fix: Use dynamic import for Scanbot SDK ES module, use version 7.0.0
  records_management/static/src/js/rm_camera_scanner.js
Due: none

feat: Add camera scanner to all work orders and internal transfers
  records_management/models/barcode_scan_wizard.py
  records_management/models/records_container_transfer.py
  records_management/models/records_container_transfer_line.py
  records_management/static/src/js/rm_camera_scanner.js
  records_management/views/barcode_scan_wizard_views.xml
  records_management/views/records_container_transfer_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add camera barcode scanner to customer portal
  records_management/__manifest__.py
  records_management/controllers/portal_barcode.py
  records_management/static/src/js/portal/portal_camera_scanner.js
  records_management/static/src/js/rm_camera_scanner.js
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_destruction_request_create.xml
  records_management/templates/portal_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Product type error and UI improvements
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
  records_management/models/records_file.py
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_destruction_request_create.xml
  records_management/templates/portal_request_create.xml
  records_management/views/barcode_operation_buttons.xml
  records_management/views/barcode_scan_wizard_views.xml
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/photo_menus.xml
  records_management/views/photo_views.xml
  records_management/views/records_container_transfer_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/service_attachment_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/barcode_operations_wizard_views.xml
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove duplicate icon attribute in container transfer view
  records_management/views/records_container_transfer_views.xml
Due: validate-xml-structure

fix: Remove duplicate icon attribute in container_destruction_work_order_views.xml
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
Due: validate-xml-structure

fix: Correct container state values in workflow methods
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
Due: check-odoo-syntax

feat: Enhance document retrieval pricing logic and add customer rate lookup
  records_management/controllers/portal_interactive.py
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
  records_management/wizards/container_indexing_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance Work Order Payment Collection
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/account_payment_extend.py
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/work_order_invoice_mixin.py
  records_management/security/ir.model.access.csv
  records_management/views/account_payment_views.xml
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/work_order_field_payment_wizard.py
  records_management/wizards/work_order_field_payment_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Add delivery verification functionality to barcode operations
  records_management/controllers/portal_barcode.py
  records_management/static/src/js/portal/portal_camera_scanner.js
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax

feat: Add camera scanner functionality to various work order models and views
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/records_container_transfer.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/work_order_shredding.py
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_container_transfer_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Update bulk actions to auto-generate names for retrieval, destruction, and access requests
  records_management/data/container_bulk_actions.xml
Due: validate-xml-structure

feat: Update collection notes field to provide help text for better user guidance
  records_management/wizards/work_order_field_payment_wizard.py
Due: check-odoo-syntax

feat: Add tooltips for date and source document fields in photo views
  records_management/views/photo_views.xml
Due: validate-xml-structure

feat: Add camera scanner functionality and update picklist scanner button in work order retrieval
  records_management/models/work_order_retrieval.py
  records_management/views/records_management_menus.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Update work order creation wizard and menu to reflect preferred retrieval model
  records_management/views/records_retrieval_work_order_menus.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Implement navigation handling for work order form in camera scanner
  records_management/static/src/js/rm_camera_scanner.js
Due: none

feat: Add smart department context retrieval for portal forms and update modal button classes for Bootstrap 5 compatibility
  records_management/controllers/main.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct file folder document retrieval query in RecordsManagementController
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Update file folder references to use file_id in inventory templates
  records_management/templates/advanced_search_templates.xml
  records_management/templates/portal_inventory_detail.xml
  records_management/templates/portal_inventory_tabs.xml
Due: validate-xml-structure

fix: Update file folder reference in portal controller for template compatibility
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Enhance department validation and inheritance logic in container and file creation
  records_management/controllers/main.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: use sudo() when creating mail activity in work order portal
  records_management/controllers/advanced_search.py
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/controllers/work_order_portal.py
Due: check-odoo-syntax

feat: Add new fields for tracking submission source and department in customer feedback and pickup request models
  records_management/models/customer_feedback.py
  records_management/models/pickup_request.py
  records_management/models/portal_feedback.py
  records_management/models/portal_request.py
  records_management/models/records_document.py
  records_management/models/temp_inventory.py
Due: check-odoo-syntax

feat: Add active flag for archiving files and implement shredding service history template
  records_management/__manifest__.py
  records_management/models/records_file.py
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_shredding_history.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add 'Created via Portal' flag to RecordsFile model and update portal templates for file management
  records_management/models/records_file.py
  records_management/templates/portal_container_detail.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement file retrieval cart functionality and enhance file detail view with upload options
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_retrieval_cart.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance current location tracking in RecordsFile model and update related views
  records_management/models/records_file.py
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add notes field to RecordsRetrievalWorkOrder model and update form view for internal notes
  records_management/models/records_retrieval_work_order.py
  records_management/views/records_retrieval_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Refactor RecordsDocument and RecordsFile models to clarify document hierarchy and state management
  records_management/models/records_document.py
  records_management/models/records_file.py
Due: check-odoo-syntax

feat: Update document state management and views to enhance file tracking and flagging functionality
  records_management/controllers/portal.py
  records_management/views/records_document_flag_permanent_wizard_views.xml
  records_management/views/records_document_views.xml
  records_management/wizards/records_document_flag_permanent_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Implement core dashboard and administrative endpoints for Records Management system
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Replace state field with file_id in records department list view
  records_management/views/records_department_views.xml
Due: validate-xml-structure

feat: Update state field handling in records file views for improved status representation
  records_management/views/records_file_views.xml
Due: validate-xml-structure
