Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: completely rewrite portal_mail_templates_data.xml with proper structure
  records_management/data/portal_mail_templates_data.xml
Due: validate-xml-structure

fix: update required_document_cron.xml for Odoo 18.0 compatibility
  records_management/data/required_document_cron.xml
Due: validate-xml-structure

fix: restructure training_courses_customer_setup.xml for improved training channel setup
  records_management/data/training_courses_customer_setup.xml
Due: validate-xml-structure

fix: update training channel details in training_courses_customer_setup.xml for clarity and improved guidance
  records_management/data/training_courses_customer_setup.xml
Due: validate-xml-structure

fix: update slide_type from 'webpage' to 'document' in training courses XML files for consistency
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: remove redundant slide_type field from training courses XML files for consistency
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: update slide_type to 'presentation' in training courses XML files for consistency
  records_management/__manifest__.py
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: check-odoo-syntax, validate-xml-structure

fix: update slide_type from 'presentation' to 'webpage' in training courses XML files for consistency
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: Change slide_type from 'webpage' to 'article' for website_slides compatibility
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

fix: Create missing billing_period_reports.xml file
  records_management/report/billing_period_reports.xml
Due: validate-xml-structure

fix: Add missing submodel_report import in report/__init__.py
  records_management/report/__init__.py
Due: check-odoo-syntax

fix: Clean up manifest to remove 93 missing report file references
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add detailed comments and organize report file loading in __manifest__.py
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Resolve Python syntax errors in submodel_report.py
  records_management/report/submodel_report.py
Due: check-odoo-syntax

fix: Shorten PostgreSQL table names to prevent length limit errors
  records_management/models/records_department_billing_approval.py
  records_management/models/records_department_billing_contact.py
  records_management/models/records_retention_policy_version.py
Due: check-odoo-syntax

fix: Shorten report model table names to prevent PostgreSQL limit errors
  records_management/report/submodel_report.py
Due: check-odoo-syntax

fix: Remove malformed XML tags in billing_period_reports.xml
  records_management/report/billing_period_reports.xml
Due: validate-xml-structure

fix: Remove report for deprecated container.retrieval.item model
  records_management/__manifest__.py
  records_management/report/container_retrieval_item_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve ID conflict in shredding_service_reports.xml
  records_management/models/container_retrieval_item.py
  records_management/report/shredding_service_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Major cleanup - remove deprecated models and duplicate reports
  records_management/__manifest__.py
  records_management/models/customer_negotiated_rates.py
  records_management/models/file_retrieval.py
  records_management/models/file_retrieval_work_order.py
  records_management/models/work_order_coordinator_actions.py
  records_management/report/bin_key_report.xml
  records_management/report/customer_negotiated_rate_report.xml
  records_management/report/document_search_attempt_report.xml
  records_management/report/location_report.xml
  records_management/report/mobile_photo_report.xml
  records_management/report/naid_compliance_policy_report.xml
  records_management/report/naid_compliance_report.xml
  records_management/report/naid_custody_report.xml
  records_management/report/paper_bale_weigh_wizard_report.xml
  records_management/report/records_service_type_report.xml
  records_management/report/shredding_service_bin_report.xml
  records_management/report/shredding_service_event_report.xml
  records_management/report/shredding_service_report.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update portal template XPath to target existing element - changed from o_portal_navbar class to main tag for better compatibility with portal.portal_layout
  records_management/templates/portal_access_templates.xml
Due: validate-xml-structure

fix: Refactor portal admin switch using breadcrumbs inheritance - replaced problematic portal_layout inheritance with working portal_breadcrumbs approach using hasclass XPath pattern
  records_management/templates/portal_access_templates.xml
Due: validate-xml-structure

fix: Update portal organization menu to use portal_my_home inheritance - replaced portal_sidebar inheritance with working portal_my_home pattern using hasclass XPath
  records_management/templates/portal_organization_diagram.xml
Due: validate-xml-structure

fix: Portal runtime issues - added missing _prepare_portal_layout_values method and portal access rights for ir.sequence and barcode.nomenclature
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Correct ir.model.access.csv - removed invalid barcode.nomenclature reference that was causing deployment failure
  records_management/security/ir.model.access.csv
Due: none

fix: Add missing searchbar_filters context to portal_my_containers in main.py
  records_management/controllers/main.py
Due: check-odoo-syntax

fix: Remove undefined Owl component causing JavaScript errors
  records_management/templates/my_portal_inventory.xml
Due: validate-xml-structure

fix: Enable website portal menu visibility for Records Management
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

feat: Add Records Management Portal Hub page for easy access
  records_management/__manifest__.py
  records_management/data/website_pages.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Escape ampersand in XML for proper parsing
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

fix: Flatten website menu hierarchy to resolve Odoo validation error
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

fix: Portal controller runtime errors - Added missing _items_per_page attribute, fixed default_url context, corrected breadcrumb template reference, resolved route conflicts between controllers
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/templates/portal_document_bulk_upload.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhanced bulk upload portal interface and template download
  records_management/controllers/portal_document_bulk_upload.py
  records_management/templates/portal_document_bulk_upload.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing portal inventory routes and permissions
  records_management/controllers/portal.py
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/templates/my_portal_inventory.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add CSRF protection to bulk upload routes and template
  records_management/controllers/portal_document_bulk_upload.py
  records_management/templates/portal_document_bulk_upload.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Comprehensive Tabbed Inventory Interface with Backend-style Management
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_inventory_detail.xml
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Ensure proper access control by using sudo() for container and certificate operations
  records_management/controllers/portal.py
Due: check-odoo-syntax
