Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: proactively move payment_split_line and shredding_service_photo views before revenue_forecast_line_views
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: correct loading order for portal_feedback_analytic_views.xml
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move report_window_actions_views.xml before menus (action_storage_reports loading order)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: comprehensive loading order fix - move ALL action files before menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: remove non-existent destruction_log_views.xml from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: automatic certificate of destruction generation for invoices
  records_management/models/__init__.py
  records_management/models/account_move.py
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax, check-model-imports

feat: automatic certificate of destruction generation from invoices
  records_management/models/account_move.py
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax

fix: remove system_flowchart_wizard model and add helpful configuration guidance
  records_management/models/system_flowchart_wizard.py
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: add ARIA roles to alert boxes for accessibility compliance
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: remove system_flowchart_wizard view file and manifest reference (model was deleted)
  records_management/__manifest__.py
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: restore System Flowchart Wizard menu visibility
  records_management/__manifest__.py
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: remove admin_users_fix.xml causing user type constraint violation
  records_management/__manifest__.py
  records_management/data/admin_users_fix.xml
Due: check-odoo-syntax, validate-xml-structure

fix: improve admin group assignment with better error handling and logging
  records_management/models/res_users.py
Due: check-odoo-syntax

fix: correct invalid color_scheme default value in System Flowchart Wizard
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: map wizard search scenarios to valid system.diagram.data search_type values
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax

fix: use valid 'form' view_mode instead of non-existent 'system_flowchart'
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax

fix: explicitly specify form view with Diagram Preview tab
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax

fix: add fallback view lookup for system flowchart
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax

fix: add missing system_diagram_data_views.xml to manifest data list
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: remove nested <data> tag from system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove all indentation from root-level elements in system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: adjust indentation for records in system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove extra <data> tag in system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove indentation from record and menuitem tags in system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: update system diagram data views with improved structure and formatting
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: wrap system_diagram_data_views.xml content in data tag
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove data tag wrapper from system_diagram_data_views.xml for Odoo 18 schema compliance
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove icons from action names in system_diagram_data_views.xml for cleaner display
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove generate diagram buttons from system_diagram_data_views.xml for cleaner UI
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove non-existent 'state' field references from system_diagram_data_views.xml
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: add required 'name' attribute to stat buttons in system_diagram_data form view
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: remove stat buttons without handlers in system diagram form
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: reference create_uid instead of missing user_id in system diagram form
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: align system diagram search_type usage with model selection values
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: enhance system diagram data views with additional fields and improved search filters
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: improve diagram HTML generation with safe JSON handling and resource loading
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

feat: add interactive system flowchart launcher with diagram management options
  records_management/__manifest__.py
  records_management/static/src/js/system_flowchart_view.js
  records_management/static/src/xml/system_flowchart_templates.xml
Due: check-odoo-syntax, validate-xml-structure

feat: enhance trailer visualization with improved SVG graphics and dynamic loading indicators
  records_management/static/src/js/trailer_visualization.js
Due: none

feat: redesign Paper Load Truck widget with enhanced UI and accessibility features
  records_management/static/src/js/paper_load_truck_widget.js
Due: none

feat: enhance Paper Load Truck widget with improved SVG graphics and styling adjustments
  records_management/static/src/js/paper_load_truck_widget.js
Due: none
