Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: Add additional model imports to records management
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Update DestructionEvent model to support multi-record creation and enhance audit logging
  records_management/models/destruction_event.py
  records_management/models/naid_equipment_standard.py
Due: check-odoo-syntax

refactor: Update NAID Audit Log to include event reference and change operation field to action type
  records_management/models/destruction_event.py
  records_management/models/naid_audit_log.py
Due: check-odoo-syntax

feat: Add task_id field to NAIDAuditLog model and rename logging method to action_log
  records_management/models/naid_audit_log.py
Due: check-odoo-syntax

feat: Add NAID Tags field to NAIDOperatorCertification model
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax

feat: Add operator certification field to DestructionCertificate and assign operator to PortalRequest
  records_management/models/destruction_certificate.py
  records_management/models/naid_operator_certification.py
  records_management/models/portal_request.py
Due: check-odoo-syntax

fix: Systematic NAID model relationship fixes
  records_management/models/__init__.py
  records_management/models/calendar_event.py
  records_management/models/project_task.py
  records_management/models/sign_request.py
Due: check-odoo-syntax, check-model-imports

fix: Add survey.user_input extension for NAID audit requirements
  records_management/models/__init__.py
  records_management/models/survey_user_input.py
Due: check-odoo-syntax, check-model-imports

feat: Add audit_requirement_id field to NAIDAuditLog and update related references
  records_management/models/naid_audit_log.py
  records_management/models/naid_audit_requirement.py
  records_management/models/naid_audit_verification_wizard.py
Due: check-odoo-syntax

fix: Remove unnecessary access rules for NAID audit requirement
  records_management/security/ir.model.access.csv
Due: none

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access.csv
Due: none

fix: Disambiguate field labels for clarity in various models
  records_management/models/bin_key_history.py
  records_management/models/file_retrieval_work_order_item.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_custody.py
  records_management/models/naid_operator_certification.py
  records_management/models/records_container_movement.py
  records_management/models/records_container_transfer_line.py
  records_management/models/revenue_forecast.py
  records_management/models/revenue_forecast_line.py
Due: check-odoo-syntax

feat: Add NAID Audit Requirement action to maintain menu reference order
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Disambiguate field labels for clarity across multiple models
  records_management/models/destruction_certificate.py
  records_management/models/portal_request.py
  records_management/models/portal_request_line.py
  records_management/models/records_billing.py
  records_management/models/records_container.py
  records_management/models/records_container_log.py
  records_management/models/records_container_movement.py
  records_management/models/records_deletion_request.py
  records_management/models/records_department.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy.py
  records_management/models/records_retention_rule.py
  records_management/models/records_storage_department_user.py
Due: check-odoo-syntax

feat: Implement state transition actions for bin management
  records_management/models/bin_barcode_inventory.py
  records_management/models/records_retention_policy.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Enhance destruction certificate management with new fields, visibility rules, and report updates
  records_management/__manifest__.py
  records_management/data/field_label_customization_batch4.xml
  records_management/data/field_label_customization_batch4_data.xml
  records_management/models/destruction_certificate.py
  records_management/report/destruction_certificate_report.xml
  records_management/security/destruction_certificate_security.xml
  records_management/views/destruction_certificate_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Simplify deletion scheduled message to comply with validation requirements
  records_management/models/records_deletion_request.py
Due: check-odoo-syntax

feat: Update destruction certificate logic and add feature toggle for automatic generation
  records_management/__manifest__.py
  records_management/models/destruction_certificate.py
  records_management/models/naid_operator_certification.py
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: Add destruction certificate generation and management features with UI enhancements and tests
  records_management/__manifest__.py
  records_management/models/destruction_certificate.py
  records_management/models/naid_certificate.py
  records_management/models/project_task.py
  records_management/tests/test_destruction_certificate.py
  records_management/views/destruction_certificate_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance bin barcode inventory model with new fields for capacity, weight, and service tracking; update views for improved data visibility and analytics
  records_management/models/bin_barcode_inventory.py
  records_management/models/naid_certificate.py
  records_management/models/naid_operator_certification.py
  records_management/views/bin_barcode_inventory_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update service completion logic to improve clarity and precision; replace relativedelta with timedelta for scheduling next service date
  records_management/models/bin_barcode_inventory.py
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: Implement feature gating for bin inventory management; add toggle and update menu item visibility based on user groups
  records_management/models/rm_module_configurator.py
  records_management/views/bin_barcode_inventory_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Replace lazy translation with immediate translation for field labels and message formatting in NAID operator certification and module configurator
  records_management/models/naid_operator_certification.py
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: Update NAID Operator Certification model to use explicit relation table for required trainings
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/cleanup_remove_view_type_fields.py
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax

refactor: Modernize Kanban view template and improve layout for bin barcode inventory
  records_management/views/bin_barcode_inventory_views.xml
Due: validate-xml-structure

feat: Enhance Destruction Certificate with Event Tracking and Reporting
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/destruction_certificate.py
  records_management/report/destruction_certificate_report.xml
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/bin_key_history_views.xml
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/bin_key_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/container_access_document_views.xml
  records_management/views/container_access_photo_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/document_retrieval_item_views.xml
  records_management/views/document_retrieval_team_views.xml
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/mobile_dashboard_widget_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_feedback_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_views.xml
  records_management/views/shred_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/view_records_billing_config_audit_menus.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Rename view names for consistency across container access and billing approval records
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/container_access_document_views.xml
  records_management/views/container_access_photo_views.xml
  records_management/views/customer_inventory_report_views.xml
  records_management/views/records_department_billing_approval_views.xml
Due: validate-xml-structure

refactor: Consolidate and enhance bin unlock service views for key restrictions management
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

refactor: Remove batch 4 field label customizations for records management
  records_management/data/field_label_customization_batch4_data.xml
Due: validate-xml-structure

feat: Add action to reject custody transfer with audit logging for traceability
  records_management/models/chain_of_custody.py
  records_management/views/bin_unlock_service_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add placeholder button actions for various models to support future functionality
  records_management/models/button_action_placeholders.py
  records_management/models/naid_certificate.py
  records_management/models/naid_operator_certification.py
  records_management/models/portal_feedback.py
  records_management/models/product_template.py
  records_management/models/records_billing_config.py
  records_management/models/records_retention_policy_version.py
  records_management/models/service_item.py
  records_management/models/shredding_service.py
  records_management/models/stock_lot.py
Due: check-odoo-syntax

feat: Add audit log count field to Chain of Custody model for quick access
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

feat: Migrate placeholder actions and correct model references in records management
  records_management/models/account_move_line.py
  records_management/models/button_action_placeholders.py
  records_management/models/document_retrieval_team.py
  records_management/models/paper_bale.py
  records_management/models/records_billing_config.py
  records_management/models/records_storage_department_user.py
  records_management/models/shredding_service_bin.py
  records_management/models/work_order_coordinator.py
Due: check-odoo-syntax

feat: Add comprehensive transfer fields to Chain of Custody model for enhanced tracking and compliance
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

feat: Add Chain of Custody Event and Item models with access control for enhanced tracking
  records_management/models/__init__.py
  records_management/models/chain_of_custody_event.py
  records_management/models/chain_of_custody_item.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

feat: Add currency_field reference to value field for proper formatting in Chain of Custody Item model
  records_management/models/chain_of_custody_item.py
Due: check-odoo-syntax

feat: Restore portal destruction certificate visibility rule and standardize audit log fields in Chain of Custody views
  records_management/__manifest__.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance NAID Audit Log with event date and value change tracking fields
  records_management/models/naid_audit_log.py
  records_management/security/destruction_certificate_security.xml
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add portal visibility control and access rights for destruction certificates
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/__manifest__.py
  records_management/models/destruction_certificate.py
  records_management/security/destruction_certificate_security.xml
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
