Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Correct XML structure in records_category_views.xml
  .vscode/settings.json
  records_management/views/records_category_views.xml
Due: validate-xml-structure

feat: Add comprehensive records management validator with auto-fix capabilities
  development-tools/comprehensive_validator_with_autofix.py
Due: none

fix: Replace deprecated 'tree' view type with 'list' in field_label_helper_wizard_views.xml
  records_management/views/field_label_helper_wizard_views.xml
Due: validate-xml-structure

fix: CRITICAL - Moved 261 backup files out of views directory
  records_management/views/chain_of_custody_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

feat: Implement comprehensive field validation and auto-fix for view XML files
  field_validator.py
  records_management/views/records_digital_scan_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: EMERGENCY XML corruption repair - Restored 18 corrupted view files
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/load_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_digital_scan_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
  restore_corrupted_files.py
Due: check-odoo-syntax, validate-xml-structure

fix: CRITICAL - Remove deprecated attrs/states for Odoo 18.0 compatibility
  records_management/views/document_retrieval_team_views.xml
  records_management/views/records_digital_scan_views.xml
Due: validate-xml-structure

fix: Correct field name from 'document_ids' to 'document_id' across multiple XML views
  records_management/views/file_retrieval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_document_flag_permanent_wizard_views.xml
  records_management/views/records_request_views.xml
  records_management/views/shredding_inventory_views.xml
  surgical_mass_fix_repair.py
Due: check-odoo-syntax, validate-xml-structure

📋 Add workspace organization guide
  workspace-admin/WORKSPACE_ORGANIZATION_GUIDE.md
Due: none

fix: Convert deprecated 'tree' view types to 'list' for Odoo 18.0 compatibility
  records_management/views/records_category_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

feat: Add comprehensive Odoo 18.0 compatibility checker
  development-tools/validation-tools/odoo18_compatibility_checker.py
Due: none

feat: Create safe validation tools and disable auto-fix functionality
  development-tools/comprehensive_validator_with_autofix.py
  development-tools/validation-tools/SAFE_VALIDATION_GUIDE.md
  development-tools/validation-tools/comprehensive_validator_validation_only.py
Due: none

fix: Add missing 'name' field to customer.billing.profile model
  records_management/models/customer_billing_profile.py
Due: check-odoo-syntax

fix: Resolve validation errors in next batch of view files
  records_management/models/records_department.py
  records_management/views/records_deletion_request_enhanced_views.xml
  records_management/views/records_department_billing_contact_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct model name in customer billing profile views
  records_management/views/records_customer_billing_profile_views.xml
Due: validate-xml-structure

feat: Add missing fields to RecordsDocument and RecordsDocumentType models; implement model existence validation in SafeValidator
  development-tools/validation-tools/comprehensive_validator_validation_only.py
  records_management/models/records_document.py
  records_management/models/records_document_type.py
  records_management/views/records_department_billing_approval_views.xml
  test_missing_model.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add missing fields to RecordsLocation model and update Paper Bale view names for consistency
  records_management/models/records_location.py
  records_management/views/records_management_bale_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add additional fields for retention policy and document management in audit log, request, and retrieval order models
  records_management/models/records_audit_log.py
  records_management/models/records_request.py
  records_management/models/records_retrieval_order.py
Due: check-odoo-syntax

fix: Change field type of created_date from Date to Datetime to resolve validation errors
  records_management/models/records_document.py
Due: check-odoo-syntax

feat: Refactor views and models for consistency; remove unused report views and update field names for clarity
  records_management/__manifest__.py
  records_management/models/records_department_billing_contact.py
  records_management/models/records_document.py
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/report_records_management_report_customer_inventory_views.xml
  records_management/views/report_records_management_report_location_utilization_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Restore missing records_document_field_label_helper_views.xml in manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Remove unused survey_user_input_enhanced views and report files for cleanup
  records_management/__manifest__.py
  records_management/report/survey_user_input_enhanced_reports.xml
  records_management/views/survey_user_input_enhanced_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: CRITICAL - Fixed ParseError in records_document_type_views.xml
  records_management/views/records_document_type_views.xml
Due: validate-xml-structure

bump: Version 18.0.12.0.4 - Force deployment update for retention_years ParseError fix
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: CRITICAL - Remove unnecessary <data> wrapper in base_rate_views.xml
  records_management/views/base_rate_views.xml
Due: validate-xml-structure

fix: Correct field references in chain of custody view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct all field references in NAID compliance views
  records_management/views/naid_compliance_views.xml
Due: validate-xml-structure

fix: Remove non-existent compliance_verified field from audit trail view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct destruction record fields in NAID compliance view
  records_management/views/naid_compliance_views.xml
Due: validate-xml-structure

fix: Replace non-existent storage_location field in digital scan view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: Add comprehensive source tracking to digital scans
  records_management/models/records_digital_scan.py
  records_management/views/records_digital_scan_views.xml
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing digital_scanning_enabled field to records.document
  records_management/models/records_document.py
Due: check-odoo-syntax

fix: Add missing total_scan_size_visible field to records.document
  records_management/models/records_document.py
Due: check-odoo-syntax

fix: Remove problematic context from Field Labels button
  records_management/views/records_document_field_label_helper_views.xml
Due: validate-xml-structure

fix: Add missing <data> wrapper to records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure
