Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Correct model names in security CSV file - replace underscores with dots
  records_management/security/ir.model.access.csv
Due: none

fix: Add missing security access rules for inventory.item.type and display.name models
  records_management/security/ir.model.access.csv
Due: none

chore: Update analysis results after fixing model validation errors
  development-tools/analysis-reports/enhanced_analysis_results.json
Due: none

test: Verify commit functionality works after fixing pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: Clean security CSV and update pre-commit config
  .pre-commit-config.yaml
  records_management/security/ir.model.access.csv
Due: none

fix: Correct CSV format and remove backup files
  records_management/security/ir.model.access.csv
Due: none

fix: Restore correct CSV format for Odoo compatibility
  records_management/security/ir.model.access.csv
Due: none

fix: Correct model names in security CSV
  records_management/security/ir.model.access.csv
Due: none

fix:
  records_management/security/ir.model.access.csv
Due: none

Implement code changes to enhance functionality and improve performance
  records_management/security/ir.model.access.csv
  records_management/security/ir.model.access.original.csv
Due: none

fix: Reorganized security files - renamed *_security.xml to portal_request_security.xml and updated manifest loading order
  development-tools/advanced_model_analyzer.py
  development-tools/analysis-reports/validation_results.json
  development-tools/clean_security_csv.py
  development-tools/comprehensive_model_validator.py
  development-tools/comprehensive_module_validator.sh
  development-tools/fix_model_references.py
  development-tools/fix_model_references_v2.py
  development-tools/validate_xml.sh
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
  records_management/security/portal_request_security.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhanced manifest with comprehensive enterprise dependencies and optimized loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove unavailable dependencies causing module installation failure
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Streamline dependencies to core and essential enterprise modules
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove project_timesheet dependency causing installation failure
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Ultra-conservative dependencies to prevent installation failures
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add critical dependencies back to __manifest__.py for Records Management functionality
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct invalid field references in security rules
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: Correct invalid field and model references in security files
  records_management/security/additional_models_security.xml
  records_management/security/portal_request_security.xml
Due: validate-xml-structure

fix: Correct invalid 'scope' field reference in intelligent_search_security.xml domain rule
  records_management/security/intelligent_search_security.xml
Due: validate-xml-structure

fix: Add missing model XML ID definitions for security rules
  records_management/__manifest__.py
  records_management/data/model_xml_ids.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Complete RM System Integrity Setup
  records_management/__manifest__.py
  records_management/data/billing_data.xml
  records_management/data/core_records_data.xml
  records_management/data/fsm_data.xml
  records_management/data/model_xml_ids.xml
  records_management/data/naid_compliance_data.xml
  records_management/data/portal_mail_templates_data.xml
  records_management/models/rm_module_configurator.py
  records_management/report/scrm_records_management_reports.xml
  records_management/security/portal_request_security.xml
  records_management/views/scrm_records_management_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Code quality improvements for RM Module Configurator
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

fix: Remove duplicate XML ID definitions from naid_compliance_data.xml
  records_management/data/naid_compliance_data.xml
Due: validate-xml-structure

fix: Add missing XML ID definitions and correct invalid model references
  records_management/data/model_external_ids.xml
  records_management/report/naid_compliance_report.xml
  records_management/report/naid_compliance_reports.xml
Due: validate-xml-structure

fix: Correct group XML ID references in security files
  records_management/security/naid_security.xml
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: Correct group reference in rule_feedback_admin
  records_management/security/records_management_security.xml
Due: validate-xml-structure

feat: Complete Records Management module validation and fixes
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/cybrosys_assista_analyzer.py
  development-tools/cybrosys_security_analyzer.py
  records_management/models/maintenance_request.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Add model_external_ids.xml to manifest data loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Enhance Odoo Model Relationship Analyzer with advanced field dependency resolution and validation
  development-tools/cybrosys_assista_analyzer.py
Due: none

fix: Remove duplicate chain.of.custody model entry in model_external_ids.xml
  records_management/data/model_external_ids.xml
Due: validate-xml-structure

fix: Remove duplicate ir.model record for chain.of.custody
  .vscode/settings.json
  records_management/data/model_external_ids.xml
Due: validate-xml-structure

fix: Remove duplicate return statement in mobile_dashboard_widget.py
  records_management/models/mobile_dashboard_widget.py
Due: check-odoo-syntax

feat: Add model XML IDs data file and update multiple models
  clean_security_csv.py
  records_management/controllers/field_label_portal.py
  records_management/data/model_xml_ids.xml
  records_management/models/chain_of_custody.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_certificate.py
  records_management/models/naid_certificate_item.py
  records_management/wizards/hard_drive_scan_wizard.py
  records_management_fsm/models/fsm_task_service_line.py
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve indentation error in field_label_portal.py and clean up duplicate files
  records_management/controllers/field_label_portal.py
  records_management/models/__init__.py
  records_management/models/mobile_dashboard_widget.py
  records_management/rm_module_configurator.py
  records_management/security/ir.model.access.csv
  records_management/views/mobile_dashboard_widget_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Clean up duplicate files and update model imports
  records_management/models/__init__.py
  records_management/rm_module_configurator.py
Due: check-odoo-syntax, check-model-imports

fix: Correct import order and replace make_response with Response in field_label_portal.py
  records_management/controllers/field_label_portal.py
Due: check-odoo-syntax

fix: Add missing model imports and resolve related field dependencies
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Add records_container_movement import to resolve One2many field relationship
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Update model imports in __init__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
