Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Stock owner field visibility and product reference error
  records_management/__manifest__.py
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Simplify container location and stock owner field visibility
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add full partner category access for Records Manager and Admin
  records_management/__manifest__.py
  records_management/security/additional_models_security.xml
  records_management/security/ir.model.access.csv
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add ir.module.module read access for Records Manager
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: IndentationError in records_container.py line 20
  records_management/__manifest__.py
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Remove invalid tree_view_ref context in department user assignments
  records_management/__manifest__.py
  records_management/views/records_department_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement department-based inventory ownership hierarchy
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/models/records_storage_department_user.py
  records_management/models/res_partner.py
  records_management/security/portal_container_rules.xml
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Use stock_owner_id in action_activate quant creation
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Change records_department_users from One2many to computed Many2many
  records_management/models/res_partner.py
  records_management/security/portal_container_rules.xml
Due: check-odoo-syntax, validate-xml-structure

feat(containers): Implement FSM pickup workflow and rename 'stored' to 'in_storage'
  records_management/__manifest__.py
  records_management/controllers/intelligent_search.py
  records_management/demo/intelligent_search_demo_data.xml
  records_management/models/container_content.py
  records_management/models/records_container.py
  records_management/models/records_management_dashboard.py
  records_management/models/stock_picking_records_extension.py
  records_management/models/stock_quant.py
  records_management/models/workflow_visualization_manager.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(portal): Add advanced search container inventory with proper ownership fields
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_home_preconfigured.xml
Due: check-odoo-syntax, validate-xml-structure

feat(portal): Add website pages for portal menus (containers, work orders, coordinators, certificates)
  records_management/__manifest__.py
  records_management/data/website_pages.xml
Due: check-odoo-syntax, validate-xml-structure

fix(portal): Update menu URLs to use correct routes (/my/containers, /my/work_orders)
  records_management/__manifest__.py
  records_management/data/website_pages.xml
  records_management/data/website_portal_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix(portal): Remove configurator flag conditional - always show sidebar cards
  records_management/templates/portal_home_preconfigured.xml
Due: validate-xml-structure

fix(manifest): Load records_storage_department_user_views.xml BEFORE records_department_views.xml to fix field validation error
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Update version numbers from 19.0.0.1 to 18.0.0.2.29 across multiple files
  records_management/README.md
  records_management/controllers/field_label_portal.py
  records_management/controllers/main.py
  records_management/controllers/work_order_portal.py
  records_management/models/account_move_line.py
  records_management/models/barcode_generation_history.py
  records_management/models/barcode_models_enhanced.py
  records_management/models/barcode_pricing_tier.py
  records_management/models/barcode_product.py
  records_management/models/barcode_storage_box.py
  records_management/models/base_rate.py
  records_management/models/bin_key.py
  records_management/models/bin_key_history.py
  records_management/models/bin_key_unlock_service.py
  records_management/models/certificate_template_data.py
  records_management/models/container_access_activity.py
  records_management/models/container_access_work_order.py
  records_management/models/container_content.py
  records_management/models/container_destruction_work_order.py
  records_management/models/container_retrieval_work_order.py
  records_management/models/cross_department_sharing.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/custody_transfer_event.py
  records_management/models/customer_category.py
  records_management/models/customer_feedback.py
  records_management/models/customer_inventory_report.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/customer_negotiated_rate.py
  records_management/models/customer_portal_diagram.py
  records_management/models/destruction_item.py
  records_management/models/discount_rule.py
  records_management/models/records_billing.py
  records_management/static/description/index.html
  records_management/templates/portal_document_retrieval.xml
  records_management/templates/portal_mobile_template.xml
  records_management/views/records_work_vehicle_views.xml
  records_management/wizards/customer_inventory_report_wizard.py
  records_management/wizards/system_flowchart_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Update portal menu URLs to new paths for request and document actions
  records_management/data/website_portal_menus.xml
  records_management/templates/portal_home_preconfigured.xml
Due: validate-xml-structure

feat: Enhance portal dashboard with dynamic card generation and additional menu options
  records_management/controllers/main.py
  records_management/models/rm_module_configurator.py
  records_management/templates/portal_home_preconfigured.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Ensure absolute URLs for menu items and update portal templates to conditionally display entries based on dashboard cards
  records_management/controllers/main.py
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_home_preconfigured.xml
  records_management/templates/portal_work_order_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct XPath expression for portal home template to reference the correct div class
  records_management/templates/portal_home_preconfigured.xml
  website_menu_export.csv
Due: validate-xml-structure

feat: Add accessibility improvements and jQuery checks to portal components
  records_management/__manifest__.py
  records_management/static/src/js/portal_accessibility.js
  records_management/static/src/js/portal_inventory_highlights.js
  records_management/static/src/js/portal_quote_generator.js
  records_management/static/src/js/portal_tour.js
  website2_menu_export.csv
  website_menu_export.csv
Due: check-odoo-syntax

feat: Add portal dashboard bootstrapper and enhance metrics collection for Records Management
  records_management/__manifest__.py
  records_management/controllers/main.py
  records_management/static/src/js/portal_dashboard_bootstrap.js
  records_management_fsm/__manifest__.py
  records_management_fsm/data/fleet_fsm_action_bridge.xml
  records_management_fsm/models/__init__.py
  records_management_fsm/models/setup.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Enhance Records Fleet Vehicles action with local definition and help text for FSM integration
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

chore(records_management_fsm): Update author name in manifest
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

feat: Add staging deployment workflow with sync script and comprehensive development guide
  .vscode/tasks.json
  DEVELOPMENT_WORKFLOW.md
  scripts/sync-to-staging.sh
Due: none

fix: Update sync script to use git rev-parse for older git versions
  scripts/sync-to-staging.sh
Due: none

feat: Add GitHub Actions workflow for automatic Enterprise → main sync
  .github/workflows/auto-sync-branches.yml
Due: none

fix(pre_init_hooks): Extract cursor from env object - fix AttributeError on module initialization
  records_management/pre_init_hooks.py
Due: check-odoo-syntax

chore: Standardize version to 18.0.1.0.0 and remove all 19.0 references
  records_management/README.md
  records_management/__manifest__.py
  records_management/data/intelligent_search_indexes_data.xml
  records_management/models/records_billing_config.py
  records_management/models/records_document.py
  records_management/static/description/index.html
  records_management/views/account_move_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Bump version to 18.0.1.0.1 - Force module upgrade on Odoo.sh
  records_management/__manifest__.py
Due: check-odoo-syntax

feat(migrations): Add department user fields to pre-migration script
  records_management/migrations/18.0.1.0.1/pre-migration.py
Due: check-odoo-syntax

docs(migrations): Add comprehensive migration system documentation
  records_management/migrations/README.md
Due: none

fix(hooks): Add department user fields to pre_init_hook
  records_management/pre_init_hooks.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
