Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: rename "Destruction Certificate" to "Shredding Certificate" for clarity
  records_management_fsm/models/fsm_order.py
Due: check-odoo-syntax

fix: change tree view to list view for FSM Integrations
  records_management_fsm/views/enhanced_fsm_integration_views.xml
Due: validate-xml-structure

fix:
  records_management_fsm/models/fsm_task.py
  records_management_fsm/views/fsm_notification_manager_views.xml
  records_management_fsm/views/fsm_notification_views.xml
  records_management_fsm/views/fsm_task_views.xml
  records_management_fsm/views/mobile_fsm_integration_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: change tree view to list view for FSM Task Service Lines
  records_management_fsm/models/enhanced_fsm_integration.py
  records_management_fsm/views/fsm_task_service_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: add access rights for various record wizards in records management
  records_management/security/ir.model.access.csv
Due: none

feat: add location update interval and default integration creation method
  records_management_fsm/models/enhanced_fsm_integration.py
Due: check-odoo-syntax

fix:
  records_management/security/ir.model.access.csv
Due: none

fix:
  records_management/models/__init__.py
  records_management/models/bin_issue_report_wizard.py
  records_management/models/records_permanent_flag_wizard.py
  records_management/wizards/bin_issue_report_wizard.py
Due: check-odoo-syntax, check-model-imports

fix: update model references for bin issue report and permanent flag wizards in access control
  records_management/security/ir.model.access.csv
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  records_management/security/ir.model.access.csv
Due: none

fix: ir.model.access.csv remove unused access control entries for various wizards
  records_management/security/ir.model.access.csv
Due: none

fix:
  records_management/demo/model_records_demo.xml
  records_management/security/ir.model.access.csv
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

fix:
  records_management/demo/model_records_demo.xml
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

fix: demo custody fields and FSM pickup route action
  records_management/demo/model_records_demo.xml
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: validate-xml-structure

fix:
  records_management/demo/intelligent_search_demo_data.xml
  records_management/models/records_container.py
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management_fsm/__manifest__.py
  records_management_fsm/views/fleet_fsm_integration_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix(fsm): remove placeholder from load and bump version to 18.0.1.0.1
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix:
  records_management_fsm/__manifest__.py
  records_management_fsm/views/fsm_task_service_line_views.xml
  records_management_fsm/views/fsm_task_views.xml
  records_management_fsm/views/mobile_fsm_integration_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management_fsm/views/fsm_task_views.xml
Due: validate-xml-structure

fix:
  records_management/data/container_types_base_rates.xml
  records_management/models/__init__.py
  records_management/models/hard_drive_scan.py
  records_management/models/records_location.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix(fsm acl): normalize ir.model.access.csv format to match main (underscore naming)
  records_management_fsm/security/ir.model.access.csv
Due: none

fix:
  records_management/data/products_data.xml
  records_management/demo/naid_demo_certificates.xml
  records_management/models/records_container.py
  records_management_fsm/views/fsm_reschedule_wizard_placeholder_views.xml
  records_management_fsm/views/fsm_task_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/models/records_container.py
  records_management/views/load_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management_fsm/models/mobile_fsm_integration.py
Due: check-odoo-syntax

fix:
  records_management/demo/naid_demo_certificates.xml
  records_management_fsm/models/fsm_order.py
  records_management_fsm/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure

fix:
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

fix:
  records_management/demo/naid_demo_certificates.xml
  records_management/models/naid_certificate.py
Due: check-odoo-syntax, validate-xml-structure

fix: change report type from qweb-html to qweb-pdf for NAID Certificate
  records_management/report/naid_certificate_reports.xml
Due: validate-xml-structure

fix: import xml in PaperLoadProgressField and PaperLoadTruckWidget components
  records_management/static/src/js/paper_load_progress_field.js
  records_management/static/src/js/paper_load_truck_widget.js
  records_management/static/src/js/truck_widget.js
Due: none

fix: remove unnecessary <odoo> tag from system_flowchart_templates.xml
  records_management/static/src/xml/system_flowchart_templates.xml
Due: validate-xml-structure

feat: add vis-network CSS and JS files to backend and frontend assets
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: add accessibility layout improvements for backend and website
  records_management/__manifest__.py
  records_management/views/accessibility_layout_overrides.xml
Due: check-odoo-syntax, validate-xml-structure

fix: update version to 18.0.12.0.6 and remove accessibility layout override due to upstream changes
  records_management/__manifest__.py
Due: check-odoo-syntax
