Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Add department tracking to RecordsFile model
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Add view refs to action_view_files and secure Check Out Files button
  records_management/models/records_department.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct Check Out Files workflow - all users can create retrievals
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add view references to file actions and simplify button labels
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add Files button creates NEW file folders in container
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Add records_file_views.xml to manifest and fix all file button view references
  records_management/__manifest__.py
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Add file barcode report template
  records_management/__manifest__.py
  records_management/report/file_barcode_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add SECURE QR code report for file folders
  records_management/models/records_file.py
  records_management/report/file_barcode_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace insecure container QR code with SECURE portal URL
  records_management/models/records_container.py
  records_management/report/container_barcode_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct binding_model_id references in QR and barcode reports
  records_management/report/container_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Remove binding_model_id from QR and barcode reports
  records_management/report/container_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Make demo customer emails unique (except CITY OF EL PASO)
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Auto-generate temp_barcode on file creation
  records_management/models/records_file.py
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add ir.ui.view read access for all portal user groups
  records_management/security/ir.model.access.csv
Due: none

fix: Add ir.ui.view read access for records_user and records_manager
  records_management/security/ir.model.access.csv
Due: none

fix: Remove groups_id from inherited view (Odoo 18+ compatibility)
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

fix: Clear all view access from Records Admin group
  records_management/security/records_management_security.xml
Due: validate-xml-structure

cleanup: Remove view_access cleanup command after execution
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: Add website model read access for all portal user groups
  records_management/security/ir.model.access.csv
Due: none

revert: Remove website model access - caused conflicts
  records_management/security/ir.model.access.csv
Due: none

fix: Add website record rule for portal users (signup flow)
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: Add .sudo() to portal controller model calls to fix 403 errors
  records_management/controllers/portal.py
Due: check-odoo-syntax

simplify: Reduce portal hub from 7 cards to 4 cards
  records_management/controllers/main.py
Due: check-odoo-syntax

fix: Container template iteration error
  records_management/templates/portal_containers_list.xml
Due: validate-xml-structure

fix: Add .sudo() to inventory detail pages
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Add .sudo() to ALL portal CRUD operations
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Add destruction workflow with barcode scan simulation + disable portal delete
  records_management/controllers/portal.py
  records_management/models/container_destruction_work_order.py
  records_management/views/container_destruction_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Replace container_number with name field in portal template
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/templates/portal_container_detail.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove duplicate empty NAID training courses
  records_management/data/naid_training_demo_data.xml
Due: validate-xml-structure

fix: Remove duplicate slide_channel_customer_records_setup causing 0 steps
  records_management/data/training_courses_data.xml
Due: validate-xml-structure

fix: Move action definition before views to fix XML reference error
  records_management/views/container_destruction_work_order_views.xml
Due: validate-xml-structure

fix: Load training_courses_data.xml before naid_training_demo_data.xml
  records_management/__manifest__.py
Due: check-odoo-syntax

temp: Move demo data to data section to force load
  records_management/__manifest__.py
Due: check-odoo-syntax

chore: Bump version to 18.0.1.0.5
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Integrate stock.location with Records Management
  records_management/models/records_location.py
  records_management/views/records_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update Storage Locations menu to use new stock.location integration
  records_management/models/records_location.py
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add master toggle and improve configurator UX
  records_management/models/rm_module_configurator.py
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Adjust field attributes for better visibility in configurator
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure
