Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Update view modes from 'tree' to 'list' for consistency across multiple XML files
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/advanced_billing_line_actions_menus.xml
  records_management/views/advanced_billing_profile_views.xml
  records_management/views/barcode_seasonal_pricing_views.xml
  records_management/views/base_rates_views.xml
  records_management/views/billing_period_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_billing_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_permanent_flag_wizard_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/stock_move_sms_validation_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

refactor: Update view modes from 'tree' to 'list' for consistency in category and storage department user views
  records_management/models/records_chain_of_custody.py
  records_management/views/records_category_views.xml
  records_management/views/records_chain_of_custody_views.xml
  records_management/views/records_storage_department_user_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unused chain of custody access rights for cleaner security configuration
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

fix: Update model reference for demo chain of custody log template
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Remove chain of custody views from manifest for cleaner module structure
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Change view mode from 'tree' to 'list' for enhanced list view of Chain of Custody
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Add missing action_view_audit_logs method to chain.of.custody model
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Correct model import order to resolve audit log field dependency
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Resolve chain of custody model dependencies and audit log view context
  records_management/models/__init__.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Update transfer details in Chain of Custody view to include reason, conditions, and verification code
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Update Chain of Custody model to use res.user for custodian fields and enhance audit logging
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Enhance _build_related_domain method with detailed docstring and validation checks
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Remove problematic item_type field from chain_of_custody view - chain.of.custody.item model loading issue
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Correct comodel_name from 'res.user' to 'res.users' in chain_of_custody.py - 6 field references
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Temporarily remove problematic fields from transfer_item_ids view - quantity, condition, serial_number, barcode, box_id, weight causing model resolution issues
  records_management/models/chain_of_custody_event.py
  records_management/models/chain_of_custody_item.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing partner_id field to chain.of.custody model - required by related fields in chain.of.custody.item and chain.of.custody.event
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add missing transfer_item_count field and action_view_transfer_items method to chain.of.custody model - required by view buttons and stat widgets
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Update chain_of_custody_item create method to use @api.model_create_multi pattern for Odoo 18.0 compatibility
  records_management/models/chain_of_custody_item.py
Due: check-odoo-syntax

fix: Add missing custody_event_count field and action_view_custody_events method to chain.of.custody model
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add missing fields to chain.of.custody model and update labels in chain.of.custody.event and chain.of.custody.item for clarity
  records_management/models/chain_of_custody.py
  records_management/models/chain_of_custody_event.py
  records_management/models/chain_of_custody_item.py
Due: check-odoo-syntax

fix: Correct indentation in action_update_location method for proper execution
  records_management/models/chain_of_custody_item.py
Due: check-odoo-syntax

fix: Add responsible_user_id field and compute method to track latest custody event user
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Update responsible_user_id label for clarity and adjust audit log fields in views
  records_management/models/chain_of_custody.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add legacy compatibility fields to NAID Audit Log and update views for backward compatibility
  records_management/models/naid_audit_log.py
  records_management/views/chain_of_custody_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add action_type placeholder field to ChainOfCustody model and update NAIDAuditLog fields for clarity and backward compatibility
  records_management/models/chain_of_custody.py
  records_management/models/naid_audit_log.py
Due: check-odoo-syntax

fix: Allow dynamic field passing in create_log method of NAIDAuditLog model
  records_management/models/naid_audit_log.py
Due: check-odoo-syntax

fix: Remove optional action field from Chain of Custody view for clarity
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Enhance Chain of Custody model with computed fields for item metrics, action type, primary user, durations, efficiency, and compliance score
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add computed fields for environmental aggregates in Chain of Custody model
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add snapshot fields for latest audit log compatibility in Chain of Custody model
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add snapshot fields for transfer items in Chain of Custody model for parser compatibility
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Rename compute method for latest action type in Chain of Custody model for clarity
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: Add humidity control field and enhance duration computation in Chain of Custody model
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

chore: ignore scan_results.json, remove artifact, generalize python path in tasks
  .gitignore
  .vscode/tasks.json
  admin-tools/development-tools/analysis-reports/scan_results.json
Due: none

chore: broaden ignore to entire analysis-reports directory
  .gitignore
Due: none

fix: remove active_id from custody form contexts
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

chore: drop redundant context from custody O2M fields
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

feat: make actual_duration and transfer_efficiency stored for search filter
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax

fix: update kanban template name and improve department filter logic
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

Implement code changes to enhance functionality and improve performance
  records_management/data/sequence_data.xml
  records_management/models/chain_of_custody.py
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
