Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Correct model reference in records deletion request enhanced views
  records_management/report/records_deletion_request_enhanced_reports.xml
  records_management/views/records_deletion_request_enhanced_views.xml
Due: validate-xml-structure

fix: Correct additional model references in reports
  find_missing_models.py
  records_management/report/chain_of_custody_reports.xml
  records_management/report/container_movement_reports.xml
  records_management/report/records_billing_contact_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct shredding bin model reference in reports
  records_management/report/shredding_bin_reports.xml
Due: validate-xml-structure

fix: Convert deprecated 'states' and 'attrs' attributes to Odoo 18.0 'invisible' attribute
  records_management/views/document_retrieval_team_views.xml
  records_management/views/records_deletion_request_enhanced_views.xml
Due: validate-xml-structure

feat: Implement advanced duplicate finder for PostgreSQL constraint violations
  advanced_duplicate_finder.py
  find_duplicate_access_rules.py
  fix_access_duplicates.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

fix: Correct missing menu reference from menu_billing to menu_records_billing
  records_management/views/records_department_billing_approval_views.xml
Due: validate-xml-structure

fix: Correct all missing menu references
  records_management/views/inventory_item_retrieval_line_views.xml
  records_management/views/records_request_line_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/shredding_inventory_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

fix: Replace non-existent 'is_primary' field with 'billing_role'
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix: Resolve view inheritance load order issue
  records_management/__manifest__.py
  records_management/views/records_document_field_label_helper_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Rename kanban-box template to card for consistency across views
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

fix: Correct field references in retention rules list view
  records_management/views/records_document_type_views.xml
Due: validate-xml-structure

fix: Correct 'created_date' field reference to 'create_date'
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct 'responsible_person' field reference to 'to_custodian_id' in chain of custody view
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct chain of custody field references to match naid.custody model
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct audit trail field references to match naid.audit.log model
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Correct destruction record field references to match records.document model
  records_management/views/records_document_views.xml
Due: validate-xml-structure

fix: Replace non-existent 'storage_location' with 'document_id.location_id' in digital scans
  records_management/views/records_document_views.xml
Due: validate-xml-structure

style: Remove unnecessary blank lines for improved code readability
  records_management/models/records_permanent_flag_wizard.py
Due: check-odoo-syntax

fix: Add storage_location_id related field to records.digital.scan model
  records_management/models/records_digital_scan.py
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove non-existent action_download button from digital scans list
  records_management/views/records_document_views.xml
Due: validate-xml-structure

feat: Add built-in file storage to digital scans with automatic download functionality
  records_management/models/records_digital_scan.py
  records_management/views/records_document_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add toggle for enabling Digital Scans tab in document form
  records_management/models/records_document.py
  records_management/views/records_document_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: add total_scan_size_visible boolean to resolve view dependency and parse error
  records_management/models/records_document.py
Due: check-odoo-syntax

refactor(phase1): remove trivial activate/deactivate wrappers in initial batch (discount_rule, location, pricing tier, service item, department)
  records_management/models/barcode_pricing_tier.py
  records_management/models/discount_rule.py
  records_management/models/records_department.py
  records_management/models/records_location.py
  records_management/models/service_item.py
Due: check-odoo-syntax

fix(view): remove unsupported ref context from Field Labels smart button causing parse error
  records_management/views/records_document_field_label_helper_views.xml
Due: validate-xml-structure

fix: correct indentation in records_location deprecated action methods
  records_management/models/records_location.py
Due: check-odoo-syntax

fix(view): remove redundant <data> wrapper in records_location_views.xml (schema compliance)
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix(view): restore required <data> wrapper for records_location_views.xml schema compliance
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Remove nested data element from records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Add required data wrapper in records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Correct XML indentation in records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Use data as root element instead of odoo
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix(view): restructure XML to ensure proper nesting and compliance in records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix(view): update kanban and tree views for records location to enhance usability and remove unused fields
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Improve HTML structure in records location help text
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Correct icon placement in help text
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Remove unnecessary list from help text in records location view
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Correct XML tag mismatch in help text
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Update tree tags to list for Odoo 18.0 compatibility
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Remove invalid action_location_report button
  records_management/views/records_location_views.xml
Due: validate-xml-structure
