Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: Enhance views with accessibility attributes and improve model analysis script
  development-tools/analyze_name_inherit_overlap.py
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_inventory_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_audit_log_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_views.xml
  records_management/views/shredding_service_views.xml
  records_management/views/stock_lot_views.xml
  records_management_fsm/views/fsm_task_views.xml
Due: validate-xml-structure

feat: Improve accessibility by adding ARIA attributes to icons across various views
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_feedback_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

feat: Add escalation management fields and computed metrics to customer feedback model
  records_management/models/customer_feedback.py
Due: check-odoo-syntax

Refactor OdooValidator: Replace return statement with pass in find_syntax_errors.py
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/syntax-tools/find_syntax_errors.py
Due: none

feat: Add advanced records features and computed metrics to ResConfigSettings model
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/records_config_settings.py
Due: check-odoo-syntax

feat: Revamp Missing View Fields Scanner for improved accuracy and detailed reporting; implement AST parsing for model fields and enhance XML view processing
  development-tools/analysis-reports/missing_view_fields_scanner.py
Due: none

feat: Add action placeholder methods for various models to support future functionality
  records_management/models/__init__.py
  records_management/models/document_retrieval_team_actions.py
  records_management/models/naid_certificate_actions.py
  records_management/models/naid_operator_certification_actions.py
  records_management/models/paper_bale_actions.py
  records_management/models/portal_feedback_actions.py
  records_management/models/product_template_actions.py
  records_management/models/records_billing_config_actions.py
  records_management/models/records_retention_policy_version_actions.py
  records_management/models/records_storage_department_user_actions.py
  records_management/models/service_item_actions.py
  records_management/models/shredding_service_actions.py
  records_management/models/shredding_service_bin_actions.py
  records_management/models/stock_lot_actions.py
  records_management/models/work_order_coordinator_actions.py
Due: check-odoo-syntax, check-model-imports

Fix import order in __init__.py to resolve inheritance error for retrieval models
  development-tools/analysis-reports/enhanced_analysis_results.json
  development-tools/missing_view_fields_report.json
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Reorganize model imports in __init__.py for clarity and to prevent inheritance errors
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Consolidate Document Retrieval Team models and views under maintenance.team to eliminate duplication and streamline functionality
  records_management/models/button_action_placeholders.py
  records_management/models/document_retrieval_team.py
  records_management/models/document_retrieval_team_actions.py
  records_management/views/document_retrieval_team_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove empty DocumentRetrievalTeam placeholder class and consolidate logic in document_retrieval_team.py; update views to reflect changes and enhance retrieval team functionality
  records_management/models/button_action_placeholders.py
  records_management/models/document_retrieval_team.py
  records_management/models/document_retrieval_team_actions.py
  records_management/views/document_retrieval_team_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove deprecated placeholder classes and consolidate logic in respective models; streamline imports in __init__.py
  records_management/models/__init__.py
  records_management/models/button_action_placeholders.py
Due: check-odoo-syntax, check-model-imports

feat: Add Records Retrieval Order and Line models with sequences and access rights
  records_management/__manifest__.py
  records_management/data/records_retrieval_order_sequences.xml
  records_management/data/records_retrieval_order_sequences_data.xml
  records_management/models/__init__.py
  records_management/models/records_retrieval_order.py
  records_management/models/records_retrieval_order_line.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Add SLA escalation cron job and unify records retrieval order views; enhance customer feedback model with survey integration
  records_management/__manifest__.py
  records_management/data/records_retrieval_order_cron.xml
  records_management/data/records_retrieval_order_cron_data.xml
  records_management/models/customer_feedback.py
  records_management/views/records_retrieval_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Consolidate retrieval work order models and views; unify dashboard actions and access rights for streamlined functionality
  records_management/controllers/work_order_portal.py
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
  records_management/views/missing_model_views.xml
  records_management/views/work_order_dashboard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Unify model references from 'records.retrieval.work.order' to 'records.retrieval.order' across multiple files for consistency
  records_management/models/account_move_line.py
  records_management/models/document_retrieval_equipment.py
  records_management/models/document_retrieval_item.py
  records_management/models/document_search_attempt.py
  records_management/models/records_usage_tracking.py
  records_management/security/ir.model.access_security.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Consolidate work order retrieval logic into WorkOrderCoordinator model; remove deprecated action placeholder file
  records_management/models/work_order_coordinator.py
  records_management/models/work_order_coordinator_actions.py
Due: check-odoo-syntax

refactor: Remove legacy records retrieval work order views and consolidate into a single compliant form view for the system flowchart wizard
  records_management/views/missing_model_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

refactor: Replace legacy work order references with unified retrieval order model across multiple files
  records_management/models/file_retrieval_item.py
  records_management/models/scan_digital_asset.py
  records_management/models/scan_retrieval_item.py
  records_management/wizards/work_order_bin_assignment_wizard.py
Due: check-odoo-syntax

refactor: Update dependency for item metrics computation to include line_ids for accurate recalculation
  records_management/models/records_retrieval_order.py
Due: check-odoo-syntax

Refactor work order bin assignment wizard and update XML views
  records_management/models/mobile_photo.py
  records_management/security/ir.model.access.csv
  records_management/views/system_flowchart_wizard_views.xml
  records_management/wizards/work_order_bin_assignment_wizard.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Add access rights for records retrieval work order in security model
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

Refactor records management module: consolidate and remove legacy models, views, and reports
  records_management/models/__init__.py
  records_management/models/container_retrieval_work_order.py
  records_management/models/file_retrieval_work_order.py
  records_management/models/file_retrieval_work_order_item.py
  records_management/models/naid_training_schedule.py
  records_management/models/scan_retrieval_work_order.py
  records_management/report/container_retrieval_work_order_reports.xml
  records_management/report/file_retrieval_work_order_item_reports.xml
  records_management/report/file_retrieval_work_order_reports.xml
  records_management/report/scan_retrieval_work_order_reports.xml
  records_management/views/container_retrieval_work_order_views.xml
  records_management/views/file_retrieval_work_order_item_views.xml
  records_management/views/file_retrieval_work_order_views.xml
  records_management/views/scan_retrieval_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Update manifest and model imports for improved organization and clarity
  records_management/__manifest__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Update dateutil import handling and enhance fallback for billing calculations
  legacy_rm/container_retrieval_work_order.py
  legacy_rm/file_retrieval_work_order.py
  legacy_rm/file_retrieval_work_order_item.py
  legacy_rm/scan_retrieval_work_order.py
  legacy_rm/work_order_coordinator_actions.py
  records_management/models/naid_training_schedule.py
  records_management/models/records_billing_config.py
  records_management/models/records_retrieval_order.py
  records_management/models/scan_retrieval_item.py
  records_management/models/work_order_coordinator_actions.py
Due: check-odoo-syntax

Implement feature X to enhance user experience and optimize performance
  records_management/security/ir.model.access_security.xml
Due: validate-xml-structure

refactor: Consolidate legacy retrieval models and unify retrieval links for improved data integrity
  records_management/models/document_search_attempt.py
  records_management/models/records_retrieval_order_line.py
  records_management/models/retrieval_metric.py
  records_management/models/scan_retrieval_item.py
  records_management/views/file_retrieval_work_order_item_views.xml
  records_management/views/file_retrieval_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove legacy file retrieval references and unify retrieval links for improved clarity
  records_management/data/sequence_data.xml
  records_management/models/__init__.py
  records_management/models/document_search_attempt.py
  records_management/models/retrieval_metric.py
  records_management/models/scan_retrieval.py
  records_management/models/scan_retrieval_item.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Register new models for aggregated negotiated rates and ensure portal diagram model is loaded to fix ACL resolution
  records_management/models/__init__.py
  records_management/models/records_retrieval_order_line.py
Due: check-odoo-syntax, check-model-imports

refactor: Remove legacy retrieval models and unify retrieval links for improved data integrity
  records_management/models/document_search_attempt.py
  records_management/models/file_retrieval.py
  records_management/models/records_retrieval_order_line.py
  records_management/models/retrieval_metric.py
Due: check-odoo-syntax

refactor: Remove legacy file retrieval model and update work order retrieval type for improved clarity
  records_management/models/__init__.py
  records_management/models/file_retrieval_item.py
  records_management/models/work_order_retrieval.py
Due: check-odoo-syntax, check-model-imports

refactor: Remove legacy file retrieval models to streamline architecture
  records_management/models/file_retrieval_item.py
  records_management/models/file_retrieval_work_order_item.py
Due: check-odoo-syntax

refactor: Update product description for clarity and reintroduce deprecated retrieval item link for backward compatibility
  records_management/data/products_data.xml
  records_management/models/document_search_attempt.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Rename fields for cron job configuration to improve clarity and consistency
  records_management/data/records_retrieval_order_cron.xml
  records_management/data/records_retrieval_order_cron_data.xml
Due: validate-xml-structure

refactor: Standardize cron job configuration fields for consistency and clarity
  records_management/data/naid_compliance_data.xml
  records_management/data/records_retrieval_order_cron.xml
  records_management/data/scheduled_actions_data.xml
Due: validate-xml-structure

refactor: Rename cron data file for clarity and single source indication
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Implement post-init hooks for dynamic cron field compatibility
  records_management/__init__.py
  records_management/__manifest__.py
  records_management/data/naid_compliance_data.xml
  records_management/data/records_retrieval_order_cron.xml
  records_management/data/scheduled_actions_data.xml
  records_management/models/records_billing_config.py
  records_management/models/records_container.py
  records_management/models/revenue_forecast.py
  records_management/post_init_hooks.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Enhance customer feedback model and views for improved clarity and functionality
  records_management/models/customer_feedback.py
  records_management/models/customer_inventory_report.py
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_inventory_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Consolidate customer_negotiated_rates into customer_negotiated_rate and update related access rights
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/customer_feedback.py
  records_management/models/document_retrieval_item.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

refactor: Add customer feedback theme model and update access rights for theme tagging
  records_management/models/__init__.py
  records_management/models/customer_feedback_theme.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
