Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Container type selection with Type 01 as default
  records_management/controllers/portal.py
  records_management/templates/portal_container_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Simplify pickup request for customers, add default container weight
  records_management/controllers/portal.py
  records_management/models/pickup_request.py
  records_management/models/records_container.py
  records_management/templates/portal_pickup_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove Service Requests menu, streamline portal navigation
  records_management/data/website_portal_menus.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_shredding_dashboard.xml
Due: validate-xml-structure

refactor: Clean up container types to 6 unique types
  records_management/data/container_types_base_rates.xml
  records_management/demo/model_records_demo.xml
  records_management/templates/portal_container_create.xml
Due: validate-xml-structure

fix: Update container type rates to actual pricing
  records_management/data/container_types_base_rates.xml
Due: validate-xml-structure

fix: Add missing space in 'Box / Container Number' label
  records_management/templates/portal_container_create.xml
Due: validate-xml-structure

fix: Rename old Type 04 to Type 07 placeholder to avoid code conflict
  records_management/data/container_types_base_rates.xml
Due: validate-xml-structure

fix: Reuse original XML ID for Type 04 to resolve database constraint
  records_management/data/container_types_base_rates.xml
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

feat: Add comprehensive quiz questions for all training courses
  records_management/__manifest__.py
  records_management/data/training_courses_quizzes.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal inventory error + restore customer locations feature
  records_management/controllers/portal.py
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_inventory_template.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add barcode generation and printing for staging locations
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/customer_staging_location.py
  records_management/report/staging_location_barcode_reports.xml
  records_management/templates/portal_staging_location_forms.xml
  records_management/templates/portal_staging_locations.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Wrap frontdesk.visitor template section in conditional check
  records_management/templates/my_portal_inventory.xml
Due: validate-xml-structure

fix: Correct paperformat_id reference in staging location barcode report
  records_management/report/staging_location_barcode_reports.xml
Due: validate-xml-structure

fix: Render base portal.portal_my_home instead of inheriting template
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Add sudo() for portal inventory counts and staging location creation
  records_management/controllers/portal.py
  records_management/models/customer_staging_location.py
Due: check-odoo-syntax

fix: Add missing portal_file_search_create template to manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Change 'status' to 'state' for records.container field reference
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Require staging location when creating containers via portal
  records_management/controllers/portal.py
  records_management/templates/portal_container_create.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Improve temp barcode format for reliability
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: New temp barcode format with department hierarchy
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Enforce 4-character codes for barcode prefix
  records_management/controllers/portal.py
  records_management/models/records_department.py
  records_management/models/res_partner.py
  records_management/templates/portal_container_create.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update demo data department codes to exactly 4 characters
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/work_orders_demo.xml
Due: validate-xml-structure

fix: Remove SQL constraints on code length, gracefully handle existing data
  records_management/controllers/portal.py
  records_management/models/records_department.py
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Add missing created_via_portal field to records.container model
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Add missing created_via_portal field to records.document model
  records_management/models/records_document.py
Due: check-odoo-syntax

feat: Improve portal file create form per business requirements
  records_management/controllers/portal.py
  records_management/templates/portal_file_create.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Hide state/date fields from file create form, fix 404 on file detail
  records_management/controllers/portal.py
  records_management/templates/portal_file_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Fix file/document counts on locations, add document count
  records_management/models/stock_location.py
  records_management/views/stock_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Standardize icons and action_view methods for containers, files, documents
  records_management/models/res_partner.py
  records_management/views/records_container_views.xml
  records_management/views/records_department_views.xml
  records_management/views/stock_location_views.xml
  records_management/views/temp_inventory_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement dynamic date handling for sample data in bulk upload and interactive features
  records_management/controllers/portal_document_bulk_upload.py
  records_management/controllers/portal_interactive.py
  records_management/models/records_config_settings.py
  records_management/templates/portal_inventory_template.xml
  records_management/views/records_file_views.xml
  records_management/wizards/container_quick_add_wizard.py
  records_management/wizards/rate_change_confirmation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add service location management across models and views for improved address handling
  records_management/models/container_destruction_work_order.py
  records_management/models/pickup_request.py
  records_management/models/res_partner.py
  records_management/models/work_order_shredding.py
  records_management/views/pickup_location_view_forms.xml
  records_management/views/pickup_location_views.xml
  records_management/views/res_partner_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add signature fields and enhance shredding certificate form view for better tracking and compliance
  records_management/models/shredding_certificate.py
  records_management/views/res_partner_views.xml
  records_management/views/shredding_certificate_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add hard drive tracking to shredding certificates for improved destruction documentation
  records_management/models/shredding_certificate.py
Due: check-odoo-syntax

feat: Add ScanbotSDK camera scanner for hard drive destruction and signature fields to work orders
  records_management/__manifest__.py
  records_management/models/container_destruction_work_order.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/work_order_shredding.py
  records_management/static/src/js/hard_drive_scanner.js
  records_management/static/src/xml/hard_drive_scanner.xml
  records_management/views/hard_drive_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Use correct method names action_issue_certificate and action_deliver_certificate in shredding certificate views
  records_management/views/shredding_certificate_views.xml
Due: validate-xml-structure

refactor: Improve container form view workflow buttons
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/views/records_container_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/records_container_stock_in_wizard.py
  records_management/wizards/records_container_stock_in_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary blank line in RecordsContainerStockInWizard
  records_management/wizards/records_container_stock_in_wizard.py
Due: check-odoo-syntax

fix: Correct container button errors - pickup item uses name field, stock in simplified
  records_management/models/records_container.py
  records_management/wizards/records_container_stock_in_wizard.py
Due: check-odoo-syntax

fix: Work order wizard - fix material_type, add department, reorganize service options, rename to One-Time Purge
  records_management/models/work_order_shredding.py
  records_management/views/work_order_creation_wizard_views.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Remove alert class from barcode display div and add title to fa-barcode icons
  records_management/views/records_container_views.xml
Due: validate-xml-structure
