Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Remove incorrect @api.depends decorator from _compute_negotiated_rates_count
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Use id instead of active_id in partner button context
  records_management/views/partner_rate_management_extension.xml
Due: validate-xml-structure

fix: Wrap field names in field tags in pickup_request_line_views.xml
  records_management/views/pickup_request_line_views.xml
Due: validate-xml-structure

fix: Add priority field to pickup_route_stop model and fix view field references
  records_management/models/pickup_route_stop.py
  records_management/views/pickup_route_stop_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Upgrade barcode handling with proper relationships and barcode processing methods
  records_management/models/pickup_route_stop.py
  records_management/views/pickup_route_stop_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Escape ampersand in XML attribute (Box & Item Tracking → Box &amp; Item Tracking)
  records_management/views/pickup_route_stop_views.xml
Due: validate-xml-structure

fix: Escape ampersand in page title (Barcode & Scanning → Barcode &amp; Scanning)
  records_management/views/pickup_route_stop_views.xml
Due: validate-xml-structure

fix: Resolve view validation errors
  records_management/views/pickup_route_stop_views.xml
Due: validate-xml-structure

fix: Close oe_button_box div properly to fix XML structure
  records_management/views/pickup_route_stop_views.xml
Due: validate-xml-structure

fix: Remove non-existent user_id field references from search view
  records_management/views/pickup_route_stop_views.xml
Due: validate-xml-structure

fix: Remove website menu record with invalid parent_id reference
  records_management/views/portal_technician_certifications.xml
Due: validate-xml-structure

fix: Add state field to kanban view field list for pos.config
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Remove non-existent state field from pos.config views (Error 49)
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

feat: Integrate Records Management features into POS configuration views
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Fix pos_config form inheritance xpath to target form element directly (Error 51)
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Remove non-existent external ID references from pos_config_views (Error 52)
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Use correct menu parent reference for pos_config menuitem (Error 53)
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Remove menu item and action with invalid external ID references (Error 54)
  records_management/views/pos_config_views.xml
Due: validate-xml-structure

fix: Replace non-existent 'name' field with actual model fields in transfer line views (Error 55)
  records_management/views/records_container_transfer_line_views.xml
Due: validate-xml-structure

fix: Rewrite res_config_settings with proper inheritance pattern (Error 56)
  records_management/views/res_config_settings_views.xml
Due: validate-xml-structure

fix: Use actual res.config.settings fields (naid_compliance_enabled, naid_audit_retention_days) (Error 57)
  records_management/views/res_config_settings_views.xml
Due: validate-xml-structure

fix: Remove invalid <data> wrapper from scan_retrieval_item_views.xml (Error 58)
  records_management/views/scan_retrieval_item_views.xml
Due: validate-xml-structure

fix: Wrap records in <data> element for proper XML schema (Error 59)
  records_management/views/scan_retrieval_item_views.xml
Due: validate-xml-structure

fix: Remove problematic scan_retrieval_item_views.xml causing XML schema validation errors (Error 60)
  records_management/views/scan_retrieval_item_views.xml
Due: validate-xml-structure

feat: Add proper scan_retrieval_item views (list, form, search) with actual model fields
  records_management/views/scan_retrieval_item_views.xml
Due: validate-xml-structure

fix: Remove non-existent serial_number model view file (Error 61)
  records_management/views/serial_number_views.xml
Due: validate-xml-structure

fix: Remove serial_number_views.xml reference from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Replace non-existent 'name' field with actual shredding.service.bin fields (barcode, bin_size, etc.) - Error 62
  records_management/views/shredding_bin_views.xml
Due: validate-xml-structure

fix: Error 63 - stock_lot_attribute_value_views.xml with actual model fields
  records_management/views/stock_lot_attribute_value_views.xml
Due: validate-xml-structure

fix: Error 64 - portal_documents.xml XML parsing errors
  records_management/templates/portal_documents.xml
Due: validate-xml-structure

feat: Add missing retrieval fields and create retrieval item line model
  records_management/models/__init__.py
  records_management/models/retrieval_item_line.py
  records_management/models/work_order_retrieval.py
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Error 65 - work.order.retrieval inverse_name KeyError
  records_management/models/work_order_retrieval.py
Due: check-odoo-syntax

fix: Update work order retrieval views to use correct field names and improve UI elements
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

fix: Error 66 - Duplicate field label and invalid field references
  records_management/models/retrieval_item_line.py
  records_management/models/work_order_retrieval.py
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update work order retrieval views to replace 'assigned_technician_id' with 'user_id' and adjust field labels
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

fix: Error 67 - Remove audit_log_ids page from work.order.retrieval view
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

fix: Error 68 - Invalid action buttons on work.order.shredding
  records_management/models/work_order_shredding.py
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Error 69 - Non-existent fields in work.order.shredding view
  records_management/models/work_order_shredding.py
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

improve: Enhanced boxes_count integration for invoicing and certificates
  records_management/models/work_order_shredding.py
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Error 70 - Comprehensive work.order.shredding view cleanup
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
