Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: Replace state field with file_id in various views for improved document management
  records_management/views/records_document_type_views.xml
  records_management/views/records_document_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

feat: Refactor stock package creation logic in RecordsDocument and RecordsFile models for improved clarity and maintainability
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/views/container_access_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement temporary barcode generation for RecordsFile and update document upload logic
  records_management/models/records_file.py
  records_management/wizards/document_upload_wizard.py
Due: check-odoo-syntax

feat: Enhance RecordsFile views with improved button icons, action layout, and filter options for better usability
  records_management/views/records_file_views.xml
Due: validate-xml-structure

feat: Add responsible person tracking and auto-subscribe customers as followers in RecordsFile model
  records_management/models/records_file.py
Due: check-odoo-syntax

feat: Enhance responsible user selection with department context and improved help text across models and views
  records_management/models/records_container.py
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/models/res_users.py
  records_management/views/records_container_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_file_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement default responsible user selection based on department context in RecordsContainer model
  records_management/models/records_container.py
Due: check-odoo-syntax

feat: Improve temporary barcode generation logic in RecordsFile model to include container-specific numbering
  records_management/models/records_file.py
Due: check-odoo-syntax

Enhance records management UI with export/import functionality and retention policy updates
  records_management/controllers/main.py
  records_management/controllers/portal_interactive.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add default retention policies and enhance portal export/import functionality
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/data/retention_policy_data.xml
  records_management/models/records_document.py
  records_management/templates/portal_organization_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance portal request workflow with new work order creation and camera scanning functionality
  records_management/models/portal_request.py
  records_management/static/src/js/barcode_command_handler.js
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/templates/portal_barcode_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Container create permissions badge + org diagram CDN fallback
  records_management/controllers/main.py
  records_management/static/src/js/portal/portal_organization_diagram.js
Due: check-odoo-syntax

fix: Portal container create route using wrong model for retention policies
  records_management/controllers/portal.py
Due: check-odoo-syntax

refactor: Consolidate container create routes to canonical /my/inventory/containers/create
  records_management/controllers/main.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_destruction_request_create.xml
  records_management/templates/portal_requests_template.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Consolidate portal controllers - remove duplicates
  records_management/controllers/__init__.py
  records_management/controllers/main.py.disabled
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Correct template IDs to match controller references
  records_management/templates/portal_missing_templates.xml
  records_management/templates/portal_requests_template.xml
Due: validate-xml-structure

fix: Update template references in destruction and HTTP controllers
  records_management/controllers/destruction_portal.py
  records_management/controllers/http_controller.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Remove duplicate controller files and routes
  records_management/controllers/portal_interactive.py
Due: check-odoo-syntax

docs: Add comprehensive portal audit file
  records_management/PORTAL_MASTER_AUDIT.md
Due: none

fix: Remove duplicate barcode process route from portal_interactive.py
  records_management/controllers/portal_interactive.py
Due: check-odoo-syntax

feat: Portal cleanup - add features controller, remove duplicates, add ACL
  records_management/controllers/__init__.py
  records_management/controllers/portal_features.py
  records_management/security/ir.model.access.csv
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_compliance_templates.xml
  records_management/templates/portal_containers.xml
  records_management/templates/portal_document_retrieval.xml
  records_management/templates/portal_locations.xml
  records_management/templates/portal_missing_templates.xml
  records_management/templates/portal_records_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove orphaned XML content from portal_containers.xml
  records_management/templates/portal_containers.xml
Due: validate-xml-structure

fix: Remove orphaned XML content from portal_locations.xml
  records_management/templates/portal_locations.xml
Due: validate-xml-structure

fix: Remove invalid request_id search in shredding_service._compute_totals
  records_management/models/shredding_service.py
Due: check-odoo-syntax

feat: Add portal_request_id to work orders and certificates for traceability
  records_management/models/destruction_certificate.py
  records_management/models/naid_certificate.py
  records_management/models/records_destruction.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/shredding_service.py
Due: check-odoo-syntax

feat: Add /my/coordinators portal dashboard for unified work order view
  records_management/__manifest__.py
  records_management/controllers/portal_calendar.py
  records_management/templates/portal_coordinators_template.xml
  records_management/templates/portal_requests_template.xml
  records_management/templates/portal_work_order_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Organization diagram now queries records.department and records.storage.department.user
  handbook/ODOO_FRONTEND_BEST_PRACTICES.md
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Portal improvements - state tabs, approval error, industry selector
  records_management/controllers/portal.py
  records_management/models/portal_request.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_containers_list.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal requests now use auto-sequence numbering (REQ00001)
  records_management/data/ir_sequence_data.xml
  records_management/models/portal_request.py
  records_management/views/portal_request_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Modernize portal JS from jQuery/AMD to vanilla JS IIFE
  records_management/static/src/js/portal/portal_interactive_features.js
  records_management/static/src/js/portal/portal_interactive_features_LEGACY.js
  records_management/static/src/js/portal/portal_search.js
  records_management/static/src/js/portal/portal_search_LEGACY.js
Due: none

feat: Add 2D Blueprint Editor with indoor navigation
  records_management_3d_warehouse/controllers/warehouse_3d_data.py
  records_management_3d_warehouse/models/warehouse_blueprint.py
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.js
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.scss
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.xml
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Clean up whitespace in warehouse blueprint editor documentation
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.js
Due: none

feat: Add coordinate picker mode to 2D Blueprint Editor
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.js
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.xml
Due: validate-xml-structure

fix: Remove unnecessary whitespace in wall coordinate display logic
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.js
Due: none

fix: OWL template syntax and AttributeError in 3D view
  records_management_3d_warehouse/models/warehouse_3d_view_config.py
  records_management_3d_warehouse/static/src/components/warehouse_blueprint_editor.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Move diagram-data script inside container for JS access
  records_management/templates/portal_organization_diagram.xml
Due: validate-xml-structure

fix: Organization diagram - Excel export, modal freeze, messaging
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/templates/portal_organization_diagram.xml
Due: validate-xml-structure

fix: Remove duplicate portal_file_detail template causing 404
  records_management/templates/portal_inventory_detail.xml
Due: validate-xml-structure

fix: Add missing 'partner' variable to pickup request template
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Container create - accept container_number, make dept optional for admins
  records_management/controllers/portal.py
Due: check-odoo-syntax
