Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Remove invalid 'expand' attribute from search view group element
  records_management/views/records_digital_scan_views.xml
Due: validate-xml-structure

fix: Simplify search filters by removing unnecessary group element
  records_management/views/records_digital_scan_views.xml
Due: validate-xml-structure

fix: Clean up XML formatting and improve badge visibility in NAID Audit Log view
  records_management/views/naid_audit_log_views.xml
Due: validate-xml-structure

fix: Remove unnecessary 'expand' attribute from group element in NAID Audit Log view
  records_management/views/naid_audit_log_views.xml
Due: validate-xml-structure

Implement feature X to enhance user experience and optimize performance
  records_management/error-logs.txt
Due: none

fix: Update version number for Odoo 19 compatibility in records management module
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add invoiced field and state to work.order.shredding model
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

fix: Update manifest versions to 18.0.1.0.0 for Odoo 18.0 compatibility
  records_management/__manifest__.py
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix: Replace invalid models.Constraint with proper _sql_constraints in barcode_seasonal_pricing.py
  records_management/models/barcode_seasonal_pricing.py
Due: check-odoo-syntax

fix: Restore _sql_constraints removed for Odoo 19 - needed for Odoo 18.0 compatibility
  records_management/models/paper_model_bale.py
  records_management/models/records_department.py
  records_management/models/records_tag.py
  records_management/models/records_tag_category.py
  records_management/models/stock_lot_attribute.py
  records_management/models/stock_lot_attribute_option.py
  records_management/models/stock_lot_attribute_value.py
Due: check-odoo-syntax

fix: Complete restoration of _sql_constraints for Odoo 18.0 compatibility
  records_management/models/bin_key.py
  records_management/models/certificate_template_data.py
  records_management/models/chain_of_custody.py
  records_management/models/container_content.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/display_name.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/inventory_item_profile.py
  records_management/models/inventory_item_type.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_certificate.py
  records_management/models/naid_certification_level.py
  records_management/models/paper_model_bale.py
  records_management/models/pickup_request_line.py
  records_management/models/portal_barcode.py
  records_management/models/portal_request_line.py
  records_management/models/records_container.py
  records_management/models/records_container_content_line.py
  records_management/models/records_container_transfer_line.py
  records_management/models/records_container_type.py
  records_management/models/records_department.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy.py
  records_management/models/records_service_type.py
  records_management/models/records_storage_department_user.py
  records_management/models/records_tag.py
  records_management/models/records_tag_category.py
  records_management/models/rm_module_configurator.py
  records_management/models/shred_bin.py
  records_management/models/shred_model_bin.py
  records_management/models/shredding_certificate.py
  records_management/models/stock_lot_attribute.py
  records_management/models/stock_lot_attribute_option.py
  records_management/models/stock_lot_attribute_value.py
Due: check-odoo-syntax

fix: Convert jsonrpc routes to json for Odoo 18.0 compatibility
  records_management/controllers/field_label_portal.py
  records_management/controllers/intelligent_search.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Complete jsonrpc to json conversion for all controllers
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/controllers/portal_barcode.py
  records_management/controllers/pos_customer_history.py
Due: check-odoo-syntax

fix: Correct malformed XML syntax in fleet vehicle view_ids field
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

feat: Add dual-branch synchronization workflow and VS Code task
  .vscode/tasks.json
  install-logs-442pm
  scripts/sync_both_branches.sh
Due: none

fix: Correct XML ID reference from fleet_vehicle_view_tree_records_work to fleet_vehicle_view_list_records_work
  records_management/views/records_work_vehicle_views.xml
Due: validate-xml-structure

fix: Convert all view_mode 'tree' references to 'list' for Odoo 19.0 compatibility
  records_management/views/bin_key_history_views.xml
  records_management/views/bin_key_views.xml
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/document_retrieval_item_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/paper_model_bale_views.xml
  records_management/views/records_container_movement_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/report_window_actions_views.xml
  records_management/views/res_partner_key_restriction_views.xml
  records_management/views/service_item_views.xml
  records_management/views/shred_model_bin_views.xml
  records_management/views/temp_inventory_views.xml
  records_management/views/work_order_dashboard_views.xml
Due: validate-xml-structure

feat(chain.of.custody.event): Add missing default view definitions
  records_management/__manifest__.py
  records_management/views/chain_of_custody_event_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(chain.of.custody.event): Escape XML entities in view strings
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Convert tree view to list for Odoo 19.0 compatibility
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Remove invalid action button from form view
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Modernize view syntax for Odoo 17.0+
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Remove non-existent color field from kanban view
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Fix menu reference and modernize kanban view
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(chain.of.custody.event): Fix menu loading order dependency
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix(views): Add _get_default_tree_view() methods for Odoo 19.0 compatibility
  records_management/models/customer_inventory_report_line.py
  records_management/models/records_container_movement.py
  records_management/models/records_department_billing_approval.py
Due: check-odoo-syntax

fix(views): Add _get_default_tree_view() methods for Odoo 19.0 compatibility
  records_management/models/chain_of_custody_event.py
Due: check-odoo-syntax

fix(views): Add missing <data> wrapper to chain_of_custody_event_views.xml
  records_management/views/chain_of_custody_event_views.xml
Due: validate-xml-structure

fix: Convert _get_default_tree_view() methods to return XML elements instead of strings
  records_management/models/chain_of_custody_event.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/records_container.py
  records_management/models/records_container_movement.py
  records_management/models/records_department_billing_approval.py
  records_management/models/records_department_billing_contact.py
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Correct indentation error in records_container.py
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Remove JavaScript-incompatible context_today.strftime expressions from domain filters
  records_management/views/base_rates_views.xml
  records_management/views/bin_key_history_views.xml
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/views/load_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/records_container_views.xml
  records_management/views/work_order_dashboard_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

fix: Complete portal access rights and functionality setup
  records_management/controllers/main.py
  records_management/security/ir.model.access.csv
  records_management/security/work_order_portal_rules.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhanced portal user creation with proper customer company selection
  records_management/models/res_users.py
  records_management/views/res_users_records_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve portal user creation conflicts and 'more than one user types' error
  records_management/models/__init__.py
  records_management/models/portal_wizard.py
  records_management/models/res_users.py
Due: check-odoo-syntax, check-model-imports

fix: Critical XML compatibility fix for Odoo 19.0 - replace deprecated attrs
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure

fix: Update portal user setup instructions and enhance field attributes for clarity
  records_management/views/res_users_records_profile_views.xml
Due: validate-xml-structure
