Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

feat: streamline load shipment workflow per business requirements
  records_management/models/paper_load_shipment.py
  records_management/views/paper_load_shipment_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: resolve configurator type conflict for numeric parameters
  records_management/__manifest__.py
  records_management/data/naid_configurator_data.xml
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: remove duplicate config record and add noupdate flag
  records_management/data/naid_configurator_data.xml
Due: validate-xml-structure

fix: remove naid_configurator_data.xml from manifest to prevent duplicate key error
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move records_management_menus.xml before wizard views
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: add accessibility title to fa icon in customer_inventory_views.xml
  records_management/views/customer_inventory_views.xml
Due: validate-xml-structure

fix: remove HTML icon tags from service item menu names
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

feat: add visual truck load widget to paper load shipment form view
  records_management/views/paper_load_shipment_views.xml
Due: validate-xml-structure

feat: configure Google Maps API key for map widgets
  records_management/__manifest__.py
  records_management/views/google_maps_assets.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Google Maps API loading for Odoo 18 compatibility
  records_management/static/src/js/map_widget.js
  records_management/static/src/js/paper_load_truck_widget.js
  records_management/views/custody_transfer_event_views.xml
  records_management/views/google_maps_assets.xml
  records_management/views/mobile_photo_views.xml
Due: validate-xml-structure

fix: remove non-existent location_name field from custody transfer event view
  records_management/views/custody_transfer_event_views.xml
Due: validate-xml-structure

fix: correct signature field names in custody transfer event view
  records_management/views/custody_transfer_event_views.xml
Due: validate-xml-structure

fix: replace non-existent attachment_ids with transfer_document field
  records_management/views/custody_transfer_event_views.xml
Due: validate-xml-structure

fix: add missing access rules for key.restriction.checker.wizard
  records_management/security/ir.model.access.csv
Due: none

fix: update paper load truck widget to use new field properties and simplify XML view integration
  records_management/static/src/js/paper_load_truck_widget.js
  records_management/views/paper_load_shipment_views.xml
Due: validate-xml-structure

feat: update all widgets for Odoo 18/19 compatibility
  records_management/static/src/js/paper_load_progress_field.js
  records_management/static/src/js/trailer_visualization.js
  records_management/static/src/js/truck_widget.js
Due: none

fix: register paper_load_truck_widget in fields registry instead of view_widgets
  records_management/static/src/js/paper_load_truck_widget.js
Due: none

fix: update trailer capacity from 50 to 28 bales
  records_management/static/src/js/paper_load_progress_field.js
  records_management/static/src/js/paper_load_truck_widget.js
  records_management/static/src/js/trailer_visualization.js
Due: none

feat: implement portal account access feature with audit logging
  records_management/controllers/__init__.py
  records_management/controllers/portal_access.py
  records_management/models/__init__.py
  records_management/models/portal_access_log.py
  records_management/models/res_partner.py
  records_management/models/res_users.py
  records_management/templates/portal_access_templates.xml
  records_management/views/portal_access_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: add portal account access and pre-configured website menus
  records_management/data/website_portal_menus.xml
  records_management/templates/portal_home_preconfigured.xml
Due: validate-xml-structure

fix: remove duplicate PortalAccessLog controller class causing module load error
  records_management/controllers/portal_access.py
Due: check-odoo-syntax

fix: add security access rules for portal access models
  records_management/security/ir.model.access.csv
Due: none

fix: add security access rules for documents.tag model
  records_management/security/ir.model.access.csv
Due: none

fix: grant Records Admin full system access rights
  records_management/security/ir.model.access.csv
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: add comprehensive system access rules for Records Admin Settings access
  records_management/security/ir.model.access.csv
Due: none

fix: resolve OwlError - invalid column_invisible expression in configurator view
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: add missing load manifest report files and templates
  records_management/__manifest__.py
  records_management/models/paper_load_shipment.py
  records_management/report/load_report_templates.xml
  records_management/report/load_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix: add base.group_user access to documents.tag for all internal users
  records_management/security/ir.model.access.csv
Due: none

fix: auto-assign admin users to Settings group on module upgrade
  records_management/__manifest__.py
  records_management/data/admin_users_fix.xml
  records_management/models/res_users.py
Due: check-odoo-syntax, validate-xml-structure

fix: ensure admin users are assigned to Settings groups to prevent access lockouts
  records_management/post_init_hooks.py
Due: check-odoo-syntax

fix: add admin group assignment to post-init hook and include user id=6
  records_management/models/res_users.py
Due: check-odoo-syntax

fix: move shredding_service_views.xml before menus to fix loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move shredding_service_bin_views.xml before menus
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move action view files before menus to fix loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move wizard action before container views
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: remove non-existent feedback_responses_views.xml from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move destruction_event_views.xml before destruction_certificate_views.xml
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move records_audit_log_views.xml before revenue_forecast_line_views.xml
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: resolve loading order and duplicate imports
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: move document_retrieval_metrics_views.xml before revenue_forecast_line_views.xml
  records_management/__manifest__.py
Due: check-odoo-syntax
