Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Update storage_capacity and utilization_percentage fields for consistency; remove redundant current_utilization field
  records_management/models/records_location.py
  records_management/security/ir.model.access.csv
  records_management/views/records_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct model references for records_location_user and records_location_manager access rights
  records_management/security/ir.model.access.csv
Due: none

fix: Escape ampersands in records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Remove duplicate access rights for barcode_seasonal_pricing in ir.model.access.csv
  records_management/security/ir.model.access.csv
Due: none

fix: Replace non-existent 'current_utilization' field with 'container_count' in records_location_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

feat: Add action method to open location report wizard with pre-selected location
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Remove unnecessary data tags and update placeholder in location form view
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Update menu item parents to use the standard root menu for consistency
  records_management/views/customer_feedback_views.xml
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/key_restriction_checker_views.xml
  records_management/views/photo_menus.xml
  records_management/views/records_request_line_views.xml
  records_management/views/records_request_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/shred_bin_views.xml
  records_management/views/shredding_inventory_views.xml
Due: validate-xml-structure

fix: Field reference error - container_ids to container_id
  records_management/views/records_request_views.xml
Due: validate-xml-structure

fix: XML schema validation error in records_retention_policy_views.xml
  records_management/views/records_retention_policy_views.xml
Due: validate-xml-structure

fix: Convert deprecated <tree> tags to <list> for Odoo 18.0 compatibility
  records_management/views/document_retrieval_team_views.xml
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_digital_scan_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: Correct field reference document_ids -> document_id in records_digital_scan_views.xml
  records_management/views/records_digital_scan_views.xml
Due: validate-xml-structure

fix: Resolve critical XML syntax errors causing deployment failures
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_security_audit_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: Update button actions in portal_feedback_views.xml for correct model methods
  records_management/views/portal_feedback_views.xml
Due: validate-xml-structure

fix: Remove duplicate menu_portal_feedback and fix non-existent parent reference
  records_management/views/portal_feedback_views.xml
Due: validate-xml-structure

fix: Correct field references in records.audit.log views
  records_management/views/missing_model_views.xml
  records_management/views/records_audit_log_views.xml
Due: validate-xml-structure

fix: Remove invalid groups/groups_id fields from action definitions
  records_management/views/bin_barcode_inventory_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/revenue_forecast_line_views.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

fix: Resolved external ID reference errors for menu_root
  development-tools/mass_validation_only.py
  development-tools/simple_external_id_check.py
  records_management/views/customer_portal_diagram_views.xml
  records_management/views/photo_menus.xml
  records_management/views/records_bulk_user_import_views.xml
Due: validate-xml-structure

feat: Eliminate false positives from external ID validator
  development-tools/simple_external_id_check.py
Due: none

fix: XML schema validation error in records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Critical XML schema compliance fixes for menu structure
  development-tools/fix_menu_data_wrappers.py
  development-tools/validate_odoo_xml_schema.py
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

fix: Remove <data> wrapper from records_category_views.xml - resolves deployment error
  development-tools/validate_odoo_xml_schema.py
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Correct XML indentation in records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Add required data wrapper to records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: correct records_category view schema
  records_management/views/records_category_views.xml
Due: validate-xml-structure

chore: bump module version + simplify records_category XML
  records_management/__manifest__.py
  records_management/views/records_category_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: correct XML indentation for act_window in records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: remove data wrapper from records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: enhance search view and restructure action for records category
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: revert to <list> tags for server compatibility
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Correct records_config_setting_views.xml reference to records_config_settings_views.xml in manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove non-existent files from manifest data list
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove broken records_config_settings_views.xml from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Enhance customer.billing.profile model with computed name field
  records_management/models/customer_billing_profile.py
  records_management/views/records_customer_billing_profile_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing dynamic fields to hr.employee model
  records_management/models/hr_employee.py
  records_management/views/hr_employee_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add comprehensive model-view audit tool
  development-tools/model_view_audit.py
Due: none

feat: Add System Flowchart Wizard for dynamic flowchart generation
  analyze_actual_field_mismatches.py
  categorize_missing_models.py
  enhanced_model_validator.py
  records_management/models/__init__.py
  records_management/models/bin_issue_report_wizard.py
  records_management/models/business_metrics_dashboard_wizard.py
  records_management/models/container_lifecycle_management_wizard.py
  records_management/models/customer_inventory_report_wizard.py
  records_management/models/field_label_helper_wizard.py
  records_management/models/key_restriction_checker_wizard.py
  records_management/models/mobile_bin_key_wizard.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/models/records_container_type_converter_wizard.py
  records_management/models/records_permanent_flag_wizard.py
  records_management/models/records_user_invitation_wizard.py
  records_management/models/shredding_bin_barcode_wizard.py
  records_management/models/system_flowchart_wizard.py
  records_management/models/work_order_bin_assignment_wizard.py
  records_management/security/ir.model.access.csv
  records_management/views/file_retrieval_views.xml
  records_management/views/records_billing_line_views.xml
  records_management/views/shredding_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
