Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Container Destruction Work Order report template
  records_management/report/container_destruction_work_order_reports.xml
Due: validate-xml-structure

fix: Add missing newline at end of container_destruction_work_order_reports.xml
  records_management/report/container_destruction_work_order_reports.xml
Due: validate-xml-structure

fix: Use correct destruction_method value 'shredding' instead of 'shred'
  records_management/controllers/portal.py
  records_management/data/container_bulk_actions.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove FSM worksheet-dependent fields from base module
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

fix: Handle missing tables in service_attachment SQL view init
  records_management/models/service_attachment.py
Due: check-odoo-syntax

fix: Use valid 'destruction' action_type in naid.audit.log
  records_management/models/barcode_container_operations.py
  records_management/models/container_destruction_work_order.py
Due: check-odoo-syntax

fix: Replace placeholder Stock Location report template
  records_management/report/records_location_reports.xml
Due: validate-xml-structure

fix: Add 4x1.33 inch paper format for container barcode labels
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

fix: Add proper label paper formats for all barcode reports
  records_management/report/container_barcode_reports.xml
  records_management/report/document_temp_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Use 4x1.33 inch paper format for temp file barcodes
  records_management/report/document_temp_barcode_reports.xml
Due: validate-xml-structure

fix: Use integer values for paper format page dimensions
  records_management/report/container_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Use correct module prefix for paperformat_id references
  records_management/report/container_barcode_reports.xml
  records_management/report/document_temp_barcode_reports.xml
Due: validate-xml-structure

fix: Move QR code paper format to first-loaded report file
  records_management/report/container_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Add page-break CSS for multi-label printing
  records_management/report/container_barcode_reports.xml
  records_management/report/document_temp_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

feat: Add barcodes_mobile dependency for camera scanning
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove barcodes_mobile dependency (not available)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove attachment caching from barcode report
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

fix: Disable attachment usage for barcode report actions
  records_management/report/container_barcode_reports.xml
  records_management/report/document_temp_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Disable attachment caching on all barcode reports + fix container report
  records_management/report/records_container_reports.xml
Due: validate-xml-structure

fix: Add missing newline at end of records_container_reports.xml
  records_management/report/records_container_reports.xml
Due: validate-xml-structure

fix: Add noupdate=0 to force attachment_use=False update
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

fix: Correct XML structure in container_barcode_reports.xml
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

fix: Use web.basic_layout for barcode label templates
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

feat: Use Odoo grid layout for multiple barcode labels per sheet (14 barcodes, 49 QR codes per page)
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

feat: Apply grid layout to file and temp barcode reports (30 files/page, 14 temps/page, 49 QR/page)
  records_management/report/document_temp_barcode_reports.xml
  records_management/report/file_barcode_reports.xml
Due: validate-xml-structure

fix: Enlarge barcode width and text size for easier technician reading
  records_management/report/container_barcode_reports.xml
Due: validate-xml-structure

feat: Add container barcode scanning support to stock.picking
  records_management/models/stock_picking.py
Due: check-odoo-syntax

feat: Auto-create stock.quant.package for containers
  records_management/models/records_container.py
Due: check-odoo-syntax

feat: Nested stock.quant.package integration for full barcode scanning
  records_management/models/records_document.py
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Stock integration for customer staging locations + camera barcode scanner
  records_management/models/customer_staging_location.py
  records_management/views/barcode_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Container view UX improvements
  records_management/views/barcode_standard_commands_buttons.xml
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Simplify container action buttons
  records_management/views/barcode_operation_buttons.xml
  records_management/views/barcode_standard_commands_buttons.xml
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat: Add barcode scanning functionality to container access and destruction work orders
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Use Odoo native barcode_scanner widget for camera support
  records_management/views/container_access_work_order_views.xml
  records_management/wizards/barcode_operations_wizard_views.xml
Due: validate-xml-structure

fix: Add Stock Barcode app launcher for camera scanning
  records_management/wizards/barcode_operations_wizard.py
  records_management/wizards/barcode_operations_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct action_open_stock_barcode method syntax
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax

feat: Add custom camera barcode scanner with BarcodeDetector API
  records_management/__manifest__.py
  records_management/static/src/css/rm_camera_scanner.css
  records_management/static/src/js/rm_camera_scanner.js
  records_management/static/src/xml/rm_camera_scanner.xml
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
