Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Add missing fields location_type and storage_capacity
  records_management/__manifest__.py
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Clean storage_capacity formatted strings before Integer conversion
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.9/pre-migrate.py
Due: check-odoo-syntax

fix: Add diagnostic migration to find stock.location(36) references
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.10/pre-migrate.py
Due: check-odoo-syntax

fix: Add type casts to storage_capacity query in migration 18.0.0.2.9
  records_management/migrations/18.0.0.2.9/pre-migrate.py
Due: check-odoo-syntax

fix: Add description field to records.location model (v18.0.0.2.11)
  records_management/__manifest__.py
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Remove duplicate location_type field, use stock.location's native usage field (v18.0.0.2.12)
  records_management/__manifest__.py
  records_management/models/records_location.py
  records_management/views/destruction_event_views.xml
  records_management/views/document_retrieval_team_views.xml
  records_management/views/records_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Rename destruction_event.location_type label to 'Destruction Location' (v18.0.0.2.13)
  records_management/__manifest__.py
  records_management/models/destruction_event.py
Due: check-odoo-syntax

fix: Restore location_type field in destruction_event views (v18.0.0.2.14)
  records_management/__manifest__.py
  records_management/views/destruction_event_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Improve container UX - auto-create stock quant, hide temp inventory when location set (v18.0.0.2.15)
  records_management/__manifest__.py
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(security): Implement department-level access control for portal users
  records_management/models/records_department.py
  records_management/models/res_partner.py
  records_management/models/res_users.py
  records_management/security/records_management_security.xml
  records_management/views/records_department_views.xml
  records_management/views/res_partner_views.xml
Due: check-odoo-syntax, validate-xml-structure

chore: Bump version to 18.0.0.2.16 - Department access control
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(container): Change product type from 'product' to 'consu' for Odoo 18 compatibility
  records_management/models/records_container.py
Due: check-odoo-syntax

chore: Bump version to 18.0.0.2.17
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(security): Use partner_id instead of department_id for portal.request rules
  records_management/security/records_management_security.xml
Due: validate-xml-structure

chore: Bump version to 18.0.0.2.18
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(container): Use 'detailed_type' = 'product' for storable containers in Odoo 18
  records_management/models/records_container.py
Due: check-odoo-syntax

chore: Bump version to 18.0.0.2.19
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(container): Improve location field labels and visibility logic
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix(wizard): Add missing fields to container quick add wizard
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax

feat(container): Add editable stock_owner_id field for multi-company ownership
  records_management/models/records_container.py
  records_management/views/container_quick_add_wizard_views.xml
  records_management/views/records_container_views.xml
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat(container): Add dynamic filtering for stock_owner_id field
  records_management/models/records_container.py
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax

fix(container): Add stock_location_id alias for backwards compatibility
  records_management/models/records_container.py
Due: check-odoo-syntax

fix(views): Add stock_location_id to container views for Studio compatibility
  location_related_views.csv
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix(views): Replace non-existent can_create_records with can_export_records in department user assignments tree
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix(permissions): Add can_create_records field to department user assignments
  All_views_exported_from_odoo.csv
  location_related_views.csv
  records_management/models/records_storage_department_user.py
  records_management/views/records_department_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(portal): Add container creation from customer portal with Quick Add style form
  records_management/__manifest__.py
  records_management/controllers/main.py
  records_management/templates/portal_container_create.xml
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

feat(requests): Add pickup and destruction request creation templates and security rules
  All_views_exported_from_odoo.csv
  records_management/__manifest__.py
  records_management/controllers/main.py
  records_management/security/ir.model.access.csv
  records_management/security/portal_request_security.xml
  records_management/templates/portal_destruction_request_create.xml
  records_management/templates/portal_pickup_request_create.xml
  records_management/templates/portal_requests_template.xml
Due: check-odoo-syntax, validate-xml-structure

fix(portal): Add service ordering system + fix model import order
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Replace Studio customizations with native XML - stock_location_id visibility
  records_management/views/records_container_views.xml
  studio_customization_views_export.csv
Due: validate-xml-structure

docs: Add Studio deletion guide and portal service ordering summary
  DELETE_STUDIO_CUSTOMIZATIONS_GUIDE.md
  PORTAL_SERVICE_ORDERING_SUMMARY.md
Due: none

fix: Add widget attributes to department user assignment tree view
  records_management/views/records_department_views.xml
Due: validate-xml-structure

feat: Integrate barcodes with Odoo's native barcode infrastructure
  records_management/models/records_container.py
Due: check-odoo-syntax

docs: Add comprehensive barcode integration documentation
  docs/BARCODE_INTEGRATION.md
Due: none

fix: Change naid.operator.certification _order to use stored field
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax

chore: Remove unused studio_customization_views_export.csv file
  studio_customization_views_export.csv
Due: none

fix: Correct Work Orders portal URL from /my/work-orders to /my/work_orders
  records_management/templates/portal_home_preconfigured.xml
Due: validate-xml-structure

chore: Bump version to 18.0.0.2.20 to force template reload
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add force_upgrade.sh script for module upgrades via Odoo.sh CLI
  force_upgrade.sh
Due: none

feat: Add missing portal templates for certificates and documents
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add portal routes for certificates and documents
  records_management/controllers/portal.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
