Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

refactor: Add communication count field and streamline message post actions in customer feedback model
  records_management/models/customer_feedback.py
Due: check-odoo-syntax

Refactor translation handling and improve code consistency across models
  development-tools/analysis-reports/custom_field_normalization_audit.py
  records_management/__manifest__.py
  records_management/data/field_label_customization_batch_data.xml
  records_management/data/required_document_cron.xml
  records_management/models/__init__.py
  records_management/models/button_action_placeholders.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/destruction_certificate.py
  records_management/models/paper_load_shipment.py
  records_management/models/partner_bin_key.py
  records_management/models/records_digital_scan.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy_version.py
  records_management/models/records_storage_department_user.py
  records_management/models/required_document.py
  records_management/models/rm_module_configurator.py
  records_management/models/work_order_retrieval.py
  records_management/report/destruction_certificate_report.xml
  records_management/report/destruction_certificate_report_templates.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Remove deprecated container retrieval item model and associated views
  records_management/models/__init__.py
  records_management/models/container_retrieval_item.py
  records_management/models/document_search_attempt.py
  records_management/models/work_order_retrieval.py
  records_management/report/destruction_certificate_report_templates.xml
  records_management/security/ir.model.access.csv
  records_management/views/container_retrieval_item_views.xml
  records_management/views/missing_model_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Remove legacy plural negotiated rates views in favor of unified customer.negotiated.rate model
  records_management/models/customer_negotiated_rates.py
  records_management/views/customer_negotiated_rates_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update field label customization files and remove deprecated models
  records_management/__manifest__.py
  records_management/data/field_label_customization_batch4.xml
  records_management/data/field_label_customization_batch4_data.xml
  records_management/data/records_retrieval_order_cron.xml
  records_management/models/container_retrieval_item.py
  records_management/models/customer_negotiated_rates.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Add feedback type field to customer feedback model and update menu action for customer negotiated rates
  records_management/models/customer_feedback.py
  records_management/models/customer_negotiated_rate.py
  records_management/views/base_rate_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Simplify legacy placeholder XML files for field label customization
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/data/field_label_customization_batch4.xml
  records_management/data/field_label_customization_batch4_data.xml
Due: validate-xml-structure

refactor: Add destruction certificate report template and associated fields
  records_management/report/destruction_certificate_report.xml
Due: validate-xml-structure

refactor: Clean up initialization files and improve print report name formatting in destruction certificate report
  records_management/__init__.py
  records_management/models/__init__.py
  records_management/models/customer_negotiated_rate.py
  records_management/report/destruction_certificate_report.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Fix return statement in customer negotiated rate model and close signature row in destruction certificate report
  records_management/models/customer_negotiated_rate.py
  records_management/report/destruction_certificate_report.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Revamp customer feedback views with enhanced tree, search, and form layouts
  records_management/views/customer_feedback_views.xml
Due: validate-xml-structure

refactor: Update tree view to list view for customer feedback and adjust view mode accordingly
  records_management/views/customer_feedback_views.xml
Due: validate-xml-structure

refactor: Remove NAID audit requirement action and add Reporting Hub menu item
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Correct action reference for NAID Audit Requirements menu item
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

refactor: Update menu parent references to existing menu structure in NAID views
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/service_item_views.xml
Due: validate-xml-structure

refactor: Update action references in service item menus and views for consistency
  development-tools/menu_action_audit.py
  records_management/views/records_management_menus.xml
  records_management/views/service_item_menus.xml
  records_management/views/service_item_views.xml
Due: validate-xml-structure

refactor: Enhance field label helper wizard views and add quick access menu item
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

refactor: Organize and enhance views for Field Label Helper Wizard and reporting actions
  records_management/__manifest__.py
  records_management/views/records_container_field_label_helper_views.xml
  records_management/views/records_document_field_label_helper_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/report_window_actions_views.xml
Due: check-odoo-syntax, validate-xml-structure

Refactor button visibility conditions across multiple views
  records_management/__manifest__.py
  records_management/data/destruction_certificate_number_sequence.xml
  records_management/data/destruction_certificate_number_sequence_data.xml
  records_management/models/destruction_certificate.py
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/destruction_certificate_views.xml
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/field_label_helper_wizard_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_audit_verification_wizard_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/naid_compliance_checklist_item_views.xml
  records_management/views/portal_feedback_views.xml
  records_management/views/pos_config_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/shredding_hard_drive_views.xml
  records_management/views/shredding_service_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/temp_inventory_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update view definitions from tree to list format across multiple XML files
  records_management/data/ir_sequence_data.xml
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/views/destruction_event_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/report_window_actions_views.xml
Due: validate-xml-structure

refactor: Change view mode from tree to list for retrieval orders
  records_management/views/records_retrieval_order_views.xml
Due: validate-xml-structure

refactor: Remove unused destruction certificate number sequence XML files
  records_management/data/destruction_certificate_number_sequence.xml
  records_management/data/destruction_certificate_number_sequence_data.xml
Due: validate-xml-structure

refactor: Rename destruction certificate report file and update related references
  records_management/__manifest__.py
  records_management/models/base_rate.py
  records_management/models/naid_certificate.py
  records_management/report/destruction_certificate_reports.xml
  records_management/views/naid_compliance_checklist_item_views.xml
  records_management/views/report_window_actions_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update string interpolation for consistency in revenue forecast notifications
  records_management/models/base_rate.py
Due: check-odoo-syntax

refactor: Consolidate report files and update references for improved organization
  records_management/__manifest__.py
  records_management/report/__init__.py
  records_management/report/billing_config_audit_report.py
  records_management/report/description_reports.xml
  records_management/report/destruction_certificate_report.xml
  records_management/report/retrieval_metrics_report.py
  records_management/report/revenue_forecast_report.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Simplify manifest file by consolidating description and dependencies
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Format dependencies list for improved readability in manifest file
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Update report references to use partner_id instead of customer_id for consistency
  records_management/__manifest__.py
  records_management/views/report_window_actions_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Enhance NAID Compliance Policy with review tracking fields and compute logic
  records_management/models/naid_compliance_policy.py
  records_management/models/pos_config.py
  records_management/views/visitor_pos_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update responsible_id field comment for clarity on Odoo model design
  records_management/models/naid_compliance_policy.py
Due: check-odoo-syntax

refactor: Update partner_id field options and enhance customer creation logic in Visitor POS Wizard
  records_management/views/visitor_pos_wizard_views.xml
  records_management/wizards/visitor_pos_wizard.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Improve review date computation logic and clarify responsible_id field comment
  records_management/models/naid_compliance_policy.py
Due: check-odoo-syntax

refactor: Add POS customer history feature with JSON endpoint and UI integration
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/pos_customer_history.py
  records_management/models/pos_config.py
  records_management/static/src/js/pos_customer_history.js
  records_management/views/pos_config_views.xml
  records_management/wizards/visitor_pos_wizard.py
Due: check-odoo-syntax, validate-xml-structure

refactor: Adjust loading order of XML files in manifest for proper menu and view references
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Reorganize menu structure and move digital scan menu to central menus file for better hierarchy
  records_management/__manifest__.py
  records_management/views/records_digital_scan_views.xml
  records_management/views/records_management_menus.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update scanned_by field references to scanned_by_id for consistency and clarity
  records_management/models/__init__.py
  records_management/views/records_digital_scan_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Remove outdated comments and add destruction certificate report template
  records_management/models/__init__.py
  records_management/report/destruction_certificate_report.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Adjust import order for base models and their extensions to prevent inheritance issues
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Update manifest data ordering and enhance model import structure for dependency management
  development-tools/generate_manifest_data_order.py
  development-tools/generate_models_init.py
  records_management/__manifest__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

refactor: Enhance model import structure and add external reference scanning for improved dependency management
  development-tools/generate_models_init.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports
