Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Update shebang to use specific Python version for compatibility
  .github/agents/grok-helper.py
Due: check-odoo-syntax

fix: Escape ampersands in training_courses_billing_flowchart.xml
  records_management/data/training_courses_billing_flowchart.xml
Due: validate-xml-structure

fix: Remove duplicate access rules from ir.model.access.csv
  records_management/security/ir.model.access.csv
Due: none

fix: Escape ampersands in training_courses_billing_models.xml
  records_management/data/training_courses_billing_models.xml
Due: validate-xml-structure

fix: Correct filename for user guide training course
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Escape ampersands in training_courses XML files
  records_management/data/training_courses_complete_user_guide.xml
  records_management/data/training_courses_data.xml
  records_management/data/training_courses_hipaa_privacy.xml
Due: validate-xml-structure

fix: Use 'storable' instead of 'product' for product detailed_type in Odoo 18+
  records_management/models/records_container.py
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Remove location_id references from demo container data
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Correct product type - use 'product' not 'consu' for storable items
  records_management/models/records_container.py
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Set proper parent location when creating Records Storage location
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Use stock.stock_location_stock (WH/Stock) as parent for Records Storage
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Remove Records Management configuration view and associated menu
  records_management/views/records_config_settings_views.xml
Due: validate-xml-structure

fix: Remove records_config_settings_views.xml from manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add company and department selection to portal pickup request form
  records_management/controllers/main.py
  records_management/templates/portal_pickup_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Move demo data to data section for automatic loading
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Force-load demo data via post_init_hook for dev databases
  load_demo_data.sh
  records_management/__manifest__.py
  records_management/post_init_hooks.py
Due: check-odoo-syntax

fix: Move demo data to data section and remove post_init hook loader
  records_management/__manifest__.py
  records_management/post_init_hooks.py
Due: check-odoo-syntax

feat: Add common Odoo apps as dependencies for dev phase
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Comment out unavailable app dependencies
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Update for Odoo 18 compatibility - product type and recursion check
  records_management/models/records_container.py
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Hardcode detailed_type='storable' for Odoo 18
  records_management/models/records_container.py
  records_management/models/records_file.py
Due: check-odoo-syntax

fix: Move demo data back to demo section
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Temporarily disable stock quant creation to allow demo data to load
  records_management/models/records_container.py
Due: check-odoo-syntax

feat: Implement barcode-based container operations system
  records_management/__manifest__.py
  records_management/data/barcode_nomenclature_rules.xml
  records_management/models/__init__.py
  records_management/models/barcode_container_operations.py
  records_management/models/records_container.py
  records_management/security/ir.model.access.csv
  records_management/views/barcode_operation_buttons.xml
  records_management/wizards/__init__.py
  records_management/wizards/batch_barcode_operations.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

docs: Add warning notes to barcode nomenclature rules
  records_management/data/barcode_nomenclature_rules.xml
Due: validate-xml-structure

docs: Update barcode nomenclature rules with warning notes for container operations
  records_management/data/barcode_nomenclature_rules.xml
Due: validate-xml-structure

fix: Move barcode_container_operations import after records_container
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Comment out barcode nomenclature rules import until 'barcodes' module is verified
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Comment out barcode nomenclature rules (requires barcodes module)
  records_management/BARCODE_SETUP_INSTRUCTIONS.md
Due: none

fix: Correct view inheritance IDs in barcode operations
  records_management/views/barcode_operation_buttons.xml
Due: validate-xml-structure

fix: Update XPath expressions to match actual view structure
  records_management/views/barcode_operation_buttons.xml
Due: validate-xml-structure

fix: Use hasclass() instead of @class in XPath expression
  records_management/views/barcode_operation_buttons.xml
Due: validate-xml-structure

fix: Remove invalid billing_config references and fix test field name
  records_management/demo/advanced_billing_demo.xml
  records_management/tests/test_records_location.py
Due: check-odoo-syntax, validate-xml-structure

fix: Comment out billing demo and fix location hierarchy check
  records_management/__manifest__.py
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Critical runtime and demo data errors
  records_management/demo/model_records_demo.xml
  records_management/models/records_document.py
Due: check-odoo-syntax, validate-xml-structure

fix: Portal pages and eLearning slides not loading
  records_management/__manifest__.py
  records_management/data/training_courses_billing_flowchart.xml
  records_management/data/training_courses_billing_models.xml
  records_management/data/training_courses_complete_user_guide.xml
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
  records_management/templates/portal_template_aliases.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove backend module dependencies from frontend JavaScript
  records_management/static/src/js/field_label_customizer.js
  records_management/static/src/js/portal/portal_barcode_management.js
  records_management/static/src/js/portal/portal_dashboard_bootstrap.js
  records_management/static/src/js/portal/portal_document_retrieval.js
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/static/src/js/portal/portal_signature.js
  records_management/static/src/js/portal/portal_user_import.js
Due: none

fix: Use correct field name 'html_content' instead of 'body_html' for eLearning slides
  records_management/data/training_courses_billing_flowchart.xml
  records_management/data/training_courses_billing_models.xml
  records_management/data/training_courses_complete_user_guide.xml
  records_management/data/training_courses_customer_setup.xml
  records_management/data/training_courses_hipaa_privacy.xml
  records_management/data/training_courses_naid_content.xml
Due: validate-xml-structure

chore: Force Odoo.sh rebuild - trigger fresh pull from GitHub
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Resolve demo data and cron job errors
  records_management/data/naid_compliance_data.xml
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure
