Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

refactor: Adjust security data ordering for improved clarity and maintainability
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Correct foreign key field name in audit log and update view to match
  records_management/models/naid_audit_verification_wizard.py
  records_management/views/naid_audit_verification_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add customer location field to BarcodeProduct and enhance BinKey model with physical key and key holder relationships
  development-tools/view_field_id_audit.py
  records_management/models/barcode_product.py
  records_management/models/bin_key.py
Due: check-odoo-syntax

refactor: Update Storage Box Configuration to Container Configuration and adjust field assignments
  records_management/views/barcode_product_views.xml
Due: validate-xml-structure

feat: Add configurator toggle field to NAID Compliance Checklist Item for view control
  development-tools/view_field_id_audit.py
  records_management/models/naid_compliance_checklist_item.py
Due: check-odoo-syntax

refactor: Remove commented-out code for audit log entry creation in Rate Change Confirmation Wizard
  records_management/controllers/main.py
  records_management/models/rate_change_confirmation_wizard.py
Due: check-odoo-syntax

feat: Add category field to NAID Compliance Checklist for improved organization and future extensibility
  records_management/models/naid_compliance_checklist.py
Due: check-odoo-syntax

refactor: Update error handling comments for clarity and linting compliance
  records_management/controllers/main.py
Due: check-odoo-syntax

feat: Enhance Barcode Product model with new fields for specifications and analytics; remove undefined fields from views
  development-tools/view_field_id_audit.py
  records_management/models/barcode_product.py
  records_management/views/barcode_product_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Barcode Seasonal Pricing model and views
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/models/__init__.py
  records_management/models/barcode_product.py
  records_management/models/barcode_seasonal_pricing.py
  records_management/models/naidcompliance_checklist.py
  records_management/security/ir.model.access.csv
  records_management/views/barcode_seasonal_pricing_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Link storage boxes and shred bins to barcode products for improved association
  records_management/models/barcode_product.py
  records_management/models/records_storage_box.py
  records_management/models/shred_bin.py
Due: check-odoo-syntax

fix:
  records_management/models/barcode_seasonal_pricing.py
  records_management/models/naid_compliance_checklist.removed
  records_management/models/naid_compliance_checklist_item.py
Due: check-odoo-syntax

refactor: Remove deprecated NAIDComplianceChecklist model code, leaving file blank for future purge
  records_management/models/naid_compliance_checklist.removed
Due: none

feat: Enhance NAID Custody model with auto-generated reference and improved name display
  records_management/models/naid_custody.py
Due: check-odoo-syntax

Implement code changes to enhance functionality and improve performance
  development-tools/advanced_missing_view_fields_detector.py
  development-tools/missing_view_fields_enhanced.json
Due: none

feat: Add compliance and verification fields to NaidCustody model
  development-tools/analysis-reports/scan_view_model_fields.py
  development-tools/scan_view_model_fields_report.json
  development-tools/syntax-tools/find_syntax_errors.py
  records_management/models/chain_of_custody.py
  records_management/models/naid_custody.py
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax

feat: Implement NAID Compliance model with comprehensive fields and relationships
  records_management/models/__init__.py
  records_management/models/naid_audit_log.py
  records_management/models/naid_certificate.py
  records_management/models/naid_compliance.py
  records_management/models/naid_compliance_checklist_item.py
  records_management/models/naid_destruction_record.py
  records_management/models/naid_performance_history.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

feat: Reorder view file loading in __manifest__.py for compliance menu references
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Refactor and enhance models with additional fields and validation methods
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/customer_category.py
  records_management/models/customer_feedback.py
  records_management/models/customer_inventory.py
  records_management/models/customer_inventory_line.py
  records_management/models/customer_negotiated_rate.py
  records_management/models/naid_compliance.py
  records_management/models/naid_destruction_record.py
  records_management/models/naidcompliance_checklist.py
  records_management/models/naidperformance_history.py
Due: check-odoo-syntax, check-model-imports

feat: Enhance records management with new fields and improved logic
  development-tools/analysis-reports/enhanced_analysis_results.json
  records_management/__manifest__.py
  records_management/models/barcode_product.py
  records_management/models/barcode_seasonal_pricing.py
  records_management/models/customer_inventory.py
  records_management/models/records_retrieval_order.py
Due: check-odoo-syntax

feat: Reorder view file loading in __manifest__.py for menu action references
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Extend project.task model with new feature toggle for Chain of Custody and update related views
  records_management/__manifest__.py
  records_management/models/project_task.py
  records_management/models/rm_module_configurator.py
  records_management/views/rm_module_configurator_views.xml
  records_management_fsm/models/fsm_order.py
Due: check-odoo-syntax, validate-xml-structure

feat: Restore and enhance Records Management Module Configurator with improved logic and concise implementation
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

Refactor RmModuleConfigurator model to consolidate and clean up configuration logic
  records_management/models/records_retrieval_order.py
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

feat: Reorder menu view file loading in __manifest__.py for proper action references
  records_management/__manifest__.py
Due: check-odoo-syntax

refactor: Comment out menu item for NAID custody to document intentional removal
  records_management/views/naid_custody_views.xml
Due: validate-xml-structure

feat: Relocate root and level-1 menu definitions to ensure proper loading order in records_management_root_menus.xml
  records_management/__manifest__.py
  records_management/views/records_management_menu_roots.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Bump version to 18.0.12.0.1 to force module upgrade for wizard field load ordering fix
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Enhance scan_view_model_fields.py with TypedDict for structured summary reporting
  development-tools/analysis-reports/scan_view_model_fields.py
Due: none

chore: Update configuration files to exclude development-tools, testing-workspace, and backup directories
  .pylintrc
  .vscode/settings.json
  pyproject.toml
  records_management/models/naid_compliance_checklist.removed
Due: none

feat: Add global FSM feature toggle and update views for FSM integration
  .devcontainer/devcontainer.json
  records_management/models/rm_module_configurator.py
  records_management/views/rm_module_configurator_views.xml
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax, validate-xml-structure

fix: Remove duplicate lightweight definition of HardDriveScanWizard to ensure proper FSM field integration
  records_management/models/hard_drive_scan_wizard.py
Due: check-odoo-syntax

fix: Bump version to 18.0.12.0.2 for wizard consolidation and update module imports
  records_management/__manifest__.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: Bump version to 18.0.12.0.3 for wizard consolidation and ACL fix; enhance HardDriveScanWizard with new fields and processing logic
  records_management/__manifest__.py
  records_management/wizards/hard_drive_scan_wizard.py
Due: check-odoo-syntax

feat: Add 'Allow Hard Drive Destruction' flag to ProjectTask for wizard integration
  records_management/models/project_task.py
Due: check-odoo-syntax

fix: Update visibility and required attributes for contact selection and unlock service fields in Mobile Bin Key Wizard
  records_management/views/base_rate_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/document_retrieval_work_order_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/shredding_service_views.xml
  records_management/views/visitor_pos_wizard_views.xml
Due: validate-xml-structure

fix: Update required attributes for various fields in service views to improve validation logic
  records_management/views/bin_key_unlock_service_views.xml
  records_management/views/shredding_hard_drive_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

fix: Update alert roles to 'status' for improved accessibility in various views
  records_management/views/base_rate_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: Update alert roles to 'status' for improved accessibility in various views
  records_management/views/bin_issue_report_wizard_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/naid_audit_log_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_technician_certifications.xml
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/shred_bin_views.xml
Due: validate-xml-structure

feat: Add bin key and unlock service fields to ResPartner model and update mobile bin key wizard views
  records_management/models/res_partner.py
  records_management/views/mobile_bin_key_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
