Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Use noupdate=1 to prevent duplicate config parameter
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Remove duplicate portal.enabled config parameter from demo data
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Add records_management dependency to qb_tsheet_sync
  qb_tsheet_sync/__manifest__.py
Due: check-odoo-syntax

fix: Use correct numeric security_level values in demo data
  records_management/demo/intelligent_search_demo_data.xml
Due: validate-xml-structure

fix: Update security_level values and improve portal templates for better clarity
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/naid_demo_certificates.xml
  records_management/templates/portal_inventory_template.xml
  records_management/templates/portal_locations.xml
Due: validate-xml-structure

fix: Bump version to 18.0.1.0.4 for records_management and records_management_fsm modules
  records_management/__manifest__.py
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

feat(barcode): Implement portal barcode scanner with command handling and UI enhancements
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/models/__init__.py
  records_management/models/barcode_standard_commands.py
  records_management/report/barcode_reports.xml
  records_management/static/src/css/barcode_scanner.css
  records_management/static/src/js/barcode_command_handler.js
  records_management/templates/portal_barcode_templates.xml
  records_management/views/barcode_standard_commands_buttons.xml
  validate_barcode_implementation.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix(barcode): Enhance batch and container indexing wizards with command reference information
  records_management/views/barcode_standard_commands_buttons.xml
Due: validate-xml-structure

fix(barcode): Move barcode command reference info to appear after operation type field
  records_management/views/barcode_standard_commands_buttons.xml
Due: validate-xml-structure

fix(barcode): Update inherit_id reference for container indexing wizard commands
  records_management/views/barcode_standard_commands_buttons.xml
Due: validate-xml-structure

fix(barcode): Update portal barcode templates for improved layout and functionality
  records_management/templates/portal_barcode_templates.xml
Due: validate-xml-structure

fix(security_level): Update demo data to use Selection values for security_level
  fix_security_level.py
  records_management/demo/customer_inventory_demo.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: clean up whitespace in barcode_command_handler.js
  records_management/demo/customer_inventory_demo.xml
  records_management/static/src/js/barcode_command_handler.js
Due: validate-xml-structure

fix(barcode): Enhance validation and batch submission logic in barcode command handler
  records_management/static/src/js/barcode_command_handler.js
Due: none

Implement feature X to enhance user experience and optimize performance
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

Remove security level field from customer inventory demo records
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

fix: Add required destruction_type field to demo certificates and remove security_level from demo containers
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

fix: Add default value 'on_site' to destruction_type field
  records_management/models/destruction_certificate.py
Due: check-odoo-syntax

fix: Use correct model 'destruction.item' instead of 'destruction.certificate.item'
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

fix: Remove invalid fields from demo (date_received, retention_years, destruction_date) and add grok-with-context script
  .github/agents/grok-with-context.py
  records_management/demo/customer_inventory_demo.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update grok-helper.py to use OpenAI client and improve API integration
  .github/agents/grok-helper.py
Due: check-odoo-syntax

fix: Remove invalid fields from demo (weight, storage_start_date, last_access_date) - use only actual model fields
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

feat: Add critical location and content date tracking to demo containers
  records_management/demo/customer_inventory_demo.xml
Due: validate-xml-structure

feat: Complete demo data with all valid container fields + indexed Grok-4
  add_critical_fields.py
  records_management/demo/customer_inventory_demo.xml
  restore_valid_fields.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add grok-indexed script to project repo
  .github/agents/grok-indexed.py
Due: check-odoo-syntax

docs: Add comprehensive Grok-4 optimization guide
  GROK_OPTIMIZATION_GUIDE.md
Due: none

feat: Optimize grok-indexed to ONLY index records_management modules
  .github/agents/grok-indexed.py
Due: check-odoo-syntax

docs: Update Grok guide with new optimization stats (1092 files, 8.3MB)
  GROK_OPTIMIZATION_GUIDE.md
Due: none

feat: Implement advanced inventory search functionality with saved search presets
  add_critical_fields.py
  records_management/__manifest__.py
  records_management/controllers/__init__.py
  records_management/controllers/advanced_search.py
  records_management/models/__init__.py
  records_management/models/records_saved_search.py
  records_management/security/ir.model.access.csv
  records_management/templates/advanced_search_templates.xml
  records_management/views/records_saved_search_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

feat: Update saved search view from tree to list format and adjust view mode
  records_management/views/records_saved_search_views.xml
Due: validate-xml-structure

feat: Refactor create method to support multi-record creation and ensure single default search per user
  records_management/models/records_saved_search.py
Due: check-odoo-syntax

feat: Rename kanban template to card and update menu item parent for saved searches
  records_management/views/records_saved_search_views.xml
Due: validate-xml-structure

feat: Enhance portal overview with advanced search option and update inventory button
  records_management/templates/portal_overview.xml
  records_management/views/records_saved_search_views.xml
Due: validate-xml-structure

fix: Correct references in demo NAID certificates and ensure proper evaluation of weight and quantity fields
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

feat: Update NAID demo certificates and adjust destruction item access rights
  records_management/demo/naid_demo_certificates.xml
  records_management/models/destruction_item.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, validate-xml-structure

fix: Correct model references in NAID demo certificates and remove unnecessary function calls
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

feat: Update NAID demo certificates with new records and item details
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

fix: Remove unnecessary whitespace in NAID demo certificates XML
  records_management/demo/naid_demo_certificates.xml
Due: validate-xml-structure

feat: Add consolidated portal menu structure and mobile-friendly navigation
  records_management/__manifest__.py
  records_management/templates/portal_consolidated_menu.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add service request creation and destruction management routes with corresponding templates
  loading_logs_for_grok.csv
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
