Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Auto-create system diagram record if none exists
  SYSTEM_DIAGRAM_OWL_MIGRATION.md
  records_management/models/system_diagram_data.py
  records_management/static/src/components/system_diagram_view.js
  web_vis_network/static/lib/vis-network/DOWNLOAD_INSTRUCTIONS.md
Due: check-odoo-syntax

fix: Add safety checks for deleted records in diagram computation
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

feat: Make diagram view context-aware for specific diagrams
  records_management/models/system_diagram_data.py
  records_management/static/src/components/system_diagram_view.js
  records_management/static/src/components/system_diagram_view.xml
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add reactive diagram switching and View Diagram button
  records_management/static/src/components/system_diagram_view.js
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

feat: Add dropdown selector for switching between diagrams
  records_management/static/src/components/system_diagram_view.js
  records_management/static/src/components/system_diagram_view.xml
Due: validate-xml-structure

fix: Resolve zoom speed and node click errors in diagram view
  records_management/static/src/components/system_diagram_view.js
  web_vis_network/static/src/components/network_diagram.js
Due: none

fix: Resolve ir.logging validation error - missing 'line' field
  records_management/models/workflow_visualization_manager.py
Due: check-odoo-syntax

fix: Handle deleted diagrams gracefully without errors
  records_management/static/src/components/system_diagram_view.js
Due: none

fix: Make Customer Inventory show actual containers by customer
  records_management/views/customer_inventory_views.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Remove orphaned XML content causing parse error
  records_management/views/customer_inventory_views.xml
Due: validate-xml-structure

fix: Enhance node click handling in System Diagram View for better navigation
  records_management/static/src/components/system_diagram_view.js
Due: none

feat: Implement 3D Warehouse Visualization and Quickstart Wizard
  location_fields_export.csv
  records_management_3d_warehouse/__init__.py
  records_management_3d_warehouse/__manifest__.py
  records_management_3d_warehouse/controllers/__init__.py
  records_management_3d_warehouse/controllers/warehouse_3d_data.py
  records_management_3d_warehouse/data/default_shelving_templates.xml
  records_management_3d_warehouse/models/__init__.py
  records_management_3d_warehouse/models/stock_location.py
  records_management_3d_warehouse/models/warehouse_3d_view_config.py
  records_management_3d_warehouse/models/warehouse_blueprint.py
  records_management_3d_warehouse/models/warehouse_shelving_template.py
  records_management_3d_warehouse/security/ir.model.access.csv
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.js
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.scss
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.xml
  records_management_3d_warehouse/wizards/__init__.py
  records_management_3d_warehouse/wizards/warehouse_3d_quickstart_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove deprecated location fields export CSV file
  location_fields_export.csv
Due: none

fix: Critical errors - invalid version format and NAID cron failures
  records_management/data/scheduled_actions_data.xml
  records_management_3d_warehouse/__manifest__.py
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing description field to warehouse.shelving.template model
  records_management_3d_warehouse/models/warehouse_shelving_template.py
Due: check-odoo-syntax

fix: Add missing XML view files for 3D warehouse module
  records_management_3d_warehouse/views/records_management_3d_menus.xml
  records_management_3d_warehouse/views/stock_location_3d_views.xml
  records_management_3d_warehouse/views/warehouse_3d_view_config_views.xml
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
  records_management_3d_warehouse/wizards/warehouse_3d_quickstart_wizard_views.xml
Due: validate-xml-structure

fix: Clean up whitespace in warehouse shelving template views XML
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
Due: validate-xml-structure

fix: Change tree view type to list for Odoo 18 compatibility
  records_management_3d_warehouse/views/warehouse_3d_view_config_views.xml
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
Due: validate-xml-structure

fix: Correct XPath in stock_location_3d_views.xml
  records_management_3d_warehouse/views/stock_location_3d_views.xml
Due: validate-xml-structure

fix: Correct method name in stock_location_3d_views.xml
  records_management_3d_warehouse/views/stock_location_3d_views.xml
Due: validate-xml-structure

fix: Correct field names in warehouse quickstart wizard view
  records_management_3d_warehouse/wizards/warehouse_3d_quickstart_wizard_views.xml
Due: validate-xml-structure

fix: Add action to root menu for 3D Warehouse
  records_management_3d_warehouse/views/records_management_3d_menus.xml
Due: validate-xml-structure

feat: Add Quick Start Wizard menu and enhance 3D view forms with new buttons and fields
  records_management_3d_warehouse/views/records_management_3d_menus.xml
  records_management_3d_warehouse/views/warehouse_3d_view_config_views.xml
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
Due: validate-xml-structure

fix: Update button attributes in shelving template form for better visibility and styling
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
Due: validate-xml-structure

fix: Remove non-existent action_open_designer button
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
Due: validate-xml-structure

fix: Remove unused buttons and update field names in warehouse blueprint form
  records_management_3d_warehouse/views/warehouse_blueprint_views.xml
Due: validate-xml-structure

fix: Clean up all 3D warehouse view references
  records_management_3d_warehouse/views/warehouse_shelving_template_views.xml
Due: validate-xml-structure

fix: Use correct camera field names in 3D view config
  records_management_3d_warehouse/views/warehouse_3d_view_config_views.xml
Due: validate-xml-structure

fix: Replace deprecated rpc service with http service in Owl component
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.js
Due: none

fix: Add vis-graph3d library for 3D visualization
  records_management_3d_warehouse/__manifest__.py
Due: check-odoo-syntax

fix: Use correct RPC service access in Odoo 18
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.js
Due: none

refactor: Use ORM service pattern like system_flowchart_view
  records_management_3d_warehouse/static/src/components/warehouse_3d_view.js
Due: none

refactor: Modernize intelligent_search.js to Odoo 18 ORM pattern
  records_management/static/src/js/intelligent_search.js
Due: none

fix: Remove unsupported hasattr() from QWeb report template
  records_management/report/records_retrieval_work_order_reports.xml
Due: validate-xml-structure

fix: Handle case where RecordsContainer ID is not set to prevent errors in document and file views
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Change key_restriction_reason field to readonly in bin unlock service view
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

Implement feature X to enhance user experience and optimize performance
  .github/copilot-instructions.md
Due: none

feat: Add records file count and update stock location views with custom fields
  records_management/__manifest__.py
  records_management/models/stock_location.py
  records_management/views/stock_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update stock location views to correct field references and add hidden fields for smart buttons
  records_management/views/stock_location_views.xml
Due: validate-xml-structure
