Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Clean up SCSS formatting for improved readability and maintainability
  records_management/static/src/scss/records_management.scss
Due: none

feat: Optimize SCSS styles and add portal-specific menu items for improved organization
  records_management/data/ir_cron.xml
  records_management/static/src/scss/records_management.scss
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Replace CSS variables with SCSS variables in portal-specific styles for consistency
  records_management/static/src/scss/records_management.scss
Due: none

fix: Update action for Portal Feedback Responses menu item for correct functionality
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

feat: Implement billing and invoicing for destruction requests in PortalRequest and RecordsBilling models
  records_management/controllers/destruction_portal.py
  records_management/models/portal_request.py
  records_management/models/records_billing.py
Due: check-odoo-syntax

feat: Add quote generation functionality and work order conversion actions in portal management
  records_management/controllers/portal.py
  records_management/data/ir_cron.xml
  records_management/models/portal_request.py
  records_management/models/recurring_work_order_schedule.py
  records_management/models/sale_order.py
  records_management/models/work_order_shredding.py
  records_management/static/src/js/quote_generator.js
  records_management/templates/my_portal_inventory.xml
  records_management/views/portal_request_views.xml
  records_management/views/sale_order_views.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add default PO number field to ResPartner and update button visibility in portal request views
  records_management/models/res_partner.py
  records_management/views/portal_request_views.xml
  records_management/wizards/custom_box_volume_calculator.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add scheduled date field to Work Order Creation Wizard
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax

fix: Update input fields in billing template to use t-att-value for dynamic values
  records_management/templates/my_portal_inventory.xml
Due: validate-xml-structure

feat: Add bin size selection and estimated weight calculation to Work Order Shredding model
  records_management/models/work_order_shredding.py
  records_management/views/work_order_shredding_views.xml
  records_management_fsm/models/fsm_order.py
Due: check-odoo-syntax, validate-xml-structure

feat: Add quotes management functionality to Destruction Portal
  records_management/controllers/destruction_portal.py
  records_management/templates/portal_shredding_dashboard.xml
Due: check-odoo-syntax, validate-xml-structure

fix: correct domain for pending quotes in destruction portal
  records_management/controllers/destruction_portal.py
Due: check-odoo-syntax

feat: add records_service_type field to sale.order.line for proper domain searching in portal
  records_management/models/__init__.py
  records_management/models/sale_order_line.py
Due: check-odoo-syntax, check-model-imports

fix: ensure proper formatting in records_service_type field definition
  records_management/models/sale_order_line.py
Due: check-odoo-syntax

fix: update destruction request form to use hardcoded strip cut method and simplify options
  records_management/templates/portal_destruction_request_create.xml
Due: validate-xml-structure

fix: move portal calendar JS to separate file for proper loading
  records_management/static/src/js/portal_calendar.js
  records_management/templates/portal_calendar_view.xml
Due: validate-xml-structure

fix: improve organization diagram click handling and modal visibility with debugging
  records_management/static/src/js/portal/portal_organization_diagram.js
Due: none

fix(portal): shredding service badge use fold not is_closed; inventory tab buttons use native Bootstrap data-bs-toggle to avoid bootstrap global error
  records_management/templates/my_portal_inventory.xml
  records_management/templates/portal_shredding_dashboard.xml
Due: validate-xml-structure

feat: enhance records management with new certificate type and work order creation logic; update sorting and display fields
  records_management/controllers/portal.py
  records_management/models/naid_certificate.py
  records_management/models/portal_request.py
  records_management/models/work_order_shredding.py
  records_management/views/portal_request_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: update billing preview page attributes for improved visibility handling
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

fix: enhance destruction certificate generation with detailed box/bin/service information
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

feat: add price per service calculation and movement history view for shredding service bins
  records_management/models/shredding_service_bin.py
  records_management/models/work_order_shredding.py
  records_management/views/shredding_service_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: implement bin scanning functionality with new wizard and barcode label report
  records_management/models/work_order_shredding.py
  records_management/report/shredding_bin_reports.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/shredding_bin_barcode_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: remove duplicate button, add wizard access, relax WO completion validation
  records_management/models/work_order_shredding.py
  records_management/security/ir.model.access.csv
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: integrate Scanbot SDK scanner with resizable viewfinder everywhere, including portal; add barcode sheet printing
  records_management/controllers/portal.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/work_order_shredding.py
  records_management/report/barcode_sheets_report.xml
  records_management/static/src/js/scanbot_scanner.js
  records_management/templates/portal_barcode_sheet_wizard.xml
  records_management/templates/portal_scanbot_scanner.xml
  records_management/views/scanbot_barcode_scanner_wizard_views.xml
  records_management/wizards/barcode_sheet_wizard.py
  records_management/wizards/scanbot_barcode_scanner_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: ensure newline at end of file in various XML and Python files
  records_management/report/barcode_sheets_report.xml
  records_management/static/src/js/scanbot_scanner.js
  records_management/templates/portal_barcode_sheet_wizard.xml
  records_management/templates/portal_scanbot_scanner.xml
  records_management/views/scanbot_barcode_scanner_wizard_views.xml
  records_management/wizards/barcode_sheet_wizard.py
  records_management/wizards/scanbot_barcode_scanner_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: register scanbot wizard model and add access rights
  records_management/models/__init__.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

fix: correct scanbot wizard import location to resolve circular import
  records_management/models/__init__.py
  records_management/wizards/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: force redeploy to sync import fix
  records_management/README.md
Due: none

fix: add missing access rights for all flagged models
  records_management/security/ir.model.access.csv
Due: none

fix: force sync models/__init__.py to remove stale wizard import
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: remove duplicate entries in ir.model.access.csv
  records_management/security/ir.model.access.csv
Due: none

fix: add missing barcode_sheet_wizard import in wizards/__init__.py
  records_management/wizards/__init__.py
Due: check-odoo-syntax

fix: remove invalid base module refs and duplicates from ir.model.access.csv
  records_management/security/ir.model.access.csv
  records_management/security/temp_cleaned.csv
Due: none

fix: remove temp file
  records_management/security/temp_cleaned.csv
Due: none

fix: correct malformed CSV rows missing model_id field
  records_management/security/ir.model.access.csv
Due: none

fix: add missing shredding.bin.scan.wizard access rules and fix invalid partner_id field on naid.audit.log
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat: Add clickable filter buttons to Organization Map and compact stat cards
  records_management/controllers/portal.py
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/templates/portal_organization_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal calendar - proper Odoo 18 vanilla JS implementation
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/static/src/js/portal/portal_calendar_widget.js
  records_management/templates/portal_calendar_view.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Implement Portal Quote Generator Widget with real-time pricing and PDF download
  records_management/__manifest__.py
  records_management/controllers/portal_interactive.py
  records_management/static/src/js/portal/portal_dashboard_widget.js
  records_management/static/src/js/portal/portal_document_retrieval_widget.js
  records_management/static/src/js/portal/portal_quote_generator_widget.js
  records_management/static/src/js/portal/portal_tour_widget.js
  records_management/static/src/js/portal/portal_user_import_widget.js
Due: check-odoo-syntax
