Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

chore(gitignore): prevent duplicate file artifacts with '2' suffix
  .gitignore
Due: none

fix(menu): add default action to Records Management root menu to resolve tree view error
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

feat(security): add admin (base.group_user) full access to all Records Management models
  records_management/security/ir.model.access.csv
Due: none

fix(security): resolve duplicate access rule IDs causing database constraint errors
  records_management/security/ir.model.access.csv
Due: none

fix: Add tree view for container list - resolves 'No default view of type tree could be found' error
  records_management/views/records_container_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

fix: Correct Odoo 18 view validation - use list tags for list views
  .devcontainer/devcontainer.json
  .vscode/settings.json
  records_management/views/records_container_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

fix: Remove explicit view_id references to resolve loading order dependency issues
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
Due: validate-xml-structure

fix: Resolve duplicate view ID conflict causing tree/list validation error
  records_management/views/report_window_actions_views.xml
Due: validate-xml-structure

fix: Change main tree view to use <tree> tags (Odoo 18 requirement)
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Use <list> tags for list view context (Odoo 18 view_mode dependency)
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat: add technical <tree> views for models to satisfy default view fallback (Odoo 18 x2many/test compatibility)
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: update technical tree view fields for correct hierarchy and utilization display
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: change tree views to list views for technical records consistency
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

feat: add technical list views for records with high priority for fallback
  records_management/views/records_container_movement_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

chore: bump version to 18.0.0.10 for Odoo 18 view compatibility deployment
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: convert technical views to proper type='tree' with <tree> tags for One2many fallback
  records_management/views/records_container_movement_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: improve validator to recognize technical fallback views with type='tree'
  development-tools/comprehensive_validator.py
Due: none

fix: Resolve Odoo 18 tree view compatibility and XML corruption
  development-tools/comprehensive_validator.py
  records_management/views/records_container_movement_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: remove obsolete technical fallback view for container movements
  records_management/views/records_container_movement_views.xml
Due: validate-xml-structure

fix: Repair XML structure corruption in records_container_movement_views.xml
  records_management/views/records_container_movement_views.xml
Due: validate-xml-structure

fix: Replace all <tree> tags with <list> for Odoo 18 compatibility
  records_management/views/records_container_movement_views.xml
  records_management/views/records_container_views.xml
  records_management/views/records_department_billing_approval_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Update version to 19.0.0.1 and adjust dependencies in FSM integration manifest
  records_management/__manifest__.py
  records_management_fsm/__manifest__.py
Due: check-odoo-syntax

fix: Update routes to use 'jsonrpc' instead of 'json' for Odoo 19 compatibility; adjust bank_account_ids relation to avoid conflicts
  records_management/__manifest__.py
  records_management/controllers/http_controller.py
  records_management/controllers/main.py
  records_management/controllers/portal_barcode.py
  records_management/controllers/pos_customer_history.py
  records_management/models/naid_operator_certification.py
Due: check-odoo-syntax

fix: Refactor search filtering in WorkOrderPortal and add unique goals_ids relation in NaidOperatorCertification for Odoo 19 compatibility
  records_management/controllers/work_order_portal.py
  records_management/models/naid_operator_certification.py
  records_management/models/paper_model_bale.py
  records_management/models/records_department.py
  records_management/models/stock_lot_attribute_value.py
Due: check-odoo-syntax

fix: Migrate SQL constraints to models.Constraint for Odoo 19 compatibility across multiple models
  records_management/models/barcode_seasonal_pricing.py
  records_management/models/bin_key.py
  records_management/models/certificate_template_data.py
  records_management/models/chain_of_custody.py
  records_management/models/container_content.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/display_name.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/inventory_item_profile.py
  records_management/models/inventory_item_type.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_certificate.py
  records_management/models/naid_certification_level.py
  records_management/models/paper_model_bale.py
  records_management/models/pickup_request_line.py
  records_management/models/portal_barcode.py
  records_management/models/portal_request_line.py
  records_management/models/records_container.py
  records_management/models/records_container_content_line.py
  records_management/models/records_container_transfer_line.py
  records_management/models/records_container_type.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy.py
  records_management/models/records_service_type.py
  records_management/models/records_storage_department_user.py
  records_management/models/records_tag.py
  records_management/models/records_tag_category.py
  records_management/models/rm_module_configurator.py
  records_management/models/shred_bin.py
  records_management/models/shred_model_bin.py
  records_management/models/shredding_certificate.py
  records_management/models/stock_lot_attribute.py
  records_management/models/stock_lot_attribute_option.py
Due: check-odoo-syntax

fix: Prefix SQL constraint names with underscore for consistency across models
  records_management/models/bin_key.py
  records_management/models/certificate_template_data.py
  records_management/models/chain_of_custody.py
  records_management/models/container_content.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/display_name.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/inventory_item_profile.py
  records_management/models/inventory_item_type.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_certificate.py
  records_management/models/naid_certification_level.py
  records_management/models/pickup_request_line.py
  records_management/models/portal_barcode.py
  records_management/models/portal_request_line.py
  records_management/models/records_container.py
  records_management/models/records_container_content_line.py
  records_management/models/records_container_transfer_line.py
  records_management/models/records_container_type.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy.py
  records_management/models/records_service_type.py
  records_management/models/records_storage_department_user.py
  records_management/models/rm_module_configurator.py
  records_management/models/shred_bin.py
  records_management/models/shred_model_bin.py
  records_management/models/shredding_certificate.py
Due: check-odoo-syntax

fix: Remove unnecessary closing bracket from constraints in MobileDashboardWidgetCategory model
  records_management/models/mobile_dashboard_widget_category.py
Due: check-odoo-syntax

fix: Remove category_id field from NAID security groups for consistency
  records_management/security/naid_security.xml
  records_management/security/records_management_security.xml
Due: validate-xml-structure

fix: Complete Odoo 19 upgrade - resolve all critical compatibility issues
  fix_odoo19_compatibility.py
  records_management/__manifest__.py
  records_management/controllers/field_label_portal.py
  records_management/controllers/http_controller.py
  records_management/controllers/intelligent_search.py
  records_management/controllers/main.py
  records_management/controllers/portal.py
  records_management/controllers/portal_barcode.py
  records_management/controllers/pos_customer_history.py
  records_management/install_logs.txt
  records_management/models/barcode_seasonal_pricing.py
  records_management/models/bin_key.py
  records_management/models/certificate_template_data.py
  records_management/models/chain_of_custody.py
  records_management/models/container_content.py
  records_management/models/cross_department_sharing_rule.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/mobile_dashboard_widget_category.py
  records_management/models/naid_certificate.py
  records_management/models/naid_certification_level.py
  records_management/models/paper_model_bale.py
  records_management/models/portal_barcode.py
  records_management/models/records_container.py
  records_management/models/records_container_type.py
  records_management/models/records_department.py
  records_management/models/records_document.py
  records_management/models/records_retention_policy.py
  records_management/models/records_service_type.py
  records_management/models/records_tag.py
  records_management/models/rm_module_configurator.py
  records_management/models/shred_bin.py
  records_management/models/shred_model_bin.py
  records_management/models/shredding_certificate.py
  records_management/models/stock_lot_attribute.py
  records_management/models/stock_lot_attribute_value.py
  records_management/post_init_hooks.py
  records_management/security/records_management_security.xml
Due: check-odoo-syntax, validate-xml-structure

fix(data): replace deprecated product.product_category_all with custom category
  records_management/data/load_data.xml
Due: validate-xml-structure

Implement feature X to enhance user experience and fix bug Y in module Z
  records_management/install_logs.txt
Due: none

fix: Remove deprecated uom_po_id field and external ID from paper products data
  records_management/data/paper_products_data.xml
Due: validate-xml-structure

fix: Complete Odoo 19 data compatibility - remove all deprecated external IDs and fields
  records_management/data/products_data.xml
  records_management/data/storage_fee_data.xml
Due: validate-xml-structure

fix: Safe conversion of deprecated models.Constraint to _sql_constraints for Odoo 19 compatibility
  fix_constraints_safely.py
  fix_syntax_errors.py
Due: check-odoo-syntax

fix: Resolve all remaining Odoo 19 installation errors
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/naid_certificate.py
  records_management/models/shred_bin.py
  records_management/views/records_digital_scan_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove obsolete scripts for Odoo 19 compatibility adjustments
  fix_constraints_safely.py
  fix_odoo19_compatibility.py
  fix_syntax_errors.py
Due: check-odoo-syntax

fix: Remove problematic 'My Scans' filter from digital scan search view
  records_management/views/records_digital_scan_views.xml
Due: validate-xml-structure

fix: Convert _sql_constraints to model.Constraint for Odoo 19 compatibility
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/naid_certificate.py
  records_management/models/shred_bin.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
