Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Portal Features tab now only appears on Portal category records + enabled by default
  records_management/data/portal_configurator_data.xml
  records_management/models/rm_module_configurator.py
  records_management/views/rm_module_configurator_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove confusing nested tabs from configurator form view
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: Remove invalid user.has_group() from XML invisible attributes
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Revert version to 18.0.0.0.1 (Odoo 19 not publicly available)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Remove another user.has_group() from partner_id readonly attribute
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Enforce partner_id readonly for portal users (security)
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Reorganize container list view to emphasize CUSTOMER over service provider
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat: Extend stock.quant model for customer ownership tracking in records management
  records_management/models/__init__.py
  records_management/models/stock_quant.py
Due: check-odoo-syntax, check-model-imports

feat: Extend stock.location for full Inventory integration
  records_management/models/__init__.py
  records_management/models/stock_location.py
Due: check-odoo-syntax, check-model-imports

feat(inventory): Implement hierarchical inventory tracking for containers, files, and documents
  records_management/models/__init__.py
  records_management/models/records_document.py
  records_management/models/records_file.py
  records_management/models/stock_quant.py
Due: check-odoo-syntax, check-model-imports

docs: Add comprehensive hierarchical inventory architecture documentation
  records_management/ARCHITECTURE_HIERARCHICAL_INVENTORY.md
  records_management/HIERARCHICAL_INVENTORY_IMPLEMENTATION_COMPLETE.md
Due: none

fix(barcode): Align barcode workflow with real business process
  records_management/models/records_container.py
  records_management/models/records_document.py
  records_management/models/records_file.py
Due: check-odoo-syntax

feat(security): Add access control for records file management
  records_management/models/stock_location.py
  records_management/models/stock_quant.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax

feat(inventory): Enhance Records Container with stock integration and indexing features
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

docs(priority-1): Add comprehensive UI updates and testing documentation
  PRIORITY_1_TESTING_CHECKLIST.md
  PRIORITY_1_UI_UPDATES.md
Due: none

fix(container): Remove invalid 'states' parameter from name field
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(department): Change view_mode from 'tree' to 'list' in action_view_containers
  records_management/models/records_department.py
Due: check-odoo-syntax

fix(portal): Fix 'My Inventory' 500 error - update stock.quant domain queries
  records_management/controllers/http_controller.py
Due: check-odoo-syntax

fix(portal): Fix NewId warnings on container_id domains (6 locations)
  records_management/controllers/main.py
  records_management/models/customer_inventory_report_line.py
  records_management/models/mobile_photo.py
  records_management/models/records_container_type_converter_wizard.py
  records_management/wizards/container_quick_add_wizard.py
Due: check-odoo-syntax

fix(portal): Add missing my_requests_template
  records_management/__manifest__.py
  records_management/templates/portal_requests_template.xml
Due: check-odoo-syntax, validate-xml-structure

fix(portal): Add all missing portal templates
  records_management/__manifest__.py
  records_management/templates/portal_inventory_template.xml
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix(inventory): Create stock.quant when containers are activated from draft state
  records_management/models/records_container.py
  scripts/activate_draft_containers.py
Due: check-odoo-syntax

refactor(stock): Remove deprecated location fields, use native Odoo stock.location
  records_management/models/records_container.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(migration): Add pre-migration script and update field references to stock.location
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.0/pre-migrate.py
  records_management/models/records_container.py
  records_management/models/records_document_type.py
  records_management/views/records_container_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor(inventory): Migrate custody/retrieval location fields to stock.location
  records_management/models/chain_of_custody_event.py
  records_management/models/document_retrieval_item.py
  records_management/models/records_retention_rule.py
  records_management/models/scan_retrieval.py
Due: check-odoo-syntax

refactor(architecture): Make records.location inherit stock.location
  records_management/models/records_location.py
Due: check-odoo-syntax

fix(views): Update records.location views to use inherited field names
  records_management/views/records_location_views.xml
Due: validate-xml-structure

fix: Add mail.thread inheritance and remove duplicate fields from records.location
  records_management/models/records_location.py
Due: check-odoo-syntax

fix: Add migration to clean orphaned stock.location references
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.1/post-migrate.py
Due: check-odoo-syntax

docs: Add summary of Odoo.sh deployment fixes
  ODOO_SH_FIXES_20251102.md
Due: none

fix: Change to PRE-migration to fix orphaned references before module loads
  records_management/migrations/18.0.0.2.1/post-migrate.py
  records_management/migrations/18.0.0.2.1/pre-migrate.py
Due: check-odoo-syntax

docs: Update fix documentation - PRE-migration is the correct solution
  ODOO_SH_FIXES_20251102.md
Due: none

fix: Bump to 18.0.0.2.2 to force PRE-migration execution
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.2/pre-migrate.py
Due: check-odoo-syntax

fix: Enhanced parent_path cleanup - handle False/empty string values
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.3/pre-migrate.py
Due: check-odoo-syntax

fix: Correct SQL syntax for parent_path cleanup
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.4/pre-migrate.py
Due: check-odoo-syntax

fix: Backport SQL syntax fix to all migration versions
  records_management/migrations/18.0.0.2.2/pre-migrate.py
Due: check-odoo-syntax

fix: Critical migration fix - warehouse_id + remove records_location
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.1/pre-migrate.py
  records_management/migrations/18.0.0.2.2/pre-migrate.py
  records_management/migrations/18.0.0.2.3/pre-migrate.py
  records_management/migrations/18.0.0.2.4/pre-migrate.py
Due: check-odoo-syntax

fix: PHASE 1 - Staged loading, disable records_location temporarily
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.6/pre-migrate.py
  records_management/models/__init__.py
Due: check-odoo-syntax, check-model-imports

fix: PHASE 2 - Re-enable records_location with safeguard
  records_management/__manifest__.py
  records_management/migrations/18.0.0.2.7/pre-migrate.py
  records_management/models/__init__.py
  records_management/models/records_location.py
Due: check-odoo-syntax, check-model-imports
