Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Refactor Mobile Bin Key Wizard views for improved customer selection and operation details
  records_management/views/mobile_bin_key_wizard_views.xml
Due: validate-xml-structure

fix: Update button actions and labels for consistency in destruction certificate and mobile bin key wizard views
  records_management/views/destruction_certificate_views.xml
  records_management/views/mobile_bin_key_wizard_views.xml
  records_management/views/records_container_views.xml
Due: validate-xml-structure

feat: Add rate change confirmation wizard and SMS validation for stock movements
  records_management/models/__init__.py
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/models/shredding_hard_drive.py
  records_management/models/stock_move_sms_validation.py
  records_management/security/ir.model.access.csv
  records_management/views/shredding_hard_drive_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Update field visibility logic for various wizards to improve user experience
  records_management/security/ir.model.access.csv
  records_management/views/paper_bale_inspection_wizard_views.xml
  records_management/views/paper_bale_weigh_wizard_views.xml
  records_management/views/records_document_flag_permanent_wizard_views.xml
  records_management/views/shredding_bin_barcode_wizard_views.xml
  records_management/views/visitor_pos_wizard_views.xml
Due: validate-xml-structure

fix: Update context definition in paper bale weigh wizard action for proper default bale ID retrieval
  records_management/views/paper_bale_weigh_wizard_views.xml
Due: validate-xml-structure

refactor: Change tree views to list views for improved consistency across records management
  records_management/views/advanced_billing_line_tree_views.xml
  records_management/views/barcode_seasonal_pricing_views.xml
  records_management/views/destruction_event_views.xml
  records_management/views/missing_model_views.xml
  records_management/views/naid_audit_requirement_views.xml
  records_management/views/naid_certification_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/processing_log_resolution_wizard_views.xml
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/shredding_service_bin_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: validate-xml-structure

refactor: Update view identifiers for location.report.wizard for consistency
  records_management/views/records_location_report_wizard_views.xml
Due: validate-xml-structure

feat: Add mobile bin key wizard model for enhanced records management
  records_management/models/mobile_bin_key_wizard.py
Due: check-odoo-syntax

refactor: Clean up field names and comments in RecordsDocumentType model for clarity and consistency
  records_management/models/records_document_type.py
  records_management/views/paper_bale_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Improve SMS validation method docstring and enhance XML accessibility attributes
  records_management/models/stock_move_smsvalidation.py
  records_management/views/system_flowchart_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Remove StockMoveSMSValidation model and clean up temp inventory reject wizard view
  records_management/models/stock_move_smsvalidation.py
  records_management/views/temp_inventory_reject_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Update retention date calculation to handle string and datetime inputs
  records_management/models/records_document_type.py
Due: check-odoo-syntax

refactor: Simplify visitor POS wizard buttons by removing redundant actions
  records_management/views/visitor_pos_wizard_views.xml
Due: validate-xml-structure

fix: Resolve ParseError in visitor POS wizard views and critical loading errors
  records_management/models/key_restriction_checker.py
  records_management/models/rate_change_confirmation_wizard.py
  records_management/views/paper_bale_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_dashboard_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Rate Change Confirmation Wizard for approving and implementing rate changes
  records_management/models/rate_change_confirmation_wizard.py
Due: check-odoo-syntax

refactor: Remove Rate Change Confirmation Wizard and clean up imports
  records_management/models/__init__.py
  records_management/models/rate_change_confirmation_wizard.py
Due: check-odoo-syntax, check-model-imports

feat: Implement manual and quick validation scripts for records management refactor: Update visitor POS wizard view for cache refresh
  .vscode/settings.json
  manual_validation.sh
  quick_validation.py
  records_management/views/visitor_pos_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add menu reference validation script and update menu item names for consistency
  menu_validation.py
  records_management/views/customer_inventory_report_views.xml
  records_management/views/revenue_forecast_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Resolve destruction certificate field mismatch errors
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

fix: Resolve destruction certificate method indentation and duplicate button issues
  records_management/models/destruction_certificate.py
  records_management/views/destruction_certificate_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove orphaned XML content causing parsing error in destruction_certificate_views.xml
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

fix: Remove active_id and non-existent field references in destruction_certificate_views.xml
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

refactor: Remove emoji from button labels and group titles in destruction_certificate_views.xml for consistency
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

fix: Replace naid_verified with existing naid_certificate_id field and clean up XML structure
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

fix: Replace emojis with Font Awesome icons for consistency in destruction certificate descriptions
  records_management/views/destruction_certificate_views.xml
Due: validate-xml-structure

fix: Replace emojis with FontAwesome icons in all view files
  fix_emojis.py
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/customer_inventory_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/load_views.xml
  records_management/views/location_report_wizard_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_feedback_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/pos_config_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/shredding_service_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove emojis from group titles and button labels for consistency in views
  records_management/views/location_report_wizard_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

fix: Resolve XML syntax errors from emoji replacement
  clean_html.py
  fix_missing_quotes.py
  fix_quotes.py
  fix_syntax_errors.py
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/load_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/portal_request_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Complete emoji-to-FontAwesome conversion and XML cleanup
  clean_remaining_emojis.py
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_key_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/fleet_vehicle_enhanced_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/portal_feedback_views.xml
  records_management/views/pos_config_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/system_flowchart_wizard_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  remove_html_entities.py
Due: check-odoo-syntax, validate-xml-structure

feat: Final emoji cleanup - 100% emoji replacement with FontAwesome icons
  final_emoji_cleanup.py
  records_management/views/naid_compliance_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

Enhance Records Management Views and Functionality
  records_management/views/bin_key_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/chain_of_custody_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/permanent_flag_wizard_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/stock_lot_views.xml
  records_management/views/system_flowchart_wizard_views.xml
Due: validate-xml-structure

fix: Clean up XML formatting and improve readability in chain_of_custody_views
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Remove FontAwesome icons from Chain of Custody action window and update help text
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Remove emoji from transport and delivery group labels for consistency
  records_management/views/load_views.xml
Due: validate-xml-structure

Enhance Service Item Menus and Views
  records_management/data/portal_mail_templates_data.xml
  records_management/views/advanced_billing_line_form_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/load_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/records_location_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/shredding_service_views.xml
  records_management/views/visitor_pos_wizard_views.xml
Due: validate-xml-structure

Refactor code structure for improved readability and maintainability
  records_management/data/fsm_mail_templates_data.xml
  records_management/data/portal_mail_templates_data.xml
  records_management/models/bin_unlock_service.py
  records_management/views/barcode_product_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/naid_custody_views.xml
  records_management/views/paper_bale_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_location_report_wizard_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/service_item_menus.xml
  records_management/views/shredding_service_views.xml
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove icons and emojis from service item menu names for consistency
  records_management/data/fsm_mail_templates_data.xml
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

Refactor XML views for improved readability and consistency
  records_management/views/barcode_product_views.xml
  records_management/views/base_rate_views.xml
  records_management/views/bin_unlock_service_views.xml
  records_management/views/naid_compliance_views.xml
  records_management/views/pickup_route_stop_views.xml
  records_management/views/pickup_route_views.xml
  records_management/views/product_template_views.xml
  records_management/views/records_billing_config_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_retention_policy_views.xml
  records_management/views/scan_retrieval_item_views.xml
  records_management/views/shredding_service_views.xml
  records_management/views/system_diagram_data_views.xml
  records_management/views/visitor_pos_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
