Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix(shredding_service_bin): correct field references from 'state' to 'status' in views
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: update field reference from 'state' to 'status' in revenue forecast line search view
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(menu): remove invalid menu referencing non-existent action_records_billing_config_line
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(actions): replace missing action references with existing ones
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(fsm): use standard FSM action to resolve loading order issue
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(manifest): update service_item_views.xml reference in module manifest
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(manifest): correct loading order to resolve action dependencies
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(service_item): update view to match actual model fields
  records_management/views/service_item_views.xml
Due: validate-xml-structure

fix(service_item): repair XML syntax error in kanban view
  records_management/views/service_item_views.xml
Due: validate-xml-structure

fix(manifest): add missing document_retrieval_metrics_views.xml
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(views): correct model reference from document.retrieval.metrics to retrieval.metric
  records_management/report/retrieval_metrics_report.py
  records_management/report/submodel_report.py
  records_management/views/document_retrieval_metrics_views.xml
  records_management/views/revenue_forecast_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(manifest): add missing payment_split_line_views.xml to loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(manifest): move shredding_service_photo_views.xml to correct loading order
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(views): remove non-existent photo_filename field from shredding service photo view
  records_management/views/shredding_service_photo_views.xml
Due: validate-xml-structure

fix(views): correct External ID for batch approve billing audit action
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(models): correct model references in reports and views
  records_management/report/billing_config_audit_report.py
  records_management/report/submodel_report.py
  records_management/views/revenue_forecast_line_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(views): correct External ID references for standard and custom models
  records_management/report/chain_of_custody_reports.xml
  records_management/report/container_movement_reports.xml
  records_management/report/hr_employee_reports.xml
  records_management/report/maintenance_equipment_reports.xml
  records_management/report/pos_config_reports.xml
  records_management/report/product_product_reports.xml
  records_management/report/product_template_reports.xml
  records_management/report/project_task_reports.xml
  records_management/report/res_partner_reports.xml
  records_management/report/stock_lot_reports.xml
  records_management/report/survey_user_input_reports.xml
Due: validate-xml-structure

fix(views): correct additional External ID model references
  records_management/report/bale_label_reports.xml
  records_management/report/records_billing_line_reports.xml
  records_management/report/records_management_bale_reports.xml
  records_management/report/visitor_reports.xml
Due: validate-xml-structure

fix(xml): correct Python code indentation in server actions
  records_management/views/revenue_forecast_line_views.xml
Due: validate-xml-structure

fix(views): update filter domains for UI configurations and feature toggles
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix(views): replace non-existent 'state' field with 'status' in shred_model_bin_views.xml
  records_management/views/shred_model_bin_views.xml
Due: validate-xml-structure

fix(views): replace non-existent fields with actual model fields in shredding_hard_drive_views.xml
  records_management/views/shredding_hard_drive_views.xml
Due: validate-xml-structure

fix(views): update field names and replace deprecated fields in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Replace non-existent fields in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix(views): add Work Orders page and related buttons in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix(views): update last_scan_date to last_service_date in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

feat(views): add action to report bin issues in shredding_service_bin_views.xml
  records_management/models/shredding_service_bin.py
  records_management/views/shredding_service_bin_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: add action to view service event history for shredding service bin
  records_management/models/shredding_service_bin.py
Due: check-odoo-syntax

fix(views): update bin specifications field to bin size in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix(views): update service tracking and billing information fields in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Comprehensive field cleanup in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Comprehensive field alignment for shredding_service and temp_inventory views
  records_management/views/shredding_service_views.xml
  records_management/views/temp_inventory_views.xml
Due: validate-xml-structure

feat: Integrate container inventory destruction with shredding services
  records_management/models/shredding_service.py
  records_management/views/shredding_service_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix(views): replace expiration date with retention date and add destruction eligibility fields in stock lot views
  records_management/views/stock_lot_views.xml
Due: validate-xml-structure

fix: Fix indentation error in shredding_service.py
  records_management/models/shredding_service.py
Due: check-odoo-syntax

feat: Enhance survey feedback and improvement action views with additional fields and improved UI elements
  records_management/views/survey_feedback_theme_views.xml
  records_management/views/survey_improvement_action_views.xml
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

fix: Validate and enhance survey feedback theme, improvement action, and work order coordinator views
  records_management/views/work_order_coordinator_views.xml
Due: validate-xml-structure

feat: Update workflow visualization manager views with improved fields and UI enhancements
  records_management/views/portal_request_views.xml
  records_management/views/workflow_visualization_manager_views.xml
Due: validate-xml-structure

fix: Correct field names in shredding_service_bin_views.xml
  records_management/views/shredding_service_bin_views.xml
Due: validate-xml-structure

fix: Resolve computed field inconsistencies in shredding.service model
  records_management/models/shredding_service.py
Due: check-odoo-syntax

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
