Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Complete removal of incorrect document_id/container_id in kanban view
  development-tools/single_file_validator.py
  records_management/views/chain_of_custody_views.xml
Due: validate-xml-structure

fix: Update pickup_route_views.xml field references
  development-tools/mass_validation_only.py
  records_management/views/pickup_route_views.xml
Due: validate-xml-structure

fix: Resolve FontAwesome accessibility and missing method errors
  records_management/views/pickup_route_views.xml
  records_management/views/portal_feedback_views.xml
Due: validate-xml-structure

fix: Enhance mass validation tool with FontAwesome accessibility and method checks
  development-tools/mass_validation_only.py
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: Improve accessibility by adding titles to FontAwesome icons across various views
  development-tools/mass_validation_only.py
  records_management/views/account_move_line_views.xml
  records_management/views/document_retrieval_team_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_work_vehicle_views.xml
  records_management/views/shred_bin_views.xml
Due: validate-xml-structure

fix: Remove non-existent action methods in portal feedback form to prevent deployment failures
  records_management/views/portal_feedback_views.xml
Due: validate-xml-structure

fix: Update menu item parent references in portal feedback and bulk user import views
  development-tools/mass_validation_only.py
  records_management/views/portal_feedback_views.xml
  records_management/views/records_bulk_user_import_views.xml
Due: validate-xml-structure

fix: Remove obsolete action buttons from records management settings form due to missing methods
  records_management/__manifest__.py
  records_management/views/records_config_setting_views.xml
  records_management/views/records_config_settings_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove obsolete menu item for billing config audit views and enhance accessibility with titles for icons
  records_management/views/container_access_activity_views.xml
  records_management/views/records_document_views.xml
  records_management/views/view_records_billing_config_audit_menus.xml
Due: validate-xml-structure

fix: Enhance records audit log views by updating fields and improving layout for better usability
  development-tools/mass_validation_only.py
  records_management/views/records_audit_log_views.xml
Due: validate-xml-structure

feat: Add NAID compliance settings and enhance records configuration menu
  development-tools/mass_validation_only.py
  records_management/models/records_config_settings.py
  records_management/views/records_config_settings_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove redundant closing group tag in records audit log search view
  records_management/views/records_audit_log_views.xml
Due: validate-xml-structure

feat: Enhance XML validation by adding syntax checks and improving error reporting in mass and single file validators
  development-tools/mass_validation_only.py
  development-tools/single_file_validator.py
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_customer_billing_profile_views.xml
  records_management/views/records_department_billing_contact_views.xml
Due: validate-xml-structure

fix: Correct field name for groups in bulk user import action
  records_management/views/records_bulk_user_import_views.xml
Due: validate-xml-structure

feat: Add comprehensive XML validation tool and single/all file validators
  development-tools/comprehensive_validator.py
  development-tools/fix_data_wrapper_schema.py
  development-tools/validate_all.py
  development-tools/validate_single.py
Due: none

feat: Implement simple XML syntax validator with error reporting
  development-tools/simple_xml_validator.py
  records_management/views/records_center_location_views.xml
Due: validate-xml-structure

refactor: Remove redundant <data> tags from view XML files
  records_management/views/records_center_location_views.xml
  records_management/views/records_config_settings_views.xml
  records_management/views/records_container_content_views.xml
Due: validate-xml-structure

refactor: Remove redundant <data> tags from multiple XML view files
  records_management/views/records_bulk_user_import_views.xml
  records_management/views/records_container_line_views.xml
  records_management/views/records_container_log_views.xml
  records_management/views/records_container_movement_views.xml
  records_management/views/records_container_transfer_views.xml
  records_management/views/records_customer_billing_profile_views.xml
  records_management/views/records_deletion_request_enhanced_views.xml
  records_management/views/records_department_billing_approval_views.xml
Due: validate-xml-structure

refactor: Remove redundant <data> tags from multiple XML view files
  records_management/views/destruction_certificate_views.xml
  records_management/views/records_category_views.xml
  records_management/views/records_department_billing_contact_views.xml
  records_management/views/records_department_views.xml
  records_management/views/records_destruction_job_views.xml
Due: validate-xml-structure

refactor: Remove redundant <data> tags from multiple XML view files
  records_management/views/records_category_views.xml
  records_management/views/records_destruction_line_views.xml
  records_management/views/records_destruction_views.xml
  records_management/views/records_document_field_label_helper_views.xml
  records_management/views/records_document_type_views.xml
  records_management/views/records_document_views.xml
  records_management/views/records_installer_views.xml
  records_management/views/records_inventory_dashboard_views.xml
  records_management/views/records_location_inspection_line_views.xml
  records_management/views/records_location_inspection_views.xml
  records_management/views/records_location_views.xml
  records_management/views/records_management_bale_views.xml
Due: validate-xml-structure

fix: resolve deployment blockers in records_category_views.xml and batch 1 of data wrapper fixes
  records_management/views/records_category_views.xml
  records_management/views/records_policy_version_views.xml
  records_management/views/records_promotional_discount_views.xml
  records_management/views/records_request_line_views.xml
  records_management/views/records_request_type_views.xml
  records_management/views/records_request_views.xml
Due: validate-xml-structure

Refactor XML views for records retention rules and retrieval orders
  records_management/views/records_retention_policy_views.xml
  records_management/views/records_retention_rule_views.xml
  records_management/views/records_retrieval_order_views.xml
Due: validate-xml-structure

fix: critical deployment error in records_category_views.xml - recreated file structure
  records_management/views/records_category_views.xml
Due: validate-xml-structure

fix: Resolved deployment blockers in records_storage_department_user_views.xml, records_survey_user_input_views.xml, records_tag_category_views.xml
  fix_data_wrappers.py
  records_management/views/records_security_audit_views.xml
  records_management/views/records_series_views.xml
  records_management/views/records_service_type_views.xml
  records_management/views/records_storage_department_user_views.xml
  records_management/views/records_survey_user_input_views.xml
  records_management/views/records_tag_category_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Final deployment blocker - Remove data wrapper from menu roots
  records_management/views/records_management_menu_roots.xml
Due: validate-xml-structure

feat: Complete res.config.settings model with all view fields
  records_management/models/res_config_settings.py
Due: check-odoo-syntax

feat: Systematic field validation resolution - Phase 1
  development-tools/comprehensive_validator.py
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add comprehensive fields for records management services in product template
  development-tools/comprehensive_validator.py
  records_management/models/product_template.py
Due: check-odoo-syntax

feat: Enhance product template and partner models with comprehensive statistics and configuration fields
  development-tools/comprehensive_validator.py
  records_management/models/product_template.py
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Add additional key restriction fields and update views for records management
  development-tools/comprehensive_validator.py
  records_management/models/res_partner.py
  records_management/views/bin_unlock_service_views.xml
  records_management/views/records_category_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing models field.label.config and key.restriction.history
  records_management/models/__init__.py
  records_management/models/field_label_config.py
  records_management/models/key_restriction_history.py
  records_management/security/ir.model.access.csv
Due: check-odoo-syntax, check-model-imports

fix: Resolve selection override and compute field warnings
  records_management/models/product_template.py
  records_management/models/records_config_settings.py
  records_management/models/res_config_settings.py
  records_management/models/res_partner.py
Due: check-odoo-syntax

fix: Replace selection_add with selection for naid_compliance_level fields
  records_management/models/product_template.py
  records_management/models/records_config_settings.py
  records_management/models/res_config_settings.py
Due: check-odoo-syntax

fix: Correct field inheritance for naid_compliance_level across config models
  records_management/models/res_config_settings.py
Due: check-odoo-syntax

fix: Adjust indentation and formatting in advanced billing line and records category views
  fix_xml_indentation.py
  records_management/views/advanced_billing_line_form_views.xml
  records_management/views/records_category_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add comprehensive XML indentation fixer for all view files
  fix_xml_comprehensive.py
  fix_xml_indentation.py
Due: check-odoo-syntax

fix: XML schema compliance for records_category_views.xml
  records_management/views/records_category_views.xml
Due: validate-xml-structure
