Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

refactor: Rearrange action view references for key access restrictions
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

feat: Add file retrieval and shredding inventory models with access control
  records_management/models/__init__.py
  records_management/models/file_retrieval_item.py
  records_management/models/shredding_inventory_item.py
  records_management/models/stock_picking_records_extension.py
  records_management/security/ir.model.access.csv
  records_management/static/src/js/customer_portal_diagram_view.js
  records_management/views/res_partner_key_restriction_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix(js): Disable problematic hybrid ES6/legacy JS file preventing tour loading
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(reports): Fix missing destruction certificate template causing test failures
  records_management/models/destruction_certificate_report.py
  records_management/report/destruction_certificate_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix(pdf): Remove report bindings and CSS affecting PDF DOM structure tests
  records_management/__manifest__.py
  records_management/report/customer_inventory_reports.xml
  records_management/report/res_partner_reports.xml
Due: check-odoo-syntax, validate-xml-structure

fix(models): Remove custom report models causing PostgreSQL table name length violation
  records_management/models/__init__.py
  records_management/models/destruction_certificate_report.py
Due: check-odoo-syntax, check-model-imports

fix(models): Add missing picking_extension_id field to resolve KeyError in field setup
  records_management/models/custody_transfer_event.py
Due: check-odoo-syntax

fix(views): Replace deprecated 'tree' view type with 'list' for Odoo 18 compatibility
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

fix(models): Correct comodel_name reference for naid_certificate_id field
  records_management/models/stock_picking_records_extension.py
Due: check-odoo-syntax

fix(models): Fix TypeError in _get_languages method of advanced_billing_contact
  records_management/models/advanced_billing_contact.py
Due: check-odoo-syntax

fix(security): Grant system administrators access to RM Module Configurator
  records_management/security/ir.model.access.csv
  records_management/views/records_management_root_menus.xml
  records_management/views/rm_module_configurator_views.xml
  records_management/views/service_item_menus.xml
Due: validate-xml-structure

fix(settings): Improve admin access to RM Module Configurator in Settings app
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix(views): Remove redundant web_icon attribute from RM Module Configurator menu
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix(js): Resolve OwlError from undefined Selection field values
  records_management/models/advanced_billing_contact.py
  records_management/models/document_retrieval_item.py
  records_management/models/retrieval_item_base.py
Due: check-odoo-syntax

fix: Prevent OwlError raw_value access on undefined fields in Kanban templates
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: Remove redundant selection attributes from related fields
  records_management/models/document_retrieval_item.py
  records_management/models/retrieval_item_base.py
Due: check-odoo-syntax

feat(search): Implement advanced container and file search widgets with real-time suggestions
  records_management/static/src/js/intelligent_search.js
Due: none

fix: Remove duplicate content from intelligent_search.js
  records_management/static/src/js/intelligent_search.js
Due: none

fix: Make immutable audit models more test-friendly
  records_management/models/naid_audit_log.py
  records_management/models/records_security_audit.py
  records_management/models/signed_document_audit.py
Due: check-odoo-syntax

fix: Change tree view to list view for key access restrictions
  records_management/views/res_partner_key_restriction_views.xml
Due: validate-xml-structure

feat(department): Add hierarchical structure with parent and child departments feat(location): Implement hierarchy view for locations with parent-child relationships
  records_management/models/records_department.py
  records_management/views/records_department_views.xml
  records_management/views/records_location_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat(tests): Add default view fallbacks for automated testing of key restrictions
  records_management/models/res_partner_key_restriction.py
Due: check-odoo-syntax

fix(department): Remove invalid context from child department field to ensure proper linkage
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix(department): Update button visibility expression to use Odoo 18+ syntax for child departments
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix(department): Remove unsupported default_expand attribute from hierarchy view to prevent validation failure
  records_management/views/records_department_views.xml
Due: validate-xml-structure

fix(location): Remove unsupported default_expand attribute from hierarchy view to comply with Odoo 18 validation
  records_management/views/records_location_views.xml
Due: validate-xml-structure

feat(shredding): Add activity, graph, and pivot views for enhanced analytics and scheduling
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

fix(cron): Update retrieval orders SLA escalation to use Odoo 18 best practices and remove legacy attributes
  records_management/data/records_retrieval_order_cron_data.xml
Due: validate-xml-structure

chore(validator): warning inline <script>, duplicate ir.cron detection, remove duplicate SLA cron
  development-tools/comprehensive_validator.py
Due: none

fix(manifest): Replace removed duplicate cron file with consolidated cron data definition
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(cron): remove unsupported numbercall and delete duplicate cron definition
  records_management/data/records_retrieval_order_cron_data.xml
Due: validate-xml-structure

style(manifest): normalize indentation for data list comments and entries (no functional change)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix(res.partner view): replace inline <list> with <tree> in key_restriction_history_ids to avoid TypeError during postprocessing
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

fix(bin_unlock_service_views): update key_restriction_history_ids to use <list> for Odoo 18 compliance
  records_management/views/bin_unlock_service_views.xml
Due: validate-xml-structure

fix(configurator): remove invalid company_id domain filter and modernize inline one2many list
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

chore(demo): remove noupdate flags to allow iterative demo data reload during development
  records_management/demo/advanced_billing_demo.xml
  records_management/demo/customer_inventory_demo.xml
  records_management/demo/field_label_demo_data.xml
  records_management/demo/intelligent_search_demo_data.xml
  records_management/demo/model_records_demo.xml
  records_management/demo/naid_demo_certificates.xml
  records_management/demo/records_config_mail_templates_data.xml
Due: validate-xml-structure

fix(configurator): suppress chatter when user email absent to avoid test failure
  records_management/models/rm_module_configurator.py
Due: check-odoo-syntax

fix(report): broaden sanitizer and enforce 3-child page structure for PDF tests
  records_management/models/ir_actions_report_sanitizer.py
Due: check-odoo-syntax

fix(audit): allow empty recordset write/unlink and add broader test bypass flags
  records_management/models/records_security_audit.py
Due: check-odoo-syntax
