Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Rename shredding_service_type label to avoid duplicate 'Work Order Type' label
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax

feat: Add signature fields and NAID seal to destruction certificate report
  records_management/__manifest__.py
  records_management/data/destruction_certificate_sign_template.xml
  records_management/models/destruction_certificate.py
  records_management/report/destruction_certificate_report.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal errors - temp.inventory barcode field and FSM project company_id constraint
  records_management/controllers/portal.py
  records_management/data/destruction_certificate_sign_template.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal barcode system - use temp_barcode for customer barcodes, keep barcode for official company barcodes
  records_management/controllers/portal.py
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Remove sign template data file - sign.template requires PDF attachment
  records_management/__manifest__.py
  records_management/data/destruction_certificate_sign_template.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal inventory overview - counts loading and tabs not working
  records_management/controllers/portal.py
  records_management/templates/my_portal_inventory.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Portal documents 500 error + CSV url reference
  records_management/controllers/portal.py
  records_management/docs/portal_urls.csv
  records_management/templates/portal_inventory_tabs.xml
Due: check-odoo-syntax, validate-xml-structure

docs: Add cleaner portal_pages.csv reference
  records_management/docs/portal_pages.csv
Due: none

docs: Add portal_urls_only.csv
  records_management/docs/portal_urls_only.csv
Due: none

docs: Add portal_menu_structure.csv showing menu tabs and nested URLs
  records_management/docs/portal_menu_structure.csv
Due: none

fix: Add missing portal routes (/my/shredding, /my/calendar) and fix certificate date field
  records_management/controllers/portal.py
  records_management/docs/Portal_menu_export_12_09.csv
  records_management/templates/portal_certificates.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Clean up portal menus with proper hierarchy
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

fix: Set noupdate=0 so portal menu updates apply on upgrade
  records_management/data/website_portal_menus.xml
Due: validate-xml-structure

chore: Remove obsolete portal documentation CSV files
  records_management/docs/Portal_menu_export_12_09.csv
  records_management/docs/portal_menu_structure.csv
  records_management/docs/portal_pages.csv
  records_management/docs/portal_urls.csv
  records_management/docs/portal_urls_only.csv
Due: none

fix: Update portal access and templates for improved user experience and compatibility
  records_management/controllers/portal.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Enhance portal reports by adding requests, certificates, and notification channels
  records_management/controllers/portal.py
  records_management/templates/portal_profile_templates.xml
Due: check-odoo-syntax, validate-xml-structure

refactor: Optimize database queries with sudo for improved performance and add customer-negotiated rates section in billing templates
  records_management/controllers/portal.py
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Portal Spreadsheet Templates for import/export functionality
  records_management/__manifest__.py
  records_management/controllers/portal_interactive.py
  records_management/data/portal_spreadsheet_templates_data.xml
  records_management/models/__init__.py
  records_management/models/portal_spreadsheet_template.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_spreadsheet_templates.xml
  records_management/views/portal_spreadsheet_template_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Split portal spreadsheet template models for correct load order
  records_management/models/__init__.py
  records_management/models/portal_spreadsheet_template.py
  records_management/models/portal_spreadsheet_template_column.py
  records_management/views/portal_spreadsheet_template_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Use config_id.partner_id for billing rates search
  records_management/controllers/portal.py
Due: check-odoo-syntax

feat: Implement portal access management with user permission editing
  records_management/controllers/portal.py
  records_management/templates/portal_missing_templates.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Filter portal requests in work orders and auto-approve on link
  records_management/models/container_destruction_work_order.py
  records_management/models/records_retrieval_order.py
  records_management/models/work_order_shredding.py
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_order_views.xml
  records_management/views/unified_work_order_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bin service TIP/SWAP wizard for shredding work orders
  records_management/__manifest__.py
  records_management/models/work_order_shredding.py
  records_management/security/ir.model.access.csv
  records_management/templates/portal_requests_template.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/work_order_bin_service_wizard.py
  records_management/wizards/work_order_bin_service_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove unnecessary blank lines in Work Order Bin Service Wizard
  records_management/wizards/work_order_bin_service_wizard.py
Due: check-odoo-syntax

fix: Menu audit - fix duplicates and mark informational items for review
  records_management/views/advanced_billing_contact_views.xml
  records_management/views/departmental_billing_menus.xml
  records_management/views/enhanced_features_menus.xml
  records_management/views/portal_spreadsheet_template_views.xml
  records_management/views/records_management_menus.xml
  records_management/views/records_management_root_menus.xml
  records_management/views/transitory_field_config_views.xml
Due: validate-xml-structure

feat: Add department field to recurring work order schedules
  records_management/models/recurring_work_order_schedule.py
  records_management/views/recurring_work_order_schedule_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add staging location (from portal) to work orders
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/recurring_work_order_schedule.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management/views/recurring_work_order_schedule_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add staging location to all work order reports with barcode printing
  records_management/__manifest__.py
  records_management/models/records_retrieval_work_order.py
  records_management/report/container_access_work_order_reports.xml
  records_management/report/container_destruction_work_order_reports.xml
  records_management/report/records_retrieval_work_order_reports.xml
  records_management/report/staging_location_block_template.xml
  records_management/report/work_order_retrieval_reports.xml
  records_management/report/work_order_shredding_reports.xml
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Ensure newline at end of file in report XML templates
  records_management/report/container_access_work_order_reports.xml
  records_management/report/staging_location_block_template.xml
Due: validate-xml-structure

fix: Standardize all work order sequence prefixes to WO-XX format
  records_management/data/ir_sequence_data.xml
  records_management/data/missing_sequences_data.xml
Due: validate-xml-structure

refactor: Simplify work order workflow from 11 states to 4-5 states
  records_management/models/container_access_work_order.py
  records_management/models/container_destruction_work_order.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/unified_work_order.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management/views/container_access_work_order_views.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/rm_barcode_operations_views.xml
  records_management/views/unified_work_order_views.xml
  records_management/views/work_order_dashboard_views.xml
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Simplify NAID to witness-only workflow with signature capture
  records_management/models/container_destruction_work_order.py
  records_management/models/shredding_certificate.py
  records_management/models/work_order_shredding.py
  records_management/report/container_destruction_work_order_reports.xml
  records_management/report/destruction_certificate_report.xml
  records_management/report/work_order_shredding_reports.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Update view button to use renamed action_start_work_from_scheduled
  records_management/views/work_order_shredding_views.xml
Due: validate-xml-structure

fix: Remove float_time widget from volume calculator fields
  records_management/views/custom_box_volume_calculator_views.xml
Due: validate-xml-structure

feat: Add volume calculator to work orders via gear icon
  records_management/views/custom_box_volume_calculator_views.xml
  records_management/wizards/custom_box_volume_calculator.py
Due: check-odoo-syntax, validate-xml-structure

fix: Use 'active' instead of 'is_active' for customer.negotiated.rate field
  records_management/wizards/custom_box_volume_calculator.py
Due: check-odoo-syntax

fix: Update state validations to use simplified states (scheduled/in_progress)
  records_management/models/work_order_shredding.py
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Optimize SCSS styles with new variables and media queries for improved responsiveness
  records_management/static/src/scss/records_management.scss
  records_management/templates/portal_my_menu.xml
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Add role attribute to alert div and clean up button formatting in volume calculator view
  records_management/views/custom_box_volume_calculator_views.xml
Due: validate-xml-structure

feat: Refactor SCSS variables for improved maintainability and add portal-specific styles
  records_management/static/src/scss/records_management.scss
Due: none
