Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

feat: Add billing automation methods to records.file model
  records_management/models/records_file.py
Due: check-odoo-syntax

feat: Implement container destruction and retrieval workflows with new state management
  records_management/controllers/portal.py
  records_management/demo/model_records_demo.xml
  records_management/models/container_destruction_work_order.py
  records_management/models/records_retrieval_work_order.py
  records_management/templates/advanced_search_templates.xml
  records_management/templates/portal_containers.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_file_detail.xml
  records_management/templates/portal_inventory_detail.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_missing_templates.xml
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/records_retrieval_work_order_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add bulk action commands for container management
  records_management/__manifest__.py
  records_management/data/container_bulk_actions.xml
  records_management/wizards/__init__.py
  records_management/wizards/add_to_work_order_wizard.py
  records_management/wizards/add_to_work_order_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance validation and error handling for bulk container actions
  records_management/data/container_bulk_actions.xml
Due: validate-xml-structure

fix: Invalid portal.request state + feat: Portal bulk actions for customers
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/data/container_bulk_actions.xml
  records_management/demo/model_records_demo.xml
  records_management/templates/portal_bulk_actions.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Invalid paper.bale.recycling state in demo data
  records_management/demo/model_records_demo.xml
Due: validate-xml-structure

fix: Wizard view XML validation - use many2many_tags widget instead of inline tree
  records_management/wizards/add_to_work_order_wizard_views.xml
Due: validate-xml-structure

fix: Remove store=True from records_container_count - database column doesn't exist
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Force wizard view refresh - add comment to ensure deployment picks up changes
  records_management/wizards/add_to_work_order_wizard_views.xml
Due: validate-xml-structure

fix: Force wizard view refresh via migration script - bump to 19.0.1.0.1
  records_management/__manifest__.py
  records_management/migrations/19.0.1.0.1/post-migrate.py
Due: check-odoo-syntax

fix: Restore version to 18.0.1.0.26 and remove migration script
  records_management/__manifest__.py
  records_management/migrations/19.0.1.0.1/post-migrate.py
Due: check-odoo-syntax

fix: Add migration script to force wizard view refresh - version 18.0.1.0.26
  records_management/migrations/18.0.1.0.26/post-migrate.py
Due: check-odoo-syntax

fix: Remove records_container_count field - use native quant_ids/child_ids instead
  records_management/models/records_container.py
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Add translation import and remove _() from static strings in server actions
  records_management/data/container_bulk_actions.xml
Due: validate-xml-structure

fix: Remove forbidden import statements from server actions - use plain strings
  records_management/data/container_bulk_actions.xml
Due: validate-xml-structure

feat: Integrate FSM task creation and management in records retrieval workflow
  records_management/controllers/portal.py
  records_management/models/records_retrieval_work_order.py
  records_management_fsm/models/fsm_task.py
  records_management_fsm/models/fsm_worksheet_template.py
Due: check-odoo-syntax

feat: Add FSM worksheet system with portal/calendar integration
  records_management/controllers/portal.py
  records_management_fsm/__manifest__.py
  records_management_fsm/data/fsm_project_data.xml
  records_management_fsm/data/fsm_worksheet_templates.xml
  records_management_fsm/models/__init__.py
  records_management_fsm/models/fsm_task.py
  records_management_fsm/models/fsm_worksheet_template.py
  records_management_fsm/security/ir.model.access.csv
  records_management_fsm/views/fsm_worksheet_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Clean up whitespace in FSMWorksheetChecklistItem model
  records_management_fsm/models/fsm_worksheet_template.py
Due: check-odoo-syntax

fix: Add billing_type and wizard access rules
  records_management/security/ir.model.access.csv
  records_management_fsm/data/fsm_project_data.xml
Due: validate-xml-structure

fix: Remove billing_type field and fix worksheet reference
  records_management_fsm/data/fsm_project_data.xml
  records_management_fsm/models/fsm_task.py
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing records_container_count field to stock.location
  records_management/models/stock_location.py
Due: check-odoo-syntax

fix: Resolve field label conflict and add billing_type
  records_management/models/stock_location.py
  records_management_fsm/data/fsm_project_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Use noupdate=1 for FSM project to prevent upgrade errors
  records_management_fsm/data/fsm_project_data.xml
Due: validate-xml-structure

fix: Remove FSM project data file to prevent billing_type errors
  records_management_fsm/__manifest__.py
  records_management_fsm/data/fsm_project_data.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add missing view type declarations in FSM worksheet views
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

fix: Change tree tags to list tags in FSM worksheet views
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

fix: Change inline tree to list in checklist_ids One2many field
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

fix: Change inline tree to list in template checklist_line_ids
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

fix: Add explicit widget declarations for mail chatter fields
  records_management_fsm/views/fsm_worksheet_views.xml
Due: validate-xml-structure

fix: Add view type declarations to system diagram views
  records_management/views/system_diagram_data_views.xml
Due: validate-xml-structure

fix: Remove invalid company_id filter and update kanban template
  records_management/models/system_diagram_data.py
  records_management_fsm/views/fsm_worksheet_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Add granular error handling in diagram data generation
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

fix: Enhance logging and return action for diagram regeneration
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

fix: Add comprehensive debug logging to system diagram data generation
  records_management/models/system_diagram_data.py
Due: check-odoo-syntax

feat: Add web_vis_network module for vis.js integration
  web_vis_network/MIGRATION_GUIDE.md
  web_vis_network/README.md
  web_vis_network/__init__.py
  web_vis_network/__manifest__.py
  web_vis_network/static/lib/vis-network/DOWNLOAD_INSTRUCTIONS.md
  web_vis_network/static/src/components/network_diagram.js
  web_vis_network/static/src/xml/network_diagram.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Clean up whitespace in migration guide and network diagram component
  web_vis_network/MIGRATION_GUIDE.md
  web_vis_network/static/src/components/network_diagram.js
Due: none

fix: Make vis.js library optional with CDN fallback
  web_vis_network/__manifest__.py
  web_vis_network/static/src/components/network_diagram.js
Due: check-odoo-syntax

Refactor code structure for improved readability and maintainability
  web_vis_network/__manifest__.py
  web_vis_network/static/lib/vis-network/vis-network.min.css
  web_vis_network/static/lib/vis-network/vis-network.min.js
  web_vis_network/static/src/components/network_diagram.js
Due: check-odoo-syntax

feat: Migrate system diagram to Owl component using web_vis_network
  records_management/__manifest__.py
  records_management/models/system_diagram_data.py
  records_management/static/src/components/system_diagram_view.js
  records_management/static/src/components/system_diagram_view.xml
  records_management/views/system_diagram_data_views.xml
Due: check-odoo-syntax, validate-xml-structure

docs: Add comprehensive System Diagram Owl migration documentation
  SYSTEM_DIAGRAM_OWL_MIGRATION.md
Due: none

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
