Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

check-odoo-syntax:
  name: Check Odoo Python syntax
  entry: python3
  language: system
  args:
  - development-tools/syntax-tools/find_syntax_errors.py
  pass_filenames: false

validate-xml-structure:
  name: Validate XML structure
  entry: python3
  language: system
  args:
  - development-tools/validate_xml.py
  pass_filenames: false

check-model-imports:
  name: Check model imports order
  entry: python3
  language: system
  args:
  - development-tools/check_model_imports.py
  pass_filenames: false

fix: Add accessibility attributes to barcode wizard views for Odoo 18.0
  records_management/views/barcode_label_wizards_views.xml
Due: validate-xml-structure

fix: Update views for Odoo 18.0 compatibility
  records_management/views/legal_citation_views.xml
  records_management/views/rm_module_configurator_views.xml
Due: validate-xml-structure

fix: Remove ensure_one() calls from AbstractModel methods in ZPL generator
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax

feat: Add barcode scanning to work orders + enable barcodes module
  records_management/__manifest__.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

feat: Add interactive barcode scanner to work orders
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/barcode_scan_wizard.py
  records_management/models/records_retrieval_work_order.py
  records_management/models/work_order_shredding.py
  records_management/views/barcode_scan_wizard_views.xml
  records_management/views/records_retrieval_work_order_views.xml
  records_management/views/work_order_shredding_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove orphaned else statement in work_order_shredding.py line 130
  records_management/models/work_order_shredding.py
Due: check-odoo-syntax

fix: Add access rules for barcode.scan.wizard model
  records_management/security/ir.model.access.csv
Due: none

fix: Improve container barcode label layout and spacing
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax

fix: Improve folder and QR code label layouts
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax

fix: QR code generation KeyError - use proper report action
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Improve container label layout - full-width barcode, centered bold text, archive box icon
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax

feat: Add Departments section to Contact form
  records_management/views/res_partner_views.xml
Due: validate-xml-structure

fix: Change view_mode from 'tree' to 'list' in action_view_departments
  records_management/models/res_partner.py
Due: check-odoo-syntax

feat: Redesign container label to match mockup measurements
  records_management/models/zpl_label_generator.py
Due: check-odoo-syntax

fix: Change responsible_user_id to user_id in departments list view
  records_management/views/res_partner_views.xml
Due: validate-xml-structure

feat: Add Department User Wizard to properly create portal users
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
  records_management/views/department_user_wizard_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/department_user_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Ensure unique email validation and raise error for existing users in Department User Wizard
  records_management/wizards/department_user_wizard.py
Due: check-odoo-syntax

fix: Add missing dependency array to portal dashboard JavaScript module
  records_management/static/src/js/portal/portal_dashboard_bootstrap.js
Due: none

chore: Bump version to force asset cache clear (18.0.1.0.6)
  records_management/__manifest__.py
Due: check-odoo-syntax

fix: Add missing dependency arrays to all JavaScript modules (v18.0.1.0.7)
  records_management/__manifest__.py
  records_management/static/src/js/field_label_customizer.js
  records_management/static/src/js/portal/portal_barcode_management.js
  records_management/static/src/js/portal/portal_docs.js
  records_management/static/src/js/portal/portal_document_retrieval.js
  records_management/static/src/js/portal/portal_inventory_highlights.js
  records_management/static/src/js/portal/portal_organization_diagram.js
  records_management/static/src/js/portal/portal_search.js
  records_management/static/src/js/portal/portal_signature.js
  records_management/static/src/js/portal/portal_tour.js
  records_management/static/src/js/portal/portal_user_import.js
  records_management/static/src/js/visualization_dynamic_loader.js
Due: check-odoo-syntax

fix: QWeb template percent sign formatting error
  records_management/report/naid_operator_certification_reports.xml
Due: validate-xml-structure

fix: Move ESM modules to backend_only to fix frontend asset bundle truncation error
  records_management/static/src/js/backend_only/customer_portal_diagram.js
  records_management/static/src/js/backend_only/customer_portal_diagram_view.js
  records_management/static/src/js/backend_only/portal_accessibility.js
  records_management/static/src/js/backend_only/portal_interactive.js
  records_management/static/src/js/backend_only/portal_inventory_search.js
Due: none

chore: Bump version to 18.0.1.0.8 to force asset regeneration after ESM fix
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Add portal interactive features - AJAX, mobile, wizards, barcode scanning
  records_management/static/src/js/portal/portal_interactive_features.js
Due: none

docs: Add comprehensive usage guide for portal interactive features
  docs/PORTAL_INTERACTIVE_FEATURES.md
Due: none

feat: Implement portal interactive features controller with AJAX endpoints for pricing and barcode processing
  records_management/controllers/portal_interactive.py
  records_management/static/src/js/portal/portal_interactive_features.js
Due: check-odoo-syntax

feat: Activate portal interactive features with enterprise security
  records_management/controllers/portal.py
Due: check-odoo-syntax

docs: Add comprehensive deployment summary for interactive features
  docs/DEPLOYMENT_SUMMARY_INTERACTIVE_FEATURES.md
Due: none

fix: Remove moved ESM files from frontend bundle
  records_management/__manifest__.py
Due: check-odoo-syntax

feat: Activate portal interactive features across all templates (v18.0.1.0.10)
  records_management/__manifest__.py
  records_management/templates/portal_destruction_request_create.xml
  records_management/templates/portal_inventory_tabs.xml
  records_management/templates/portal_pickup_request_create.xml
  records_management/templates/portal_request_create.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enhance portal templates with improved loading overlays and scanner styles
  records_management/templates/portal_barcode_templates.xml
  records_management/templates/portal_containers_list.xml
  records_management/templates/portal_document_retrieval.xml
Due: validate-xml-structure

feat: Optimize portal menu structure and add Portal Hub controller (v18.0.1.0.11)
  records_management/__manifest__.py
  records_management/controllers/portal.py
  records_management/data/website_pages.xml
  records_management/data/website_portal_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Display complete hierarchical inventory counts in portal hub dashboard (v18.0.1.0.12)
  records_management/__manifest__.py
  records_management/controllers/portal.py
Due: check-odoo-syntax

fix: Correct attachment field reference in portal documents template (v18.0.1.0.13)
  records_management/__manifest__.py
  records_management/templates/portal_documents.xml
Due: check-odoo-syntax, validate-xml-structure

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

fix: Add missing AMD module closing brace in portal_tour.js (v18.0.1.0.14)
  records_management/__manifest__.py
  records_management/static/src/js/portal/portal_tour.js
Due: check-odoo-syntax

security: Fix incomplete URL scheme validation in portal_inventory_search.js (v18.0.1.0.15)
  records_management/__manifest__.py
  records_management/static/src/js/backend_only/portal_inventory_search.js
Due: check-odoo-syntax

security: Prevent sensitive data exposure in bin issue wizard logs (v18.0.1.0.16)
  records_management/__manifest__.py
  records_management/wizards/bin_issue_report_wizard.py
Due: check-odoo-syntax

feat: Expose hidden portal features - Barcode Scanner & Organization Chart (v18.0.1.0.17)
  records_management/__manifest__.py
  records_management/data/website_pages.xml
  records_management/data/website_portal_menus.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove barcode scanner from portal & add proper org chart security (v18.0.1.0.18)
  records_management/__manifest__.py
  records_management/data/website_pages.xml
  records_management/data/website_portal_menus.xml
  records_management/security/portal_organization_security.xml
Due: check-odoo-syntax, validate-xml-structure

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
