Repository John75SunCity/ssh-git-github.com-odoo-odoo.git-18.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-odoo-syntax, validate-xml-structure, check-model-imports

Path conditions:
  check-odoo-syntax: any of: \.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  validate-xml-structure: any of: \.xml$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)
  check-model-imports: any of: models/__init__\.py$ and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.pytest_cache/
)
) and not ((?x)(
    development-tools/
    | testing-workspace/
    | backup/
    | \.git/
    | __pycache__/
    | \.mypy_cache/
    | \.pytest_cache/
    | \.vscode/
    | \.venv/
    | venv/
    | \.venv312/
    | build/
    | dist/
    | \.eggs/
    | \.tox/
    | \.coverage
    | coverage\.xml
    | \.pytest_cache/
    | htmlcov/
    | \.mypy_cache/
    | \.DS_Store
    | Thumbs\.db
)
)

fix: Add missing newline at end of portal_request_reports.xml
  records_management/report/portal_request_reports.xml
Due: validate-xml-structure

feat: Add proper destruction certificate PDF with COD sequence
  records_management/data/ir_sequence_data.xml
  records_management/models/destruction_certificate.py
  records_management/report/destruction_certificate_report.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Enable Scan Hard Drives action in Records Management work orders
  records_management/models/hard_drive_scan_wizard.py
  records_management/models/shredding_certificate.py
  records_management/models/shredding_hard_drive.py
  records_management/views/hard_drive_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

feat: Add Unified Dispatch Center with recurring work order schedules
  records_management/__manifest__.py
  records_management/data/recurring_work_order_cron.xml
  records_management/models/__init__.py
  records_management/models/recurring_work_order_schedule.py
  records_management/models/unified_work_order.py
  records_management/security/ir.model.access.csv
  records_management/views/dispatch_center_menus.xml
  records_management/views/recurring_work_order_schedule_views.xml
  records_management/views/unified_work_order_views.xml
  records_management/views/work_order_creation_wizard_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

refactor: Remove broken work.order.coordinator model, fix unified_work_order SQL view
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/project_task.py
  records_management/models/records_destruction.py
  records_management/models/scan_digital_asset.py
  records_management/models/unified_work_order.py
  records_management/models/work_order_coordinator.py
  records_management/models/work_order_retrieval.py
  records_management/report/work_order_coordinator_reports.xml
  records_management/security/ir.model.access.csv
  records_management/security/work_order_portal_rules.xml
  records_management/views/records_management_menus.xml
  records_management/views/work_order_coordinator_views.xml
  records_management/views/work_order_dashboard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove deprecated numbercall and doall fields from ir.cron (Odoo 18)
  records_management/data/recurring_work_order_cron.xml
Due: validate-xml-structure

fix: Use correct field name current_customer_id for bin domain filter
  records_management/models/recurring_work_order_schedule.py
Due: check-odoo-syntax

fix: Move recurring schedules menu to dispatch_center_menus.xml for correct load order
  records_management/views/dispatch_center_menus.xml
  records_management/views/recurring_work_order_schedule_views.xml
Due: validate-xml-structure

fix: Add title to fa-calendar icon, remove invalid domain from Selection field, fix onchange
  records_management/views/unified_work_order_views.xml
  records_management/views/work_order_creation_wizard_views.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Add title to fa-info-circle icon
  records_management/views/work_order_creation_wizard_views.xml
Due: validate-xml-structure

fix: Move Dispatch Center menu inside Records Management (not separate app)
  records_management/views/dispatch_center_menus.xml
Due: validate-xml-structure

fix: Remove orphaned work_order_coordinator menu item (model was deleted)
  records_management/views/records_management_menus.xml
Due: validate-xml-structure

fix: Work order wizard uses correct field names for each model
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax

fix: Replace work.order.coordinator with unified work order system
  records_management/controllers/main.py
  records_management/controllers/work_order_portal.py
  records_management/demo/work_orders_demo.xml
  records_management/models/unified_work_order.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management_fsm/models/enhanced_fsm_integration.py
  records_management_fsm/models/mobile_fsm_integration.py
Due: check-odoo-syntax, validate-xml-structure

fix: Fix container state references and broken view domains
  records_management/views/work_order_creation_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

fix: Correct container view state values to match Python model
  records_management/views/records_container_views.xml
Due: validate-xml-structure

fix: Use integer IDs in unified_work_order SQL view
  records_management/models/unified_work_order.py
Due: check-odoo-syntax

fix: Add @api.model decorator to records.container name_search
  records_management/models/records_container.py
Due: check-odoo-syntax

fix: Rewrite work order retrieval report template
  records_management/report/work_order_retrieval_reports.xml
Due: validate-xml-structure

feat: Add retrieval work order report and barcode scanning interface
  records_management/__manifest__.py
  records_management/models/work_order_retrieval.py
  records_management/security/ir.model.access.csv
  records_management/views/work_order_retrieval_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/retrieval_scan_wizard.py
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove forbidden t-attf directives from scan wizard view
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: validate-xml-structure

fix: Use correct field names per work order type in recurring schedule
  records_management/models/recurring_work_order_schedule.py
Due: check-odoo-syntax

feat: Add bin service options and quantity-based billing for shredding
  records_management/models/work_order_shredding.py
  records_management/views/work_order_creation_wizard_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/work_order_creation_wizard.py
Due: check-odoo-syntax, validate-xml-structure

feat: Make work order views mobile-friendly
  records_management/views/container_destruction_work_order_views.xml
  records_management/views/work_order_creation_wizard_views.xml
  records_management/views/work_order_retrieval_views.xml
  records_management/views/work_order_shredding_views.xml
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: validate-xml-structure

fix: Add accessibility roles and titles to retrieval scan wizard
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: validate-xml-structure

feat: Add Barcode Operations Center menu for mobile-friendly access
  records_management/__manifest__.py
  records_management/views/rm_barcode_operations_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct parent menu ID for barcode operations
  records_management/views/rm_barcode_operations_views.xml
Due: validate-xml-structure

feat: Add universal barcode scanner with Odoo mixin integration
  records_management/__manifest__.py
  records_management/security/ir.model.access.csv
  records_management/views/rm_barcode_operations_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/barcode_operations_wizard.py
  records_management/wizards/barcode_operations_wizard_views.xml
  records_management/wizards/retrieval_scan_wizard.py
  records_management/wizards/retrieval_scan_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Correct shredding.bin to shredding.service.bin in barcode wizard
  records_management/views/rm_barcode_operations_views.xml
  records_management/wizards/barcode_operations_wizard.py
  records_management/wizards/barcode_operations_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Remove emoji from menu, use plain text Barcode Scanner
  records_management/views/rm_barcode_operations_views.xml
  records_management/wizards/barcode_operations_wizard_views.xml
Due: validate-xml-structure

fix: Change records.location to stock.location in barcode wizard
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax

feat: Add manual barcode entry textbox to scanner wizard
  records_management/wizards/barcode_operations_wizard.py
  records_management/wizards/barcode_operations_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Keep barcode scanner wizard open after scan, add Enter key support
  records_management/wizards/barcode_operations_wizard.py
Due: check-odoo-syntax

fix: Add location to pick list and simplify work order workflow
  records_management/models/retrieval_item_line.py
  records_management/models/work_order_retrieval.py
  records_management/report/work_order_retrieval_reports.xml
  records_management/views/work_order_retrieval_views.xml
Due: check-odoo-syntax, validate-xml-structure

fix: Display digital signatures on work order report
  records_management/report/work_order_retrieval_reports.xml
  records_management/wizards/barcode_operations_wizard_views.xml
Due: validate-xml-structure

fix: Enable clicking on unified work orders list to open records
  records_management/views/unified_work_order_views.xml
Due: validate-xml-structure

fix: Remove invalid open attribute from list view
  records_management/views/unified_work_order_views.xml
Due: validate-xml-structure

feat: Add comprehensive invoice generation for all work orders
  records_management/__manifest__.py
  records_management/models/__init__.py
  records_management/models/work_order_invoice_mixin.py
  records_management/models/work_order_retrieval.py
  records_management/models/work_order_shredding.py
  records_management/security/ir.model.access.csv
  records_management/views/work_order_retrieval_views.xml
  records_management/wizards/__init__.py
  records_management/wizards/bulk_invoice_wizard.py
  records_management/wizards/bulk_invoice_wizard_views.xml
Due: check-odoo-syntax, validate-xml-structure, check-model-imports

fix: Remove unnecessary blank lines in WorkOrderInvoiceMixin
  records_management/models/work_order_invoice_mixin.py
Due: check-odoo-syntax

fix: Add currency_id field to work order invoice mixin
  records_management/models/work_order_invoice_mixin.py
Due: check-odoo-syntax
